<h3><b>My Advices</b></h3>
<hr>
<div class="clearfix"></div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div *ngIf="alladvice?.length == 0">No Advices Found....</div>
<div class="job-post div" *ngFor="let ad of alladvice">

  <div class="pimg rounded-circle" *ngIf="ad.image==''|| ad.image==undefined||ad.image=='IMAGE'">
    <ngx-avatar class="rounded-circle" name="{{ad.first_name}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="60" textSizeRatio="1.7"
      round="false">
    </ngx-avatar>
  </div>
  <div class="pimg rounded-circle" *ngIf="ad.image!=''&& ad.image!=undefined && ad.image!='IMAGE'">
    <img class="rounded-circle" style="height: 60px; width: 60px;" src="{{Apiurl}}/profileimage/{{ad.image}}">
  </div>

  <b *ngIf='ad.role==5'>{{ad.company_name |titlecase}}</b>

  <b *ngIf='ad.role==3'>{{ad.first_name | titlecase}}</b>
  <div>
    <p>{{ad.name}}</p>
  </div>

  <div class="keyskills">
    <div class="row">
      <div class="col-2" style="padding-left:10px">
        <b style="font-size: 13px">Advice for:</b>
      </div>
      <div class="col-10" style="padding-left:15px;font-size: 13px">{{ad.options}}</div>
    </div>
  </div>

  <div class="description">
    <div class="row">
      <div class="col-2" style="padding-left:20px">
        <b style="font-size: 13px;">Description:</b>
      </div>
      <p class="col-10 msg" style="padding-left:20px" [innerHTML]="ad.advice_message"></p>
    </div>
  </div>

  <hr>
  <div class="post-footer">
    <div>
      <p>Posted on
        <b>{{ad.created_on | date}}</b>
      </p>
    </div>

    <a class="btn btn-danger pull-right" title="click here to delete event" (click)="deleteadvice(ad.id,confirm)" style="color: white">

      <i class="fas fa-trash"></i> &nbsp; Delete
    </a>
    <a class="btn btn-primary pull-right" (click)="openmodaladvice(editadvice,ad)">
      <i class="fas fa-edit"></i> &nbsp; Edit</a>
  </div>
</div>



<ng-template #editadvice class="modal-lg">
  <form (ngSubmit)="ea.form.valid && postadvice2(expertadvice)" #ea="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Expert Advice</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModalAdvicePosting(template2)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group row">

        <div class="col-4 form-group" [ngClass]="{ 'has-error': ea.submitted && !adviceoption.valid }">
          <label>Advice Options:
            <sup class="help-block">*</sup>
          </label>
          <select [(ngModel)]="expertadvice.adviceoption" class="form-control" name="adviceoption" id="adviceoption" #adviceoption="ngModel"
            required>
            <option [ngValue]="disabled">Select Advice Option</option>
            <option *ngFor="let adv1 of adviclist2;let i=index" value={{adv1.id}}>
              {{adv1.options}}
            </option>
          </select>
          <span *ngIf="ea.submitted && !adviceoption.valid" class="help-block">
            Please select advice option
          </span>
        </div>

        <div class="col-4 form-group" [ngClass]="{ 'has-error': ea.submitted && !functionalarea.valid }">
          <label>Functional Area:
            <sup class="help-block">*</sup>
          </label>
          <select [(ngModel)]="expertadvice.functionalarea" class="form-control" name="functionalarea" id="functionalarea" #functionalarea="ngModel"
            required>
            <option [ngValue]="disabled">Select Functional Area</option>
            <option *ngFor="let fnarea1 of fnarealist2" value={{fnarea1.fn_area_id}}>
              {{fnarea1.name }}
            </option>
          </select>
          <span *ngIf="ea.submitted && !functionalarea.valid" class="help-block">
            Please select functional area
          </span>

        </div>
        <div class="col-12 form-group" [ngClass]="{'has-error':ea.submitted && !advicemessage.valid}">
          <label for="advicemessage">Advice Message:
            <sup class="help-block">*</sup>
          </label>
     

         <app-ngx-editor [config]=editorConfig rows="4" class="form-control" id="advicemessage" [(ngModel)]="expertadvice.advicemessage" name="advicemessage"
         minlength="40" maxlength="1000" #advicemessage="ngModel" required> </app-ngx-editor>

          <!-- <textarea rows="4" class="form-control" id="advicemessage" [(ngModel)]="expertadvice.advicemessage" name="advicemessage"
            minlength="40" maxlength="1000" #advicemessage="ngModel" required></textarea> -->
          <span *ngIf="ea.submitted && !advicemessage.value" class="help-block message">
            Please specify your advice message
          </span>
          <span *ngIf=" ea.submitted && advicemessage.errors?.minlength" class="help-block message">
            Please specify advice message min of 40 characters
          </span>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </form>
</ng-template>
<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete this Advice
      <i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>
</ng-template>