.delete-warning
{
    font-size: 40px;
    margin-top: 20px;
}
.description span:first-child{
	width:100%;
	display: inline-block;
	margin: 0px;
	font-weight: bold;
}
.description div{
	text-align: justify;
}