
	
<div class="education">
	<h4>
		<b>Education Details</b>
	</h4>
	<hr>
	<div>

		<tabset class='education-details'>

			<tab heading="Xth/Schooling" id="tab1">
				<form name="ssc" (ngSubmit)="ss.valid && posteduNew()" #ss="ngForm" novalidate>
					<div class="form-group row">
						<div class="col-6">
							<label for="Boards" class="col-12">Board
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': ss.submitted && !sscboard.valid }">
								<select class=" form-control select-option" name="sscboard" #sscboard="ngModel" [(ngModel)]="educationaldetails.qualification"
								 required>
									<option [ngValue]=undefined>Select Board</option>
									<option class='option' *ngFor='let board of Boards' [value]="board.courseid">{{board.coursename}}</option>

								</select>

							</div>
							<span [hidden]="errmsg==false" *ngIf="ss.submitted && !sscboard.valid" class="help-block error">
								Please select board name
							</span>


						</div>
						<div class="col-6">
							<label for="year" class="col-12">Pass Out Year
								<span class="help-block">*</span>
								
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': ss.submitted && !sscyear.valid }">
								<select class="form-control select-option" name="sscyear" #sscyear="ngModel" [(ngModel)]="educationaldetails.year" required>
									<option [ngValue]=undefined>Select Year</option>
									<option class='option' *ngFor='let year of Yearofpass' [value]="year.id">{{year.year}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="ss.submitted && !sscyear.valid" class="help-block error">
								Please select pass out year
							</span>
						</div>

						<div class="col-6">
							<label for="medium" class="col-12">Medium of Study</label>
							<div class="col-12">
								<select class="form-control select-option" required name="medium" #medium="ngModel" [(ngModel)]="educationaldetails.medium">
									<option [ngValue]=undefined>Select Medium</option>
									<option class='option' *ngFor='let study of studies' [value]="study.medium_id">{{study.medium_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label for="marks" class="col-12">Marks</label>
							<div class="col-12">
								<select class="form-control select-option" required name="sscmarks" #smarks="ngModel" [(ngModel)]="educationaldetails.marks">
									<option [ngValue]=undefined>Select Marks</option>
									<option class='option' *ngFor='let marks of Marks' [value]="marks.id">{{marks.marks}}</option>
								</select>
							</div>
						</div>

						<hr>
						<hr/>
						<div class="clearfix"></div>
						<div class="col-12">
							<button type="reset" class="btn btn-danger pull-right" (click)="clearForm1()">Cancel</button>
							<button type="submit" class="btn btn-primary pull-right" (click)="saveeducationaldetails()">Save</button>

						</div>
					</div>
				</form>
				<br>
				<br>
				
				<!-- <div *ngIf="educationaldetails?.length == 0">No SSCData Found....</div> -->

				<div class="row col-12">
						<ng4-loading-spinner> </ng4-loading-spinner>
					<div class="col-12 edu_det" *ngFor="let ssc of educationaldetails">
						<div class="clearfix">
							<h5>
								<b>SSC Details</b> &nbsp;
							 <button class="btn btn-primary" (click)="editssc(ssc)">
									<i class="fas fa-edit"></i>
									</button>
									<button class="btn btn-danger" (click)="deletessc(ssc,confirm)">
										<i class="fas fa-trash"></i>
									</button>
									
								
							</h5>
							<hr>
							<div class="education">
							<div class="size row">
								<b class="col-2">Board</b>
								<span class="col-3">{{ssc.coursename}}</span>
							</div>
							<div class="size row">
								<b class="col-2">Pass Out Year</b>
								<span class="col-3">{{ssc.yearofpass}}</span>
							</div>

							<div class="size row" *ngIf="ssc.medium_name">
								<b class="col-2">Medium</b>
								<span class="col-3">{{ssc.medium_name}}</span>
							</div>

							<div class="size row" *ngIf="ssc.markss">

								<b class="col-2">Marks</b>
								<span class="col-3">{{ssc.markss}}</span>
							</div>
						</div>

						</div>
					</div>
				</div>




			</tab>

			<tab heading="Secondary Education" id="tab2">
				<form name="inter" (ngSubmit)="ei.valid && posteduNew()" #ei="ngForm" novalidate>
					<div class="form-group row">
						<div class="col-6">
							<label class="col-12" for="Specialization">Board
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': ei.submitted && !board.valid }">
								<select class="form-control select-option" name="board" #board="ngModel" [(ngModel)]="educationaldetails1.qualification"
								 required>
									<option [ngValue]=undefined>Select Board</option>
									<option class='option' *ngFor='let board of interboards' [value]="board.courseid">{{board.coursename}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="ei.submitted && !board.valid" class="help-block error">
								Please select board name
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="year">Pass Out Year
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': ei.submitted && !interyear.valid }">
								<select class="form-control select-option" name="interyear" #interyear="ngModel" [(ngModel)]="educationaldetails1.year" required>
									<option [ngValue]=undefined>Select Year</option>
									<option class='option' *ngFor='let year of Yearofpass' [value]="year.id">{{year.year}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="ei.submitted && !interyear.valid" class="help-block error">
								Please select pass out year
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="medium">Medium of Study</label>
							<div class="col-12">
								<select class="form-control select-option" required name="medium" #medium="ngModel" [(ngModel)]="educationaldetails1.medium">
									<option [ngValue]=undefined>Select Medium</option>
									<option class='option' *ngFor='let study of studies' [value]="study.medium_id">{{study.medium_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="marks">Marks</label>
							<div class="col-12">
								<select class="form-control select-option" required name="marks" #marks="ngModel" [(ngModel)]="educationaldetails1.marks">
									<option [ngValue]=undefined>Select Marks</option>
									<option class='option' *ngFor='let marks of Marks' [value]="marks.id">{{marks.marks}}</option>
								</select>
							</div>
						</div>
						<hr>
						<hr/>
						<div class="clearfix"></div>
						<div class="col-12">
							<button type="reset" class="btn btn-danger pull-right" (click)="clearForm2()">Cancel</button>
							<button type="submit" class="btn btn-primary pull-right" (click)="saveeducationaldetailsInter()">Save</button>

						</div>
					</div>
				</form>
				<br>
				<br>

				<div>
					<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
					<div class="row col-12">
						<!-- <div *ngIf="educationaldetails1?.length == 0">No InterData Found....</div> -->
						<ng4-loading-spinner> </ng4-loading-spinner>
						<div class="col-12 edu_det" *ngFor="let inter of educationaldetails1">
							<h5>
								<b>Secondary Education Details</b> &nbsp;
								 <button class="btn btn-primary" (click)="editinter(inter)">
									<i class="fas fa-edit"></i>
									</button>
									<button class="btn btn-danger" (click)="deleteinter(inter,delinterconfirm)">
										<i class="fas fa-trash"></i>
									</button>
								
								
									 
							</h5>
							<hr>
							<div class="education">
								<div class="size row">
									<b class="col-2">Board</b>
									<span class="col-3">{{inter.coursename}}</span>
								</div>
								<div class="size row">
									<b class="col-2">Pass Out Year</b>
									<span class="col-3">{{inter.yearofpass}}</span>
								</div>

									<div class="size row" *ngIf="inter.medium_name">

									<b class="col-2">Medium</b>
									<span class="col-3">{{inter.medium_name}}</span>
							</div>

							<div class="size row" *ngIf="inter.markss">

									<b class="col-2">Marks</b>
									<span class="col-3">{{inter.markss}}</span>
							</div>


							</div>
						</div>
					</div>

				</div>

			</tab>



			<tab heading="Graduation">
				<form name="graduation" (ngSubmit)="gd.valid && posteduNew()" #gd="ngForm" novalidate>
					<div class="form-group row">
						<div class="col-6">
							<label for="qualification2" class="col-12">Qualification
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': gd.submitted && !gdcourse.valid }">
								<select class="form-control select-option" name="gdcourse" #gdcourse="ngModel" [(ngModel)]="educationaldetails2.qualification"
								 (ngModelChange)='Oncoursechange($event)' required>
									<option [ngValue]=undefined>Select Qualification</option>
									<option class='option' *ngFor='let course of GCourses' [value]="course.courseid">{{course.coursename}}</option>
								</select>
							
							</div>
							<span [hidden]="errmsg==false" *ngIf="gd.submitted && !gdcourse.valid" class="help-block error">
								Please select Qualification
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Specialization2">Specialization
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': gd.submitted && !gdspecialization.valid }">
								<select class="form-control select-option" required name="gdspecialization" #gdspecialization="ngModel" [(ngModel)]="educationaldetails2.specialization">
									<option [ngValue]=undefined>Select Specialization</option>
									<option class='option' *ngFor='let gs of Gspec' [value]="gs.id">{{gs.specialization}}</option>
									
								</select>
							
							</div>
							<span [hidden]="errmsg==false" *ngIf="gd.submitted && !gdspecialization.valid" class="help-block error">
								Please select specialization
							</span>
						</div>
						<!-- <div class="col-6">
							<label class="col-12" for="University_or_Institute2">University/Institute</label>
							<div class="col-12">
								<select [(ngModel)]="educationaldetails2.university_or_institute" name="university" #university="ngModel" class="form-control"
								 id="University_or_Institute2">
									<option [value]=null>Select University</option>
									<option class='option' *ngFor='let u of universities' [value]="u.id">{{u.university}}</option>

								</select>
							</div>
						</div> -->

						<div class="col-6">
							<label class="col-12" for="University_or_Institute2">University/Institute</label>
							<div class="col-12">
								<angular2-multiselect class="form-control " [data]="univdropdownList" [(ngModel)]="educationaldetails2.university_or_institute" name="university" #university="ngModel"  [settings]="dropdownSettings1"
								(onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="loaduniversities($event)" (click)="loaduniversities($event)">
					
							  </angular2-multiselect>
							</div>
						</div> 

					

						<div class="col-6">
							<label class="col-12" for="year2">Pass Out Year
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': gd.submitted && !gdyear.valid }">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails2.year" name="gdyear" #gdyear="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Year</option>
									<option class='option' *ngFor='let year of Yearofpass' [value]="year.id">{{year.year}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="gd.submitted && !gdyear.valid" class="help-block error">
								Please select pass out year
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="grading_system2">Grading System</label>
							<div class="col-12">
								<!-- <input type="text" [(ngModel)]="educationaldetails2.grading_system" class="form-control" id="grading_system2"> -->
								<select class="form-control select-option" [(ngModel)]="educationaldetails2.grading_system" name="grading" #grading="ngModel"
								 (change)="onSelectgrad($event.target.value)">
									<option [ngValue]=undefined>Select Grade</option>
									<option class='option' *ngFor='let grde of grades' value={{grde.id}}>{{grde.grade_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="marks2">Marks</label>
							<div class="col-md-12">
								<select class="form-control select-option" [(ngModel)]="educationaldetails2.marks" name="marks" #marks="ngModel">
									<option [ngValue]=undefined>Select Marks</option>
									<option class='option' *ngFor='let m of gradetypes' value={{m.grade_type_id}}>{{m.grade_type_name}}</option>
								</select>
								<!-- <input type="number" [(ngModel)]="educationaldetails2.marks" name="marks" #marks="ngModel"  [attr.disabled]="disabled?'':null"
								 maxlength=10 class="form-control" id="marks2" pattern="[0–9]$"> -->
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="medium2">Medium of Study
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': gd.submitted && !gdmedium.valid }">
								<!-- <input type="text" [(ngModel)]="educationaldetails2.medium" class="form-control" id="medium2"> -->
								<select class="form-control select-option" required name="gdmedium" #gdmedium="ngModel" [(ngModel)]="educationaldetails2.medium"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Medium</option>
									<option class='option' *ngFor='let study of studies' [value]="study.medium_id">{{study.medium_name}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="gd.submitted && !gdmedium.valid" class="help-block error">
								Please select medium of Study
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Courset2">Course Type</label>
							<div class="col-12">
								<select class="form-control select-option" required name="ctype" #ctype="ngModel" [(ngModel)]="educationaldetails2.natureof_job"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Course Type</option>
									<option class='option' *ngFor='let Cts of coursetype' [value]="Cts.id">{{Cts.type}}</option>
								</select>
							</div>
						</div>
						<hr>
						<hr/>
						<div class="clearfix"></div>
						<div class="col-12">
							<button type="reset" class="btn btn-danger pull-right" (click)="clearForm3()">Cancel</button>
							<button type="submit" class="btn btn-primary pull-right" (click)="saveeducationaldetailsG()">Save</button>

						</div>
					</div>
				</form>
				<br>
				<br>
				
				<div class="row col-12">
					<!-- <div *ngIf="educationaldetails2?.length == 0">No GraduationData Found....</div> -->
					<ng4-loading-spinner> </ng4-loading-spinner>
					<div class="col-12 edu_det" *ngFor="let graduation of educationaldetails2;let rowIndex=index">
						
						<div class="clearfix">
							<h5>
								<b>Graduation Details {{rowIndex+1}}</b> &nbsp;
							<button class="btn btn-primary" (click)="editgraduation(graduation)">
									<i class="fas fa-edit"></i>
									</button>
									<button class="btn btn-danger" (click)="deletegraduation(graduation,delgraduationconfirm)">
										<i class="fas fa-trash"></i>
									</button>
								
							</h5>
							<hr>
							<div class="education">
								<div class="size row">
								<b class="col-3">Qualification</b>
								<span class="col-3">{{graduation.coursename}}</span>
						</div>

						<div class="size row">
								<b class="col-3">Specialization</b>
								<span class="col-5">{{graduation.specializations}}</span>
						</div>
						<div class="size row" *ngIf="graduation.university_or_institute.length>0">
							<b class="col-3">University Or Institute</b>
						
							<span class="col-8">{{guniversityarray[rowIndex]}}</span>
						</div>
						<div class="size row">
								<b class="col-3">Pass Out Year</b>
								<span class="col-3">{{graduation.yearofpass}}</span>
						</div>
							<div class="size row" *ngIf="graduation.grade_name">
								<b class="col-3">Grade</b>
								<span class="col-3">{{graduation.grade_name}}</span>
							</div>

							<div class="size row" *ngIf="graduation.grade_type">
								<b class="col-3">Marks</b>
								<span class="col-3">{{graduation.grade_type}}</span></div>

								<div class="size row">
								<b class="col-3">Medium</b>
								<span class="col-3">{{graduation.medium_name}}</span>
								</div>
							<div class="size row" *ngIf="graduation.type">
								<b class="col-3">Course-Type</b>
								<span class="col-8">{{graduation.type}}</span>
							</div>
						

</div>

						</div>
					</div>
				</div>
			</tab>
			<tab heading="Masters/Post Graduation">
				<form name="postgrad" (ngSubmit)="pg.valid && posteduNew()" #pg="ngForm" novalidate>
					<div class="form-group row">
						<div class="col-6">
							<label class="col-12" for="qualification3">Qualification
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': pg.submitted && !pgcourse.valid }">
								<select class="form-control select-option" required name="pgcourse" #pgcourse="ngModel" [(ngModel)]="educationaldetails3.qualification"
								 (ngModelChange)='OnPGcoursechange($event)'>
									<option [ngValue]=undefined>Select Qualification</option>
									<option class='option' *ngFor='let PGcourse of PGCourses' [value]="PGcourse.courseid">{{PGcourse.coursename}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="pg.submitted && !pgcourse.valid" class="help-block error">
								Please select Qualification
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Specialization3">Specialization
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': pg.submitted && !pgspecialization.valid }">
								<select class="form-control select-option" required name="pgspecialization" #pgspecialization="ngModel" [(ngModel)]="educationaldetails3.specialization"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Specialization</option>
									<option class='option' *ngFor='let Pgs of PGspec' [value]="Pgs.id">{{Pgs.specialization}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="pg.submitted && !pgspecialization.valid" class="help-block error">
								Please select specialization
							</span>
						</div>
						<!-- <div class="col-6">
							<label class="col-12" for="University_or_Institute3">University/Institute</label>
							<div class="col-12">
								<select [(ngModel)]="educationaldetails3.university_or_institute" name="university" #university="ngModel" class="form-control"
								 id="University_or_Institute3">
									<option [value]=null>Select University</option>
									<option class='option' *ngFor='let u of universities' [value]="u.id">{{u.university}}</option>

								</select>
							</div>
						</div> -->



						<div class="col-6">
							<label class="col-12" for="University_or_Institute3">University/Institute</label>
							<div class="col-12">
								<angular2-multiselect class="form-control " [data]="univdropdownList"  [(ngModel)]="educationaldetails3.university_or_institute" name="university" #university="ngModel"  [settings]="dropdownSettings1"
								(onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="loaduniversities($event)" (click)="loaduniversities($event)" required>
								
							  </angular2-multiselect>
							</div>
						</div> 
					

						<div class="col-6">
							<label class="col-12" for="year3">Pass Out Year
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': pg.submitted && !pgyear.valid }">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails3.year" name="pgyear" #pgyear="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Year</option>
									<option class='option' *ngFor='let year of Yearofpass' [value]="year.id">{{year.year}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="pg.submitted && !pgyear.valid" class="help-block error">
								Please select pass out year
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="grading_system3">Grading System</label>
							<div class="col-12">
								<!-- <input type="text" [(ngModel)]="educationaldetails2.grading_system" class="form-control" id="grading_system2"> -->
								<select class="form-control select-option" [(ngModel)]="educationaldetails3.grading_system" name="grading" #grading="ngModel"
								 (change)="onSelectpg($event.target.value)">
									<option [ngValue]=undefined>Select Grade</option>
									<option class='option' *ngFor='let grde of grades' [value]="grde.id">{{grde.grade_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="marks3">Marks</label>
							<div class="col-12">
								<select class="form-control select-option" [(ngModel)]="educationaldetails3.marks" name="marks" #marks="ngModel">
									<option [ngValue]=undefined>Select Marks</option>
									<option class='option' *ngFor='let m of gradetypes' value={{m.grade_type_id}}>{{m.grade_type_name}}</option>
								</select>
								<!-- <input type="number" [(ngModel)]="educationaldetails3.marks" name="marks" #marks="ngModel" [attr.disabled]="disabled?'':null"
								 maxlength=10 class="form-control" id="marks3"> -->
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="medium3">Medium of Study
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': pg.submitted && !pgmedium.valid }">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails3.medium" name="pgmedium" #pgmedium="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Medium</option>
									<option class='option' *ngFor='let study of studies' [value]="study.medium_id">{{study.medium_name}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="pg.submitted && !pgmedium.valid" class="help-block error">
								Please select medium of study
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Courset3">Course Type</label>
							<div class="col-12">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails3.natureof_job" name="ctype" #ctype="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Course Type</option>
									<option class='option' *ngFor='let Cts of coursetype' [value]="Cts.id">{{Cts.type}}</option>
								</select>
							</div>
						</div>
						<hr>
						<hr/>
						<div class="clearfix"></div>
						<div class="col-12">
							<button type="reset" class="btn btn-danger pull-right" (click)="clearForm4()">Cancel</button>
							<button type="submit" class="btn btn-primary pull-right" (click)="saveeducationaldetailsPG()">Save</button>

						</div>
					</div>
				</form>

				
				<br>
				<br>
				
				<div class="row col-12">
						<ng4-loading-spinner> </ng4-loading-spinner>
					<!-- <div *ngIf="educationaldetails3?.length == 0">No POST GRADUATION DETAILS Found....</div> -->
					<div class="col-12 edu_det" *ngFor="let pg of educationaldetails3;let rowIndex=index">
						<div class="clearfix">

							<h5>
								<b>Post Graduation Details {{rowIndex+1}}</b> &nbsp;
								<button class="btn btn-primary" (click)="editpg(pg)">
									<i class="fas fa-edit"></i>
								</button>
								<button class="btn btn-danger" (click)="deletepg(pg,pgconfirm)">
									<i class="fas fa-trash"></i>
								</button>
							</h5>
							<hr>
							<div class="education">
								<div class="size row">
								<b class="col-3">Qualification</b>
								<span class="col-3">{{pg.coursename}}</span>
								</div>

								<div class="size row">
								<b class="col-3">Specialization</b>
								<span class="col-5">{{pg.specializations}}</span>
							</div>
							<div class="size row" *ngIf="pg.university_or_institute.length>0">
								<b class="col-3">University Or Institute</b>
								<span class="col-8">{{pguniversityarray[rowIndex]}}</span>
							</div>
							<div class="size row">
								<b class="col-3">Pass Out Year</b>
								<span class="col-3">{{pg.yearofpass}}</span>
							</div>
							<div class="size row" *ngIf="pg.grade_name">
								<b class="col-3">Grade</b>
								<span class="col-3">{{pg.grade_name}}</span>
							</div>

								<div class="size row" *ngIf="pg.grade_type">
								<b class="col-3">Marks</b>
								<span class="col-3">{{pg.grade_type}}</span></div>

								<div class="size row">
								<b class="col-3">Medium</b>
								<span class="col-3">{{pg.medium_name}}</span>
								</div>
								<div class="size row" *ngIf="pg.type">
								<b class="col-3">Course-Type</b>
								<span class="col-3">{{pg.type}}</span>
								</div>
						
						
					</div>
				</div>
			</div>

				</div>
			</tab>
			<tab heading="Doctorate/Ph.D">
				<form name="doctrate" (ngSubmit)="phd.valid && posteduNew()" #phd="ngForm" novalidate>
					<div class="form-group row">
						<div class="col-6">
							<label class="col-12" for="qualification4">Qualification
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': phd.submitted && !phdcourse.valid }">
								<select class="form-control select-option" required name="phdcourse" #phdcourse="ngModel" [(ngModel)]="educationaldetails4.qualification"
								 (ngModelChange)='PHDCourseChange($event)'>
									<option [ngValue]=undefined>Select Qualification</option>
									<option class='option' *ngFor='let PHDC of PHDCourses' [value]="PHDC.courseid">{{PHDC.coursename}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="phd.submitted && !phdcourse.valid" class="help-block error">
								Please select Qualification
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Specialization4">Specialization
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': phd.submitted && !phdspecialization.valid }">
								<select class="form-control select-option" required name="phdspecialization" #phdspecialization="ngModel" [(ngModel)]="educationaldetails4.specialization"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Specialization</option>
									<option class='option' *ngFor='let Phds of PHDspec' [value]="Phds.id">{{Phds.specialization}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="phd.submitted && !phdspecialization.valid" class="help-block error">
								Please select specialization
							</span>
						</div>
						<!-- <div class="col-6">
							<label class="col-12" for="University_or_Institute4">University/Institute</label>
							<div class="col-12">
								<select [(ngModel)]="educationaldetails4.university_or_institute" name="university" #university="ngModel" class="form-control"
								 id="University_or_Institute4">
									<option [value]=null>Select University</option>
									<option class='option' *ngFor='let u of universities' [value]="u.id">{{u.university}}</option>

								</select>
							</div>
						</div> -->


						
	<div class="col-6">
		<label class="col-12" for="University_or_Institute4">University/Institute</label>
		<div class="col-12">
			<angular2-multiselect class="form-control " [data]="univdropdownList"  [(ngModel)]="educationaldetails4.university_or_institute"  name="university" #university="ngModel"  [settings]="dropdownSettings1"
			(onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="loaduniversities($event)" (click)="loaduniversities($event)">
			
		  </angular2-multiselect>
		</div>
	</div> 

						<div class="col-6">
							<label class="col-12" for="year4">Pass Out Year
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': phd.submitted && !phdyear.valid }">
								<!-- <input type="text" [(ngModel)]="educationaldetails2.year" class="form-control" id="year2"> -->
								<select class="form-control select-option" required name="phdyear" #phdyear="ngModel" [(ngModel)]="educationaldetails4.year"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Year</option>
									<option class='option' *ngFor='let year of Yearofpass' [value]="year.id">{{year.year}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="phd.submitted && !phdyear.valid" class="help-block error">
								Please select pass out year
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="grading_system4">Grading System</label>
							<div class="col-12">
								<!-- <input type="text" [(ngModel)]="educationaldetails2.grading_system" class="form-control" id="grading_system2"> -->
								<select class="form-control select-option" [(ngModel)]="educationaldetails4.grading_system" name="grading" #grading="ngModel"
								 (change)="onSelectphd($event.target.value)">
									<option [ngValue]=undefined>Select Grade</option>
									<option class='option' *ngFor='let grde of grades' [value]="grde.id">{{grde.grade_name}}</option>
								</select>
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="marks2">Marks</label>
							<div class="col-12">
								<select class="form-control select-option" [(ngModel)]="educationaldetails4.marks" name="marks" #marks="ngModel">
									<option [ngValue]=undefined>Select Marks</option>
									<option class='option' *ngFor='let m of gradetypes' value={{m.grade_type_id}}>{{m.grade_type_name}}</option>
								</select>
								<!-- <input type="number" [(ngModel)]="educationaldetails4.marks" name="marks" #marks="ngModel" [attr.disabled]="disabled?'':null"
								 maxlength=10 class="form-control" id="marks4"> -->
							</div>
						</div>
						<div class="col-6">
							<label class="col-12" for="medium4">Medium of Study
								<span class="help-block">*</span>
							</label>
							<div class="col-12" [ngClass]="{ 'has-error': phd.submitted && !phdmedium.valid }">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails4.medium" name="phdmedium" #phdmedium="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Medium</option>
									<option class='option' *ngFor='let study of studies' [value]="study.medium_id">{{study.medium_name}}</option>
								</select>
							</div>
							<span [hidden]="errmsg==false" *ngIf="phd.submitted && !phdmedium.valid" class="help-block error">
								Please select medium of Study
							</span>
						</div>
						<div class="col-6">
							<label class="col-12" for="Courset4">Course Type</label>
							<div class="col-12">
								<select class="form-control select-option" required [(ngModel)]="educationaldetails4.natureof_job" name="ctype" #ctype="ngModel"
								 (ngModelChange)='onOptionSelected($event)'>
									<option [ngValue]=undefined>Select Course Type</option>
									<option class='option' *ngFor='let Cts of coursetype' [value]="Cts.id">{{Cts.type}}</option>
								</select>
							</div>
						</div>
						<hr>
						<hr/>
						<div class="clearfix"></div>
						<div class="col-12">
							<button type="reset" class="btn btn-danger pull-right" (click)="clearForm5()">Cancel</button>
							<button type="submit" class="btn btn-primary pull-right" (click)="saveeducationaldetailsPHD()">Save</button>

						</div>
					</div>
				</form>
				<br>
				<br>
				

				<div class="row col-12">
						<ng4-loading-spinner> </ng4-loading-spinner>
					<!-- <div *ngIf="educationaldetails4?.length == 0">No PHD DETAILS Found....</div> -->
					<div class="col-12 edu_det" *ngFor="let phd of educationaldetails4;let rowIndex=index">
						<div class="clearfix">


							<h5>
								<b>Ph.D Details {{rowIndex+1}}</b> &nbsp;
								<button class="btn btn-primary" (click)="editphd(phd)">
									<i class="fas fa-edit"></i>
								</button>
								<button class="btn btn-danger" (click)="deletephd(phd,phdconfirm)">
									<i class="fas fa-trash"></i>
								</button>
							</h5>
							<hr>
							<div class="education">
									<div class="size row">
								<b class="col-3">Qualification</b>
								<span class="col-3">{{phd.coursename}}</span>
									</div>

									<div class="size row">
								<b class="col-3">Specialization</b>
								<span class="col-5">{{phd.specializations}}</span>
									</div>
									<div class="size row" *ngIf="phd.university_or_institute.length>0">
										<b class="col-3">University Or Institute</b>
										<span class="col-8">{{phduniversityarray[rowIndex]}}</span>
									</div>
		
									<div class="size row">
								<b class="col-3">Pass Out Year</b>
								<span class="col-3">{{phd.yearofpass}}</span>
									</div>
									<div class="size row" *ngIf="phd.grade_name">
								<b class="col-3">Grade</b>
								<span class="col-3">{{phd.grade_name}}</span>
									</div>

									<div class="size row" *ngIf="phd.grade_type">
								<b class="col-3">Marks</b>
								<span class="col-3">{{phd.grade_type}}</span>
							</div>

								<div class="size row">
								<b class="col-3">Medium</b>
								<span class="col-3">{{phd.medium_name}}</span>
								</div>
								<div class="size row" *ngIf="phd.type">
								<b class="col-3">Course-Type</b>
								<span class="col-5">{{phd.type}}</span>
								</div>

								
						</div>
						</div>

					</div>
				</div>
			</tab>
		</tabset>

	</div>

</div>

<ng-template #confirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this ssc details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>


<ng-template #delinterconfirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this secondary education details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmations(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmations(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>

<ng-template #delgraduationconfirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this graduation details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="delgraduationconfirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="delgraduationconfirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>


<ng-template #pgconfirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this pg details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="delpgconfirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="delpgconfirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>



<ng-template #phdconfirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this phd details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="delphdconfirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="delphdconfirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>