.education-details .nav-item{
    width: 20% !important;
    background: #dcdcdc !important;
    font-size: 12px;
}

.edu_det p b{
    width: 90%;
    display: inline-block;
}

.phd_det p b{
    width:100%;
}

.education{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
.error{
	margin-left:18px;
}
.size{
	font-size: 12px !important;
}
.education span{ 
	font-size: 12px;
	margin-bottom: 8px;
	}