<ng4-loading-spinner> </ng4-loading-spinner>
<div class="project">
  <div>
    <h4>
      <b>Project Details</b>
    </h4>
    <hr>


    <form name="projectdetails" (ngsubmit)="pd.valid" #pd="ngForm" novalidate>
      <div class="row">
        <div class="col-6" [ngClass]="{ 'has-error': pd.submitted && !projectname.valid }">
          <label for="projectname">Project Name</label>
          <sup class="message">*</sup>
          <input type="text" class="form-control" placeholder="Enter project name" name="projectname" #projectname="ngModel"
            [(ngModel)]="project.name" minlength="3" maxlength="200" id="projectname" required>
          <span [hidden]="proj_name==false" *ngIf="pd.submitted && !projectname.valid || proj_desc" class="help-block">
            Please enter project name
          </span>
        </div>



        <div class="col-6 ">
          <label for="team">Team Count</label>
          <sup class="message">*</sup>
          <input type="text" name="teamcount" placeholder="Enter team count of the project" class="form-control"
            #teamcount='ngModel' [(ngModel)]="project.team" id="teamcount" (keypress)="keycheck($event)"  (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" maxlength="3"
            (keyup)="a(fund.value)" class="form-control" #fund>
          <span *ngIf="fund.value==0 && fund.value" class="help-block" style="font-size: 13px">please enter valid
            number</span>
            <span [hidden]="proj_team==false" *ngIf="pd.submitted && !fund.valid || proj_team" class="help-block">
              Please specify team count
            </span>
        </div>
      </div>



      <div class="row">

        <div class="col-6 " [ngClass]="{ 'has-error': pd.submitted && !Duration.valid }">
          <label for="duration"> Duration</label>
          <sup class="message">*</sup>
          <input class="form-control" placeholder="Enter duration of the project" name="Duration" #Duration='ngModel'
            [(ngModel)]="project.duration" minlength="3" maxlength="50" id="duration" required>
          <span [hidden]="proj_dur==false" *ngIf="pd.submitted && !Duration.valid || proj_dur" class="help-block">
            Please specify duration
          </span>
          <!-- <div *ngIf="pd.submitted && !Duration.valid && !duration" class="help-block error">Please Enter Duration</div> -->
        </div>
        <div class="col-6 " [ngClass]="{ 'has-error': pd.submitted && !skill_name.valid }">
          <label>Skill Name</label>
          <sup class="message">*</sup>


          <angular2-multiselect class="form-control" id="skill" [data]="dropdownList1" [(ngModel)]="project.skills"
            name="skill_name" [settings]="dropdownSettings2" (onSelect)="OnItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
            #skill_name="ngModel" (keyup)="getskillnames($event)" required>

          </angular2-multiselect>

          <span [hidden]="proj_skill==false" *ngIf="pd.submitted && !skill_name.valid" class="help-block">
            Please select skill name

          </span>

        </div>


      </div>

      <div class="row">
        <div class="col-12 " [ngClass]="{ 'has-error': pd.submitted && !description.valid }">
          <label for="Description">Description of Project</label>
          <sup class="message">*</sup>
          <app-ngx-editor  height="65px" minHeight="50px" [config]="editorConfig"  rows="5" placeholder="Enter description of the project " [(ngModel)]="project.description"
          maxlength="1000" name="description" #description="ngModel" class="form-control" id="Description" required> </app-ngx-editor>

          <!-- <textarea rows="5" placeholder="Enter description of the project " [(ngModel)]="project.description"
            maxlength="1000" name="description" #description="ngModel" class="form-control" id="Description" required></textarea> -->

          <span [hidden]="proj_desc==false" *ngIf="pd.submitted && !description.valid || proj_desc" class="help-block">
            Please specify description
          </span>
        </div>
      </div>
      <br>
      <div class="col-12">
        <button type="reset" class="btn btn-danger pull-right" (click)="clearForm()">Cancel</button>
        <button type="submit" class="btn btn-primary pull-right" (click)="saveproject()">Save</button>

      </div>
    </form>
  </div>

  <br><br>



  <!-- <div *ngIf="allProjects?.length == 0">No Projects Found....</div> -->
  <ng4-loading-spinner> </ng4-loading-spinner>




  <div class="row col-12">
    <div class=" col-12 proj_det" *ngFor="let pro of allProjects;let i=index">
      <div class="clearfix">
        <h5>
          <b>Project Details {{i+1}}</b> &nbsp;
          <button class="btn btn-primary" (click)="edit(pro)"><i class="fas fa-edit"></i> </button>
          <button class="btn btn-danger" (click)="delete(pro.id,confirm)"><i class="fas fa-trash"></i></button>
        </h5>

        <hr>
        <div class="projects">
          <div class="row">
            <b class="col-4">Project Name </b>
            <span class="col-6"> {{pro.name}} </span>
          </div>

          <div class="row skill" *ngIf="pro.skills">
            <b class="col-4">Skills </b>
            <span *ngFor="let s of display2[i];let sk = index">
              {{s}}
            </span>

          </div>
          <!-- <div  class="row skill" *ngIf="pro.skills">
      <b class="col-4 ">Skills </b>
    <span >{{pro.skills}}</span>
   
    </div> -->

          <div class="row">
            <b class="col-4">Duration </b>
            <span class="col-6"> {{pro.duration}} </span>
          </div>

          <div class="row" *ngIf="pro.team">
            <b class="col-4"> Team Count </b>
            <span class="col-6"> {{pro.team}} </span>
          </div>


          <div class="description row">
            <b class="col-4">Description </b>
            <span class="col-8" [innerHTML]="pro.description"> 
              <!-- {{pro.description}} -->
            </span> 
          </div>
                </div>
      </div> <br>
    </div>
  </div>
</div>


<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete this project details<i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>

</ng-template>