
.proj_det p b{
    width: 90%;
    display: inline-block;
}
.project{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	

	.description span{
		
		max-height: 100px;
		width: 400px;
		word-wrap: break-word;

	}

	.col-4 {
		-ms-flex: 0 0 23.333333%;
		flex: 0 0 23.333333%;
		max-width: 23.333333%;
		font-size: 12px;
	  }

	 

	  .projects b span {
		width: 10%;
		display: block;
	  }

	  .projects span{ 
	  font-size: 12px;
	  margin-bottom: 8px;
	  }
	  .projects div{ 
		font-size: 12px;
		}

	  .skill span{
		
		margin-inline-start: 13px;
	
	}
	.message{
		color: #da534d;
		font-size:12px;
	  }
	.help-block{
		margin-left:3px;
	}
	  
