<div class="appliedjobs">
  <h4><b>Applied Jobs</b></h4>
</div>
<hr>
<div class="clearfix"></div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div *ngIf="apply?.length == 0">No Applied Job Found....</div>
<div class="job-post" *ngFor="let job of apply;let i = index;">
  <div class="pimg rounded-circle" *ngIf="job.image!='' && job.image!=undefined && job.image!='IMAGE'">
    <img class="rounded-circle" src="{{Apiurl}}/profileimage/{{job.image}}" alt="" height="60px">
  </div>
  <div class="pimg rounded-circle" *ngIf="job.image==''|| job.image==undefined||job.image=='IMAGE'">
    <ngx-avatar class="rounded-circle" name="{{job.first_name}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="60"
      textSizeRatio="1.5" [round]="true">

    </ngx-avatar>
  </div>


  <!-- <div class="dropdown pull-right" dropdown placement="bottom left"  *ngIf="user_reg_id!=job.registration_id"   >
      <a id="button-alignment" dropdownToggle type="button" class="dropdown-show" aria-controls="dropdown-alignment">
        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
      </a>
      <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment"  >
        <li role="menuitem">
          <a class="dropdown-item"   (click)="Report(job.posting_id,job.registration_id,'job')" >
            <i  class="fa fa-ban clr " ></i> &nbsp; Report Spam</a>
        </li>
  
      </ul>
  
    </div>
   -->


  <!-- <span class="  pull-right  " name="view"  tooltip="Spam" *ngIf="user_reg_id!=job.registration_id" (click)="Report(job.posting_id,job.registration_id,'job')" >
		<i  class="fa fa-ban clr " ></i>
      </span> -->
  <div></div>
  <h2><b>{{job.job_title | titlecase}}</b></h2>
  <div>
    <div style="font-size:14px" *ngIf="job.status && job.status!=undefined">Status: {{job.status|titlecase}} on {{job.updated_on
      | date}} </div>
     <div style="font-size:12px" *ngIf="job.status && job.status!=undefined"> For more details please check your mail.</div>
    <div style="font-size:12px" *ngIf="!job.status">Status: No Response</div>
    <!-- <div style="font-size:12px" *ngIf="job.status && job.status!=undefined"> For more details please check your mail.</div> -->
  </div>
  <!-- <div class="keyskills">
  Posted by:<b>{{job.first_name |titlecase}}  {{job.last_name |titlecase}}</b>
</div> -->
  <!-- <div class="p-details">
    <p class="row">
      <span class="col-3">
        <i class="fa fa-star"></i>
        <strong *ngIf="job.fresher_or_exp=='Experience'">
          <b>{{job.min_exp}}</b> yrs -
          <b>{{job.max_exp}}</b> yrs</strong>
        <strong *ngIf="job.fresher_or_exp=='Fresher'">{{job.fresher_or_exp}}</strong>

      </span>
      <span class="col-4">
        Min sal :
        <strong>
          <b>
            {{job.minsalary}}
          </b>
          <i>{{job.currency}}</i>
        </strong>
      </span>
      <span class="col-5">
        Max Sal :
        <strong>
          <b>
            {{job.maxsalary}}
          </b>
          <i>{{job.currency}}</i>
        </strong>
      </span>
    </p>
    <p>

      <span class="col-12">
        <i class="fa fa fa-map-marker"></i>{{job.district}}, {{job.state_name}}, {{job.country}}
      </span>
    </p>
  </div>
  <p class="keyskills">
    <span>Education Details</span>
    <span>
      <i>
        {{job.education_details}}
      </i>
    </span>
  </p>
  <p class="keyskills">
    <span>Key Skills</span>
    <span>{{job.skill}}</span>
  </p>
  <p class="keyskills">
    <span>Optional Skills</span>
    <span>{{job.optional_skills}}</span>
  </p>

  <div class="row">
    <div *ngIf="job.venuephoto" class="col-6">
      <img height="100%" width="100%" class="img-responsive" [src]=imagePath[i] />
    </div>
   
    <div *ngIf="job.venuevideo" class="col-6">
      <video controls height="100%" width="100%">
        <source [src]=videoPath[i] type="video/mp4">

      </video>
    </div>
  </div> -->

  <div>
    <!-- <button class="pull-right btn btn-primary showall " id="{{i}}" name="view" (click)="viewMore(job.posting_id,i)">
      Show more
    </button> -->
    <!-- <div class=" pull-left keyskills">
      Posted by <b>{{job.first_name |titlecase}}  {{job.last_name |titlecase}}</b>
    </div> -->
    <button (click)="getjobapplicantstatus(job.posting_id,job.registration_id)" class="pull-right btn btn-primary">
      View My Review
    </button>
    <button *ngIf="job.status=='selected' || job.status=='rejected' ||job.status=='on hold' ||job.status=='future use' ||job.status=='in progress' "
      (click)="rateRecruiter(job.posting_id,job.registration_id,rattingTemplate,job.status,job.id)" class="pull-right btn btn-primary">
      Rate Recruiter
    </button>
    <button [hidden]="job.role_id==3" *ngIf="job.status=='selected' || job.status=='rejected' ||job.status=='on hold' ||job.status=='future use' ||job.status=='in progress' "
    (click)="rateCompany(job.posting_id,job.registration_id,rattingTemplateComp,job.status,job.id)" class="pull-right btn btn-primary">
    Rate Company
  </button>

    <!-- <div *ngIf="status.length==0 && status">
      <b style="padding-left:20px">No Rating Given till now</b>
    </div> -->
    <br>
    <!-- <br><br> -->
    <div *ngIf="table1===job.posting_id && status.length!=0" [attr.id]="'undoBtn'+job.posting_id">
      <b>Ratings</b>
      <br>
      <hr>
      <br>
      <br>

      <div class="pannel-display">

        <div class="panel-body" *ngFor="let status of status">
          <p>

            &nbsp; &nbsp; <span> <b>Technical Skills</b> </span> &nbsp; : <rating class="rating rating-first" style="padding-left: 26px;"
              [max]="5" [readonly]="true" [(ngModel)]=status.subject_skills [customTemplate]="tt"></rating>
            <ng-template #tt let-i="index" let-v="value">
              <b class=" ratting-stars {{i < v ? 'text-success' : 'text-default'}}">
                {{i
                < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> &nbsp; &nbsp; <span> <b>Behaviour</b></span>&nbsp; :
                  &nbsp;<rating class="rating rating-first" style="padding-left: 40px;" [max]="5" [readonly]="true"
                    [(ngModel)]=status.behaviour [customTemplate]="tt"></rating>
                  <ng-template #tt let-i="index" let-v="value">
                    <b class=" ratting-stars {{i < v ? 'text-success' : 'text-default'}}">
                      {{i
                      < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> </p> <p>

                        &nbsp; &nbsp; <span><b>Communication Skills</b></span> &nbsp;:&nbsp; <rating class="rating"
                          [max]="5" [readonly]="true" [(ngModel)]=status.communication_skills [customTemplate]="tt"></rating>
                        <ng-template #tt let-i="index" let-v="value">
                          <b class=" ratting-stars {{i < v ? 'text-success' : 'text-default'}}">
                            {{i
                            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; <span>
                              <b>Interview Etiquette</b></span> &nbsp;:<rating class="rating rating-first" [max]="5"
                                [readonly]="true" [(ngModel)]=status.interview_ettiquete [customTemplate]="tt"></rating>
                              <ng-template #tt let-i="index" let-v="value">
                                <b class=" ratting-stars {{i < v ? 'text-success' : 'text-default'}}">
                                  {{i
                                  < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> &nbsp; &nbsp; &nbsp; </p> <p>
                                    &nbsp; &nbsp; <span> <b>Information Provided</b> </span> &nbsp; :&nbsp;<rating
                                      class="rating" [max]="5" [readonly]="true" [(ngModel)]=status.info_provided
                                      [customTemplate]="tt"></rating>
                                    <ng-template #tt let-i="index" let-v="value">
                                      <b class=" ratting-stars {{i < v ? 'text-success' : 'text-default'}}">
                                        {{i
                                        < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> </p> <div class="desc" style="padding-left:12px">

                                          <span><b>Organization Expectations</b></span> &nbsp; :
                                          <span> {{status.org_expectation}}</span>
        </div>

        <div class="desc" style="padding-left:12px">

          <span><b>Overall Description</b></span>&nbsp; :
          &nbsp; {{status.overall_description}}
        </div>

      </div>
    </div><!-- /panel-body -->
  </div>

  <div class=" pull-left keyskills">
    Posted by <b *ngIf="job.role_id==3">{{job.first_name |titlecase}}</b><b *ngIf="job.role_id==5">{{job.company_name
      |titlecase}} </b>
  </div>
</div>

</div>


<ng-template #rattingTemplate>
  <form novalidate name="rate" #frm="ngForm" #ratingForm (ngSubmit)="recruiterRating(infrastructure.value,hospitality.value,timeing.value,arrangement.value,overallexp.value,rattingTemplate,ratings.id)">
    <!--  -->
    <div class="modal-header ">
      <h4 class="modal-title pull-left" *ngIf="pre_ratting.length==0">Recruiter Rating</h4>
      <h4 class="modal-title pull-left" *ngIf="pre_ratting.length!=0">Edit Recruiter Rating</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !infrastructure.valid }">
        <label for="">Infrastructure
          <sup class="help-block">*</sup>
        </label>
        <div>

          <rating [max]="5" #infrastructure [customTemplate]="tt" name="infrastructure" [(ngModel)]="ratings.infrastructure"></rating>
          <b>(
            <i>Rate:</i> {{infrastructure.value}}/5)</b>
          {{rate.value|json}}
          <ng-template #tt let-i="index" let-v="value">
            <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
              {{i
              < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frm.submitted && !infrastructure.value "
                class="help-block error">
                Please rate for Technical Skills
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !hospitality.valid }">
      <label for="">Hospitality
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating class="star" [max]="5" #hospitality [customTemplate]="tt" name="hospitality" [(ngModel)]="ratings.hospitality"></rating>
        <b>(
          <i>Rate:</i> {{hospitality.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value" class="star">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frm.submitted && !hospitality.value "
              class="help-block error">
              Please rate for Hospitality
      </div>
    </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !timeing.valid }">
      <label for="">Waiting Time for Interview
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating [max]="5" #timeing [customTemplate]="tt" name="timeing" [(ngModel)]="ratings.timeing"></rating>
        <b>(
          <i>Rate:</i> {{timeing.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frm.submitted && !timeing.value "
              class="help-block error">
              Please rate for Waiting Time
      </div>
    </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !arrangement.valid }">
      <label for="">Arrangements for Interview
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating [max]="5" #arrangement [customTemplate]="tt" name="arrangement" [(ngModel)]="ratings.arrangement"></rating>
        <b>(
          <i>Rate:</i> {{arrangement.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frm.submitted && !arrangement.value "
              class="help-block error">
              Please rate Arrangements
      </div>
    </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !overallexp.valid }">
      <label for="">Overall Experience
        <sup class="help-block">*</sup>
      </label>
      <div>
        <textarea name="overall_exp" id="" cols="50" class="form-comtrol" [(ngModel)]="ratings.overall_exp" #overallexp="ngModel"
          rows="3"></textarea>
        <div style="font-size:13px" *ngIf="frm.submitted && !overallexp.value " class="help-block error">
          Please give your Overall Experience
        </div>
      </div>
    </div>



    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>
<ng-template #rattingTemplateComp>
  <form novalidate name="rate" #frmcomp="ngForm" #ratingForm (ngSubmit)="companyRating(infrastructureComp.value,hospitalityComp.value,timeingComp.value,arrangementComp.value,overallexpComp.value,rattingTemplateComp,ratingsComp.id)">
    <!--  -->
    <div class="modal-header ">
      <h4 class="modal-title pull-left" *ngIf="pre_rattingcomp.length==0">Company Rating</h4>
      <h4 class="modal-title pull-left" *ngIf="pre_rattingcomp.length!=0">Edit Company Rating</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group" [ngClass]="{ 'has-error': frmcomp.submitted && !infrastructureComp.valid }">
        <label for="">Infrastructure
          <sup class="help-block">*</sup>
        </label>
        <div>

          <rating [max]="5" #infrastructureComp [customTemplate]="tt" name="infrastructureComp" [(ngModel)]="ratingsComp.infrastructureComp"></rating>
          <b>(
            <i>Rate:</i> {{infrastructureComp.value}}/5)</b>
          {{rate.value|json}}
          <ng-template #tt let-i="index" let-v="value">
            <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
              {{i
              < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frmcomp.submitted && !infrastructureComp.value "
                class="help-block error">
                Please rate for Technical Skills
        </div>
      </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frmcomp.submitted && !hospitalityComp.valid }">
      <label for="">Hospitality
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating class="star" [max]="5" #hospitalityComp [customTemplate]="tt" name="hospitalityComp" [(ngModel)]="ratingsComp.hospitalityComp"></rating>
        <b>(
          <i>Rate:</i> {{hospitalityComp.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value" class="star">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frmcomp.submitted && !hospitalityComp.value "
              class="help-block error">
              Please rate for Hospitality
      </div>
    </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frmcomp.submitted && !timeingComp.valid }">
      <label for="">Waiting Time for Interview
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating [max]="5" #timeingComp [customTemplate]="tt" name="timeingComp" [(ngModel)]="ratingsComp.timeingComp"></rating>
        <b>(
          <i>Rate:</i> {{timeingComp.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frmcomp.submitted && !timeingComp.value "
              class="help-block error">
              Please rate for Waiting Time
      </div>
    </div>
    </div>

    <div class="form-group" [ngClass]="{ 'has-error': frmcomp.submitted && !arrangementComp.valid }">
      <label for="">Arrangements for Interview
        <sup class="help-block">*</sup>
      </label>
      <div>

        <rating [max]="5" #arrangementComp [customTemplate]="tt" name="arrangement" [(ngModel)]="ratingsComp.arrangementComp"></rating>
        <b>(
          <i>Rate:</i> {{arrangementComp.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frmcomp.submitted && !arrangementComp.value "
              class="help-block error">
              Please rate Arrangements
      </div>
    </div>
    </div>
    <div class="form-group" [ngClass]="{ 'has-error': frmcomp.submitted && !overallexpComp.valid }">
      <label for="">Overall Experience
        <sup class="help-block">*</sup>
      </label>
      <div>
        <textarea name="overall_expComp" id="" cols="50" class="form-comtrol" [(ngModel)]="ratingsComp.overall_expComp" #overallexpComp="ngModel"
          rows="3"></textarea>
        <div style="font-size:13px" *ngIf="frmcomp.submitted && !overallexpComp.value " class="help-block error">
          Please give your Overall Experience
        </div>
      </div>
    </div>



    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>