/* For status tracking */
*,*:after,*:before{
    box-sizing: border-box;
}
ul{
    margin: 0;
    padding: 0;
}
.pagination > li{
    overflow: hidden;
    position: relative;
    margin-top: 25px;
    width: 15%;
    float: left;
    list-style: none;
    padding: 0;
}
.pagination > li p{
    color: #000;
    line-height: 1;
}
.pagination > li > b{
    line-height: 50px;
    text-decoration: none;
    color: #000;
    display: block;
    text-align: center;
    position: relative;
}
.pagination > li > b:before{
    content:'';
    position: absolute;
    z-index: -1;
    width: 50px; height: 50px;
    left: 50%; margin-left: -25px;
    border-radius: 100%;
    border: 1px blue;
    background: blue;
    transition: all .2s;
}
.pagination > li > b > i{
    font-size: 23px;
    padding: 2px;
    color: white;
}

.pagination > li:not(:last-of-type):after,
.pagination > li:not(:first-of-type):before{
    content: '';
    position: absolute;
    background: blue;
    top: 22px;
    height: 5px;
}
.pagination > li:first-of-type:after{
    left: 50%;
    right: 0;
    margin-left: 25px;
}
.pagination > li:not(:first-of-type):before{
    left: 0;
    right: 50%;
    margin-right: 25px;    
}
.pagination > li:not(:first-of-type):after{
    right: 0;
    left: 50%;
    margin-left: 25px;
}

.appliedjobs{
    margin-top:15px;
}


.ratting-star
	{
		font-size: 30px;
        outline: none;
    }
    .ratting-stars
	{
		font-size: 20px;
        outline: none;
	}
	b:focus{
		outline: none;
	}
	star:focus{
		outline: none;
    }
 .keyskills
{
    font-size: 12px;    
}


.clr{
    color:red;
}

.pull-right
{
    margin-left: 0px;
}


.dropdown-show
{
    background-color:white;
    height: 2px;
}.thumbnail {
    padding:0px;
}
.panel {
	position:relative;
}
.panel>.panel-heading:after,.panel>.panel-heading:before{
	position:absolute;
	top:11px;left:-16px;
	right:100%;
	width:0;
	height:0;
	display:block;
	content:" ";
	border-color:transparent;
	border-style:solid solid outset;
	pointer-events:none;
}
.panel>.panel-heading:after{
	border-width:7px;
	border-right-color:#f7f7f7;
	margin-top:1px;
	margin-left:2px;
}
.panel>.panel-heading:before{
	border-right-color:black;
	border-width:9px;
	
	
	margin: 5px;
	
}
.panel-default
{

	
	
	   
		padding: 10px;
		padding-left: 25px;
		font-size: 16px;
		line-height: 32px;
}
.rating
{
	font-size: 20px;
}
.rating-first
{
	margin-right: 20px;
    margin-left: 10px;
}
.user-photo
{
border-radius: 50%;
margin-top: 4px;
}
.pannel-display
{
	/* background-color: azure;  */
		
	border-radius: 5px;
	border-right-color:darkred;
	border-width:12px;
	margin-top: -35px;
	margin-left: -11px;
    margin-right: -11px;
}
.pannel-display p{
    font-size: 13px;
    margin-left: 10px;
    display: inline-block;
  
}
.pannel-heading i{
	color: #6c757d!important;
 font-size: 13px; 
}
.pannel-heading span{
	font-size: 10px;
	margin-right: 10px;
}
.desc
{
	overflow-wrap: break-word;
	font-size: 13px;
	
	margin: 10px;

}