/* You can add global styles to this file, and also import other style files */





@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

.cdk-overlay-pane{
	z-index: 999999 !important;
}
.modal-open .modal{
	z-index: 99;
}
.modal-backdrop{
	z-index: 99;
}
body{
	background: #ededed;
	font-family: 'Roboto', sans-serif;	
	overflow-y: auto !important;

	}
.cursor{
	cursor: pointer;
}
ul{
	margin: 0px;
	padding: 0px;
}
a , a:hover{
	color: #333;
	text-decoration: none;
}
.form-control, select.form-control{
	padding: 5px 8px !important;
	height: auto !important;
	font-size: 13px;
}
label {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 2px;
}
.left-main, .right-main{
	/* background: #efefef; */
	padding: 0px;
}
.mid-content{
	padding: 5px;
}
.btn{
	padding: 5px 10px;
	margin: 5px 2px;
	border-radius:0 !important;
	font-size: 12px;
}
.btn-primary {
	 padding:6px 10px; 
	background: #0d5b94;
	font-size: 12px;
	color: #fff !important;
	border:#0d5b94;
	
}
.scd-hd a.btn.btn-primary {
    background: #265f82 !important;
    margin: 0;
    padding: 10px;
    border: 0 none !important;
}
.profile{
	margin: 0px 0 0 0;
    overflow: hidden;
    padding: 15px 5px 5px 5px;
}
.profile .profile-det a i{
	border-radius:50%;
	padding: 7px;
	font-size: 13px;
	border: 1px #ccc solid;
	margin: 5px 10px;
	background:black;
	color:white;
}
.profile img{
	width: 100%;
}
.pimg {
    width: 67px;
    height: 66px;
    float: left;
    margin: 0px;
    margin-right: 5px;
    line-height: 24px;
    border: 1px #ccc solid;
    padding: 2px;
}
.pimg img{
	width: 100%;
	height: 100%;
}
.profile h2{
	font-size: 16px;
	margin: 10px 0 2px 0;
}
.profile p{
	font-size: 12px;
}
.p-details span{
	width: 25%;
	display: inline-block;
	color: #8d8d8d;
	font-size: 12px;
}
.p-details i{
	margin:4px;
}
.left-section{
	margin: 5px 0 0 0;

}
.left-section h2{
	color: #0d5b94;
	font-size: 16px;
}
.left-section h2 i{
	margin: 5px;
}
.left-section ul{
	margin:5px 0 0 0px;
}
.left-section ul li{
	list-style: none;
	margin:0px 2px;
	font-size: 13px;
	padding: 10px 5px;
	border-bottom: 1px #dcdcdc solid;
	cursor: pointer;
}
.left-section ul li:hover , .active-link{
	background:#0d5b94;
	color: #fff
}
.post-links{
	background: rgb(rgb(17, 85, 231));
    margin: 0px;
	padding: 5px 10px;
	margin-top: 5px;
	
	
	display: flex;
	flex-grow: 3;
}
.post-links a{
	background:rgb(40, 59, 228);
	padding: 0px 10px;
	margin: 5px 10px;
	color: #fff;
	font-size: 12px;
}
.job-post{
	margin: 5px 0px;
	background: #fff;
	padding: 10px;
	overflow: hidden;
	border: 1px #f2f2f2 solid;
}
.job-post:first-child { 
	margin-top: 0px !important;
}
.job-post:nth-child(odd) {
    background: #fff;
}
.job-post h2{
	font-size: 18px;
	margin: 5px;
}
.job-post p{
	font-size: 12px;
	margin: 0px;
}
.right-menu li {
    padding: 0px !important;
    margin-top: 3px !important;
}

.right-menu a {
	padding: 3px 10px !important;
}
.keyskills{
	margin:10px;
	display: block;
	clear: both;
}

.keyskills span:first-child{
	width:30%;
	display: inline-block;
	margin: 0px;
	font-weight: bold;
}
.keyskills span{
	width:50%;
	display: inline-block;
	margin:5px;
}
.post-footer{
	font-size: 14px;
}
.post-footer span{
	display: inline-block;
}
.profile h1{
	padding: 5px 0;
	font-size: 14px;
	margin: 0px;
	font-weight: bold;
}
.profile p{
	margin:2px;
	padding: 0px;
}
.help-block{
	color:#da534d;
font-size: 12px;
}.ngx-picker{
    display: inline !important;
}
.footer{
	background: #d8d8d8;
	width: 100%;
	bottom: 0px;
	color: #333;
	margin: 0px;
	padding: 15px 5px 0 10px !important;
}

.nav-tabs .nav-link.active{
	color: #ffffff !important;
    background-color: #0067aa !important;
}
.userreg .nav-tabs .nav-item{
	width:50%!important;
	background: #f2f2f2 !important;
}


.userreg .nav-link {
    display: block;
    padding: .5rem 2rem;
}
.education-details .nav-tabs .nav-item{
	background: #f6f6f6 !important;
	border-left: 1px #d2d2d2 solid;
}
hr{
	padding: 2px;
	margin:2px;	
}
.post-image
{
	width: 180px;
	height: 230px;
	border-radius: 10px;
	margin-left: 100px;
}

.index{
	z-index: 9;
}

.spinner{
	position: fixed !important; 
	top:50% !important; 
	left:50% !important; 
	margin-left:-55px !important; 
	margin-top:-55px !important; 
	width: 130px !important; 
	height: 130px !important; 
	z-index: 9999 !important;
	background: #000;
	border-radius: 3% !important;
   
   }
   .lds-roller{
	display: inline-block  !important;
    position: relative  !important;
    width: 64px  !important;
    height: 64px  !important;
    left: 25% !important;
    top: 25%  !important;
   }

yyhtml {
    overflow: auto;
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 8px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #dcdcdc;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #dcdcdc;
}

.selected-list .c-btn{
	padding: 4px 10px !important;
	font-size: 12px !important;
	box-shadow:none !important;
}
.ngx-datatable , .ngx-datatable.material{
	box-shadow:0 0px 0px 0px rgba(0, 0, 0, 0.0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0) !important;
}

.OT_subscriber{
    min-height: 360px !important;
}
.OT_publisher
{
    max-width: 150px !important;
	min-height: 150px !important;
	float: right;
	margin: 10px 0 0 0;
}
.job-image {
	width: 100%;
    margin: 10px 0px;
}
.apply-count{
	    float: right;
		font-size: 11px;
		/* margin: 10px 0; */
		cursor: pointer;
		color: #777c82;
		margin: 0px 9px;
}
.dropdown-item{
	font-weight: normal;
	font-size: 12px;
}
.fixed1{
	position: fixed;
	width: 25%;
	margin-top:-155px;
}
.fixed2{
	position: fixed;
	width: 25%;
    margin-left: 75%;
}
.midmain{
	margin-left:25%;
	
}
@media only screen and (max-width: 1280px) {
	.search-box{
		float: left;
		width: 38% !important;
	}
	.main-search{
		width: 90% !important;
		margin-left: 17px !important;
		margin-top: 11px;
		border-radius: 4px;
		padding-left: 17px;
		padding-top: 4px;
		border: none 0;
	}
	.wordbreak{
		width: 67%;
		word-wrap:break-word;
	}	
	
	
}