<div class="loginbg">
  <div class="login-container">
    <div class="logo">&nbsp;</div>
    <div class="login-main row">
      <div class="col-12 text-align: center ">
          <h1><b><u>Reset password</u></b></h1>
        
          <b>Please check your email to reset your password.</b><br>
          <button class="btn btn-info " style="align-self: center;" (click)="login1()">Go to Login</button>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div> 



<footer>

  <!-- <li><a >About Us</a></li>
  <li><a>Contact Us</a></li> -->

  <a class="leftlink" [routerLink]="['/about']" routerLinkActive="active-link">About Koneqto</a>
  <a class="leftlink" [routerLink]="['/helpcenter']" routerLinkActive="active-link" >Help Center</a>
  <a class="leftlink" [routerLink]="['/privacy']" routerLinkActive="active-link" >Terms & Privacy</a>
  
  <a class="leftlink" [routerLink]="['/advertising']" routerLinkActive="active-link"> Advertising</a>
  <a class="leftlink" [routerLink]="['/business']" routerLinkActive="active-link">Business & Services</a>
  
  <a class="leftlink" [routerLink]="['/gettheapp']" routerLinkActive="active-link">Get the Koneqto App</a>
  <a class="leftlink" [routerLink]="['/more']" routerLinkActive="active-link">More</a>


  <p class="left-link pull-right"><b>KONEQTO</b> Informatics © 2018</p>

</footer>