.loginbg{
	background: url(/assets/images/loginbg.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo{
	background: url(/assets/images/logo.png) no-repeat #fff;
    width: 100%;
    height: 85px;
    margin: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0px;
}
.login-container{
	background: #fff;
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	top: 50%;
	margin-top:-120px;
	text-align: center;
	padding: 20px; 
}
.form-control{
	margin:10px 0;
}
h1{
	color: #0067aa;
	font-size: 19px
}
a{
	margin:6px 0; 
}
a.fb{
	background: url(/assets/images/fb.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
a.gmail{
	background: url(/assets/images/gmail.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
.loginor{
	position: relative;
	margin:10px; 
}
.loginor p{
	position:absolute;
	left:50%;
	padding: 5px;
	margin-top:-35px;
	margin-left:-5px;
	background: #fff;
}
.forgotpassword{
	float: left;
	font-size: 11px;
	margin: 10px 0;
	cursor: pointer;
}
.btn-primary{
	background: #0067aa;
	display: block;
	width: 100%;
	padding: 10px;
}
.registration-container{
	background: #fff;
	width: 600px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	margin-top:100px;
	text-align: center;
	padding: 20px; 
	z-index: 99999;
}
.registration-container h1 {
    font-size: 16px !important;
}
.registration-container h1 a{
	font-size: 12px !important;
	color: #000;
	cursor: pointer;
}
.login-main a{
	color: #0067aa;
	font-weight: bold;
}
 




.loginbg{
	background: url(/assets/images/loginbg.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo{
	background: url(/assets/images/logo.png) no-repeat #fff;
	width: 100%;
	height: 85px;
	margin: 0;
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0px;
}
.login-container{
	background: #fff;
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	top: 50%;
	margin-top:-120px;
	text-align: center;
	padding: 20px; 
}
.form-control{
	margin:10px 0;
}
h1{
	color: #0067aa;
}
a{
	margin:6px 0; 
}
button.fb{
	background: url(/assets/images/fb.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
	width: 100%;
	border: 0;
	cursor: pointer;
}
button.gmail{
	background: url(/assets/images/gmail.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
	width: 100%;
	cursor: pointer;
	border: 0;
}
.loginor{
	position: relative;
	margin:10px; 
}
.loginor p{
	position:absolute;
	left:50%;
	padding: 5px;
	margin-top: -21px;
	margin-left: -10px;
	background: #fff;
}
.forgotpassword{
	float: left;
	font-size: 11px;
	margin: 10px 0;
	cursor: pointer; 
	color: #007bff

	
	
}


.btn:hover{
	color: #007bff
}

.cursor1 
{
	color: #007bff
}
.cursor1:hover{
	cursor: pointer; 	
	text-decoration: underline;
	color: #0400ff
}
.forgotpassword:hover {
	text-decoration: underline;
	color: #0400ff
}
.cursor underline:hover {
	text-decoration: underline;
}
.btn-primary{
	background: #0067aa;
	display: block;
	width: 100%;
	padding: 10px;
}
.registration-container{
	background: #fff;
	width: 600px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	margin-top:100px;
	text-align: center;
	padding: 20px; 
	z-index: 99999;
}
.registration-container h1 {
	font-size: 16px !important;
}
.registration-container h1 a{
	font-size: 12px !important;
	color: #000;
	cursor: pointer;
}
.login-main a{
	color: #0067aa;
	font-weight: bold;
}

.message{
	color: #da534d;
	float:left;
	margin:-10px 0px 15px 6px;
	font-size:12px;
}
/* footer{
	position: fixed;
	bottom: 0;
	left: 10px;
	width: 100%;

} */

/* footer  a{
	/* display: inline-block; */
	/* margin: 0 10px;
	color: #f2f2f2;
	float: left; } */



footer{
	background: #fff;
	position: fixed;
	bottom: 0;
	left: 0px;
	width: 100%;
	padding: 15px 5px 0 10px !important;
	border-top:1px #ccc solid;
	line-height: 24px;
	font-size: 12px;

}

footer  a{
	margin: 0 10px;
	color: #333;
	float: left;
}