<div class="loginbg">
	<div class="login-container">

		<div class="logo">&nbsp;</div>

		<div class="login-main row">
			<div class="col-md-6 col-sm-12">
	
				<form name="loginform" #lf="ngForm" novalidate>

					<div [ngClass]="{ 'has-error': lf.submitted && !username.valid }">
						<input type="text" class="form-control" name="username" placeholder="Email ID /Mobile Number/User Name"
						 [(ngModel)]="model.username" #username="ngModel" (keypress)="Keyname($event)" required maxlength="40" minlength="3" />
						<div *ngIf="lf.submitted && !username.valid" class="help-block message"> Email id/mobile number is required</div>
					</div>
					<div class="clearfix"></div>
					<div [ngClass]="{ 'has-error': lf.submitted && !password.valid }">
						<input type="Password" name="password" [(ngModel)]="model.password" class="form-control" placeholder="Password"
						 #password="ngModel" passwordToggle required (cut)="$event.preventDefault()" (copy)="$event.preventDefault()"
						 (paste)="$event.preventDefault()" minlength="8" maxlength="18">
						<div *ngIf="lf.submitted && !password.valid.required" class="help-block message" [hidden]='model.password'>Password
							is required</div>
					</div>
					<div *ngIf=" lf.submitted && model.password!=''" class="help-block message">{{message}}</div>

					<div class="clearfix"></div>

					<div [routerLink]="['/forgetpwd']" class="forgotpassword">Forgot Password?</div>

					<button class="btn btn-primary" (click)=userlogin(username,password)>Login</button>
				</form>
			</div>
			<div class="col-md-6 col-sm-12">
			
				<button class="gmail" (click)="signInWithGoogle()">
				</button>

				<button class="fb" (click)="signWithFB()">
				</button>
				<div class="loginor">
					<hr>
					<br>
					<p>
						OR</p>
				</div>

				<div>Don't have an Account ?

					<span [routerLink]="['/registration']" class="cursor1">Sign Up</span>
				</div>
			</div>
		</div>

	</div>
</div>
<footer>



	<a class="leftlink" [routerLink]="['/about']" routerLinkActive="active-link" >About Koneqto</a>
	<a class="leftlink" [routerLink]="['/contactus']" routerLinkActive="active-link" >Contact Us</a>
	<a class="leftlink" [routerLink]="['/privacy']" routerLinkActive="active-link" >Privacy Policy</a>
	<a class="leftlink" [routerLink]="['/termsandconditions']" routerLinkActive="active-link" > Terms &
		Conditions</a>
	<a class="leftlink" [routerLink]="['/cookies']" routerLinkActive="active-link" >Cookies</a>
	<a class="leftlink" [routerLink]="['/gettheapp']" routerLinkActive="active-link" >Get the Koneqto App</a>



	<p class="left-link pull-right"><b>KONEQTO</b> Informatics © 2018</p>

</footer>