.gallery{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	.message{
		color:red;
	}
	.keyskills{
		/* margin-bottom: -2px; */
			font-size: 12px;
		
		}
		.new{
			padding-left: 0px !important;
		}
		/* .achieve b  {
			width: 30%;
			display: block;
			
		  } */

		  
		  .ngx-gallery-image
		  {
			  z-index: 99;
		  }
		  
		  
		  .closeButton{
			  background-color: white;
			  border-radius: 15%;
			  border: none;
		  }
		   