<div class="container gallery">
  <div class="row" *ngIf="!isrecruter">
    <h4><b>My Gallery</b></h4>
    <hr>
  </div>
  <div class="row" *ngIf="isrecruter">
    <h4><b>Company Gallery</b></h4>
    <hr>
  </div>



  <form name="frm" (ngSubmit)="ae.valid" #ae="ngForm" novalidate>

    <div class="row">

      <div class="form-group col-6" [ngClass]="{ 'has-error': ae.submitted && !name1.valid }">
        <label for="Description">Folder Name</label> <sup style="color:red;">*</sup>
        <input type="text" [(ngModel)]='name' name="name" #name1="ngModel" class="form-control" required>
        <span [hidden]="this.errmsg==false" *ngIf="ae.submitted && !name1.valid" class="help-block">
          Please specify folder name
        </span>
      </div>

    </div>

    <div class="row">
      <div class="form-group col-6" [ngClass]="{ 'has-error': ae.submitted && !image1.valid }">
        <label for="photo">Images <sup style="color:red;">*</sup>

        </label>
        <!-- <input type="file"  name="image" id="photo" [(ngModel)]="image" class="form-control" (change)="check($event)" #image1="ngModel" ng2FileSelect [uploader]="uploader"  multiple [accept]="allowedMimeType"> -->
        <br>
        <input id="files" type="file" style="width: 113px;" [(ngModel)]="image" name="image" #image1="ngModel" multiple
          (change)="onFileSelected ($event)" />
        <span *ngIf="achidata.length!=0">{{achidata.length}} files selected</span>

        <span [hidden]="this.errmsg==false" *ngIf="ae.submitted && !image" class="help-block">
          Please choose images
        </span>
        <span [hidden]="this.errmsg==false" *ngIf="errImageType" class="help-block">
          Invalid image format
        </span>

      </div>
    </div>
    <div class="col-12">
      <button type="reset" (click)="remove(achidata.length)" class="btn btn-danger pull-right">Cancel</button>
      <button type="submit" class="btn btn-primary pull-right" (click)="savegallery()">Save</button>

    </div>
  </form>
  <div class="col-md-8">
    <span id="container" *ngFor="let image of achidata_preview;let i =index">

      <i id="x" class="fa fa-times" aria-hidden="true" (click)="removeimage(i)"></i>

      <img width="60px" height="60px" [src]=image id="result" alt="">

    </span>
  </div>
  <br><br>

</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="row" *ngFor="let n of Gallery;let i=index">
  <h5 class="col-6"><b>Gallery Details</b> &nbsp;
    <button class="btn btn-danger" (click)="delete(n,confirm)"><i class="fas fa-trash"></i></button>
  </h5>
  <hr>

  <div>
    <div class="col-6 new"><b>{{n.name |titlecase}} </b> </div>



    <ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]">
      <!-- <i class=" fa fa-times-circle"></i> -->
    </ngx-gallery>

  </div>
</div>
<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete this gallery<i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>
</ng-template>