

.dp{
    margin-left:10px;
}
input[type=radio]
{
    margin-left: 12px;
    margin-right:10px;
}


.help-block{
	margin-left:2px;
}



.input-group-addon
{
    width: 40px;
    border: 1px solid black;
    font-size: 14px;
   text-align: center;
}

.moredetails{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	

	.lang{

		margin-top: 20px;
	}
	