<ng4-loading-spinner> </ng4-loading-spinner>

<div class="moredetails" *ngFor="let model of model">
	<form name="moredetails" (ngSubmit)="md.valid && savedetails(model)" #md="ngForm" novalidate>
		<div class="form-group ">
			<div class="row">
				<h4 class="dp">
					<b>Resume Headline</b>
				</h4>

			</div>
			<hr>
			<div class="row">
				<div class="col-12" [ngClass]="{ 'has-error': md.submitted && !resume_headline.valid }">
					<label for="usr">Resume Headline
						<span class="help-block">*</span>
					</label>
					<textarea [(ngModel)]="model.resume_headline" name="headline" class="form-control" id="usr" maxlength=200
					 #resume_headline="ngModel" required></textarea>
					<span *ngIf="md.submitted && !resume_headline.valid" class="help-block">
						Please specify resume headline
					</span>

				</div>
			</div>
			<br>
			<div class="row">
				<h5 class="dp">
					<b>Personal Details</b>
				
				</h5>
				
			</div>
			<hr>
			<div class="row">
				<div class="col-md-3 offset-0">
					<label for="usr">Hometown</label>
					<input [(ngModel)]="model.hometown" name="hometown" type="text" class="form-control" id="usr" #hometown1="ngModel"
					 minlength="3" maxlength="100" (keypress)="Hometownevent($event)">
				</div>

				<div class="col-3">
					<label for="usr">Passport Number</label>
					<input [(ngModel)]="model.passport_no" name="pass1" type="text" class="form-control" id="usr" #passport1="ngModel"
					 maxlength=9 (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" (keypress)="panno($event)">
					<span *ngIf="this.passport==true" class="help-block">Please specify valid passport no.</span>
				</div>


				<div class="col-3">
					<!-- [ngClass]="{ 'has-error': md.submitted && !aadhar_no.valid }"> -->
					<label for="usr">Aadhar Number</label>
					<input [(ngModel)]="model.aadhar_no" name="adhar" type="text" class="form-control" id="usr" maxlength=12 (keypress)="numberchek($event)">
					<span *ngIf="this.aadhar==true" class="help-block">Please specify valid aadhar no.</span>
					<!-- <span *ngIf="md.submitted && !aadhar_no.valid" class="help-block error">
				Please Enter Adhar Number
			</span>
	 -->
				</div>
			</div>

			<div class="row">
				<div class="col-3">
					<label for="usr">Pan Number</label>
					<input [(ngModel)]="model.pan_no" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" name="pan" #pan="ngModel" type="text" class="form-control" id="usr" maxlength=10
					 (keypress)="panno($event)">
					<span *ngIf="this.pannumber==true" class="help-block">Please specify valid pan no.</span>
				</div>

				<div class="col-3">
					<!-- <div class="col-3" [ngClass]="{ 'has-error': md.submitted && !marital_status.valid }"> -->
					<label for="usr">Marital Status</label>
					<select [(ngModel)]="model.marital_status" name="maritalstatus" type="text" class="form-control" id="usr">
						<option [ngValue]="null">Select Marital Status</option>
						<option *ngFor="let status of maritalstatus" value={{status.id}}>{{status.status_name}}</option>
					</select>
					<!-- <span *ngIf="md.submitted && !marital_status.valid" class="help-block error">
				Please Enter Marital Status
			</span> -->

				</div>



				<!-- <div class="col-3">
		<label for="usr">Permanent Address</label> -->
				<!-- <input [(ngModel)]="model.permanent_address" name="paddress" type="text" class="form-control" id="usr" #paddress1="ngModel"> -->
				<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !permanent_address.value }">
					<label for="usr">Permanent Address</label><span class="help-block">*</span>
					<input [(ngModel)]="model.permanent_address" name="paddress" type="text" class="form-control" id="permanent_address"
					 #permanent_address="ngModel" maxlength="50" required>
					<span *ngIf="md.submitted && !permanent_address.value" class="help-block">
						Please specify permanent address
					</span>
				</div>

			</div>



			<div class="row">
				<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !pin_code.valid }">
					<label for="usr">Pincode/Zipcode
						<span class="help-block">*</span>
					</label>
					<input [(ngModel)]="model.pin_code" name="pin_code" type="text" class="form-control" id="usr" #pin_code="ngModel"
					 maxlength=6 (keypress)="keyPress($event)" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" required>
					<span *ngIf="md.submitted && !pin_code.valid" class="help-block">
						Please specify pincode/zipcode
					</span>
				</div>

				<!--<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !gender.valid }">
		<label for="usr">Gender<span class="star">*</span></label>
		<select [(ngModel)]="model.gender" name="gen" type="text" class="form-control" id="usr" #gender="ngModel" required>
			<option *ngFor="let g of Gender" value={{g.id}}>{{g.gender_name}}</option>
		</select>
		<span *ngIf="md.submitted && !gender.valid" class="help-block error">
				Please Select Gender
			</span>
	</div>-->

				<div class="col-3">
					<label for="usr">Blood Group</label>
					<select [(ngModel)]="model.blood_group" name="bgroup" type="text" class="form-control" id="usr" #bgroup="ngModel">
						<option [ngValue]="null">Select Blood Group</option>
						<option *ngFor="let b of bloodgroup" value={{b.id}}>{{b.blood_group}}</option>
					</select>

				</div>
				<div class="col-3">
					<label for="usr">Hobbies</label>
					<input [(ngModel)]="model.hobbies" name="hobbies" type="text" class="form-control" id="usr" #hobbies="ngModel">
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<label for="usr">Physical Status</label>
					<select [(ngModel)]="model.physical_status" name="physicalstatus" type="text" class="form-control" id="usr"
					 #physical_status="ngModel">
						<option [ngValue]="null">Select Physical Status</option>
						<option *ngFor="let status of physicalstatus" value={{status.id}}>{{status.physical_status}}</option>
					</select>
				</div>
				<div class="col-3">
					<label for="usr">Alternate Contact Number
					</label>
					<input [(ngModel)]="model.alternate_contact_number" name="Contact" type="text" class="form-control" (keypress)="numberchek($event)"
					 maxlength="10" id="usr" #Contact="ngModel">
					<span *ngIf="this.contact==true" class="help-block">Please specify valid contact no.</span>
				</div>
				<div class="col-3">
					<label for="usr">Date of Birth
					</label>

					<input [owlDateTimeTrigger]="dt3" [max]="max1" [min]="min1" class="form-control" name="date_of_birth" [(ngModel)]="model.date_of_birth"
					 #date_of_birth="ngModel" [owlDateTime]="dt3" placeholder="Select date of birth" (keypress)="datecheck($event)"
					 (focus)="dt3.open()">
					<owl-date-time [pickerType]="'calendar'" #dt3>
					</owl-date-time>




				</div>
			</div>



			<div class="row">
				<div class="col-3">
					<label for="usr">Functional Area</label>
					<select [(ngModel)]="model.fn_area_id" class="form-control" id="functionalarea" name="functional_area"
					#functional_area="ngModel">
					<option [ngValue]="null">Select functional area</option>
					<option *ngFor="let fnarea of fnarealists" value={{fnarea.fn_area_id}}>
					  {{fnarea.name }}
					</option>
				  </select>
				</div>
				<div class="col-3">
					<label for="usr">Locality</label>

					<angular2-multiselect class="form-control" [data]="dropdownList1" [(ngModel)]="model2.locality" name="locality"
					 [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="loadareas2($event)" #locality="ngModel">

					</angular2-multiselect>


				</div>
				
				<div class="col-3">
					<label for="usr">Fresher/Experience</label>
					<select [(ngModel)]="model.fresher_or_experience" name="fresherexp" type="text" class="form-control" id="usr" #fresher_or_experience="ngModel">
						<option *ngFor="let s of status" value={{s.id}}>{{s.fresher_or_exp}}</option>
		
					</select>
				</div>
				<div class="col-3" *ngIf="model.fresher_or_experience == 2">
					<label>Total Experience(In Years)</label>
					<select [(ngModel)]="model.total_exp_in_yrs" name="expyrs" type="text" class="form-control" id="usr" #expyrs="ngModel">
						<option [ngValue]="null">Select Experience</option>
						<option *ngFor="let year of expyears" value={{year.id}}>{{year.year}}</option>
					</select>

				</div>


			</div>

			<br>

			<br>
			<div class="row">
				<h5 class="dp">
					<b>Desired Profile Details</b>
				</h5>

				<br>
			</div>
			<hr>
			<div class="row">

				<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !prefered_jobtype.valid }">
					<label for="usr">Preferred Job Type
						<span class="help-block">*</span>
					</label>
					<select [(ngModel)]="model.prefered_jobtype" name="prefered_jobtype" type="text" class="form-control" id="usr"
					 #prefered_jobtype="ngModel" required>
						<option [ngValue]="null">Select Job Type</option>
						<option *ngFor="let jt of jobtype" value={{jt.id}}>{{jt.type}}</option>
					</select>
					<span *ngIf="md.submitted && !prefered_jobtype.valid" class="help-block">
						Please select preferred job type
					</span>

				</div>


				<!-- <div class="col-3" [ngClass]="{ 'has-error': md.submitted && !currentsalary_in_lakhs.valid }">
		<label>Current Salary(In Lakhs)<span class="star">*</span></label>

		<select [(ngModel)]="model.currentsalary_in_lakhs" name="currentsalaryl" type="text" class="form-control" id="usr" #currentsalary_in_lakhs="ngModel" required>
			<option *ngFor="let sal of salinlakhs" value={{sal.id}}>{{sal.salary}} Lakhs</option>
		</select> 
		<span *ngIf="md.submitted && !currentsalary_in_lakhs.valid " class="help-block error">
				Please Select Current Salary(In Lakhs)
			</span>

	</div> -->
				<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !preferred_location.valid }">
					<label for="usr">Preferred Job Location
						<span class="help-block">*</span>
					</label>
					<!-- <select  [(ngModel)]="model.preferred_location"  type="text"  name="joblocation" id="usr" #preferred_location="ngModel" 
			 class="form-control" required>
			 <option [ngValue]="null">Select Location</option>
			 <option *ngFor="let c of cities" value={{c.city_id}}>{{c.city_name}}</option>
			 </select> -->

					<angular2-multiselect class="form-control" name="preferred_location" [data]="citydropdownList" [(ngModel)]="model2.preferred_location"
					 [settings]="dropdownSettings1" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="loadcities($event)" (click)="loadcities($event)"
					 #preferred_location="ngModel" required>

					</angular2-multiselect>
			
					<span *ngIf="md.submitted && !preferred_location.valid" class="help-block">
						Please select preferred location
					</span>
				</div>
				
				<div class="col-3">
					<label for="usr">Employment Type</label>
					<select [(ngModel)]="model.employment_type" name="emptype" type="text" class="form-control" id="usr" #emptype1="ngModel">
						<option [ngValue]="null">Select Employment Type</option>
						<option *ngFor="let emp of emptype" value={{emp.id}}>{{emp.type}}</option>
					</select>
				</div>

			</div>
			<div class="row">

				<div class="col-3">
					<label>Current Salary

						
					</label>
					<div class="input-group">
						<input class="input-group-addon " type="text" placeholder="$" [(ngModel)]="model.currencycode" #currencycode="ngModel"
						 name="currencycode">

						<input type="text" name="current" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" [(ngModel)]="model.currentsalary" class="form-control" id="current" #current="ngModel"
						 maxlength="7"  (keypress)="currentsal($event)">

					</div>
				
				</div>


				<!-- Expected salary (Minimum) -->

				<div class="col-4 form-group">
					<label>Expected Salary(Min)
						<sup>
							(per annum)
						</sup>

						<span class="help-block">*</span>
					</label>
					<div class="input-group" [ngClass]="{ 'has-error': md.submitted && !min.valid }">

						<input class="input-group-addon " name="currencycode1" type="text" placeholder="$" [(ngModel)]="model.currencycode"
						 #currencycode1="ngModel" disabled>
						<input type="text" required name="min" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" [(ngModel)]="model.expectedsalary_min" class="form-control" id="min" #min="ngModel"
						 maxlength="7" (keypress)="expminsal($event)">

					</div>
					<!-- <span *ngIf="md.submitted && !min.valid" class="help-block">
						Please specify expected salary(min)

					</span> -->
					<span *ngIf="md.submitted && !min.value" class="help-block">
						Please specify expected salary(min)
					</span>
					<div *ngIf="md.submitted && min.value==0 && min.value" class="help-block">
						Please specify valid expected salary(min)
					</div>
				</div>


				<!-- Expected salary (Maximum) -->

				<div class="col-4 form-group">
					<label>Expected salary(Max)
						<sup>
							(per annum)
						</sup>
						<span class="help-block">*</span>
					</label>
					<div class="input-group" [ngClass]="{ 'has-error': md.submitted && !max.valid }">

						<input class="input-group-addon " name="currencycode1" type="text" placeholder="$" [(ngModel)]="model.currencycode"
						 #currencycode1="ngModel" disabled>
						<input type="text" required name="max" (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" [(ngModel)]="model.expectedsalary_max" class="form-control" id="max" #max="ngModel"
						 maxlength="7" (keypress)="expmaxsal($event)">

					</div>
					<!-- <span *ngIf="md.submitted && !max.valid" class="help-block">
						Please specify expected salary(max)
					</span>
					<br>
					<span *ngIf="this.salary==true" class="help-block">Max salary is less than min salary</span> -->
					<span [hidden] *ngIf="md.submitted && !max.value" class="help-block">
						Please specify expected salary(max)
					</span>
					<div [hidden] *ngIf="md.submitted && max.value==0 && max.value" class="help-block">
						Please specify valid expected salary(max)
					</div>
					<div [hidden] *ngIf="this.salary==true && !max.value==0" class="help-block">Max salary should be more than min
						salary</div>
				</div>



			</div>
			<div class="row">
			
				<div class="col-3">
					<label for="usr">Desired Shift</label>
					<select [(ngModel)]="model.desired_shift" name="dshift" type="text" class="form-control" id="usr" #shift="ngModel">
						<option [ngValue]="null">Select Desired Shift</option>
						<option *ngFor="let shift of dshift" value={{shift.id}}>{{shift.shift}}</option>

					</select>
				</div>

				<!--<div class="col-3" [ngClass]="{ 'has-error': md.submitted && !total_experience.valid }">
			<label for="usr">Total Experience<span class="star">*</span></label>
			<input [(ngModel)]="model.total_experience" name="exp" type="text" class="form-control" id="usr" #total_experience="ngModel" required>
			<span *ngIf="md.submitted && !total_experience.valid" class="help-block error">
					Please Enter Total Experience
				</span>

		
		</div>-->
				
				<!-- <div class="col-3">
					<label>(In Months)</label>
					<select [(ngModel)]="model.total_exp_in_months" name="expmonths" type="text" class="form-control" id="usr"
					 #total_exp_in_months="ngModel">
						<option [ngValue]="null">Select Experience</option>
						<option *ngFor="let month of expmonths" value={{month.id}}>{{month.month}}</option>
					</select>

				</div> -->

			</div>
			<div class="col-12">
				<button type="submit" class="btn btn-success pull-right">Save</button>
				<!--	<button type="submit" class="btn btn-warning" (click)="editdetails(model)">Edit</button>-->
			</div>

		</div>
	</form>
</div>
<br>

<br>

<div class="form-group ">
	<form name="languages" (ngSubmit)="pl.valid && add()" #pl="ngForm" novalidate>
		<div class="row">
			<h5 class="dp">
				<b>Languages</b>
			</h5>
		</div>

		<hr>
		<div class="row">
			<div class="col-5">
				<label for="usr">Languages Known <span class="help-block">*</span></label>
				<!-- <input [(ngModel)]="model1.language_name" name="language_name" type="text" class="form-control" id="usr" #language_name="ngModel"
			 required [typeahead]="languages" typeaheadOptionField="language_name"> -->
				<angular2-multiselect class="form-control" [data]="dropdownList" [(ngModel)]="model1.language_name" name="language_names"
				 [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
				 #language_names>

				</angular2-multiselect>

			</div>


			<div class="col-2  lang">
				<label>
					<input type="checkbox" [(ngModel)]="model1.is_speak" value="T" name="speak" #speak="ngModel" class="form-control"
					 id="usr1"> Speak
				</label>
			</div>
			<div class="col-2 lang">
				<label>
					<input type="checkbox" [(ngModel)]="model1.is_read" value="T" name="read" #read="ngModel" class="form-control" id="usr2">
					Read
				</label>
			</div>
			<div class="col-2 lang">
				<label>
					<input type="checkbox" [(ngModel)]="model1.is_write" value="T" name="write" #write="ngModel" class="form-control"
					 id="usr3"> Write
				</label>
			</div>

		</div>
		<div [hidden]="errmsg1==1" *ngIf="!model1.is_speak || !model1.is_read || !model1.is_write && pl.submitted" class="help-block">Please select atleast one check box</div>
		<div [hidden]="errmsg2==1" *ngIf="pl.submitted  && !language_names.valid" class="help-block">Please select language
			name</div>
		<div class="col-12">
			<button type="submit" class="btn btn-warning pull-right">Add</button>



		</div>
		<br>
	</form>
</div>



<table class="table" *ngIf="langsData.length>0">
	<thead>
		<tr>
			<th>Languages</th>
			<th>Speak</th>
			<th>Read</th>
			<th>Write</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let lang of langsData;let i=index">
			<td *ngFor="let l of languagesdisplay[i]">{{l.name}}</td>
			<td>
				<i *ngIf="!lang.is_speak" class="fa fa-close" style="color:red"></i>
				<i *ngIf="lang.is_speak" class="fa fa-check" style="color:green" aria-hidden="true"></i>
			</td>
			<td>
				<i *ngIf="!lang.is_read" class="fa fa-close" style="color:red"></i>
				<i *ngIf="lang.is_read" class="fa fa-check" style="color:green" aria-hidden="true"></i>
			</td>
			<td>
				<i *ngIf="!lang.is_write" class="fa fa-close" style="color:red"></i>
				<i *ngIf="lang.is_write" class="fa fa-check" style="color:green" aria-hidden="true"></i>
			</td>
			<td>
				<button class="btn btn-primary" (click)="edit(lang)">
					<em class="fas fa-edit"></em>
				</button>
			</td>
			<td>
				<button class="btn btn-danger" (click)="delete(lang,confirm)">
					<em class="fas fa-trash"></em>
				</button>
			</td>
		</tr>
	</tbody>
</table>


<div style="height:170px;  "> </div> 

<!--<div class="col-12">
		<button class="btn btn-primary" (click)="save()">Save</button>
		<button class="btn btn-danger">Cancel</button>
	</div>-->



<ng-template #confirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this language details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>