<div class="">
  <h2>Profile Details</h2>
  <hr>
  <div class="form-group row">
    <!-- <img  src="{{Apiurl}}/images/logo.png" translate="file" (change)="fileChangeEvent($event)" /> -->

    <!-- <image-cropper
        [imageChangedEvent]="imageChangedEvent"
        [maintainAspectRatio]="true"
        [aspectRatio]="4 / 3"
        [resizeToWidth]="128"
        format="png"
        (imageCropped)="imageCropped($event)"
        (imageLoaded)="imageLoaded()"
        (loadImageFailed)="loadImageFailed()"
    ></image-cropper> -->
    
    <img [src]="croppedImage" />
    <div *ngIf="userProfile?.length > 0">
    <div class="col-4">
      <label for="Current_Company">Current Company:</label>
      <input type="text" [(ngModel)]="userProfile.current_company" class="form-control" id="Current_Company">
    </div>
    <div class="col-4">
      <label for="Current_Designation">Current Designation:</label>
      <input type="text" [(ngModel)]="userProfile.current_designation" class="form-control" id="Current_Designation">
    </div>
    <div class="col-4">
      <label for="usr">Current Location:</label>
      <input type="text" [(ngModel)]="userProfile.current_location" class="form-control" id="usr">
    </div>
    <div class="col-4">
      <label for="Preferred_Location">Preferred Location:</label>
      <div class="form-group">
        <select  [(ngModel)]="userProfile.preferred_location" (ngModelChange)="onlocationChange($event)"  class="form-control" style="margin-top:8px !important;">
          <option *ngFor="let location of locationlist"  value= {{location.state_id}}>
            {{location.state_name }}
          </option>
        </select> 
        
        </div>
    </div>
    <div class="col-4">
      <label for="usr">Total Experience:</label>
      <input type="text"  [(ngModel)]="userProfile.total_experience" class="form-control" id="usr">
    </div>

    <div class="col-4">
      <label for="usr">Annual Salary:</label>
      <input type="text" [(ngModel)]="userProfile.annual_salary" class="form-control" id="usr">
    </div>
    <!-- <div class="col-4">
      <label for="Industry">Industry:</label>
      <select class="form-control select-option" required [(ngModel)]='userProfile.industry' (ngModelChange)='onOptionSelected($event)'>
        <option class='option' *ngFor='let option of options' [value]="option">{{option}}</option>
    </select>
    </div> -->
    <div class="col-4">
      <label for="usr">Functional Area:</label>
      <div class="form-group">
        <select  [(ngModel)]="userProfile.functional_area" (ngModelChange)="onChange($event)"  class="form-control" style="margin-top:8px !important;">
          <option *ngFor="let fnarea of fnarealist"  value= {{fnarea.fn_area_id}}>
            {{fnarea.name }}
          </option>
        </select> 
        
        </div>
    




    </div>
    <div class="col-4">
      <label for="Role">Role:</label>
      <select  [(ngModel)]="userProfile.role" (ngModelChange)="onroleChange($event)"  class="form-control" style="margin-top:8px !important;">
        <option *ngFor="let role of rolelist"  value= {{role.role_id}}>
          {{role.role_name }}
        </option>
      </select> 
    </div>
    <div class="col-4">
      <label for="Date_of_Birth">Date of Birth:</label>
      <!-- <my-date-picker name="Date_of_Birth " [options]="myDatePickerOptions"
      [(ngModel)]="userProfile.Date_of_Birth " required></my-date-picker> -->
      <input type="DOB" type="date" class=" form-control"  [(ngModel)]="userProfile.date_of_birth"/>
      <!-- <my-date-picker name="mydate" [options]="myDatePickerOptions"
                  [(ngModel)]="model" required></my-date-picker> -->
    </div>
    <div class="col-4">
      <label for="Gender">Gender:</label>				
<label class="form-check-inline">
  <!-- <input class="form-check-input" type="radio" name="mode" [value]="Male" [(ngModel)]="userProfile.Gender">Male -->
</label>
<label class="form-check-inline">
<!-- <input #m [checked]="userProfile.Gender == m.value" (click)="userProfile.Gender = m.value" name="Gender" value="male" type="radio">
<input #m [checked]="userProfile.Gender == m.value" (click)="userProfile.Gender = m.value" name="Gender" value="Female" type="radio"> -->
<span>	<input  type="radio" name="gender" value="Male" [(ngModel)]="userProfile.gender" />male</span>
<span><input  type="radio" name="gender" value="Female" [(ngModel)]="userProfile.gender" />Female</span>
  <!-- <input class="form-check-input"  type="radio" name="mode" [value]="Female">Female -->
</label>
    </div>
    <div class="col-4">
      <label for="Phone">Mobile:</label>
      <input type="text" [(ngModel)]="userProfile.phone" class="form-control" id="Phone"  minlength=10 maxlength=10>
    </div>
    <!-- <div class="col-4">
      <label for="Email">Email:</label>
      <input type="Email" [(ngModel)]="userProfile.email" class="form-control" id="Email">
    </div> -->
    <div class="col-4">
      <label for="Permanent_Address">Permanent Address:</label>
      <input type="text" [(ngModel)]="userProfile.permanent_address" class="form-control" id="Permanent_Address">
    </div>
    <div class="col-4">
      <label for="Hometown">Home Town/City:</label>
      <input type="text" [(ngModel)]="userProfile.hometown" class="form-control" id="Hometown">
    </div>
    <div class="col-4">
      <label for="Pin_Code">Pincode:</label>
      <input type="text" [(ngModel)]="userProfile.pin_code"  class="form-control" id="Pin_Code">
    </div>
    <div class="col-4">
      <label for="Marital_Status">Marital Status:</label>
      <span>	<input  type="radio" name="Marital" value="Single" [(ngModel)]="userProfile.marital_status" />Single</span>
      <span><input  type="radio" name="Marital" value="Married" [(ngModel)]="userProfile.marital_status" />Married</span>
    </div>
    <div class="col-12">
      <label for="Resume_Headline ">Resume Headline:</label>
      <input type="text" [(ngModel)]="userProfile.resume_headline" class="form-control" id="Resume_Headline">
    </div>
    <div class="col-12">
      <label for="Key_Skills">Key Skills:</label>
      <textarea class="form-control" [(ngModel)]="userProfile.key_skills" rows="6"></textarea>
    </div>
  </div>
  <hr>
  <div class="">
    <button class="btn btn-primary" (click)="saveprofile()">Save</button>
    <button class="btn btn-danger">Cancel</button>
  </div>

</div>
  