<div class="video">
  <h3><b>Video Resume</b></h3>
</div>

<hr>


<br>
<div clas="row">



  <form (ngSubmit)="v.valid " #v="ngForm" novalidate>
    <div class="form-group" [ngClass]="{ 'has-error': v.submitted && !video1.valid }">
      Select your video Resume
      <input type="file" class="form-control col-md-8" [(ngModel)]="video" name="video1" #video1="ngModel" (change)="checkVideo($event)" />
      <span [hidden]="videoname==false" *ngIf="v.submitted && video1.valid " class="help-block message">Please Select
        Video File</span>
      <span *ngIf="v.submitted && errVideoType==true" class="help-block message">
        Invalid Video Format
      </span>
      <span *ngIf="v.submitted && !errVideoType && errVideoSize" class="help-block">
        Video Size must be less than 500MB
      </span>

      <!-- <span [hidden]="errImageSize && !errImageType" *ngIf="v.submitted && !errImageSize && video && errImageType" class="help-block">Please Select Video File less than 500MB</span>
        <span [hidden]="!errImageSize && errImageType" *ngIf="v.submitted && !errImageType && video && !errImageSize" class="help-block">Please Select Video File of type .mp4/.ogg/.mov</span> -->
      <div> <button type="submit" class="btn btn-primary pull-right" (click)="post()" style="margin-left: 50px;float: right;">Upload</button></div>
    </div>

    <br><br>
  </form>
</div>
<ng4-loading-spinner> </ng4-loading-spinner>
<div class="video" *ngFor="let n of videoresume;let i=index">
  <button class="btn btn-danger pull-right" (click)="delete(n.id,confirm)"><i class="fas fa-trash"></i></button>
  <video width="570" height="400" controls controlsList="nodownload">
    <source src="{{Apiurl}}/videoresume/{{n.video}}">
  </video>
</div>
<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete your Video Resume<i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>

</ng-template>