.loginbg{
	background: url(/assets/images/loginbg.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.Accepttc:hover{
	text-decoration: underline;
	color: #0067aa;

}
.Accepttc{
	cursor: pointer;

}
.terms{
	margin-right:28px;
}
.tcc{
	margin-top: -4px !important;
}
.logo{
	background: url(/assets/images/logo.png) no-repeat #fff;
    width: 100%;
    height: 85px;
    margin: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0px;
}
.login-container{
	background: #fff;
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	top: 50%;
	margin-top:-120px;
	text-align: center;
	padding: 20px; 
}

.form-control{
	margin:10px 0;
}
h1{
	color: #0067aa;
}
a{
	margin:6px 0; 
}
a.fb{
	background: url(/assets/images/fb.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
a.gmail{
	background: url(/assets/images/gmail.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
.loginor{
	position: relative;
	margin:10px; 
}
.loginor p{
	position:absolute;
	left:50%;
	padding: 5px;
	margin-top:-35px;
	margin-left:-5px;
	background: #fff;
}
.forgotpassword{
	float: left;
	font-size: 11px;
	margin: 10px 0;
	cursor: pointer;
}
.btn-primary{
	background: #0067aa;
	display: block;
	width: 100%;
	padding: 10px;
}
.registration-container{
	background: #fff;
	width: 600px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	margin-top:100px;
	text-align: center;
	padding: 20px; 
}
.registration-container h1 {
    font-size: 16px !important;
}
.registration-container h1 a{
	font-size: 12px !important;
	color: #000;
	cursor: pointer;
}
.login-main a{
	color: #0067aa;
	font-weight: bold;
}

.log{
	color: #0067aa;
	font-weight: bold;
}
.log:hover{
	cursor: pointer;
	text-decoration: underline;

}
.input-group-addon
{
    width: 40px;
    border: 1px solid black;
    font-size: 14px;
   text-align: center;
}

.no-padding{
	padding: 0px;
}
.padding-left-2{
	padding: 0 0 0 2px;
}
.margin-0{
	margin:0px;
}

.message{
	color: #da534d;
	float:left;
	margin:-10px 0px 3px 6px;
	font-size:12px;
}


#button1{
    width: 300px;
    height: 40px;
}
#button2{
    width: 300px;
    height: 40px;
}
#container{
    text-align: center;
}
.button{

	border: none;
	background: none;
	height: 20px;
	} 
	
	

	
	
	footer{
		background: #fff;
		position: fixed;
		bottom: 0;
		left: 0px;
		width: 100%;
		padding: 15px 5px 0 10px !important;
		border-top:1px #ccc solid;
		line-height: 24px;
		font-size: 12px;
	
	}
	
	footer  a{
		margin: 0 10px;
		color: #333;
		float: left;
	}

	@media only screen and (max-width: 600px) {
		.registration-container{
			width: 100%;
			position: absolute;
			top:110px;
			left: 0;
			margin: 0px;
		}
		.left-link{
			float: none;
			width: 100%;
			text-align: center;
		}
		button.gmail , button.fb{
			width: 270px !important;
			display: inline-block;
		}
	  }