<div class="loginbg">
  <div class="registration-container">
    <div class="logo"></div>

    <h1>

      <button class=" pull-right button" (click)="login()">
        <h6 class="log">Go to Login</h6>
      </button>
      <div class="clearfix"></div>
    </h1>
    <hr>
    <tabset class="userreg">
      <tab heading="User Registration" (select)="selectTab(3)">



        <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
          <div class="row">

            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
                <input type="text" placeholder="Firstname" class="form-control" name="firstName" [(ngModel)]="model.firstName"
                  #firstName="ngModel" required (keypress)="Firstnamecheck($event)" minlength="3" maxlength="40" />
                <div *ngIf="f.submitted && !firstName.valid && !model.firstName " class="help-block message" [hidden]=model.firstName>Please
                  specify firstname</div>
                  <div class="message" *ngIf="f.submitted && firstName.errors?.minlength">Name should be min of 3
                    characters</div>
              </div>

             
            </div>



            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">


                <input type="text" placeholder="Lastname" class="form-control" name="lastName" [(ngModel)]="model.lastName"
                  (keypress)="Lastnamecheck($event)" #lastName="ngModel" required maxlength="40" />
                <div *ngIf="f.submitted && !lastName.valid" class="help-block message ">Please specify lastname</div>
              </div>
            </div>
          </div>



          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div class="clearfix"></div>
              <div [ngClass]="{ 'has-error': f.submitted && !dob.valid }">
                <input [owlDateTimeTrigger]="dt3" [max]="max" [min]="min" class="form-control" name="dob" [(ngModel)]="model.dob"
                  #dob="ngModel" [owlDateTime]="dt3" placeholder="Select date of birth" (keypress)="datecheck($event)"
                  (focus)="dt3.open()" required>
                <owl-date-time [pickerType]="'calendar'" #dt3>
                </owl-date-time>
                <div *ngIf="f.submitted && !dob.valid" class="help-block message">Please specify date of birth</div>
              </div>
            </div>



            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="text" placeholder="Username" class="form-control" name="username" [(ngModel)]="model.username"
                  (blur)="userNameChecking($event)" #username="ngModel" (keypress)="Keyname2($event)" required
                  minlength="3" maxlength="40" />
                <div *ngIf="f.submitted && !username.valid &&!model.username " class="help-block message">Please
                  specify username</div>
                <div *ngIf="f.submitted && username.errors?.minlength " class="help-block message">Name should be min
                  of 3 characters</div>
                <div *ngIf="uexsit" class="help-block  message">Username already exist</div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !gender.valid }">

                <select [(ngModel)]="model.gender" name="gender" type="text" class="form-control select-option" id="usr"
                  #gender="ngModel" required>

                  <option [ngValue]='undefined'>
                    Select gender
                  </option>
                  <option *ngFor="let g of Gender" value={{g.id}}>{{g.gender_name}}</option>
                </select>

                <div *ngIf="f.submitted && !gender.valid" class="help-block  message">Please select gender</div>

              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !currentworkingstatus.valid }">

                <select class="form-control select-option" name="currentworkingstatus" [(ngModel)]='model.currentworkingstatus'
                  #currentworkingstatus="ngModel" required>
                  <option [ngValue]="null" >Current working status</option>
                  <option value="1">Fresher</option>
                  <option value="2">Experience</option>
                </select>

                <div *ngIf="f.submitted && !currentworkingstatus.valid" class="help-block  message">Please select
                  current working status</div>

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !countr.valid}">
                <select class="form-control select-option" [(ngModel)]="model.country" name="country" #countr="ngModel"
                   (change)="onuserstate($event.target.value)" required>
                  <option [ngValue]='null'>Select country</option>

                  <option class="option" *ngFor="let country of countries" value={{country.country_id}}>{{country.country_name}}</option>
                </select>
              </div>
              <div *ngIf="f.submitted && !countr.valid" class="help-block message">Please select country</div>
            </div>
            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': !state.valid}">
                <select class="form-control select-option" [(ngModel)]="model.state" name="state" #state="ngModel"
                  (change)="onSelect2($event.target.value)">
                  <option [ngValue]="null">Select state</option>
                  <option class="option" *ngFor="let state of states" value={{state.state_id}}>{{state.state_name}}</option>
                </select>
              </div>
              <div *ngIf="f.submitted && !state.valid && !model.state " class="help-block message">Please select state</div>

            </div>
            <div class="col-md-6 col-sm-12">
              <select class="form-control" [(ngModel)]="model.city" name="city" #city="ngModel">
                <option [ngValue]="null">Select city</option>
                <option *ngFor="let city of cities" value={{city.city_id}}>{{city.city_name}}</option>
              </select>
              <div *ngIf="f.submitted && !state.valid && !model.state " class="help-block message">Please select city</div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !functionalarea.valid}">

                <select [(ngModel)]="model.functional_area" class="form-control" id="functionalarea" name="functionalarea"
                  #functionalarea="ngModel" style="margin-top:8px !important;" required>
                  <option [ngValue]="null">Select functional area</option>
                  <option *ngFor="let fnarea of fnarealists" value={{fnarea.fn_area_id}}>
                    {{fnarea.name }}
                  </option>
                </select>
                <div *ngIf="f.submitted && !functionalarea.valid" class="help-block message">
                  Please select functional area</div>
              </div>
            </div>
          </div>




          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <div class="row col-12 no-padding margin-0" [ngClass]="{ 'has-error': f.submitted && !mobile.valid }">
                  <div class="col-2 no-padding">
                    <input class="form-control" type="text" placeholder="" [(ngModel)]="model.phonecode" #phonecode="ngModel"
                      name="phonecode" disabled>
                  </div>
                  <div class="col-10 no-padding padding-left-2">
                    <input type="text" placeholder="Mobile(XXXXXXXXXX)" class="form-control" name="mobile" [(ngModel)]="model.mobile"
                      #mobile="ngModel" required (keypress)="keyPress($event)" (change)="checkphone($event)" minlength=8
                      maxlength=15 />
                  </div>
                  <div *ngIf="f.submitted && !mobile.valid && !model.mobile" class="help-block message ">Please enter
                    valid mobile number</div>
                  <div *ngIf="f.submitted && mobile.errors?.minlength" class="help-block message ">Mobile number is
                    invalid</div>
                  <div *ngIf="mexsit" class="help-block message ">Mobile number already exist</div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !email.valid }">
                <!-- <div *ngIf='user.email==undefined';else editemail> -->
                  <div *ngIf="fbuser" >      <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                  required  [disabled]="fbuser" placeholder="xyz@example.com" email (blur)="emailCheck1($event)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,3}$"
                   />
                </div>
                <div *ngIf="!fbuser">
                  <input  type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                  required   placeholder="xyz@example.com" email (blur)="emailCheck1($event)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,3}$"
                   />
              </div>
                <!-- <div #editemail>
                    <input type="email" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel"
                    [disabled]="emialUser"   required placeholder="xyz@example.com" email (blur)="emailCheck1($event)" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,3}$"/>
                </div> -->
                <div *ngIf="f.submitted&& email.errors && email.errors.required" class="help-block message"> Please
                  enter a valid email</div>
                <div class="message" *ngIf="f.submitted && email.errors?.pattern">Please enter valid email pattern</div>
                <div *ngIf="emexsit1 && model.email!=''" class="help-block message ">Email already exist</div>
              </div>
            </div>
        
          </div>
          <!--   <show-hide-password size="lg" icon="entypo">
            <input type="password" name=... >pattern="(?=.*\d)(?=.*[!@#$%*])(?=.*[A-Z]).{8,}" -- "password.errors && password.errors.pattern"
          </show-hide-password> -->
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !password.valid }">

                <input type="password" placeholder="Password" class="form-control " name="password" [(ngModel)]="model.password"
                  #password="ngModel"  pattern="(?=.*\d)(?=.*[!@#$%*])(?=.*[A-Z]).{8,}" maxlength="18" passwordToggle
                  (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()"
                  required />

                <div *ngIf="f.submitted && !model.password" class="help-block message ">Please specify password</div>
              </div>
              <div class="message" *ngIf="password.errors && password.errors.pattern">
             Password must contain 8 characters including 1
                capital letter,1 special character and a number </div>
                

            </div>
            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': f.submitted && !repassword.valid}">


                <input type="password" placeholder="Confirm password" class="form-control" name="repassword"
                  [(ngModel)]="model.repassword" #repassword="ngModel" maxlength="18" passwordToggle (cut)="$event.preventDefault()"
                  (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" required />

                <div *ngIf="f.submitted && !repassword.valid" class="help-block message ">Please confirm password </div>
              </div>
              <div id="Errmsg" class="message" *ngIf="model.errmsg && model.repassword!=''">Password mismatch</div>
            </div>
          </div>


          <div>
          </div>




          <div *ngIf="model.functional_area == 50">
            <div [ngClass]="{ 'has-error':  !other.valid}">
              <input type="text" placeholder="Other functional area" class="form-control" name="other" [(ngModel)]="model.other"
                (keypress)="Keyname($event)" #other="ngModel" required />
              <div *ngIf="!other.valid" class="help-block message">
                Please select functional area</div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 col-sm-12" style="font-size: 12px;text-align:left">
              <div class="terms">
                  <div [ngClass]="{ 'has-error': f.submitted && !tc.valid}">
<input type="checkbox" [(ngModel)]="model.tc" name="tc" required #tc="ngModel" >&nbsp;&nbsp;<a [routerLink]="['/privacy']" target='_blank' class="Accepttc">Accept Terms and Conditions</a>
</div>
<div class="clearfix"></div>

<div *ngIf="f.submitted && !tc.valid" class="help-block message tcc">
    Please Accept Terms and Conditions</div>
    </div>
</div>
</div>


          <div>
            <!-- <button class="btn btn-primary">Register</button> -->
            <button type="submit" class="btn btn-primary pull-right" (click)="openModal(otptemplate)">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <!-- [disabled]="f.form.invalid"<a [routerLink]="['/login']" class="btn btn-link">Cancel</a> -->
          </div>

        </form>


      </tab>

      <ng-template #otptemplate class="modal-content modal-contenta">
        <form (ngSubmit)="pd.form.valid && verifyotp(otp)" name="verifyotp" #pd="ngForm">

          <div class="modal-header">
            <!-- <button type="button" class="pull-left closeButton" aria-label="close" (click)="closeModalotp(otptemplate)">
              <span aria-hidden="true">&times;</span>
            </button> -->
          </div>
          <div class="text-center"> Please check your mobile and enter the OTP</div>
          <div class="modal-body offset-md-3 col-md-6 col-sm-12">

            <div class="form-group">
              <input type="text" placeholder="Enter OTP " class="form-control" (keypress)="keyPress($event)" name="otp"
                [(ngModel)]="otp" maxlength="6" required />

              <div>
                <button type="button"  [disabled]="!otp" class="btn btn-primary" (click)="verifyotp(otp)">Verify</button>
                <button type="button" [disabled]="count>=4" class="btn btn-primary" (click)="sendotp()">Resend Otp</button>
                <span *ngIf="count>=4">You have tried 3 times please recheck your phone number</span>
              </div>

              <div *ngIf="pd.submitted" class="help-block message ">OTP is required</div>
              <div *ngIf="!otpvarify && pd.submitted" class="help-block message ">OTP not verified</div>
            </div>
          </div>
        </form>
      </ng-template>

      <tab heading="Employer Registration" (select)="selectTab(4)">
        <form name="empf" (ngSubmit)="empf.form.valid && empregister()" #empf="ngForm" novalidate>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': f.submitted && !companyname.valid }">

                <input type="text" placeholder="Company name" class="form-control" name="companyname" [(ngModel)]="empmodel.companyname"
                  #companyname="ngModel" minlength="3" maxlength="40" required />
                <div *ngIf="empf.submitted && !companyname.valid.required && !empmodel.companyname" class="help-block message">Please
                  specify company name</div>
              </div>
              <div class="message" *ngIf="companyname.errors?.minlength">Company name should be minimum of 3 characters</div>

            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !Companywebsite.valid }">

                <input type="url" placeholder="Company website" class="form-control" name="Companywebsite" [(ngModel)]="empmodel.Companywebsite"
                  pattern="(http://|https://)|(www\.)([^\.]+)\.(\w{2}|(com|net|org|edu|int|mil|gov|arpa|biz|aero|name|coop|info|pro|museum|COM|NET|ORG|EDU|INT|MIL|GOV|ARPA|BIZ|AERO|NAME|COOP|INFO|PRO|MUSEUM))$"
                  #Companywebsite="ngModel" maxlength="40" required (keypress)="Keyname2($event)" />
                <div *ngIf="empf.submitted && !Companywebsite.valid && !empmodel.Companywebsite" class="help-block message">Please
                  specify company website</div>
                <div *ngIf="Companywebsite.errors?.pattern && empmodel.Companywebsite!=''" class="help-block message">Enter
                  valid company website </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': empf.submitted && !countryy.valid }">
                <select class="form-control select-option" [(ngModel)]="empmodel.country1" name="country" #countryy="ngModel"
                   (change)="onSelect1($event.target.value)" required>
                  <option [ngValue]="null">Select country</option>
                  <option class="option" *ngFor="let country of countries" value={{country.country_id}}>{{country.country_name}}

                  </option>
                </select>
                <div *ngIf="empf.submitted && !countryy.valid" class="help-block message">Please select country</div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !state.valid }">
                <select class="form-control" [(ngModel)]="empmodel.state1" name="state" #state="ngModel" (change)="onSelect4($event.target.value)"
                  required>
                  <option [ngValue]="null">Select state</option>
                  <option class="option" *ngFor="let state of states4" value={{state.state_id}}>{{state.state_name}}</option>
                </select>
                <div *ngIf="empf.submitted && !state.valid" class="help-block message">Please select State</div>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div>
                <select class="form-control" [(ngModel)]="empmodel.city1" name="city" #city="ngModel">
                  <option [ngValue]="null">Select city</option>
                  <option *ngFor="let city of cities1" value={{city.city_id}}>{{city.city_name}}</option>
                </select>
                <div *ngIf="empf.submitted && !state.valid" class="help-block message">Please select city</div>
              </div>

            </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !functionalarea1.valid}">

                <select [(ngModel)]="empmodel.functional_area1" class="form-control" id="functionalarea" name="functionalarea"
                  #functionalarea1="ngModel" style="margin-top:8px !important;" required>
                  <option [ngValue]="null">Select functional area</option>
                  <option *ngFor="let fnarea of fnarealists" value={{fnarea.fn_area_id}}>
                    {{fnarea.name }}
                  </option>
                </select>
                <div *ngIf="empf.submitted && !functionalarea1.valid" class="help-block message">
                  Please select functional area</div>
              </div>

            </div>
          </div>
        
          <div class="row">
              <div class="col-md-6 col-sm-12">

                  <div [ngClass]="{ 'has-error': empf.submitted && !username.valid }">
                    <input type="text" placeholder="Name" class="form-control" name="firstName" [(ngModel)]="empmodel.firstName"
                      #firstName="ngModel" required (keypress)="Firstnamecheck($event)" minlength="3" maxlength="40" />
                    <div *ngIf="empf.submitted && !firstName.valid.required" class="help-block message" [hidden]=empmodel.firstName>Please
                      specify name</div>
                  </div>
    
                  <div class="message" *ngIf="empf.submitted && firstName.errors?.minlength">Name should be min of 3
                    characters</div>
                </div>
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !Designation.valid }">

                <input type="text" placeholder="Designation" class="form-control" name="Designation" [(ngModel)]="empmodel.Designation"
                  minlength="2" maxlength="100" #Designation="ngModel" (keypress)=" DesignationCheck($event)" required />
                <div *ngIf="empf.submitted && !Designation.valid" class="help-block message">Please specify your
                  designation</div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !hrname.valid }">

                <input type="text" placeholder="Username" class="form-control" name="hrname" [(ngModel)]="empmodel.hrname"
                  (keypress)="Keyname1($event)" (keyup)="userNameCheckingemp($event)"
                  #hrname="ngModel" minlength="3" maxlength="40" required />
                 
                <div *ngIf="empf.submitted && !hrname.valid && !empmodel.hrname" class="help-block message">Please
                  specify HR name</div>
                <div class="message" *ngIf="hrname.errors?.minlength"> Name should be minimum of 3 characters</div>
                <div *ngIf="uexsitemp" class="help-block  message">Username already exist</div>

              </div>

            </div>


            <div class="col-md-6 col-sm-12">

              <div [ngClass]="{ 'has-error': empf.submitted && !Companymailid.valid }">

                <input type="email" placeholder="Company email" class="form-control" name="Companymailid" [(ngModel)]="empmodel.Companymailid"
                  #Companymailid="ngModel" pattern="[a-zA-Z0-9._%+-]+@(?!gmail.com)(?!google.com)(?!yahoo.com)(?!hotmail.com)(?!ymail.com)(?!yahoomail.com)[a-zA-Z0-9.-]+\.[a-z]{3,3}$"
                  required (change)="emailCheck($event)" maxlength="40" />
                <div *ngIf="empf.submitted && Companymailid.errors?.required" class="help-block message">Please specify
                  company email</div>

              </div>
              <div class="message" *ngIf="Companymailid.errors?.pattern">Enter official email</div>
              <div *ngIf="emexsit && empf.Companymailid!=''" class="help-block message">email already exist</div>


            </div>

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !gender1.valid }">

                <select [(ngModel)]="empmodel.gender" name="gender1" type="text" class="form-control select-option" id="usr1"
                  #gender1="ngModel" required>

                  <option [ngValue]='null'>
                    Select gender
                  </option>
                  <option *ngFor="let g of Gender" value={{g.id}}>{{g.gender_name}}</option>
                </select>
                <div *ngIf="empf.submitted && !gender1.valid" class="help-block  message">Please select gender</div>
              </div>
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="input-group">
                <div class="row col-12 no-padding margin-0" [ngClass]="{ 'has-error': empf.submitted && !mobile.valid }">
                  <div class="col-2 no-padding">
                    <input class="form-control" type="text" placeholder="" [(ngModel)]="empmodel.phonecode" #phonecode="ngModel"
                      name="phonecode" disabled>
                  </div>
                  <div class="col-10 no-padding padding-left-2">
                    <input type="text" placeholder="Mobile(XXXXXXXXXX)" class="form-control" name="cphonenumber"
                      [(ngModel)]="empmodel.cphonenumber" #cphonenumber="ngModel" required (keypress)="keyPress($event)"
                      (change)="checkphone($event)" minlength=8 maxlength=15 />
                  </div>
                  <div *ngIf="empf.submitted && !cphonenumber.valid && !empmodel.cphonenumber" class="help-block message message">Please
                    enter valid mobile number</div>
                  <div *ngIf="empf.submitted && cphonenumber.errors?.minlength" class="help-block message message">Moblie
                    number is invalid</div>
                  <div *ngIf="mexsit" class="help-block message message">Mobile number already exist</div>

                </div>
              </div>
            </div>




        

          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !empPassword.valid }">

                <input type="password" placeholder="Password" class="form-control" name="empPassword" [(ngModel)]="empmodel.empPassword"
                  #empPassword="ngModel" pattern="(?=.*\d)(?=.*[!@#$%*])(?=.*[A-Z]).{8,}" maxlength="18" passwordToggle
                  (cut)="$event.preventDefault()" (copy)="$event.preventDefault()" (paste)="$event.preventDefault()"
                  required />
                <div *ngIf="empf.submitted && !empmodel.empPassword" class="help-block message">Please specify password</div>
                <div class="message" *ngIf="empPassword.errors && empPassword.errors.pattern"> Password must contain 8 characters including 1
                    capital letter,1 special character and a number </div>
              </div>
            </div>   
            <div class="col-md-6 col-sm-12">
              <div [ngClass]="{ 'has-error': empf.submitted && !repassword.valid}">

                <input type="password" placeholder="Confirm password" class="form-control" name="RetypePassword"
                  [(ngModel)]="empmodel.RetypePassword" #RetypePassword="ngModel" maxlength="18" passwordToggle (cut)="$event.preventDefault()"
                  (copy)="$event.preventDefault()" (paste)="$event.preventDefault()" required />
                <div *ngIf="empf.submitted && !empPassword.valid" class="help-block message message">Please specify
                  confirm password</div>
              </div>
              <div id="Errmsg" class="message" *ngIf="empmodel.errmsg && empmodel.RetypePassword!=''">Password mismatch</div>
            </div>
          </div>

          <div class="row">
              <div class="col-md-6 col-sm-12">
                <div class="terms">
                    <div [ngClass]="{ 'has-error': empf.submitted && !tccd.valid}">
  <input type="checkbox" [(ngModel)]="empmodel.tcc" name="tccd" required #tccd="ngModel" >&nbsp;&nbsp;<a [routerLink]="['/privacy']" target='_blank' class="Accepttc">Accept Terms and Conditions</a>
  </div>
  <div class="clearfix"></div>
  
  <div *ngIf="empf.submitted && !tccd.valid" class="help-block message tcc">
      Please Accept Terms and Conditions</div>
      </div>
  </div>
  </div>
  

          <!-- <button class="btn btn-primary">Register</button> -->
          <button type="submit" class="btn btn-primary pull-right" [disabled]="!empmodel" (click)="openModalverifyotp(otpverifytemplate)">Register</button>
          <!---ga [disabled]="empf.form.invalid" -->

        </form>
      </tab>

    </tabset>
  </div>


</div>

<ng-template #otpverifytemplate class="modal-content modal-contenta">
  <form (ngSubmit)="pd.form.valid && verifyotp(otp)" name="verifyotp" #pd="ngForm">

    <div class="modal-header">
      <!-- <button type="button" class="pull-left closeButton" aria-label="close" (click)="closeModalotp(otptemplate)">
        <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="text-center"> Please check your mobile and enter the OTP</div>
    <div class="modal-body offset-md-3 col-md-6 col-sm-12">

      <div class="form-group">
        <input type="text" placeholder="Enter OTP " class="form-control" (keypress)="keyPress($event)" name="otp"
          [(ngModel)]="otp" maxlength="6" required />
        <!-- <button type="button" [disabled]="!otp" class="btn btn-primary" (click)="sendotp()">Resend Otp</button>
        <button type="button" [disabled]="!otp" class="btn btn-primary" (click)="verifyotp(otp)">Verify</button> -->

        <div>
            <button type="button"  [disabled]="!otp" class="btn btn-primary" (click)="verifyotp(otp)">Verify</button> 
            <button type="button" [disabled]="count>=4" class="btn btn-primary" (click)="sendotp()">Resend Otp</button>
            <span *ngIf="count>=4">You have tried 3 times please recheck your phone number</span>
          </div>

        <div *ngIf="pd.submitted" class="help-block message ">OTP is required</div>
        <div *ngIf="!otpvarify && pd.submitted" class="help-block message ">OTP not verified</div>
      </div>
    </div>
  </form>
</ng-template>
