<div *ngIf="!isrecruter">
  <div class="row dashboard-details">
    <div class="col-3">
      <li [routerLink]="['/profile-details']" routerLinkActive="active-link"><a>
          <div class="card-group">

            <div class="card bg-primary">

              <div class="card-body text-center">

                <div class="cam">

                  <i class="fas fa-camera-retro white"></i>

                </div>
                <p class="card-text title">Snapshot</p>
                <p class="card-text">View your complete profile</p>

              </div>

            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/employment-details']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">

                <div class="cam">
                  <i class="fas fa-user-tie"></i>
                </div>
                <p class="card-text title">Employer Designation</p>
                <p class="card-text">Add/View Your employment details</p>


              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/skill']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-pencil-ruler"></i>
                </div>
                <p class="card-text title">Skills</p>
                <p class="card-text">Add/View Your skill details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/education']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-book"></i>

                </div>
                <p class="card-text title">Education</p>
                <p class="card-text">Add/View Your educational details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
  <!--  second row -->
  <div class="row dashboard">
    <div class="col-3">
      <li [routerLink]="['/myevents']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <p class="card-text title">My Events</p>
                <p class="card-text">Update/View your events</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/myadvices']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="far fa-comments"></i>
                </div>
                <p class="card-text title">My Advices</p>
                <p class="card-text">Update/View your advices</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/charity']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-donate"></i>
                </div>
                <p class="card-text title">My Charity</p>
                <p class="card-text">Update/View your charity</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/profile-moredetails']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-primary ">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-info-circle"></i>
                </div>
                <p class="card-text title">More Details</p>
                <p class="card-text">Update your profile</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
  <!-- Third row -->
  <div class="row dashboard">
    <div class="col-3">
      <li [routerLink]="['/myposts']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-clipboard-check"></i>

                </div>
                <p class="card-text title">My Job Posts</p>
                <p class="card-text">Update/View your job posts</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/videoresume']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-file-video"></i>

                </div>
                <p class="card-text title">Video Resume</p>
                <p class="card-text">Update/View your video resume</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/myfriends']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="far fa-handshake"></i>
                </div>
                <p class="card-text title">My Connections</p>
                <p class="card-text">View your connections list</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/interestedevents']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-calendar"></i>

                </div>
                <p class="card-text title">Interested Events</p>
                <p class="card-text">View the events you are interested in</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
  <!-- Fourth Row -->
  <div class="row dashboard">
    <div class="col-3" *ngIf="!isrecruter">
      <li [routerLink]="['/appliedjobs']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-envelope-open-text"></i>
                </div>
                <p class="card-text title">Applied Jobs</p>
                <p class="card-text">View the jobs you have applied</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/projects']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-secondary">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-tasks"></i>
                </div>
                <p class="card-text title">Projects</p>
                <p class="card-text">Add/View the projects you have done</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/achievements']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-medal"></i>

                </div>
                <p class="card-text title">Achievements</p>
                <p class="card-text">Add/View your achievements</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/certifications']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-file-alt"></i>

                </div>
                <p class="card-text title">Certifications</p>
                <p class="card-text">Add/View your certifications</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
  <div class="row dashboard">
    <div class="col-3" *ngIf="!isrecruter">
      <li [routerLink]="['/gallery']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-images"></i>

                </div>
                <p class="card-text title">My Gallery</p>
                <p class="card-text">Add/View your photos</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3" *ngIf="isrecruter">
      <li [routerLink]="['/companydetails']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-building"></i>

                </div>
                <p class="card-text title">Company Details</p>
                <p class="card-text">View your company details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
</div>
<div *ngIf="isrecruter">
  <!-- <div class="row dashboard-details">
    <div class="col-3">
      <li [routerLink]="['/profile-details']" routerLinkActive="active-link"><a>
          <div class="card-group">

            <div class="card bg-primary">

              <div class="card-body text-center">

                <div class="cam">

                  <i class="fas fa-camera-retro white"></i>

                </div>
                <p class="card-text title">Snapshot</p>
                <p class="card-text">View your complete profile</p>

              </div>

            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/employment-details']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">

                <div class="cam">
                  <i class="fas fa-user-tie"></i>
                </div>
                <p class="card-text title">Employer Designation</p>
                <p class="card-text">Add/View Your employment details</p>


              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/skill']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-pencil-ruler"></i>
                </div>
                <p class="card-text title">Skills</p>
                <p class="card-text">Add/View Your skill details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/education']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-book"></i>

                </div>
                <p class="card-text title">Education</p>
                <p class="card-text">Add/View Your educational details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div> -->
  <!--  second row -->
  <div class="row dashboard">
    <div class="col-3">
      <li [routerLink]="['/companydetails']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-building"></i>

                </div>
                <p class="card-text title">Company Details</p>
                <p class="card-text">View your company details</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/projects']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-tasks"></i>
                </div>
                <p class="card-text title">Company Projects</p>
                <p class="card-text">Add/View the projects you have done</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/myposts']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-clipboard-check"></i>

                </div>
                <p class="card-text title">My Job Posts</p>
                <p class="card-text">Update/View your job posts</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/myevents']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="fas fa-calendar-alt"></i>
                </div>
                <p class="card-text title">My Events</p>
                <p class="card-text">Update/View your events</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>  
  </div>
  <!-- Third row -->
  <div class="row dashboard">
      <div class="col-3">
          <li [routerLink]="['/myadvices']" routerLinkActive="active-link"><a>
              <div class="card-group">
                <div class="card bg-primary">
                  <div class="card-body text-center">
                    <div class="cam">
                      <i class="far fa-comments"></i>
                    </div>
                    <p class="card-text title">My Advices</p>
                    <p class="card-text">Update/View your advices</p>
                  </div>
                </div>
              </div>
            </a></li>
        </div>
        <div class="col-3">
          <li [routerLink]="['/charity']" routerLinkActive="active-link"><a>
              <div class="card-group">
                <div class="card bg-info">
                  <div class="card-body text-center">
                    <div class="cam">
                      <i class="fas fa-donate"></i>
                    </div>
                    <p class="card-text title">My Charity</p>
                    <p class="card-text">Update/View your charity</p>
                  </div>
                </div>
              </div>
            </a></li>
        </div>
    <!-- <div class="col-3">
      <li [routerLink]="['/myposts']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-info">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-clipboard-check"></i>

                </div>
                <p class="card-text title">My Job Posts</p>
                <p class="card-text">Update/View your job posts</p>
              </div>
            </div>
          </div>
        </a></li>
    </div> -->
    <!-- <div class="col-3">
      <li [routerLink]="['/videoresume']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-primary">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-file-video"></i>

                </div>
                <p class="card-text title">Video Resume</p>
                <p class="card-text">Update/View your video resume</p>
              </div>
            </div>
          </div>
        </a></li>
    </div> -->
    <div class="col-3">
      <li [routerLink]="['/myfriends']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-success">
              <div class="card-body text-center">
                <div class="cam">
                  <i class="far fa-handshake"></i>
                </div>
                <p class="card-text title">My Connections</p>
                <p class="card-text">View your connections list</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
    <div class="col-3">
      <li [routerLink]="['/interestedevents']" routerLinkActive="active-link"><a>
          <div class="card-group">
            <div class="card bg-danger">
              <div class="card-body text-center">
                <div class="cam">

                  <i class="fas fa-calendar"></i>

                </div>
                <p class="card-text title">Interested Events</p>
                <p class="card-text">View the events you are interested in</p>
              </div>
            </div>
          </div>
        </a></li>
    </div>
  </div>
  <!-- Fourth Row -->
  <div class="row dashboard">
      <div class="col-3">
          <li [routerLink]="['/certifications']" routerLinkActive="active-link"><a>
              <div class="card-group">
                <div class="card bg-success">
                  <div class="card-body text-center">
                    <div class="cam">
    
                      <i class="fas fa-file-alt"></i>
    
                    </div>
                    <p class="card-text title">Company Certifications</p>
                    <p class="card-text">Add/View your certifications</p>
                  </div>
                </div>
              </div>
            </a></li>
        </div>
      <div class="col-3">
          <li [routerLink]="['/achievements']" routerLinkActive="active-link"><a>
              <div class="card-group">
                <div class="card bg-info">
                  <div class="card-body text-center">
                    <div class="cam">
    
                      <i class="fas fa-medal"></i>
    
                    </div>
                    <p class="card-text title"> Company Achievements</p>
                    <p class="card-text">Add/View your achievements</p>
                  </div>
                </div>
              </div>
            </a></li>
        </div>
        <div class="col-3">
            <li [routerLink]="['/gallery']" routerLinkActive="active-link"><a>
                <div class="card-group">
                  <div class="card bg-primary">
                    <div class="card-body text-center">
                      <div class="cam">
      
                        <i class="fas fa-images"></i>
      
                      </div>
                      <p class="card-text title">My Gallery</p>
                      <p class="card-text">Add/View your photos</p>
                    </div>
                  </div>
                </div>
              </a></li>
          </div>
  </div>
</div>