.card-group{

    width:210px;
     cursor: pointer;
 }
 .card{
     width:210px;
     height:160px;
 }
 
 .dashboard-details{
     margin-top:10px;
 }
 .dashboard{
     margin-top:20px;
 }
 
 .card-text{
     color:white;
     margin-bottom:0px;
     margin-top:6px;
     font-size:12px;
 }
 
 .title{
     font-size:16px;
 }
 .cam{
     width:40px;
     height:40px;
     border-radius:50px;
     border:solid 1px white;
     line-height:40px;
     margin-left:60px;
     color:white
 }
 
 li{
     list-style:none;
 }
 
 .skill{
     color:palevioletred !important;
 }