<div class="project">
  <h2>Company Details</h2>
  <hr>
  <form name="companydetails" (ngSubmit)="cd.valid && saveorg(org)" #cd='ngForm' novalidate>
      <div class="form-group row">
          <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !current_company.valid }">
              <label for="Companyname">Company Name<sup class="message">*</sup></label>
              <input [(ngModel)]="org.current_company" placeholder="Company Name" type="text" name="current_company"
                  class="form-control" #current_company='ngModel' minlength="2" maxlength="40" required>
              <span *ngIf="cd.submitted && !current_company.valid && !org.current_company" class="help-block ">Please
                  specify company name</span>
              <span *ngIf="cd.submitted && current_company.errors?.minlength || current_company.errors?.maxlength"
                  class="help-block">Company name should be minimum of 2 characters and maximum of 40 characters.</span>
          </div>
          <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !established_year.valid }">
              <label for="usr">Established Year<sup class="message">*</sup></label>
              <input [(ngModel)]="org.established_year" placeholder="Established Year" (keypress)="numbercheck($event)"
                  type="text" name="established_year" class="form-control" #established_year='ngModel' minlength="4"
                  maxlength="4" required>
              <span [hidden]="errmsg==false" *ngIf="cd.submitted && !established_year.valid" class="help-block error">Please
                  specify established year</span>
          </div>
          <div class="col-12" [ngClass]="{ 'has-error': cd.submitted && !overview_company.valid }">
              <label for="usr">Company Overview<sup class="message">*</sup></label>
              <textarea [(ngModel)]="org.overview_company" name="overview_company" type="text" class="form-control"
                  id="usr" #overview_company="ngModel" required rows="4" cols="5" minlength="25"></textarea>
              <span *ngIf="cd.submitted && !overview_company.valid && !org.overview_company" class="help-block ">Please
                  specify company overview</span>
              <span *ngIf="cd.submitted && overview_company.errors?.minlength || overview_company.errors?.maxlength"
                  class="help-block">Company overview should be minimum of 25 characters.</span>
          </div>
      </div>

      <div class="form-group row">


          <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !type_company.valid }">
              <label for="usr">Type of Industry<sup class="message">*</sup></label>
              <input [(ngModel)]="org.type_company" placeholder="Ex:MNC,BPO,KPO" name="type_company" type="text"
                  class="form-control" id="usr" #type_company="ngModel" required>
              <span [hidden]="errmsg==false" *ngIf="cd.submitted && !type_company.valid" class="help-block error">Please
                  specify company type</span>
          </div>

          <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !number_ofemployees.valid }">
              <label for="usr">No of Emplyoees<sup class="message">*</sup></label>
              <input [(ngModel)]="org.number_ofemployees" placeholder="Number of Employees" name="number_ofemployees"
                  (keypress)="numbercheck($event)" type="text" class="form-control" id="usr" #number_ofemployees="ngModel" 
                   (blur)="c(number_ofemployees.value)" required> 
                   <span  *ngIf="noOfEmployeeMsg===true" class="help-block" style="font-size: 13px">Initial 0 is not accepted </span>  
              <span [hidden]="errmsg==false" *ngIf="cd.submitted && !number_ofemployees.valid" class="help-block error">Please
                  specify total number of employees</span>
          </div>
      </div>

      <div class="form-group row">
          <!-- <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !industry_type.valid }">
            <label for="industry_type">Industry Type<sup class="message">*</sup></label>
            <select type="text" name="industry_type" #industry_type="ngModel" [(ngModel)]='org.industry_type' class="form-control"
             id="industry_type" required>
             <option [ngValue]="undefined">Functional Area</option>
             <option *ngFor="let fnarea of fnarealis" value={{fnarea.fn_area_id}}>{{fnarea.name}}</option>
            </select>
            <span [hidden]="errmsg==false" *ngIf="cd.submitted && !industry_type.valid" class="help-block error">
                Please select industry type
            </span>
        </div> -->


          <!-- <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !ceo_directors_cfo.valid }">
              <label for="usr">Key Persons<sup class="message">*</sup></label>
              <input [(ngModel)]="org.ceo_directors_cfo" placeholder="Keypersons" name="ceo_directors_cfo" type="text"
                  class="form-control" id="usr" #ceo_directors_cfo="ngModel" required>
              <span [hidden]="errmsg==false" *ngIf="cd.submitted && !ceo_directors_cfo.valid" class="help-block error">Please
                  specify company keypersons names</span>
          </div> -->

      </div>


<!-- 
      <div class="form-group row">

          <div class="col-6">
              <label for="usr">Financial Information</label>
              <input [(ngModel)]="org.financial_info" placeholder="Financial Information" name="financial_info" type="text"
                  class="form-control" id="usr" #financial_info="ngModel">
          </div>
      </div> -->

      <div class="form-group row">


          <div class="col-6" [ngClass]="{ 'has-error': cd.submitted && !office_address.valid }">
              <label for="usr">Office Address<sup class="message">*</sup></label>
              <input [(ngModel)]="org.office_address" placeholder="Address" name="office_address" type="text" class="form-control"
                  id="usr" #office_address="ngModel" required>
              <span [hidden]="errmsg==false" *ngIf="cd.submitted && !office_address.valid" class="help-block error">Please
                  specify office address</span>
          </div>

          <div class="col-6">
              <label for="usr">Other Locations </label>
              <input [(ngModel)]="org.locations_otherplaces" placeholder="Other Branch Locations" name="locations_otherplaces"
                  type="text" class="form-control" id="usr" #locations_otherplaces="ngModel">
          </div>

      </div>



      <div class="form-group row">


          <!-- <div class="col-6">
            <label for="usr">CMMI Level</label>
            <input [(ngModel)]="org.cmmi_level" name="cmmi_level" type="text" class="form-control" id="usr" #cmmi_level="ngModel" required>
        </div> -->
          <div class="col-6">
              <label for="industry_type">CMMI Level</label>
              <select class="form-control" name="cmmi" [(ngModel)]="org.cmmi_level" #cmmi="ngModel">
                  <option [ngValue]="undefined">CMMI LEVEL</option>
                  <option value="Level 1">Level 1</option>
                  <option value="Level 2">Level 2</option>
                  <option value="Level 3">Level 3</option>
                  <option value="Level 4">Level 4</option>
                  <option value="Level 5">Level 5</option>
              </select>

          </div>
          <div class="col-6">
              <label for="usr">Prestigious Projects</label>
              <input [(ngModel)]="org.prestigious_projects" placeholder="Prestigious Projects" name="prestigious_projects"
                  type="text" class="form-control" id="usr" #prestigious_projects="ngModel">
          </div>

      </div>


      <div class="form-group row">


          <div class="col-6">
              <label for="usr">Awards & Recognitions</label>
              <input [(ngModel)]="org.awards_recognitions" placeholder="Awards & Recognitions" name="awards_recognitions"
                  type="text" class="form-control" id="usr" #awards_recognitions="ngModel">
          </div>

          <div class="col-6">
              <label for="usr">Certifications</label>
              <input [(ngModel)]="org.cetifications" placeholder="Certifications" name="cetifications" type="text"
                  class="form-control" id="usr" #cetifications="ngModel">
          </div>

      </div>
      <div class="form-group row">
          <div class="col-6">
              <label for="usr">Clients </label>
              <input [(ngModel)]="org.client" placeholder="Clients" name="client" type="text" class="form-control" id="usr"
                  #client="ngModel">
          </div>
          <div class="col-6">
              <label for="usr">Any Participations Globally So Far </label>
              <input [(ngModel)]="org.any_participations_globally" placeholder="Any participations globally So Far"
                  name="any_participations_globally" type="text" class="form-control" id="usr"
                  #any_participations_globally="ngModel">
          </div>

      </div>
      <div class="col-12">
          <button type="submit" class="btn btn-primary pull-right">Save</button>
          <button type="reset" class="btn btn-danger pull-right">Cancel</button>
      </div>
  </form>
</div>