<div class="interestedevents">
  <h4>
    <b>Interested Events</b>
  </h4>
</div>
<hr>
<ng4-loading-spinner> </ng4-loading-spinner>
<div *ngIf="appliedeventslist?.length == 0">No Interested events Found....</div>
<ng4-loading-spinner> </ng4-loading-spinner>

<div *ngFor="let ael of appliedeventslist;let i=index">
  <div>
    <div>

      <div class="card-body ">
        <h6>
          <b>{{ael.event_name | titlecase}}</b>
        </h6>
        <div class="media">
          <div class="media-left media-middle">
            <img class="rounded-circle" class="pull-left" alt="event_image" height="170px" width="170px" class="img-responsive"
              src="{{Apiurl}}/events/images/{{ael.event_image}}" (click)="openmodal(imageenlarge)" />
          </div>
          <ng-template #imageenlarge class="modal-md">
            <sup>X</sup>

            <img src="{{Apiurl}}/events/images/{{ael.event_image}}" class="imageenlarge" (click)="closeModal(charity)">

          </ng-template>
          <p style="margin-right: 20px"></p>

          <div class="media-body">


            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Type: </b>
                </span>
                <span class="newrow1 ">
                  {{event_typ1[i]}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Functional Area: </b>
                </span>
                <span class="newrow1 ">
                  {{ael.functional_area}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Location: </b>
                </span>
                <span class="newrow1">
                  {{event_local[i]}}
                  <i *ngIf="event_local[i]">,</i>{{event_loc[i]}},{{ael.state}},{{ael.country}}
                </span>
              </div>
            </div>



            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Starts From: </b>
                </span>
                <span class="newrow1">
                  {{ael.event_start_date}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Ends on:</b>
                </span>
                <span class="newrow1">
                  {{ael.event_end_date}}
                </span>
              </div>
            </div>

          </div>
        </div>



        <div class="card-body">



          <div class="row desc">
            <span class=" col-2 newrow2">
              <b>Description:</b>
            </span>
            <span class=" col-10 newrow" [innerHTML]="ael.event_description">
            </span>
          </div>


          <br>



          <div class="row desc">
            <span class=" col-2 newrow2">
              <b>Address:</b>
            </span>
            <span class=" col-10 newrow"> {{ael.event_address}}
            </span>
          </div>




          <p style="margin-top: 8px"></p>
          <div *ngIf="ael.event_video" align="center">
            <video width="480" controls>
              <source src="{{Apiurl}}/events/videos/{{ael.event_video}}" type="video/mp4">
            </video>
          </div>
        </div>
      </div>


      <div class="card-footer ">
        <div class="pull-left keyskills">Posted by
          <b>{{ael.first_name | titlecase}}</b> On
          <b style="font-size: 11.5px">{{ael.created_date}}</b>
        </div>
        <button style="margin-top:-5px" type="button" class="btn btn-danger pull-right" tooltip="click if you are not interested"
          placement="left" (click)="uninterestedinevent(ael)">Uninterest</button>

      </div>
    </div>

    <p style="margin-bottom: 15px"></p>





  </div>