.interestedevents{
    margin-top:15px;
}
.myevents{
    margin-top:30px;
}
 .media-body {
    width: 110px !important;
} 
 .text-info{
     width: 110px !important; 
} 

.data{
    text-align:left
}
.keyskills{

    font-size: 12px;
    margin-top: -0.5px
}
.newrow
{
  
  font-size: 12px;
    margin-left: 90px; 
    
    margin-top: -18px

}
  
.newrow2
{
    font-size: 12px;
    margin-right: 100px;
}

.newrow1{

    font-size: 12px;
	margin-left: -80px;
	margin-top: -0.5px;
}

.newrow3{

    font-size: 12px;
margin-left: 10px;

}

.card-footer:last-child {
    border-radius: 0 0 calc(.25rem - 1px) calc(.25rem - 1px);
    height: 50px !important;
}

.card-footer {
    padding: .75rem 1.25rem;
    background-color: white !important;
    border-top: 1px solid rgba(0,0,0,.125);
}

.card-body{
    background-color: white !important;

}

.description span:first-child{
	width:100%;
	display: inline-block;
	margin: 0px;
	font-weight: bold;
}
.desc {
    text-align: justify;
}