
.profile{
    text-align:center;
}
.profile-image-det{
	
    
     margin-left:120px;  
    
}
.profile-image-det .pimg{
    width:70px;
    height:70px;
    border-radius:100%;
}

.image-upload > input
{
display: none;
}

.image-upload i{
cursor:pointer;
}
.edit{
    margin-left:30px;
}
.editprofile{
    margin-left:30px;
    margin-top:-40px;
    

}
.pull-right1{
    right: 2px;

}
.modal1-md{
background: #ccc
}
.profile-image-det a  i {
    color:white;
    border-radius:100%;
    padding:0px;
    width:25px;
    line-height:25px;
    background:black;
}
.p_name_details{
	width:292px;
    /* width: 250px; */
    text-align:center;
     
}
.profile-det a:nth-child(1) i{
    background:#007bff;
    
    }
    .profile-det a:nth-child(2) i{
    background:#28a745;
    padding-left:8px;
    padding-right:8px;
    }
    .profile-det a:nth-child(3) i{
    background:#e83e8c;
    }
    /* .pull-right1{
        margin-right: 1px;

        /* //position: absolute; }
     */
.profile-det
.active-link , .active-link:hover{
	background: #0d5b94;
    /* color: #ffffff; */
}
.closeButton{
   background-color: white;
    border-radius: 15%;
    border: none;
    position: absolute;
    top: 0%;
    right: 0%;
}
.rounded-circle imageenlarge{
    cursor: pointer;
}
.fa-window-close{
    color:red;
    margin:0px; 
    cursor: pointer;
}
a.hyper-link{
    text-decoration: underline;
    color: #0d5b94;
    font-size: 12px;
    float: right;
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    padding: 5px;
}
/*
.resume-template , .modal-lg{
    width:90% !important;
}
.resumetemplate{
    padding: 10px;
}
.left-details{
		width:30%;
		float: left;
	}
	.right-content{
		width:calc(70% - 15px);
		float: left;
		margin-left:15px;
	}
	.profile-pic{
		width:100%;
	}
	.resumetemplate h1{
		margin: 0px;
		font-size: 18px;
	}
	.resumetemplate h2{
		margin: 0px;
		font-size: 16px;
	}
	.resumetemplate h3{
		margin: 0px;
		font-size: 14px;
	}
	.resumetemplate p{
		margin: 5px;
		font-size: 12px;
		line-height: 21px;
	}
	.profile-pic img{
		width: 100%;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: 0  0 0 40px;
	}
	.section-details{
		margin: 10px 0;
	}
	.section-details h2{
		font-size: 14px;
		background: #ccc;
		padding: 5px;
	}
	.mail-details{
		clear: both;
	}
	.right-content .mail-details p{
		float: left;
		width: 50%;
		border-top:1px #ccc solid;
		border-bottom:1px #ccc solid;
		padding: 5px 0;
		margin: 10px 0px;
	}
	.section-part{
		margin: 5px 0;
		clear: both;
	}
	.section-part h2{
		background: #ccc;
		padding: 5px;
		margin-top: 10px;
	}
	.section-part h3{
		margin:5px 0; 
	}
*/
	.profile-template , .modal-lg{
    width:100% !important;
  
     }
.profiletemplate{
    /* padding: 10px; */
    border:10px solid skyblue;
    border: 1rem solid skyblue;
    
}
	 .leftside-details{
		width:30%;
		float: left;
        text-align: center;
         font-size: 14px;
	}
	.rightside-content{
		width:calc(70% - 25px);
		float: left;
        margin-left:5px;
        font-size: 14px;
        padding-bottom: 5px;
        overflow-wrap: break-word;
	}
    /* .left-details h5{
        background-color: grey;
    } */
    .rightside-content h6{
        margin-left:5px;
    }
.right-details h5{
	margin-left: 5px; 

}

.experience{
     margin-left:20px; 
     overflow-wrap: break-word;
}

.experience h6{
    margin-left:10px;
}


.resume-template , .modal-lg{
    width:90% !important;
}
.resumetemplate{
    padding: 10px;
}
.left-details{
        width:30%;
        float: left;
    }
  

    .right-content{
        width:calc(70% - 15px);
        float: left;
        margin-left:15px;
   
    }
    .profile-pic{
        width:100%;
    }
    .resumetemplate h1{
        margin: 0px;
        font-size: 18px;
    }
    .resumetemplate h2{
        margin: 0px;
        font-size: 16px;
    }
    .resumetemplate h3{
        margin: 0px;
        font-size: 14px;
    }
    .resumetemplate p{
        margin: 5px;
        font-size: 12px;
        line-height: 21px;
    }
    .profile-pic img{
        width: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0  0 0 40px;
    }
    .section-details{
        margin: 10px 0;
    }
    .section-details h2{
        font-size: 14px;
        background: #ccc;
        padding: 5px;
    }
    .mail-details{
        clear: both;
    }
    .right-content .mail-details p{
        float: left;
        width: 50%;
        border-top:1px #ccc solid;
        border-bottom:1px #ccc solid;
        padding: 5px 0;
        margin: 10px 0px;
    }
    .section-part h2{
        background-color: silver;
    }
    /* .section-part h2{
        background: #ccc;
        padding: 5px;
        margin-top: 10px;
    }
    .section-part h3{
        margin:5px 0; 
    }
 */
    .profile-template , .modal-lg{
    width:100% !important;
     }
.profiletemplate{
    padding: 10px;
}
.profiletemplate .leftside-details{
        width:30%;
        float: left;
        text-align: left;
    }
    .rightside-content{
        width:calc(70% - 10px);
        float: left;
      
        padding-bottom: 5px
    }

    
.profiletemplate .lcard{
padding: 10px;
height: auto;
width: 240px;
float:left;
padding-bottom: 5px
/* border: 1px solid  rgb(143, 142, 142); 
 */

}
 .profiletemplate .rcard{

height: auto;
width: 500px;
padding-bottom: 5px

/* border: 1px solid  rgb(143, 142, 142); */

} 

/* .left-details  h5{
background-color: lightgray;

} */



 .right-details h3{  
width: 25%; 
margin-left: 20px;
font-family: Georgia, serif;
}

.right-details h6{
    margin-left: 20px;
    font-size: 14px;
}
    .right-details hr{
        margin-left: 20px;
       
}
.right-details h5{
    margin-left: 10px;
    font-family: Georgia, serif;
    background-color: silver; 
    font-size: 16px;
}
.right-details h2{
    margin-left: 40px;
    font-size: 20px;
    font-family: Georgia, serif;
    
}
.aboutme p{
    text-indent: 30px;
}
.aboutme h6{
    background-color: silver;
    font-family: Georgia, serif;
    font-size: 18px;
}
.ver-line {
    border-left: 1px solid black;
    height: 1230px;
    position: absolute;
    left: 31%;
    top: 162px;
}

.left-details h6{
    font-size: 16px;
    font-family: Georgia, serif;
    background-color: silver;
}


.right-side h5{
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: silver;
}
.right-side{
    width:69%;
    float: right; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* .right-details h6{
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: silver;

} */
/* .bg h5{
    background-color: silver; 
    font-size: 18px;
} */

.right{
    margin-left: 10px;
}

.profiletemplate i{

    padding-left: 5px
}
.rightinsidepadding{
    /* padding-left:0px; */
    margin-left: -9px;
}

.section-part i{
    padding-left: 3px;
    
}
.section-part span:first-child{
    margin-left: -2px;
    
}
.imageenlarge{
    height: 400px;
    width: 500px;
}
.email  {
    word-break: break-all;
    max-width: 50px;
  }
  .address{
    word-break: break-word; 
  }

  .text-danger{
      margin-top:30px !important;
      font-size:35px !important;
  }