<ng-template #imageenlarge class="modal1-md">

	<button type="button" class="pull-right1 closeButton">
		<a (click)="closeModal(charity)" class="fa fa-window-close"> </a>
	</button>


	<a (click)="closeModal(charity)"><img src="{{ApiUrl}}/profileimage/{{profileImage}}" class="imageenlarge"></a>


</ng-template>

<div class="profile">

	<div class="row">
		<div class="profile-image-det">
			<div class="pimg" *ngIf="profileImage!='' && profileImage!=undefined && profileImage!='IMAGE'">
				<a class="imageenlarge"><img class="rounded-circle imageenlarge" src="{{ApiUrl}}/profileimage/{{profileImage}}" alt=""
					 height="60px" align="center" (click)="openmodal(imageenlarge)"></a>
				<a *ngIf="profileimage!='' " class="btn editprofile">
					<span class="image-upload">
						<label for="file-input">
							<i class="fa fa-pencil" aria-hidden="true"></i>
						</label>
						<input id="file-input" type="file" [(ngModel)]="image" #image1="ngModel" name="image" (change)="check($event)">
					</span>
					<!-- (change)="uploader.uploadAll()" -->
				</a>
			</div>
			<div *ngIf="result">
				<div class="pimg" *ngIf="profileImage==''|| profileImage==undefined||profileImage=='IMAGE'">

					<ngx-avatar name="{{result.firstname}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="65" textSizeRatio="1.5"
					 [round]="true">

					</ngx-avatar>
					<a class="btn editprofile">

						<span class="image-upload">
							<label for="file-input">
								<i class="fa fa-pencil" aria-hidden="true"></i>
							</label>
							<input id="file-input" type="file" [(ngModel)]="image" #image1="ngModel" name="image" (change)="check($event)">
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- <ng-template #editprofiletemplate class="modal-lg">
		<form name="fgg" (ngSubmit)="p.fgg.valid" #p="ngForm" novalidate>
		<div class="modal-header">

			<h4 class="modal-title pull-left">Select Your Image</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body" >
			<div class="form-group" [ngClass]="{ 'has-error': p.submitted && !image }">
			<input type="file" [(ngModel)]="image" #image1="ngModel" name="image" class="form-control" ng2FileSelect [uploader]="uploader" (change)="uploader.uploadAll()">
			<span *ngIf="p.submitted && !image" style="color: red;font-size:13px;">Please Select one image</span>
		</div>
			
	</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary" (click)="onUpload(template)">Upload</button>
		</div>
</form>
	</ng-template> -->
	<div class="p_name_details" *ngIf="result">
		<h1 *ngIf="result.role=='3'">
			<a [routerLink]="['/profile-dashboard']">
				{{result.firstname | titlecase}}&nbsp;{{result.lastname | titlecase}}</a>
				<p>{{cur_des}}</p>
			</h1>
		<!-- <h1 *ngIf="result.role=='3'">{{result.firstname | titlecase}}&nbsp;{{result.lastname | titlecase}}</h1> -->
		<h1 *ngIf="result.role=='5'">
			<a [routerLink]="['/profile-details']"><span>{{result.firstname | titlecase}}</span>
			</a>
			<p>{{result.registration_details[0].hr_designation}}</p>
		</h1>
		
		<!-- <p *ngFor="let s of result.presentemp_details"> {{presentdesignation}}</p> -->
		<p>
			{{result.functional_area}}
		</p>

		<p>
			{{result.state}}
			<span *ngIf="result.country">,</span> {{result.country}}

		</p>
		<p class="profile-det">
			<a *ngIf="result.role==3" class="posts" (click)="openresume(resumetemplate)" title="Sample Resume">
				<i class="fas fa-file"></i>
			</a>
			<a *ngIf="result.role==3" class="posts" [routerLink]="['/myposts']" title="Your Job Posts">
				<i class="fas fa-clipboard-check"></i>
			</a>
			<a *ngIf="result.role==3" class="edu" [routerLink]="['/appliedjobs']" title="Applied Jobs">
				<i class="fas fa-envelope-open-text"></i>
			</a>

			<a *ngIf="result.role==5" class="posts" [routerLink]="['/companydetails']" title="Company Details">
				<i class="fas fa-file"></i>
			</a>
			<a *ngIf="result.role==5" class="posts" [routerLink]="['/myposts']" title="Your Job Posts">
				<i class="fas fa-clipboard-check"></i>
			</a>
			<!-- <a *ngIf="result.role==5" class="edu" [routerLink]="['/appliedjobs']" title="Jobs applied">
					<i class="fas fa-envelope-open-text"></i>
				</a> -->
		</p>

	</div>


	<div class="row edit">
		<a [routerLink]="['/profile-dashboard']"  class="hyper-link">
			<i class="fas fa-user-edit"></i> Edit Profile</a> &nbsp;
		<a (click)="openprofile(profileoverview)" class="hyper-link">
			<i class="fas fa-eye"></i>View Profile</a>
	</div>
</div>


<div class="left-section">
	<div *ngIf="!isrecruter">
		<ul>
			<li [routerLink]="['/home/walkin']" routerLinkActive="active-link" (click)="todaydate()">
				<i class="fas fa-walking"></i> &nbsp; Today Walk-ins/Relevances</li>
			<li [routerLink]="['/home/oprloc']" routerLinkActive="active-link">
				<i class="fas fa-search-location"></i> &nbsp; Opportunities in Other Locations</li>
			<li [routerLink]="['/home/jobsother']" routerLinkActive="active-link">
				<i class="fas fa-list-alt"></i> &nbsp; Jobs in Other Category </li>

			<li [routerLink]="['/home/jobsearch']" routerLinkActive="active-link">
				<i class="fas fa-suitcase"></i> &nbsp; Job Posts</li>

			<li [routerLink]="['/home/advice']" routerLinkActive="active-link">
				<i class="far fa-comments"></i> &nbsp; Expert Advices</li>
			<li [routerLink]="['/home/friendrequests']" routerLinkActive="active-link">
				<i class="fas fa-user-friends"></i>&nbsp; Connection Requests </li>
			<li [routerLink]="['/home/latestevents']" routerLinkActive="active-link">
				<i class="fas fa-calendar"></i> &nbsp; Latest Events</li>
			<li [routerLink]="['/home/charity']" routerLinkActive="active-link">
				<i class="fas fa-donate"></i> &nbsp; Charity</li>
			<li [routerLink]="['/home/connectionposts']" routerLinkActive="active-link">
				<i class="fas fa-handshake"></i> &nbsp; Connection Job Posts </li>
			<li [routerLink]="['/home/erate']" routerLinkActive="active-link">
				<i class="fas fa-star"></i> &nbsp; Rating By Job Seekers</li>

			<li [routerLink]="['/home/findconnections']" routerLinkActive="active-link">
				<i class="fas fa-user-plus"></i> &nbsp; Find Connections</li>
			<!-- <li [routerLink]="['/home/vedioresume']">
				<i class="fas fa-file-video"></i> &nbsp; Video Resume</li> -->
			<!-- <li [routerLink]="['/home/walkin']" routerLinkActive="active-link">Applied Jobs</li> -->
			<!-- <li [routerLink]="['/home/rvjc']" routerLinkActive="active-link">Recently Viewed Jobs</li> -->
			<!-- <li [routerLink]="['/home/walkin']" routerLinkActive="active-link">Post by User</li> -->

			<!-- <li [routerLink]="['/home/profileview']"     ="active-link">Who Viewed Your Profile?</li> -->
			<!-- <li [routerLink]="['/home/walkin']" routerLinkActive="active-link">Status of Applied Jobs</li> -->
			<!-- <li [routerLink]="['/home/walkin']" routerLinkActive="active-link">Rating by Recruiters</li> -->
			<!-- <li [routerLink]="['/home/resumetemplate']">Sample Resume Templates</li>  -->
			<!-- <li (click)="openresume(resumetemplate)">
				<i class="fas fa-file"></i> &nbsp; Sample Resume Template </li> -->


			<!-- <li [routerLink]="['/home/creview']" routerLinkActive="active-link"><i class="fas fa-comment-alt"></i> &nbsp; Review Company</li> -->




			<!-- <li [routerLink]="['/home/notify']" routerLinkActive="active-link">
				<i class="fas fa-bell"></i> &nbsp; Notifications</li> -->

		</ul>
	</div>
	<!-- employer -->
	<div *ngIf="isrecruter">
		<ul>


			<!-- <li [routerLink]="['/home/news']" routerLinkActive="active-link">
				<i class="far fa-newspaper"></i> &nbsp; News Feed</li> -->
			<!-- <li [routerLink]="['/home/inout']" routerLinkActive="active-link">
				<i class="fas fa-envelope"></i> &nbsp; Inbox/Outbox</li> -->

			<!-- <li [routerLink]="['/home/walkin']" routerLinkActive="active-link" (click)="todaydate()">
				<i class="fas fa-walking"></i> &nbsp; Today Walk-in/Relevance</li>
			<li [routerLink]="['/home/oprloc']" routerLinkActive="active-link">
				<i class="fas fa-search-location"></i> &nbsp; Opportunities in Other Locations</li>
			<li [routerLink]="['/home/jobsother']" routerLinkActive="active-link">
				<i class="fas fa-list-alt"></i> &nbsp; Jobs in Other Category </li> -->

			<li [routerLink]="['/home/esearch']" routerLinkActive="active-link">
				<i class="fas fa-search"></i> &nbsp; Advanced Search</li>
			<li [routerLink]="['/home/esearchprofile']" routerLinkActive="active-link">
				<i class="fas fa-search"></i> &nbsp; Advanced Profile Search</li>

			<!-- <li [routerLink]="['/home/jobsearch']" routerLinkActive="active-link">
				<i class="fas fa-suitcase"></i> &nbsp; Job Posts</li> -->

			<li [routerLink]="['/home/advice']" routerLinkActive="active-link">
				<i class="far fa-comments"></i> &nbsp; Expert's Advices</li>
			<li [routerLink]="['/home/latestevents']" routerLinkActive="active-link">
				<i class="fas fa-calendar"></i> &nbsp; Latest Events</li>
			<!-- <li [routerLink]="['/home/erate']" routerLinkActive="active-link"><i class="fas fa-star"></i> &nbsp; Rate a candidate</li> -->
			<!-- <li [routerLink]="['/home/reports']" routerLinkActive="active-link">
				<i class="fas fa-file-alt"></i> &nbsp; Reports</li> -->
			<!-- <li [routerLink]="['/home/clientc']" routerLinkActive="active-link">Client Connections</li> -->
			<!-- <li [routerLink]="['/home/invite']" routerLinkActive="active-link">Invite Connections</li> -->

			<li [routerLink]="['/home/friendrequests']" routerLinkActive="active-link">
				<i class="fas fa-user-friends"></i>&nbsp; Connection Requests </li>

			<!-- <li [routerLink]="['/home/videocalling']" routerLinkActive="active-link">
				<i class="fas fa-video"></i> &nbsp; Chat/Videocalling</li> -->

			<li [routerLink]="['/home/charity']" routerLinkActive="active-link">
				<i class="fas fa-donate"></i> &nbsp; Charity</li>
			<li [routerLink]="['/home/erate']" routerLinkActive="active-link">
				<i class="fas fa-star"></i> &nbsp; Rating By Job Seekers</li>
			<li [routerLink]="['/home/findconnections']" routerLinkActive="active-link">
				<i class="fas fa-user-plus"></i> &nbsp; Find Connections</li>
			<!-- <li [routerLink]="['/home/connectionposts']" routerLinkActive="active-link">

				<i class="fas fa-donate"></i> &nbsp; Connections jobposts</li> -->

		</ul>
	</div>

</div>


<!-- resume template -->

<!-- <ng-template #resumetemplate class="modal-lg resume-template">
	<div id="content" #content>
		<div>
			<input type="button" class="btn btn-primary pull-right" value="Download" (click)="downloadResume(result)" />

		</div>
	</div>
	<div id="contentToConvert">
		<div class="resumetemplate">
			<hr>
			<div>
				<h1>
					<span>
						<strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
					</span>
					<span class="pull-right">
						<strong style="font-size:15px">Email ID : </strong> {{result.email}},&nbsp;

						<strong style="font-size:15px">Mobile : </strong> {{result.phone}}</span>
				</h1>
			</div>
			<div class="aboutme">
				<hr>
				<h6>
					About Me
				</h6>
				<p> {{result.resume_headline}}</p>
			</div>
			<hr>
			<div class="left-details">

				<div class="section-part">

					<h6>
						<i class="fas fa-user-circle"></i> Profile Info</h6>
					<p>
						<strong>Functional Area</strong>: {{result.functional_area}}</p>

					<p>
						<strong>Address</strong>: {{result.permanent_address}}</p>
					<p>
						<strong>Current Location</strong>: {{result.current_loc}}</p>
					<p>
						<strong>Preferred Location</strong>

						{{result.pref_location | titlecase}}</p>
				</div>
				<hr>
				<div class="section-part">

					<h6>
						<i class="fas fa-user-tie"></i> Profession</h6>
					<p>
						{{result.current_designation}}</p>
				</div>
				<hr>
				<div class="section-part">
					<h6>
						<i class="far fa-address-card"></i> Personal Details</h6>
					<p>
						<i class="fa fa-user-o" style="font-size:22px"></i>

						<strong>Gender:</strong> {{result.gender | titlecase}}
					</p>
					<p>
						<i class="fa fa-birthday-cake" style="font-size:22px"></i>
						<strong>DOB:</strong> {{result.date_of_birth |date }}
					</p>
					<p>
						<strong>Marital Status:</strong> {{result.status_name}}</p>

					<p>
						<strong> Languages Known:</strong>
					</p>
					<p *ngFor="let s of result.language_known">

						{{s.language_name | titlecase }}</p>
					<p>
						<p>
							<strong>Permanent Address:</strong> {{result.permanent_address}}</p>

						<p>
							<strong>ZipCode:</strong> {{result.pin_code}}</p>
				</div>
				<hr>
			</div>

			<span class="ver-line"></span> 
			<div class="right-side">
				<div class="section-part">

					<h5>
						<i class="fa fa-mortar-board" style="font-size:20px"></i> Education
					</h5>


					<div *ngFor="let s of result.ssc_details">
						<p style="font-size:13px">
							<i class="fas fa-angle-right"></i>
							<b>SSC</b> from
							<b>{{s.coursename}}</b> completed in the year of
							<b>{{s.year}}</b>.
						</p>
			
					</div>


					<div *ngFor="let i of result.inter_details">
						<p style="font-size:13px">
							<i class="fas fa-angle-right"></i>
							<b>INTER</b> from
							<b>{{i.coursename}}</b> completed in the year of
							<b>{{i.year}}</b>.
						</p>
			
					</div>


					<div *ngFor="let g of result.grad_details">
						<p style="font-size:13px">
							<i class="fas fa-angle-right"></i>
							<b>GRADUATION({{g.specialization}})</b> from
							<b>'{{g.university}}'</b> completed in the year of
							<b>{{g.year}}</b>.
						</p>
				
					</div>


					<div *ngFor="let pg of result.pg_details">
						<p style="font-size:13px">
							<i class="fas fa-angle-right"></i>
							<b>PG({{pg.specialization}})</b> from
							<b>'{{pg.university}}'</b> completed in the year of
							<b>{{pg.year}}</b>.
						</p>
			
					</div>

					<div *ngFor="let p of result.phd_details">
						<p style="font-size:13px">
							<i class="fas fa-angle-right"></i>
							<b>PHD({{p.specialization}})</b> from
							<b>'{{p.university}}'</b> completed in the year of
							<b>{{p.year}}</b>.
						</p>
						
					</div>
				</div>
				<hr>
				<div class="section-part">
					<h5>
						<i class="fas fa-laptop-code"></i> Skills
					</h5>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<span *ngFor="let s of result.skill_details;let sk = index" style="font-size:12px;">
						&nbsp;{{s | titlecase }}
						<b *ngIf="result.skill_details[sk+1]">,</b>
						<b *ngIf="sk+1 == result.skill_details.length">.</b>
					</span>
				</div>
				<hr>

				<div class="section-part">
					<h5>
						<i class="fa fa-mortar-board" style="font-size:20px"></i> Experience
					</h5>
					<span *ngFor="let s of result.presentemp_details">
						<p>
							<b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>
						<p>
							<b style="font-size:13px">Designation:</b> {{s.designation_name}}</p>
						<span>
							<p>
								<b style="font-size:13px">From:</b> {{s.from_date | date}} </p>
						</span>
						<span>
							<p *ngIf="s.description">
								<b style="font-size:13px">Description: </b>
								{{s.description}}
							</p>
						</span>
					</span>

					<span *ngFor="let s of result.previousemp_details">
						<hr>
						<p>
							<b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>
						<p>
							<b style="font-size:13px">Designation:</b> {{s.designation_name}}</p>
						<span>
							<p>
								<b style="font-size:13px"> Duration:</b> ({{s.from_date | date}} - {{s.to_date | date}} ) </p>
						</span>
						<span>
							<p *ngIf="s.description">
								<b style="font-size:13px"> Description:</b> {{s.description}} </p>
						</span>
					</span>
					<hr>

					<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
						<p>
							<b style="font-size:13px">Other Employment{{rowIndex+1}}</b>
						</p>

						<p>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<b style="font-size:13px">Designation:</b> {{s.other_emp | titlecase }}

						</p>

						<p *ngIf="s.description">
							&nbsp;&nbsp;&nbsp;&nbsp;
							<b style="font-size:13px"> Description :</b>
							{{s.description}}
						</p>


					</span>
				</div>

				<div class="section-part">
					<h5>

						<i class="fas fa-certificate" style="font-size:20px"></i> Certification


					</h5>


					<div *ngFor="let ce of result.certification_details   let rowIndex=index">

						<p>
							<b style="font-size:16px">Certification{{rowIndex+1}}</b>
						</p>

						<p>
							<b style="font-size:13px">Certification Name:</b> {{ce.certification_name}}
						</p>
						<p>
							<b style="font-size:13px">Certification Body:</b> {{ce.certification_body}}
						</p>
						<p>
							<b style="font-size:13px">Year:</b> {{ce.certification_year}}
						</p>

					</div>

				</div>
				<hr>
				<div class="section-part">
					<h5>
						<i class="fas fa-award" style="font-size:20px"></i> Achievements
					</h5>

					<div *ngFor="let ac of result.achievement_details   let rowIndex=index">

						<p>
							<b style="font-size:16px">Achievements{{rowIndex+1}}</b>
						</p>

						<p>
							<b style="font-size:13px">Name:</b> {{ac.name}}
						</p>
						<p *ngIf="ac.description">
							<b>Description:</b> {{ac.description}}</p>
					</div>
				</div>
				<hr>
				<div class="section-part">
					<h5>
						<i class="fas fa-file-archive" style="font-size:20px"></i> Projects
					</h5>

					<div *ngFor="let pro of result.project_details   let rowIndex=index">
						<p>
							<b style="font-size:16px">Project{{rowIndex+1}}</b>
						</p>

						<p>
							<b style="font-size:13px">Name:</b> {{pro.name}}
						</p>
						<p>
							<b style="font-size:13px"> Skill:</b>
							<span *ngFor="let s of skill;let i=index">
								{{s[i].name}},

							</span>

						</p>
						<p>
							<b style="font-size:13px">Duration:</b> {{pro.duration}}
						</p>

					</div>


				</div>
				<hr>
			</div>
		</div>



	</div>
</ng-template> -->


<!-- profile overview -->


<ng-template #resumetemplate class="modal-lg resume-template">
	<div id="content" #content>

		<!-- <input type="button" class="btn btn-primary pull-left" value="Download" kendo-button (click)="pdf.saveAs('Resume.pdf')" /> -->
		<b style="font-size:18px;padding-left:7px;padding-bottom:10px;">Your Resume:</b>


		<button type="button" class="pull-right closeButton" (click)="closeResumeTemplate(template2)">
			<span class="fa fa-window-close"></span>
		</button></div>
	<div *ngIf="result" class="resumetemplate">

		<div>
			<hr>
			<h2>
				<span>
					<strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
				</span>
				<span class="pull-right">
					<strong style="font-size:14px">Email ID : </strong>
					<span style="font-size:14px">{{result.email}}</span>,&nbsp;
					<strong style="font-size:15px">Mobile : </strong>
					<span style="font-size:14px">{{result.phone}}</span>
				</span>
			</h2>
			<hr>
		</div>

		<div class="left-details" *ngIf="result">

			<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
				<img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px" id='imgg'>
			</div>
			<div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
				<div *ngIf="result.gender==='Male'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user-tie fa-9x"></i>
					</div>
				</div>
				<div *ngIf="result.gender=='Female'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user fa-9x"></i>
					</div>
				</div>
				<div *ngIf="result.gender=='Other'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user-tie fa-9x"></i>
					</div>
				</div>
			</div>


			<hr>

			<div class="section-part">

				<h6>
					<i class="fas fa-user-circle"></i>
					<span>Profile Info</span>
				</h6>
				<p>
					<strong>Functional Area</strong>: {{result.functional_area}}</p>
				<p *ngIf="result.permanent_address">
					<strong>Address</strong>: {{result.permanent_address}}</p>
				<p *ngIf="result.current_loc">
					<strong>Current Location</strong>: {{result.current_loc}}</p>
				<p *ngIf="result.preferred_location">
					<strong>Preferred Location: </strong>{{pref_loc2}}
				</p>
			</div>
			<hr>

			<div class="section-part" *ngIf="result.current_designation">

				<h6>
					<i class="fas fa-user-tie"></i>
					<span>Profession</span>
				</h6>
				<p>
					{{cur_des}}</p>
				<hr>
			</div>

			<div class="section-part">
				<h6>
					<i class="far fa-address-card"></i>
					<span>Personal Details</span>
				</h6>
				<p>
					<i class="fa fa-user-o" style="font-size:22px"></i>

					<strong>Gender:</strong>
					<span>{{result.gender | titlecase}}</span>
				</p>

				<p *ngIf="result.date_of_birth">
					<i class="fa fa-birthday-cake" style="font-size:22px"></i>
					<strong>DOB:</strong> {{result.date_of_birth |date }}
				</p>

				<p *ngIf="result.status_name">
					<strong>Marital Status:</strong> {{result.status_name}}</p>

				<p *ngIf="result.language_known">
					<strong> Languages Known:</strong>
				</p>

				<!-- 	<p *ngFor="let lang of result.language_known;let sk=index">
						<span *ngFor="let l of languagesdisplay[sk]">
							&nbsp;&nbsp;{{l.name}}
						</span>
					</p> -->

				<p *ngIf="languagesdisplay">
					&nbsp;&nbsp;
					<span *ngFor="let l of result.language_known;let i=index">
						<span *ngFor="let lang of languagesdisplay[i]">
							{{lang.name}}
							<b *ngIf="languagesdisplay[i+1]">, </b>
						</span>
					</span>
				</p>

				<p *ngIf="result.permanent_address">
					<strong>Permanent Address:</strong> {{result.permanent_address}}</p>

				<p *ngIf="result.pin_code">
					<strong>ZipCode:</strong> {{result.pin_code}}</p>
			</div>
			<hr>
		</div>

		<!-- <span class="ver-line"></span> -->
		<div class="right-side" *ngIf="result">

			<div class="aboutme" *ngIf="result.resume_headline">
				<h6>
					<span style="margin-left: 4px;">About Me</span>
				</h6>
				<p> {{result.resume_headline}}</p>
				<hr>
			</div>


			<div *ngIf="result.educational_details" class="section-part">

				<h5>
					<i class="fa fa-mortar-board"></i>
					<span style="margin-left: -3px;">Education</span>
				</h5>

				<div *ngFor="let s of result.ssc_details">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>SSC</b> from
						<b>{{s.coursename}} </b> completed in the year of
						<b>{{s.year}}</b>.
					</p>
				</div>


				<div *ngFor="let i of result.inter_details">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>SECONDARY EDUCATION</b> from
						<b>{{i.coursename}} </b> completed in the year of
						<b>{{i.year}}</b>.
					</p>
				</div>


				<div *ngFor="let g of result.grad_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>GRADUATION({{g.specialization}})</b>
						<span *ngIf="graduniversity[i].length>0"> from
							<b>'{{graduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{g.year}}</b>.
					</p>
				</div>


				<div *ngFor="let pg of result.pg_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>PG({{pg.specialization}})</b>
						<span *ngIf="pguniversity[i].length>0"> from
							<b>'{{pguniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{pg.year}}</b>.
					</p>
				</div>

				<div *ngFor="let p of result.phd_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>PHD({{p.specialization}})</b>
						<span *ngIf="phduniversity[i].length>0"> from
							<b>'{{phduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{p.year}}</b>.
					</p>
				</div>
				<hr>
			</div>

			<div *ngIf="result.skill_details" class="section-part">
				<h5>
					<i class="fas fa-laptop-code"></i>
					<span>Skills</span>
				</h5>
				&nbsp;&nbsp;
				<span *ngFor="let s of skillsarraydisplay;let sk = index" style="font-size:13px">
					{{s}}
				</span>
				<hr>
			</div>


			<div *ngIf="result.presentemp_details || result.previousemp_details || result.otheremp_details" class="section-part">
				<h5>
					<i class="fa fa-mortar-board" style="font-size:20px"></i>
					<span style="margin-left: -3px;">Experience</span>
				</h5>

				<span *ngFor="let s of result.presentemp_details;let i=index">
					<p>
						<b style="margin-left: 2px;font-size:14px">Present Employment:-</b>
					</p>
					<p>
						<b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>

					<p>
						<b style="font-size:13px">Designation:</b>
						<span> {{presentdesignation}}</span>
					</p>
					<span>
						<p *ngIf="s.from_date">
							<b style="font-size:13px">From:</b> {{s.from_date | date}} </p>
					</span>
					<span>
						<p *ngIf="s.description">
							<b style="font-size:13px">Description: </b><span [innerHtml]="s.description"></span>
							<!-- {{s.description}} -->
						</p>
					</span>
					<hr>
				</span>
				<span *ngIf="result.previousemp_details">
					<p>
						<b style="margin-left: 2px;font-size:14px">Previous Employment:-</b>
					</p>

					<span *ngFor="let s of result.previousemp_details;let i=index">
						<p>
							<b style="font-size:13px">{{i+1}}. {{s.employment | titlecase }} Company:</b> {{s.organization_name |
							titlecase}} </p>
						<p>
							<b style="font-size:13px">Designation:</b>
							<span> {{previousdesignation}}</span>
						</p>
						<span *ngIf="s.from_date">
							<p>
								<b style="font-size:13px"> Duration:</b> ({{s.from_date | date}} - {{s.to_date | date}} ) </p>
						</span>
						<span>
							<p *ngIf="s.description">
								<b style="font-size:13px"> Description:</b>
								<span [innerHtml]="s.description"></span>
								<!-- {{s.description}} -->
							</p>
						</span>

					</span>
					<hr>
				</span>

				<span *ngIf="result.otheremp_details">
					<p>
						<b style="margin-left: 2px;font-size:14px">Other Employment:-</b>
					</p>

					<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
						<p>
							<b style="font-size:13px">Other Employment {{rowIndex+1}}:</b>
						</p>
						<p>
							<b style="font-size:13px">Designation:</b> {{s.other_emp | titlecase }}
						</p>
					</span>
					<hr>

				</span>

			</div>

			<div *ngIf="result.certification_details" class="section-part">

				<h5>
					<i class="fas fa-certificate" style="font-size:20px"></i>
					<span>Certification</span>
				</h5>


				<div *ngFor="let ce of result.certification_details   let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Certification:</b>
					</p>
					<p>
						<b style="font-size:13px"> Name:</b> {{ce.certification_name}}
					</p>
					<p>
						<b style="font-size:13px">Year:</b> {{ce.certification_year}}
					</p>
					<p *ngIf="ce.certification_body">
						<b style="font-size:13px">Description:</b>
						<span [innerHtml]="ce.certification_body"></span>
						<!-- {{ce.certification_body}} -->
					</p>
					<hr>

				</div>

			</div>


			<div *ngIf="result.achievement_details" class="section-part">

				<h5>
					<i class="fas fa-award" style="font-size:20px"></i>
					<span>Achievements</span>
				</h5>

				<div *ngFor="let ac of result.achievement_details   let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Achievement:</b>
					</p>
					<p>
						<b style="font-size:13px">Name:</b> {{ac.name}}
					</p>
					<p *ngIf="ac.description">
						<b>Description:</b>
						<span [innerHtml]="ac.description"></span>
						<!-- {{ac.description}} -->
					</p>
					<hr>

				</div>

			</div>






			<div *ngIf="result.project_details" class="section-part">

				<h5>
					<i class="fas fa-file-archive" style="font-size:20px"></i>
					<span>Projects</span>
				</h5>

				<div *ngFor="let pro of result.project_details;let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Project:</b>
					</p>
					<p>
						<b style="font-size:13px">Name:</b> {{pro.name}}
					</p>
					<p>
						<b style="font-size:13px"> Skills:</b>
						<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
							{{s}}
						</span>
					</p>
					<p>
						<b style="font-size:13px">Duration:</b> {{pro.duration}}
					</p>
					<hr>
				</div>

			</div>

		</div>



	</div>
</ng-template>



<ng-template #profileoverview class="modal-lg profile-template fontsize">
	<div class="profiletemplate" *ngIf="result" style="margin-top:2px;">
		<button type="button" class="pull-right1 closeButton">
			<a (click)="closeModal(charity)" class="fa fa-window-close"></a>
		</button>

		<div class="leftside-details">
			<div class="left-details">
				<div class=" left-details lcard">



					<h5>About me </h5>
					<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
						<img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px">
					</div>

					<div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
						<div *ngIf="result.gender==='Male'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user-tie fa-9x"></i>
							</div>
						</div>
						<div *ngIf="result.gender=='Female'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user fa-9x"></i>
							</div>
						</div>
						<div *ngIf="result.gender=='Other'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user-tie fa-9x"></i>
							</div>
						</div>
					</div>




					<h5>
						<span class="email"> {{result.firstname | titlecase }} {{result.lastname | titlecase }} </span>
					</h5>

					<!-- <div>
						<i class="fa fa-envelope" style="font-size:18px"></i>
						<span class="email"> {{result.email | lowercase }}</span>
					</div>
					<div>
						<i class="fa fa-phone" style="font-size:23px"></i>
						<span> {{result.phone }} </span>
					</div> -->
					<div>
						<i class="fa fa-home" style="font-size:23px"></i>
						<span> {{result.current_loc | titlecase}}</span>
					</div>
				</div>
			</div>
			<p> </p>
			<div class="left-details lcard">
				<h6>
					<i class="fas fa-user"></i> &nbsp;
					<b>Profile Info</b>
				</h6>
				<div *ngIf="result.current_designation">
					<strong>Designation</strong>: {{cur_des}}
				</div>
				<span *ngFor="let previous of previousemp">
					<h5>PREVIOUS EMPLOYMENT</h5>
					<!-- <p *ngFor="let desg of designations"> -->
					<!-- <span *ngIf="previous.designation == desg.designation_id"> -->
					<b>Designation: </b>
					<p>{{previousdesignation}}</p>
					<!-- </span> -->
					<!-- </p> -->
				</span>
				<div *ngIf="result.functional_area">
					<strong>Functional Area</strong>: {{result.functional_area}}
				</div>
				<div *ngIf="result.currentsalary">
					<b>Annual Salary:</b>{{result.currencycode}} {{result.currentsalary}}
				</div>
				<div *ngIf="result.pref_location">
					<strong>Preferred Location</strong>: {{result.pref_location | titlecase}}
				</div>
			</div>
			<p> </p>


			<div class="left-details lcard" *ngIf="result.key_skills">
				<h6>
					<i class="fas fa-laptop-code"></i>&nbsp;
					<b>Skills</b>
				</h6>
				<span *ngFor="let s of skillsarraydisplay;let sk = index">
					{{s}}

				</span>
			</div>

			<div class="left-details lcard">
				<h6>
					<b>
						<i class="fas fa-user-circle"></i> &nbsp; Personal Details</b>
				</h6>

				<div>
					<div *ngIf="result.permanent_address || result.pin_code" class="address">
						<i class="fas fa-map-marker-alt"></i> {{result.permanent_address | titlecase}}, {{result.pin_code}}
						<br>
					</div>
					<div *ngIf="result.date_of_birth">
						<i class="fa fa-birthday-cake"></i>
						{{result.date_of_birth |date }}
						<br>
					</div>
					<div *ngIf="result.gender">
						<i class="fas fa-male"></i>
						{{result.gender | titlecase}}
						<br>
					</div>
				</div>
				<div *ngIf="result.language_known">
					<h6>
						<i></i>
						<b>Languages Known</b>
					</h6>
					<div *ngFor="let lang of result.language_known;let sk=index">
						<div *ngFor="let l of languagesdisplay[sk]">
							{{l.name}}
						</div>

					</div>
				</div>
			</div>
		</div>

		<!---->

		<div class="rightside-content right">


			<div class="right-details rcard ">
				<h5>
					<i></i>
					<b>Resume Headline </b>
				</h5>
				<div class="rightinsidepadding">
					<h6> {{result.resume_headline | titlecase}}</h6>
				</div>
			</div>




			<div class="right-details rcard">
				<h5>
					<b>
						<i class="fa fa-user-secret"> </i> &nbsp; Experience
					</b>
				</h5>
				<div class="rightinsidepadding">
					<span *ngFor="let s of result.presentemp_details;let i=index">

						<h6>
							<b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
						</h6>
						<h6>
							<b>Designation: &nbsp; </b>
							<span> {{presentdesignation}}</span>
						</h6>
						<span>
							<h6 *ngIf="s.from_date">
								<b>From: &nbsp;&nbsp;</b>({{s.from_date | date}} - present) </h6>
						</span>
						<span>
							<h6 *ngIf="s.description">

								<b> Description :</b>
								&nbsp;
								<span [innerHtml]="s.description">
									<!-- {{s.description}} -->
								</span>

							</h6>
							<hr>
						</span>
					</span>



					<div>
						<span *ngFor="let s of result.previousemp_details;let i=index">

							<h6>
								<b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
							</h6>
							<h6>
								<b>Designation : </b>
								<span> {{previousdesignation}}</span>
							</h6>
							<span>
								<h6 *ngIf="s.from_date">
									<b>Duration:&nbsp;&nbsp; </b>({{s.from_date | date}} - {{s.to_date | date}} ) </h6>
							</span>
							<span>
								<h6 *ngIf="s.description">
									<b> Description :</b>

									&nbsp;
									<span [innerHtml]="s.description">
										<!-- {{s.description}} -->
									</span>

								</h6>
								<hr>
							</span>
						</span>
					</div>



					<span>
						<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
							<h6>
								<b>Other Employment{{rowIndex+1}}</b>
							</h6>

							<h6>
								<b>Designation :</b>{{s.other_emp | titlecase }}

							</h6>



						</span>
					</span>
				</div>
			</div>
			<div class="right-details rcard " *ngIf="result.educational_details">
				<h5>
					<i class="fa fa-mortar-board"></i>
					<b> Education</b>
				</h5>
				<span></span>
				<div style=" padding-left: 10px;">
					<div *ngFor="let s of result.ssc_details">

						<i class="fas fa-angle-right"></i>
						<b>SSC</b> from
						<b>{{s.coursename}}</b> completed in the year of
						<b>{{s.year}}</b> .


					</div>
					<div *ngFor="let i of result.inter_details">
						<i class="fas fa-angle-right"></i>
						<b>SECONDARY EDUCATION</b> from
						<b>{{i.coursename}}</b> completed in the year of
						<b>{{i.year}}</b>.


					</div>
					<div *ngFor="let g of result.grad_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>GRADUATION({{g.specialization}})</b>
						<span *ngIf="graduniversity[i].length>0"> from
							<b>'{{graduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{g.year}}</b>.

					</div>
					<div *ngFor="let pg of result.pg_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>PG({{pg.specialization}})</b>
						<span *ngIf="pguniversity[i].length>0"> from
							<b>'{{pguniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{pg.year}}</b>.
					</div>

					<div *ngFor="let p of result.phd_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>PHD({{p.specialization}})</b>
						<span *ngIf="phduniversity[i].length>0"> from
							<b>'{{phduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{p.year}}</b>.
					</div>
				</div>
			</div>

			<div class="right-details rcard " *ngIf="result.project_details">

				<h5>
					<i class="fas fa-tasks"></i> &nbsp;
					<b>Projects</b>

				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let pro of result.project_details   let rowIndex=index">


						<h6 *ngIf="result.project_details.length>1">
							<b>Project{{rowIndex+1}}</b></h6>


						<h6>
							<b>Name:</b> {{pro.name}}</h6>
						<h6>
							<b> Skills:</b>
							<!-- <span *ngFor="let s of skill[rowIndex];let sk = index">
								{{s.name}}
								<b *ngIf="skill[rowIndex][sk + 1]">, </b>
								<b *ngIf="sk + 1 == skill[rowIndex].length">.</b>
							</span> -->
							<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
								{{s}}

							</span>

						</h6>
						<h6>
							<b>Duration:</b> {{pro.duration}}</h6>
						<h6 *ngIf="pro.description">
							<b>Description:</b> <span [innerHtml]="pro.description">
								<!-- {{pro.description}} -->
							</span>

						</h6>

						<hr>
					</div>
				</div>

			</div>
			<div class="right-details rcard  " *ngIf="result.certification_details">


				<h5>
					<i class="fas fa-file-alt"></i> &nbsp;
					<b>Certifications</b>
				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let ce of result.certification_details   let rowIndex=index">
						<h6>
							<b><span *ngIf="result.certification_details.length>1">Certifications{{rowIndex+1}}</span></b>
						</h6>

						<h6>
							<b>Name:</b> {{ce.certification_name}}</h6>

						<h6 *ngIf="ce.certification_body">
							<span> <b>Description:</b><span [innerHtml]="ce.certification_body"></span></span>
						</h6>
						<h6>
							<b>Year:</b> {{ce.certification_year}}


						</h6>

						<hr>

					</div>
				</div>
			</div>

			<div class="right-details rcard" *ngIf="result.achievement_details">


				<h5>
					<i class="fas fa-medal"></i> &nbsp;
					<b>Achievements</b>
				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let n of result.achievement_details;let i=index">

						<h6>
							<b>Achievement<span *ngIf="result.achievement_details.length>1">{{i+1}}</span></b>
						</h6>

						<h6>
							<b> Name :</b>&nbsp; {{n.name}}</h6>

						<h6>
							<p *ngIf="n.description">
								<b>Description : </b>&nbsp; <span [innerHtml]="n.description">
									<!-- {{n.description}} -->
								</span>
							</p>
						</h6>
						<h6>
							<p *ngIf="imagesArr1[i]">
								<ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
							</p>
						</h6>

						<hr>


					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>



<ng-template #confirmtemplate class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Please fill your profile details...<b style="font-size:18px">!</b>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>Later</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Go to Profile</span>
		</button>
	</div>
</ng-template>


<ng-template #confirmtemplate2 class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			We will not support to mobile web as of now .......<b style="font-size:18px">!</b><br>
			Please check in desktop or else download mobile app in google playstore
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>Later</span>
		</button>
		<!-- <button class="btn btn-primary" (click)="confirmation(true)">
        <span>Go to Profile</span>
      </button> -->
	</div>
</ng-template>

<kendo-pdf-export #pdf paperSize="A4" margin="0.4cm" [scale]="0.8" [hidden]=hidetemp>

	<body>

		<style>
			/* 	body * {
					visibility: visible;
				} */

			.resumetemp {
				padding: 1px;
				display: block;
				/* background-color: whitesmoke; */
			}

			.resumetemp h1 {
				margin: 0px;
				font-size: 18px;
			}

			.resumetemp h2 {
				margin: 0px;
				font-size: 16px;
			}

			.resumetemp p {
				margin: 5px;
				font-size: 13px;
				line-height: 15px;
			}

			.pull-righ {
				float: right;
			}

			.left-det {
				width: 300px;
			}

			.right-det {
				/* width: 380px;*/
				/* margin: 5px 5px 5px 5px; */
				/*padding: 10px;*/
				display: inline;
			}

			.left-det h6 {
				font-size: 16px;
				font-family: Georgia, serif;
				background-color: silver;
			}

			.right-det h6 {
				font-size: 16px;
				font-family: Georgia, serif;
				background-color: silver;
				margin-right: -10px;
			}

			.about p {
				text-indent: 30px;
				word-break: break-all;
			}

			.section1 span:first-child {
				padding-left: 4px;
			}

			.section1 {
				max-width: 220px;
				word-break: break-word;
			}

			.section2 {
				font-style: normal;
				text-decoration: justify;
			}

			.section2 p {
				padding-right: 2px;
				padding-left: 3px;
			}

			/*	.section1 i {
				padding-left: 4px;
			}*/
		</style>

		<div *ngIf="result" class="resumetemp">
			<div>
				<h2>
					<hr>
					<span>
						<strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
					</span>
					<span class="pull-righ">
						<strong style="font-size:14px">Email ID&nbsp;:</strong>
						<span style="font-size:14px"> &nbsp;{{result.email}}</span>,&nbsp;

						<strong style="font-size:15px">Mobile&nbsp;:</strong>
						<span style="font-size:14px">&nbsp;{{result.phone}}</span>
					</span>
					<hr>
				</h2>
			</div>

			<!-- left-details -->
			<div style="overflow: hidden; display: block;">

				<div *ngIf="result" style="width:30%; float: left;" class="left-det">
					<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
						<!-- <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px"> -->
						<!-- <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px"> -->
						<hr>
					</div>

					<div class="section1">
						<h6>
							<span>Profile Info</span>
						</h6>

						<p>
							<strong>Functional Area:</strong>&nbsp;&nbsp;{{result.functional_area}}</p>
						<p *ngIf="result.permanent_address">
							<strong>Address:</strong>&nbsp;&nbsp;{{result.permanent_address}}</p>
						<p *ngIf="result.current_loc">
							<strong>Current Location:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.current_loc}}</p>
						<p *ngIf="result.preferred_location">
							<strong>Preferred Location:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{pref_loc2}}
						</p>
					</div>
					<hr>

					<div *ngIf="cur_des[0]" class="section1">
						<h6>
							<span>Profession</span>
						</h6>
						<p>
							{{cur_des}}</p>
						<hr>
					</div>

					<div class="section1">
						<h6>
							<span>Personal Details</span>
						</h6>
						<p>
							<strong>Gender:</strong>&nbsp;&nbsp;&nbsp;{{result.gender | titlecase}}
						</p>

						<p *ngIf="result.date_of_birth">
							<strong>DOB:</strong>&nbsp;&nbsp;&nbsp;{{result.date_of_birth |date }}
						</p>

						<p *ngIf="result.status_name">
							<strong>Marital Status:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.status_name}}</p>

						<p *ngIf="result.language_known">
							<strong>Languages Known:</strong>
						</p>

						<p *ngFor="let l of languagesdisplay;let la=index">
							&nbsp;&nbsp;
							<span *ngIf="languagesdisplay[la+1]">
								{{l[0].name}}, </span>
							<span *ngIf="languagesdisplay.length == la+1">
								{{l[0].name}}.</span>
						</p>

						<p *ngIf="result.permanent_address">
							<strong>Permanent Address:</strong>&nbsp;&nbsp;&nbsp;{{result.permanent_address}}</p>

						<p *ngIf="result.pin_code">
							<strong>ZipCode:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.pin_code}}</p>
					</div>
					<hr>

				</div>

				<!-- right-details -->
				<div *ngIf="result" style="width:69%;float:right;" class="right-det">

					<div *ngIf="result.resume_headline" class="about section2">
						<h6>
							<span style="margin-left: 4px;">About Me</span>
						</h6>
						<p> {{result.resume_headline}}</p>
						<hr>
					</div>

					<div *ngIf="result.educational_details" class="section2">

						<h6>
							<!-- <i class="fa fa-mortar-board"></i> -->
							<span style="margin-left: 4px;">Education</span>
						</h6>

						<div *ngFor="let s of result.ssc_details">
							<p style="font-size:13px">
								<b>SSC</b>&nbsp;&nbsp;from
								<b>{{s.coursename}}</b>&nbsp;&nbsp;completed in the year of&nbsp;
								<b>{{s.year}}</b>.
							</p>
						</div>


						<div *ngFor="let i of result.inter_details">
							<p style="font-size:13px">
								<b>INTER</b>&nbsp;&nbsp;from
								<b>{{i.coursename}}</b>&nbsp;&nbsp;completed in the year of&nbsp;
								<b>{{i.year}}</b>.
							</p>
						</div>


						<div *ngFor="let g of result.grad_details;let i=index">
							<p style="font-size:13px">
								<b>GRADUATION({{g.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="graduniversity[i].length>0">from &nbsp;
									<b>'{{graduniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{g.year}}</b>.
							</p>
						</div>


						<div *ngFor="let pg of result.pg_details;let i=index">
							<p style="font-size:13px">
								<b>PG({{pg.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="pguniversity[i].length>0"> from &nbsp;
									<b>'{{pguniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{pg.year}}</b>.
							</p>
						</div>

						<div *ngFor="let p of result.phd_details;let i=index">
							<p style="font-size:13px">
								<b>PHD({{p.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="phduniversity[i].length>0"> from &nbsp;
									<b>'{{phduniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{p.year}}</b>.
							</p>
						</div>
						<hr>
					</div>

					<div *ngIf="result.skill_details" class="section2">
						<h6>
							<span style="margin-left: 4px;">Skills</span>
						</h6>
						<span *ngFor="let s of skillsarraydisplay;let sk = index" style="font-size:13px">
							{{s}}&nbsp;
						</span>
						<hr>
					</div>

					<div *ngIf="result.presentemp_details || result.previousemp_details || result.otheremp_details" class="section2">
						<h6>
							<span style="margin-left: 4px;">Experience</span>
						</h6>

						<div *ngFor="let s of result.presentemp_details;let i=index">
							<p>
								<b style="margin-left: 2px;font-size:14px">Present Employment:-</b>
							</p>
							<p>
								<b style="font-size:13px">{{s.employment | titlecase }} Company:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{s.organization_name
								| titlecase}} </p>

							<p>
								<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;
								<span *ngFor="let d of presentdesignation[i]">{{d.name}}</span>
							</p>
							<span>
								<p *ngIf="s.from_date">
									<b style="font-size:13px">From:</b>&nbsp;&nbsp;{{s.from_date | date}} </p>
							</span>
							<span>
								<p *ngIf="s.description">
									<b style="font-size:13px">Description:</b>&nbsp;&nbsp; {{s.description}}
								</p>
							</span>
							<hr>
						</div>

						<div *ngIf="result.previousemp_details">
							<p>
								<b style="margin-left: 2px;font-size:14px">Previous Employment:-</b>
							</p>

							<div *ngFor="let s of result.previousemp_details;let i=index">
								<p>
									<b style="font-size:13px">{{i+1}}. {{s.employment | titlecase }} Company:</b>&nbsp;&nbsp;&nbsp;&nbsp;
									{{s.organization_name | titlecase}}
								</p>
								<p>
									<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;
									<span *ngFor="let d of previousdesignation[i]">{{d.name}}</span>
								</p>
								<span *ngIf="s.from_date">
									<p>
										<b style="font-size:13px">Duration:</b>&nbsp;&nbsp;({{s.from_date | date}} - {{s.to_date | date}} ) </p>
								</span>
								<span>
									<p *ngIf="s.description">
										<b style="font-size:13px"> Description:</b>&nbsp;&nbsp;{{s.description}} </p>
								</span>

							</div>
							<hr>
							<!-- <div style="clear:both;">&nbsp; aaaaa</div> -->
						</div>

						<div *ngIf="result.otheremp_details">
							<p>
								<b style="margin-left: 2px;font-size:14px">Other Employment:-</b>
							</p>

							<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
								<p>
									<b style="font-size:13px">Other Employment {{rowIndex+1}}:</b>
								</p>
								<p>
									<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;&nbsp;{{s.other_emp | titlecase }}
								</p>
							</span>
							<hr>

						</div>

					</div>

					<div *ngIf="result.certification_details" class="section2">

						<h6>
							<!-- <i class="fas fa-certificate" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Certification</span>
						</h6>


						<div *ngFor="let ce of result.certification_details;let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Certification:</b>
							</p>
							<p>
								<b style="font-size:13px"> Name:</b>&nbsp;&nbsp;{{ce.certification_name}}
							</p>
							<p>
								<b style="font-size:13px">Year:</b>&nbsp;&nbsp;{{ce.certification_year}}
							</p>
							<p *ngIf="ce.certification_body">
								<b style="font-size:13px">Description:</b>&nbsp;&nbsp;&nbsp;{{ce.certification_body}}
							</p>
							<hr>

						</div>

					</div>

					<div *ngIf="result.achievement_details" class="section2">

						<h6>
							<!-- <i class="fas fa-award" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Achievements</span>
						</h6>

						<div *ngFor="let ac of result.achievement_details   let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Achievement:</b>
							</p>
							<p>
								<b style="font-size:13px">Name:</b>&nbsp;&nbsp;{{ac.name}}
							</p>
							<p *ngIf="ac.description">
								<b>Description:</b>&nbsp;&nbsp;&nbsp;{{ac.description}}</p>
							<hr>

						</div>

					</div>

					<div *ngIf="result.project_details" class="section2">

						<h6>
							<!-- <i class="fas fa-file-archive" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Projects</span>
						</h6>

						<div *ngFor="let pro of result.project_details;let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Project:</b>
							</p>
							<p>
								<b style="font-size:13px">Name:</b>&nbsp;&nbsp;{{pro.name}}
							</p>
							<p>
								<b style="font-size:13px"> Skills:</b>&nbsp;&nbsp;
								<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
									{{s}}
								</span>
							</p>
							<p>
								<b style="font-size:13px">Duration:</b>&nbsp;&nbsp;{{pro.duration}}
							</p>
							<hr>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- <div style="clear:both">&nbsp;</div> -->
	</body>
</kendo-pdf-export>