<!-- <app-header></app-header> -->
<div class="container">
	
		<div class="main-header">
				<div class="row">
		<div class="left-main col-3">
  ,
  <app-profile-left-menu></app-profile-left-menu>
		</div>
		<div class="col-9">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
</div>