<!-- Registration sucess Message -->
<div class="loginbg">
	<div class="login-container">
		<div class="logo">&nbsp;</div>
		<div class="login-main row">
			<div class="col-12 text-align: center">
					<!-- <h1><b><u>Verification Success</u></b></h1> -->
				<b style="color:green; font-size:20px  ">Congratulations</b>
				 <p>Your account have been Activated.</p> 
				<button class="btn btn-info"  (click)="login()">Go to Login</button>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div> 



