.loginbg{
	background: url(/assets/images/loginbg.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.logo{
	background: url(/assets/images/logo.png) no-repeat #fff;
    width: 100%;
    height: 85px;
    margin: 0;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0px;
}
.login-container{
	background: #fff;
	width: 600px;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	top: 50%;
	margin-top:-120px;
	text-align: center;
	padding: 20px; 
}
.form-control{
	margin:10px 0;
}
h1{
	color: #0067aa;
}
a{
	margin:6px 0; 
}
a.fb{
	background: url(/assets/images/fb.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
a.gmail{
	background: url(/assets/images/gmail.png) no-repeat;
	height: 45px;
	display: block;
	background-position: 25px;
}
.loginor{
	position: relative;
	margin:10px; 
}
.loginor p{
	position:absolute;
	left:50%;
	padding: 5px;
	margin-top:-35px;
	margin-left:-5px;
	background: #fff;
}
.forgotpassword{
	float: left;
	font-size: 11px;
	margin: 10px 0;
	cursor: pointer;
}
.btn-primary{
	background: #0067aa;
	display: block;
	width: 100%;
	padding: 10px;
}
.registration-container{
	background: #fff;
	width: 600px;
	overflow: hidden;
	position: absolute;
	left: 50%;
	margin-left:-300px;
	margin-top:100px;
	text-align: center;
	padding: 20px; 
	z-index: 99999;
}
.registration-container h1 {
    font-size: 16px !important;
}
.registration-container h1 a{
	font-size: 12px !important;
	color: #000;
	cursor: pointer;
}
.login-main a{
	color: #0067aa;
	font-weight: bold;
}
 