
/* button{
    margin-left:10px;
} */
.certifications{
    margin-left:10px;
}
.help-block{
	margin-left:3px;
}
.cert_det p b{
    width: 90%;
    display: inline-block;
}

.certification{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	


	 
	 

	  .certifications b {
		width: 30%;
		display: block;
		font-size: 14px;
	  }
	  .error{
    font-size:13px;
}

/* button{
    margin-left:10px;
} */
.certifications{
    margin-left:10px;
}

.cert_det p b{
    width: 90%;
    display: inline-block;
}

.certification{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	.message{
		color: #da534d;
		font-size:12px;
	  }

	.certifications body {

		width: 450px;
		max-width: 450px;
		word-break: break-all;
		
		
	  }

	  .certifications div {
		margin-top: 0;
		margin-bottom: 10px;
	  }

	  .col-4 {
		-ms-flex: 0 0 23.333333%;
		flex: 0 0 23.333333%;
		max-width: 23.333333%;
	  }

	 
	  .certifications span {
		width: 400px;
		max-width: 400px;
		display: block;
		font-size: 12px;
		overflow-wrap: break-word;
		
	  }
	  
	  .certifications b {
		width: 30%;
		display: block;
		font-size: 12px;
	  }
	  .new{
		  font-size: 12px !important;
	  }