<div class="certification">




  <h4>
    <b>Certification Details</b>
  </h4>
  <hr>


  <!-- CERTIFICATIONS -->


  <form name="certification" (ngSubmit)="c.valid " #c="ngForm" novalidate>
      <div class="form-group">
        <div class="row"> 
        <div class="col-6">
          <label class="col-12" for="certification_name">Certification Name
            <span class="message">*</span>
          </label> 
          <div class="col-12" [ngClass]="{ 'has-error': c.submitted && !certification_name.valid }">
            <input type="text" [(ngModel)]="certification.certification_name" placeholder="Enter certification name"  name="certification_name" #certification_name="ngModel"
              class="form-control" minlength="3" maxlength="50" id="certification_name" required (keypress)="validate($event)">
            <span [hidden]="errName==false" *ngIf="c.submitted && !certification_name.valid" class="help-block">
              Please specify certification name
            </span>
          </div>
        </div>
        </div>
     

      <div class="row"> 
      <div class="col-6">
        <label class="col-12" for="year4">Year
          <span class="message">*</span>
        </label>
        <div class="col-12" [ngClass]="{ 'has-error': c.submitted && !year.valid }">
          <!-- <input type="text" [(ngModel)]="educationaldetails2.year" class="form-control" id="year2"> -->
          <select class="form-control select-option" name="cyear" #year="ngModel" [(ngModel)]="certification.year" required>
            <option [ngValue]="undefined">Select Year</option>
            <option class='option' *ngFor='let year of Yearofpass' [value]=year.id>{{year.year}}</option>
          </select>
          <span [hidden]="errYear==false" *ngIf="c.submitted && !year.valid" class="help-block">
            Please select year
          </span>
        </div>
        </div>

      </div> 
      <div class="row"> 
        <div class="col-12">
          <label class="col-12" for="certification_body">Certification Details</label>
          <div class="col-12">
               <app-ngx-editor  height="65px" minHeight="50px" [config]="editorConfig"   placeholder="Enter details of the certification" [(ngModel)]="certification.certification_body" maxlength="240" name="certification_body" #certification_body="ngModel"
              class="form-control" id="certification_body"> </app-ngx-editor> 
 
            <!-- <textarea rows="5" type="text" placeholder="Enter details of the certification" [(ngModel)]="certification.certification_body" maxlength="240" name="certification_body" #certification_body="ngModel"
              class="form-control" id="certification_body"></textarea>  -->
          </div>
          </div>
        </div>
     
      <br>
      <div class="clearfix"></div>
      <div class="col-4 pull-right">

        <button type="submit" class="btn btn-primary " (click)="savecertifications(certification)">Save</button>
        <button type="reset" class="btn btn-danger " (click)="clearForm()">Cancel</button>
      
      </div>
    </div>
  </form>
  <br>
  <br>

  <div class="row col-12 ">
    	<ng4-loading-spinner> </ng4-loading-spinner>
    <div class="cert_det col-12" *ngFor="let c of certifications;let i=index">
      <div class="clearfix ">
        <h5>
          <b>Certification Details {{i+1}}</b> &nbsp;
          <button class="btn btn-primary" (click)="editbyid(c)"><i class="fas fa-edit"></i></button>
          <button class="btn btn-danger" (click)="deletebyid(c.id,confirm)"><i class="fas fa-trash"></i></button>
         
        </h5>
        <hr>
        <div class="certifications">
            <div class="row">
          <b class="col-4">Certification Name</b>  <span class="col-6">  {{c.certification_name}} </span>
        </div>

        <div>
            <div class="row">
              <b class="col-4">Year</b>
              <span class="col-6">   {{c.certification_year}} </span> </div>
            </div>

        <div class="row body" *ngIf="c.certification_body">
          <b class="col-4">Certification Details</b> 
          <span class="col-6" [innerHtml] = c.certification_body >
            <!-- {{c.certification_body | titlecase }}  -->
          </span>
            
          
        </div>    
        </div>
       <br>
      </div>
    </div>
  </div>


  

  <ng-template #confirm class="modal">
    <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
    <div class="modal-body text-center">
      <span class="text-center">
        Do you want to delete this Certification details<i class="fa fa-question" style="font-size:26px"></i>
      </span>
    </div>
    <div class="modal-footer confirm_modal_footer">
  
  
      <button class="btn btn-danger" (click)="confirmation(false)">
        <span>No</span>
      </button>
      <button class="btn btn-primary" (click)="confirmation(true)">
        <span>Yes</span>
      </button>
    </div>
  </ng-template>
  