<div class="loginbg">
  <div class="login-container">
    <div class="logo"></div>

    <div class=" pull-right button cur"  (click)="login()"><u>
        <h4>Go to Login</h4>
      </u>  </div>





    <h1>Forgot Password</h1>
    <hr>

    &nbsp; <h4 style="font-size:15px">Enter your registered E-mail</h4>

    <div class="clearfix"></div>
    <!-- <hr> -->
    <div class="login-main">
      <div>
        <form name="forgotPwd" (ngSubmit)="fp.forgotPwd.valid " #fp="ngForm" novalidate>

          <div [ngClass]="{ 'has-error': fp.submitted && !femail.valid }">


            <input type="email" class="form-control" name="femail" [(ngModel)]="model.femail" #femail="ngModel" pattern="^[a-z0-9](\.?[a-z0-9_-]){0,}@[a-z0-9-]+\.([a-z]{1,6}\.)?[a-z]{2,6}$"
              placeholder="Enter your E-mail" email required (keyup)="emailCheck($event)" />
            <div *ngIf="fp.submitted && femail.errors && femail.errors.required" class="help-block message" style="font-size: 13px">Please
              specify email
            </div>

          </div>
          <div *ngIf="fp.submitted && femail.errors?.pattern" class="help-block message">Invalid E-mail</div>
          <div *ngIf=" fp.submitted && !emexsit && model.femail" [hidden]=femail.errors?.pattern class="help-block message"
          style="font-size: 13px"> E-mail is
            not registered</div>

          <button type="submit" class="btn btn-primary" (click)=sendemail(model.femail)>Send Mail</button>
        </form>
      </div>

    </div>
    <div [hidden]="message!=undefined || message==null" class="alert alert-danger">
      <strong>{{message}}</strong>
    </div>
  </div>

  <div class="my-container">
    <!-- <ngx-loading [config]="{backdropBorderRadius: '14px'}"></ngx-loading> && sendemail(model.femail)   -->

  </div>
</div>


<footer>

  <!-- <li><a >About Us</a></li>
  <li><a>Contact Us</a></li> -->

  <a class="leftlink" [routerLink]="['/about']" routerLinkActive="active-link">About Koneqto</a>
  <a class="leftlink" [routerLink]="['/helpcenter']" routerLinkActive="active-link" >Help Center</a>
  <a class="leftlink" [routerLink]="['/privacy']" routerLinkActive="active-link" >Terms & Privacy</a>
  
  <a class="leftlink" [routerLink]="['/advertising']" routerLinkActive="active-link"> Advertising</a>
  <a class="leftlink" [routerLink]="['/business']" routerLinkActive="active-link">Business & Services</a>
  
  <a class="leftlink" [routerLink]="['/gettheapp']" routerLinkActive="active-link">Get the Koneqto App</a>
  <a class="leftlink" [routerLink]="['/more']" routerLinkActive="active-link">More</a>


  <p class="left-link pull-right"><b>KONEQTO</b> Informatics © 2018</p>

</footer>

