<!-- Contenedor -->
<ul id="accordion" class="accordion">

	<div class="col col_4 " *ngIf="imgsrc==''|| imgsrc==undefined||imgsrc=='IMAGE'">
		<ngx-avatar name="{{user}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="160" textSizeRatio="1.5" [round]="true">

		</ngx-avatar>

		<!-- <a class="btn-o"> Add Friend </a> -->
		<a *ngIf="imgsrc!='' " class="btn btn-primary" (click)="openModal(template)"> Upload Image </a>


	</div>
	<li>
		<div class="col col_4 iamgurdeep-pic" *ngIf="imgsrc!='' && imgsrc!=undefined && imgsrc!='IMAGE'">
			<img class="rounded-circle" class="img-responsive iamgurdeeposahan" src="{{Apiurl}}/profileimage/{{imgsrc}}">

			<div class="username" *ngIf="result">
				<h5>{{result.user_name | titlecase}} </h5>
				<p></p>
				<a class="btn btn-primmary" (click)="openModal(template)" style="background-color: gray"> Change Image </a>
				<a class="btn btn-primmary" (click)="openModal(confirm)" style="background-color: gray"> Remove Image </a>
				<!-- <a class="btn-o">  Add Friend </a> -->


				<h4>{{loginusername | titlecase}}</h4>
				<!--<span *ngFor="let fn of fnarealist">
			<span *ngIf="fnarea[0].functional_area==fn.fn_area_id">
				{{fn.name}}
			</span>
		</span> -->
				<span>{{functional_area}}</span>

				<span *ngFor="let fn of countries">
					<span *ngIf="fn[0].country==fn.country_id">
						{{fn.country_name}}

					</span>
				</span>
				<span *ngFor="let fn of states">
					<span *ngIf="fnarea[0].state==fn.state_id">
						{{fn.state_name}} </span>
				</span>
			</div>
		</div>

		<div>

			<ul class="nav navbar-nav">
				<li class="dropdown">
					<ul class="dropdown-menu pull-right">
						<li>
							<a href="#">Video Call
								<i class="fa fa-video-camera"></i>
							</a>
						</li>
						<li>
							<a href="#">Poke
								<i class="fa fa-hand-o-right"></i>
							</a>
						</li>
						<li>
							<a href="#">Report
								<i class="fa fa-bug"></i>
							</a>
						</li>
						<li>
							<a href="#">Block
								<i class="fa fa-lock"></i>
							</a>
						</li>
					</ul>
				</li>
			</ul>

		</div>
	</li>
</ul>
<div class="left-section">
	<div *ngIf="!isrecruter">
		<ul>
			<!-- <li [routerLink]="['/profile-dashboard']" routerLinkActive="active-link"><a><i class="fas fa-camera-retro"></i> &nbsp; Dashboard</a></li> -->
			<li [routerLink]="['/profile-details']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-camera-retro"></i> &nbsp; Snapshot
				</a>
			</li>

			<li [routerLink]="['/skill']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-pencil-ruler"></i> &nbsp; Skills</a>
			</li>
			<li [routerLink]="['/education']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-book"></i> &nbsp; Education</a>
			</li>
			<li [routerLink]="['/employment-details']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-user-tie"></i> &nbsp; Employer Designation
				</a>
			</li>
			<li [routerLink]="['/projects']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-tasks"></i> &nbsp; Projects</a>
			</li>
			<li [routerLink]="['/profile-moredetails']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-info-circle"></i>
					&nbsp; More Details</a>
			</li>
			<li [routerLink]="['/videoresume']">
				<i class="fas fa-file-video"></i> &nbsp; Video Resume</li>
			<!-- <li><a [routerLink]="['/jobsapplied']">Intrested JOBS</a></li>
					<li><a [routerLink]="['/evetssapplied']">Intrested Events</a></li> -->
			<li (click)="openresume(resumetemplate)">
				<i class="fas fa-file"></i> &nbsp; Sample Resume Template </li>
			<div *ngIf="!isrecruter">
				<li [routerLink]="['/appliedjobs']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-envelope-open-text"></i>
						&nbsp; Applied Jobs</a>
				</li>


			</div>
			<li [routerLink]="['/myposts']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-clipboard-check"></i> &nbsp; My Job Posts</a>
			</li>
			<li [routerLink]="['/myevents']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-calendar-alt"></i> &nbsp; My Events
				</a>
			</li>

			<li [routerLink]="['/myadvices']" routerLinkActive="active-link">
				<a>
					<i class="far fa-comments"></i> &nbsp; My Advices
				</a>
			</li>
			<li [routerLink]="['/charity']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-donate"></i> &nbsp; My Charity</a>
			</li>
			<!-- <li><a [routerLink]="['/myfriends']">My Friends</a></li>myadvices -->


			<li [routerLink]="['/myfriends']" routerLinkActive="active-link">
				<a>
					<i class="far fa-handshake"></i> &nbsp;My Connections</a>
			</li>
			<li [routerLink]="['/interestedevents']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-calendar"></i> &nbsp; Interested Events</a>
			</li>


			<li [routerLink]="['/achievements']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-medal"></i> &nbsp; Achievements
				</a>
			</li>
			<li [routerLink]="['/certifications']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-file-alt"></i> &nbsp; Certifications
				</a>
			</li>
			<li [routerLink]="['/gallery']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-images"></i> &nbsp; My Gallery</a>
			</li>

			<!-- <div *ngIf="isrecruter">
				<li [routerLink]="['/companydetails']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-building"></i> &nbsp; Company Details</a>
				</li>
			</div> -->
		</ul>
	</div>
	<div *ngIf="isrecruter">
		<ul>
			<!-- <li [routerLink]="['/profile-dashboard']" routerLinkActive="active-link"><a><i class="fas fa-camera-retro"></i> &nbsp; Dashboard</a></li> -->
			<!-- <li [routerLink]="['/profile-details']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-camera-retro"></i> &nbsp; Snapshot
					</a>
				</li>
	
				<li [routerLink]="['/skill']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-pencil-ruler"></i> &nbsp; Skills</a>
				</li>
				<li [routerLink]="['/education']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-book"></i> &nbsp; Education</a>
				</li>
				<li [routerLink]="['/employment-details']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-user-tie"></i> &nbsp; Employer Designation
					</a>
				</li> -->
			<li [routerLink]="['/companydetails']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-building"></i> &nbsp; Company Details</a>
			</li>
			<li [routerLink]="['/projects']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-tasks"></i> &nbsp; Company Projects</a>
			</li>
			<!-- <li [routerLink]="['/profile-moredetails']" routerLinkActive="active-link">
					<a>
						<i class="fas fa-info-circle"></i>
						&nbsp; More Details</a>
				</li> -->
			<!-- <li [routerLink]="['/videoresume']">
					<i class="fas fa-file-video"></i> &nbsp; Video Resume</li> -->
			<!-- <li><a [routerLink]="['/jobsapplied']">Intrested JOBS</a></li>
						<li><a [routerLink]="['/evetssapplied']">Intrested Events</a></li> -->
			<!-- <li (click)="openresume(resumetemplate)">
					<i class="fas fa-file"></i> &nbsp; Sample Resume Template </li> -->
			<!-- <div *ngIf="!isrecruter">
					<li [routerLink]="['/appliedjobs']" routerLinkActive="active-link">
						<a>
							<i class="fas fa-envelope-open-text"></i>
							&nbsp; Applied Jobs</a>
					</li>	
				</div> -->
			<li [routerLink]="['/myposts']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-clipboard-check"></i> &nbsp; My Job Posts</a>
			</li>
			<li [routerLink]="['/myevents']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-calendar-alt"></i> &nbsp; My Events
				</a>
			</li>

			<li [routerLink]="['/myadvices']" routerLinkActive="active-link">
				<a>
					<i class="far fa-comments"></i> &nbsp; My Advices
				</a>
			</li>
			<li [routerLink]="['/charity']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-donate"></i> &nbsp; My Charity</a>
			</li>
			<!-- <li><a [routerLink]="['/myfriends']">My Friends</a></li>myadvices -->


			<li [routerLink]="['/myfriends']" routerLinkActive="active-link">
				<a>
					<i class="far fa-handshake"></i> &nbsp;My Connections</a>
			</li>
			<li [routerLink]="['/interestedevents']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-calendar"></i> &nbsp; Interested Events</a>
			</li>


			<li [routerLink]="['/achievements']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-medal"></i> &nbsp; Company Achievements
				</a>
			</li>
			<li [routerLink]="['/certifications']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-file-alt"></i> &nbsp; Company Certifications
				</a>
			</li>
			<li [routerLink]="['/gallery']" routerLinkActive="active-link">
				<a>
					<i class="fas fa-images"></i> &nbsp; Company Gallery</a>
			</li>




		</ul>
	</div>
</div>
<ng-template #template class="modal-lg">
		<ng4-loading-spinner> </ng4-loading-spinner>
	<form name="fgg" (ngSubmit)="p.valid && onUpload(template)" #p="ngForm" novalidate>
		<div class="modal-header">

			<h4 class="modal-title pull-left">Select Your Image</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="form-group" [ngClass]="{ 'has-error': p.submitted && !image }">
				<input type="file" [(ngModel)]="image" #image1="ngModel" name="image" class="form-control" (change)="check($event)"
				 required>
				<span *ngIf="p.submitted && !image" class="help-block">Please Select one image</span>
				<span *ngIf="p.submitted || errImageType==true" class="help-block">
					Invalid image format
				</span>
			</div>

		</div>
		<div class="modal-footer">
			<button type="submit" class="btn btn-primary">Upload</button>
		</div>
	</form>
</ng-template>

<ng-template #confirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this profile image
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>

<!-- resumetemplate -->
<ng-template #resumetemplate class="modal-lg resume-template">
	<div id="content" #content>
		<div>
			<input type="button" class="btn btn-primary pull-left" value="Download" kendo-button (click)="pdf.saveAs('Resume.pdf')" />
		</div>
	</div>
	<button type="button" class="pull-right closeButton" (click)="closeResumeTemplate(template2)">
		<span class="fa fa-window-close"></span>
	</button>
	<div *ngIf="result" class="resumetemplate">

		<div>
			<hr>
			<h2>
				<span>
					<strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
				</span>
				<span class="pull-right">
					<strong style="font-size:14px">Email ID : </strong>
					<span style="font-size:14px">{{result.email}}</span>,&nbsp;

					<strong style="font-size:15px">Mobile : </strong>
					<span style="font-size:14px">{{result.phone}}</span>
				</span>
			</h2>
			<hr>
		</div>

		<div class="left-details" *ngIf="result">

			<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
				<img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px" id='imgg'>
			</div>
			<div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
				<div *ngIf="result.gender==='Male'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user-tie fa-9x"></i>
					</div>
				</div>
				<div *ngIf="result.gender=='Female'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user fa-9x"></i>
					</div>
				</div>
				<div *ngIf="result.gender=='Other'">
					<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
						<i class="fas fa-user-tie fa-9x"></i>
					</div>
				</div>
			</div>


			<hr>

			<div class="section-part">

				<h6>
					<i class="fas fa-user-circle"></i>
					<span>Profile Info</span>
				</h6>
				<p>
					<strong>Functional Area</strong>: {{result.functional_area}}</p>
				<p *ngIf="result.permanent_address">
					<strong>Address</strong>: {{result.permanent_address}}</p>
				<p *ngIf="result.current_loc">
					<strong>Current Location</strong>: {{result.current_loc}}</p>
				<p *ngIf="result.preferred_location">
					<strong>Preferred Location: </strong>{{pref_loc2}}
				</p>
			</div>
			<hr>

			<div class="section-part" *ngIf="result.current_designation">

				<h6>
					<i class="fas fa-user-tie"></i>
					<span>Profession</span>
				</h6>
				<p>
					{{cur_des}}</p>
				<hr>
			</div>

			<div class="section-part">
				<h6>
					<i class="far fa-address-card"></i>
					<span>Personal Details</span>
				</h6>
				<p>
					<i class="fa fa-user-o" style="font-size:22px"></i>

					<strong>Gender:</strong>
					<span>{{result.gender | titlecase}}</span>
				</p>

				<p *ngIf="result.date_of_birth">
					<i class="fa fa-birthday-cake" style="font-size:22px"></i>
					<strong>DOB:</strong> {{result.date_of_birth |date }}
				</p>

				<p *ngIf="result.status_name">
					<strong>Marital Status:</strong> {{result.status_name}}</p>

				<p *ngIf="result.language_known">
					<strong> Languages Known:</strong>
				</p>

				<!-- 	<p *ngFor="let lang of result.language_known;let sk=index">
					<span *ngFor="let l of languagesdisplay[sk]">
						&nbsp;&nbsp;{{l.name}}
					</span>
				</p> -->

				<p *ngIf="languagesdisplay">
					&nbsp;&nbsp;
					<span *ngFor="let l of result.language_known;let i=index">
						<span *ngFor="let lang of languagesdisplay[i]">
							{{lang.name}}
							<b *ngIf="languagesdisplay[i+1]">, </b>
						</span>
					</span>
				</p>

				<p *ngIf="result.permanent_address">
					<strong>Permanent Address:</strong> {{result.permanent_address}}</p>

				<p *ngIf="result.pin_code">
					<strong>ZipCode:</strong> {{result.pin_code}}</p>
			</div>
			<hr>
		</div>

		<!-- <span class="ver-line"></span> -->
		<div class="right-side" *ngIf="result">

			<div class="aboutme" *ngIf="result.resume_headline">
				<h6>
					<span style="margin-left: 4px;">About Me</span>
				</h6>
				<p> {{result.resume_headline}}</p>
				<hr>
			</div>


			<div *ngIf="result.educational_details" class="section-part">

				<h5>
					<i class="fa fa-mortar-board"></i>
					<span style="margin-left: -3px;">Education</span>
				</h5>

				<div *ngFor="let s of result.ssc_details">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>SSC</b> from
						<b>{{s.coursename}} </b> completed in the year of
						<b>{{s.year}}</b>.
					</p>
				</div>


				<div *ngFor="let i of result.inter_details">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>SECONDARY EDUCATION</b> from
						<b>{{i.coursename}} </b> completed in the year of
						<b>{{i.year}}</b>.
					</p>
				</div>


				<div *ngFor="let g of result.grad_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>GRADUATION({{g.specialization}})</b>
						<span *ngIf="graduniversity[i].length>0"> from
							<b>'{{graduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{g.year}}</b>.
					</p>
				</div>


				<div *ngFor="let pg of result.pg_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>PG({{pg.specialization}})</b>
						<span *ngIf="pguniversity[i].length>0"> from
							<b>'{{pguniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{pg.year}}</b>.
					</p>
				</div>

				<div *ngFor="let p of result.phd_details;let i=index">
					<p style="font-size:13px">
						<i class="fas fa-angle-right"></i>
						<b>PHD({{p.specialization}})</b>
						<span *ngIf="phduniversity[i].length>0"> from
							<b>'{{phduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{p.year}}</b>.
					</p>
				</div>
				<hr>
			</div>

			<div *ngIf="result.skill_details" class="section-part">
				<h5>
					<i class="fas fa-laptop-code"></i>
					<span>Skills</span>
				</h5>
				&nbsp;&nbsp;
				<span *ngFor="let s of skillsarraydisplay;let sk = index" style="font-size:13px">
					{{s}}
				</span>
				<hr>
			</div>


			<div *ngIf="result.presentemp_details || result.previousemp_details || result.otheremp_details" class="section-part">
				<h5>
					<i class="fa fa-mortar-board" style="font-size:20px"></i>
					<span style="margin-left: -3px;">Experience</span>
				</h5>

				<span *ngFor="let s of result.presentemp_details;let i=index">
					<p>
						<b style="margin-left: 2px;font-size:14px">Present Employment:-</b>
					</p>
					<p>
						<b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>

					<p>
						<b style="font-size:13px">Designation:</b>
						<span> {{presentdesignation}}</span>
					</p>
					<span>
						<p *ngIf="s.from_date">
							<b style="font-size:13px">From:</b> {{s.from_date | date}} </p>
					</span>
					<span>
						<p *ngIf="s.description">
							<b style="font-size:13px">Description: </b><span [innerHtml]="s.description"></span>
							<!-- {{s.description}} -->
						</p>
					</span>
					<hr>
				</span>
				<span *ngIf="result.previousemp_details">
					<p>
						<b style="margin-left: 2px;font-size:14px">Previous Employment:-</b>
					</p>

					<span *ngFor="let s of result.previousemp_details;let i=index">
						<p>
							<b style="font-size:13px">{{i+1}}. {{s.employment | titlecase }} Company:</b> {{s.organization_name |
							titlecase}} </p>
						<p>
							<b style="font-size:13px">Designation:</b>
							<span> {{previousdesignation}}</span>
						</p>
						<span *ngIf="s.from_date">
							<p>
								<b style="font-size:13px"> Duration:</b> ({{s.from_date | date}} - {{s.to_date | date}} ) </p>
						</span>
						<span>
							<p *ngIf="s.description">
								<b style="font-size:13px"> Description:</b>
								<span [innerHtml]="s.description"></span>
								<!-- {{s.description}} -->
							</p>
						</span>

					</span>
					<hr>
				</span>

				<span *ngIf="result.otheremp_details">
					<p>
						<b style="margin-left: 2px;font-size:14px">Other Employment:-</b>
					</p>

					<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
						<p>
							<b style="font-size:13px">Other Employment {{rowIndex+1}}:</b>
						</p>
						<p>
							<b style="font-size:13px">Designation:</b> {{s.other_emp | titlecase }}
						</p>
					</span>
					<hr>

				</span>

			</div>

			<div *ngIf="result.certification_details" class="section-part">

				<h5>
					<i class="fas fa-certificate" style="font-size:20px"></i>
					<span>Certification</span>
				</h5>


				<div *ngFor="let ce of result.certification_details   let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Certification:</b>
					</p>
					<p>
						<b style="font-size:13px"> Name:</b> {{ce.certification_name}}
					</p>
					<p>
						<b style="font-size:13px">Year:</b> {{ce.certification_year}}
					</p>
					<p *ngIf="ce.certification_body">
						<b style="font-size:13px">Description:</b>
						<span [innerHtml]="ce.certification_body"></span>
						<!-- {{ce.certification_body}} -->
					</p>
					<hr>

				</div>

			</div>


			<div *ngIf="result.achievement_details" class="section-part">

				<h5>
					<i class="fas fa-award" style="font-size:20px"></i>
					<span>Achievements</span>
				</h5>

				<div *ngFor="let ac of result.achievement_details   let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Achievement:</b>
					</p>
					<p>
						<b style="font-size:13px">Name:</b> {{ac.name}}
					</p>
					<p *ngIf="ac.description">
						<b>Description:</b>
						<span [innerHtml]="ac.description"></span>
						<!-- {{ac.description}} -->
					</p>
					<hr>

				</div>

			</div>






			<div *ngIf="result.project_details" class="section-part">

				<h5>
					<i class="fas fa-file-archive" style="font-size:20px"></i>
					<span>Projects</span>
				</h5>

				<div *ngFor="let pro of result.project_details;let rowIndex=index">

					<p>
						<b style="font-size:14px">{{rowIndex+1}}. Project:</b>
					</p>
					<p>
						<b style="font-size:13px">Name:</b> {{pro.name}}
					</p>
					<p>
						<b style="font-size:13px"> Skills:</b>
						<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
							{{s}}
						</span>
					</p>
					<p>
						<b style="font-size:13px">Duration:</b> {{pro.duration}}
					</p>
					<hr>
				</div>

			</div>

		</div>



	</div>
</ng-template>


<!-- pdf download -->

<kendo-pdf-export #pdf paperSize="A4" margin="0.4cm" [scale]="0.8" [hidden]=hidetemp>

	<body>

		<style>
			/* 	body * {
				visibility: visible;
			} */

			.resumetemp {
				padding: 1px;
				display: block;
				/* background-color: whitesmoke; */
			}

			.resumetemp h1 {
				margin: 0px;
				font-size: 18px;
			}

			.resumetemp h2 {
				margin: 0px;
				font-size: 16px;
			}

			.resumetemp p {
				margin: 5px;
				font-size: 13px;
				line-height: 15px;
			}

			.pull-righ {
				float: right;
			}

			.left-det {
				width: 300px;
			}

			.right-det {
				/* width: 380px;*/
				/* margin: 5px 5px 5px 5px; */
				/*padding: 10px;*/
				display: inline;
			}

			.left-det h6 {
				font-size: 16px;
				font-family: Georgia, serif;
				background-color: silver;
			}

			.right-det h6 {
				font-size: 16px;
				font-family: Georgia, serif;
				background-color: silver;
				margin-right: -10px;
			}

			.about p {
				text-indent: 30px;
				word-break: break-all;
			}

			.section1 span:first-child {
				padding-left: 4px;
			}

			.section1 {
				max-width: 220px;
				word-break: break-word;
			}

			.section2 {
				font-style: normal;
				text-decoration: justify;
			}

			.section2 p {
				padding-right: 2px;
				padding-left: 3px;
			}

			/*	.section1 i {
			padding-left: 4px;
		}*/
		</style>

		<div *ngIf="result" class="resumetemp">
			<div>
				<h2>
					<hr>
					<span>
						<strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
					</span>
					<span class="pull-righ">
						<strong style="font-size:14px">Email ID&nbsp;:</strong>
						<span style="font-size:14px"> &nbsp;{{result.email}}</span>,&nbsp;

						<strong style="font-size:15px">Mobile&nbsp;:</strong>
						<span style="font-size:14px">&nbsp;{{result.phone}}</span>
					</span>
					<hr>
				</h2>
			</div>

			<!-- left-details -->
			<div style="overflow: hidden; display: block;">

				<div *ngIf="result" style="width:30%; float: left;" class="left-det">
					<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
						<!-- <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px"> -->
						<!-- <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px"> -->
						<hr>
					</div>

					<div class="section1">
						<h6>
							<span>Profile Info</span>
						</h6>

						<p>
							<strong>Functional Area:</strong>&nbsp;&nbsp;{{result.functional_area}}</p>
						<p *ngIf="result.permanent_address">
							<strong>Address:</strong>&nbsp;&nbsp;{{result.permanent_address}}</p>
						<p *ngIf="result.current_loc">
							<strong>Current Location:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.current_loc}}</p>
						<p *ngIf="result.preferred_location">
							<strong>Preferred Location:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{pref_loc2}}
						</p>
					</div>
					<hr>

					<div *ngIf="cur_des[0]" class="section1">
						<h6>
							<span>Profession</span>
						</h6>
						<p>
							{{cur_des}}</p>
						<hr>
					</div>

					<div class="section1">
						<h6>
							<span>Personal Details</span>
						</h6>
						<p>
							<strong>Gender:</strong>&nbsp;&nbsp;&nbsp;{{result.gender | titlecase}}
						</p>

						<p *ngIf="result.date_of_birth">
							<strong>DOB:</strong>&nbsp;&nbsp;&nbsp;{{result.date_of_birth |date }}
						</p>

						<p *ngIf="result.status_name">
							<strong>Marital Status:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.status_name}}</p>

						<p *ngIf="result.language_known">
							<strong>Languages Known:</strong>
						</p>

						<p *ngFor="let l of languagesdisplay;let la=index">
							&nbsp;&nbsp;
							<span *ngIf="languagesdisplay[la+1]">
								{{l[0].name}}, </span>
							<span *ngIf="languagesdisplay.length == la+1">
								{{l[0].name}}.</span>
						</p>

						<p *ngIf="result.permanent_address">
							<strong>Permanent Address:</strong>&nbsp;&nbsp;&nbsp;{{result.permanent_address}}</p>

						<p *ngIf="result.pin_code">
							<strong>ZipCode:</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{result.pin_code}}</p>
					</div>
					<hr>

				</div>

				<!-- right-details -->
				<div *ngIf="result" style="width:69%;float:right;" class="right-det">

					<div *ngIf="result.resume_headline" class="about section2">
						<h6>
							<span style="margin-left: 4px;">About Me</span>
						</h6>
						<p> {{result.resume_headline}}</p>
						<hr>
					</div>

					<div *ngIf="result.educational_details" class="section2">

						<h6>
							<!-- <i class="fa fa-mortar-board"></i> -->
							<span style="margin-left: 4px;">Education</span>
						</h6>

						<div *ngFor="let s of result.ssc_details">
							<p style="font-size:13px">
								<b>SSC</b>&nbsp;&nbsp;from
								<b>{{s.coursename}}</b>&nbsp;&nbsp;completed in the year of&nbsp;
								<b>{{s.year}}</b>.
							</p>
						</div>


						<div *ngFor="let i of result.inter_details">
							<p style="font-size:13px">
								<b>INTER</b>&nbsp;&nbsp;from
								<b>{{i.coursename}}</b>&nbsp;&nbsp;completed in the year of&nbsp;
								<b>{{i.year}}</b>.
							</p>
						</div>


						<div *ngFor="let g of result.grad_details;let i=index">
							<p style="font-size:13px">
								<b>GRADUATION({{g.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="graduniversity[i].length>0">from &nbsp;
									<b>'{{graduniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{g.year}}</b>.
							</p>
						</div>


						<div *ngFor="let pg of result.pg_details;let i=index">
							<p style="font-size:13px">
								<b>PG({{pg.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="pguniversity[i].length>0"> from &nbsp;
									<b>'{{pguniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{pg.year}}</b>.
							</p>
						</div>

						<div *ngFor="let p of result.phd_details;let i=index">
							<p style="font-size:13px">
								<b>PHD({{p.specialization}})</b>&nbsp;&nbsp;&nbsp;&nbsp;
								<span *ngIf="phduniversity[i].length>0"> from &nbsp;
									<b>'{{phduniversity[i]}}'</b>
									&nbsp;&nbsp;</span> completed in the year of &nbsp;
								<b>{{p.year}}</b>.
							</p>
						</div>
						<hr>
					</div>

					<div *ngIf="result.skill_details" class="section2">
						<h6>
							<span style="margin-left: 4px;">Skills</span>
						</h6>
						<span *ngFor="let s of skillsarraydisplay;let sk = index" style="font-size:13px">
							{{s}}&nbsp;
						</span>
						<hr>
					</div>

					<div *ngIf="result.presentemp_details || result.previousemp_details || result.otheremp_details" class="section2">
						<h6>
							<span style="margin-left: 4px;">Experience</span>
						</h6>

						<div *ngFor="let s of result.presentemp_details;let i=index">
							<p>
								<b style="margin-left: 2px;font-size:14px">Present Employment:-</b>
							</p>
							<p>
								<b style="font-size:13px">{{s.employment | titlecase }} Company:</b>&nbsp;&nbsp;&nbsp;&nbsp;{{s.organization_name
								| titlecase}} </p>

							<p>
								<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;
								<span *ngFor="let d of presentdesignation[i]">{{d.name}}</span>
							</p>
							<span>
								<p *ngIf="s.from_date">
									<b style="font-size:13px">From:</b>&nbsp;&nbsp;{{s.from_date | date}} </p>
							</span>
							<span>
								<p *ngIf="s.description">
									<b style="font-size:13px">Description:</b>&nbsp;&nbsp;
									<span [innerHTML]="s.description"></span>
									<!-- {{s.description}} -->
								</p>
							</span>
							<hr>
						</div>

						<div *ngIf="result.previousemp_details">
							<p>
								<b style="margin-left: 2px;font-size:14px">Previous Employment:-</b>
							</p>

							<div *ngFor="let s of result.previousemp_details;let i=index">
								<p>
									<b style="font-size:13px">{{i+1}}. {{s.employment | titlecase }} Company:</b>&nbsp;&nbsp;&nbsp;&nbsp;
									{{s.organization_name | titlecase}}
								</p>
								<p>
									<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;
									<span *ngFor="let d of previousdesignation[i]">{{d.name}}</span>
								</p>
								<span *ngIf="s.from_date">
									<p>
										<b style="font-size:13px">Duration:</b>&nbsp;&nbsp;({{s.from_date | date}} - {{s.to_date | date}} ) </p>
								</span>
								<span>
									<p *ngIf="s.description">
										<b style="font-size:13px"> Description:</b>&nbsp;&nbsp;
										<span [innerHTML]="s.description"></span>
										<!-- {{s.description}} -->
									</p>
								</span>

							</div>
							<hr>
							<!-- <div style="clear:both;">&nbsp; aaaaa</div> -->
						</div>

						<div *ngIf="result.otheremp_details">
							<p>
								<b style="margin-left: 2px;font-size:14px">Other Employment:-</b>
							</p>

							<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
								<p>
									<b style="font-size:13px">Other Employment {{rowIndex+1}}:</b>
								</p>
								<p>
									<b style="font-size:13px">Designation:</b>&nbsp;&nbsp;&nbsp;{{s.other_emp | titlecase }}
								</p>
							</span>
							<hr>

						</div>

					</div>

					<div *ngIf="result.certification_details" class="section2">

						<h6>
							<!-- <i class="fas fa-certificate" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Certification</span>
						</h6>


						<div *ngFor="let ce of result.certification_details;let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Certification:</b>
							</p>
							<p>
								<b style="font-size:13px"> Name:</b>&nbsp;&nbsp;{{ce.certification_name}}
							</p>
							<p>
								<b style="font-size:13px">Year:</b>&nbsp;&nbsp;{{ce.certification_year}}
							</p>
							<p *ngIf="ce.certification_body">
								<b style="font-size:13px">Description:</b>&nbsp;&nbsp;&nbsp;
								<span [innerHTML]="ce.certification_body"></span>
								<!-- {{ce.certification_body}} -->
							</p>
							<hr>

						</div>

					</div>

					<div *ngIf="result.achievement_details" class="section2">

						<h6>
							<!-- <i class="fas fa-award" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Achievements</span>
						</h6>

						<div *ngFor="let ac of result.achievement_details   let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Achievement:</b>
							</p>
							<p>
								<b style="font-size:13px">Name:</b>&nbsp;&nbsp;{{ac.name}}
							</p>
							<p *ngIf="ac.description">
								<b>Description:</b>&nbsp;&nbsp;&nbsp;
								<span [innerHTML]="ac.description"></span>
								<!-- {{ac.description}} -->
							</p>
							<hr>

						</div>

					</div>

					<div *ngIf="result.project_details" class="section2">

						<h6>
							<!-- <i class="fas fa-file-archive" style="font-size:20px"></i> -->
							<span style="margin-left: 4px;">Projects</span>
						</h6>

						<div *ngFor="let pro of result.project_details;let rowIndex=index">

							<p>
								<b style="font-size:14px">{{rowIndex+1}}. Project:</b>
							</p>
							<p>
								<b style="font-size:13px">Name:</b>&nbsp;&nbsp;{{pro.name}}
							</p>
							<p>
								<b style="font-size:13px"> Skills:</b>&nbsp;&nbsp;
								<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
									{{s}}
								</span>
							</p>
							<p>
								<b style="font-size:13px">Duration:</b>&nbsp;&nbsp;{{pro.duration}}
							</p>
							<hr>
						</div>

					</div>

				</div>

			</div>

		</div>
		<!-- <div style="clear:both">&nbsp;</div> -->
	</body>
</kendo-pdf-export>