.iamgurdeep-pic {
    position: relative;
}
.username {
    bottom: 0;
    color: #ffffff;
    padding: 30px 15px 4px;
    position: absolute;
    width: 90%;
    text-shadow: 1px 1px 2px #000000;
    
background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, #2d2c41 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, #2d2c41 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a64d4d4d',GradientType=0 ); /* IE6-9 */
}
.iamgurdeeposahan {
    border-radius: 4px 4px 0 0;
    width:100%;
}
.username > h2 {
    font-family: oswald;
    font-size: 27px;
    font-weight: lighter;
    margin: 31px 0 4px;
    position: relative;
    text-shadow: 1px 1px 2px #000000;
    text-transform: uppercase;
}
.username > h2 small {
    color: #ffffff;
    font-family: open sans;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
.username .fa{
    color: #ffffff;
    font-size: 14px;
    margin: 0 0 0 4px;
    position: static;
}
.edit-pic a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ffffff;
    border-radius: 50%;
    color: #ffffff;
    font-size: 21px;
    height: 39px;
    line-height: 38px;
    margin: 8px;
    text-align: center;
    width: 39px;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
	transition: all 0.4s ease;
    text-decoration: none !important;
     display: list-item;
     background-color: rgba(255, 255, 255, 0.1)
}
.edit-pic a:hover {
   font-size: 17px;
   opacity: 0.9;
  }
.edit-pic a:focus {
   background:#b63b4d;
    color: #fff;
    border: 1px solid #b63b4d;
}
a:focus {
    outline: none;
    outline-offset: 0px;
}
.edit-pic {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.tags {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
     -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.tags:hover {
    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    display: inline-block;
    font-size: 13px;
    margin: 4px 0 0;
    padding: 2px 5px;
}
#accordion:hover .edit-pic {
    opacity: unset;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}


.btn-o {
    
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    color: #ffffff !important;
    display: inline-block;
    font-family: open sans;
    font-size: 15px !important;
    font-weight: normal !important;
    margin: 0 0 10px;
    padding: 5px 11px;
    text-decoration: none !important;
    text-transform: uppercase;
    
   background-color: rgba(255, 255, 255, 0.1);
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.btn-o:hover {
  background-color: rgba(255, 255, 255, 0.4);
    color: #fff !important;
  }
.btn-o:focus {
   background:#b63b4d;
    color: #fff;
    border: 1px solid #b63b4d;
}
.submenu .iamgurdeeposahan {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border-radius: 50%;
    height: 60px;
    padding: 2px;
    width: 60px;
}
.photosgurdeep > a {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50%;
    display: inline-block !important;
    padding: 0 !important;
}
.view-all {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0 !important;
    border: 1px solid;
    float: right;
    font-family: oswald;
    font-size: 26px;
    height: 60px;
    line-height: 61px;
    text-align: center;
    width: 60px;
}
.photosgurdeep {
    padding: 10px 9px 4px 35px;
}
ul {
	list-style-type: none;
}

 

/** =======================
 * Contenedor Principal
 ===========================*/
 

 .accordion {
 	width: 100%;
 	max-width: 360px;
 	margin: 30px auto 20px;
 	-webkit-border-radius: 4px;
 	-moz-border-radius: 4px;
 	border-radius: 4px;
 }

.accordion .link {
	cursor: pointer;
	display: block;
	padding: 15px 15px 15px 42px;
	color: #4D4D4D;
	font-size: 14px;
	font-weight: 700;
	border-bottom: 1px solid #CCC;
	position: relative;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li:last-child .link {
	border-bottom: 0;
}

.accordion li i {
	position: absolute;
	top: 16px;
	left: 12px;
	font-size: 18px;
	color: #595959;
	-webkit-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

.accordion li i.fa-chevron-down {
	right: 12px;
	left: auto;
	font-size: 16px;
}

.accordion li.open .link {
	color: #b63b4d;
}

.accordion li.open i {
	color: #b63b4d;
}
.accordion li.open i.fa-chevron-down {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.accordion li.default .submenu {display: block;}
/**
 * Submenu
 -----------------------------*/
 .submenu {
 	display: none;
 	background: #444359;
 	font-size: 14px;
 }

 .submenu li {
 	border-bottom: 1px solid #4b4a5e;
 }

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 12px;
 	padding-left: 42px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }
















.nav.navbar-nav .dropdown-toggle {
    padding: 0 !important;
}

.dropdown-toggle span {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    font-size: 23px !important;
    height: 38px;
    line-height: 40px;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 38px;
    text-shadow:none !important;
}

.nav.navbar-nav {
    bottom: 10px;
    position: absolute;
    right: 12px;
    transition: all 0.4s ease 0s;
}

.navbar-nav > li > .dropdown-menu {
    border-radius: 2px !important;
    margin-top: 10px;
    min-width: 101px;
    padding: 0;
}
.navbar-nav > li > .dropdown-menu li a {
    color: #333333 !important;
    font-size: 13px !important;
    font-weight: 600 !important;
    padding: 2px 8px !important;
    text-align: right !important;
    text-shadow:none !important;
}
.dropdown-toggle {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
    font-size: 15px !important;
}

.dropdown {
  -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dropdown-menu>li>a {
    color:#428bca;
    -webkit-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -8px;
    right: 8px;
    z-index: 10;
}

.left-section ul li {
    list-style: none;
    /* margin: 10px 8px; */
    margin: 0px 12px 0 0 ;
    font-size: 13px;
    border-bottom: 1px #ccc solid;
    padding: 10px;
}


.active-link , .active-link:hover{
	background: #0d5b94;
    color: #ffffff;
}






/* ////////////////////////////////////// */
.profile{
    text-align:center;
}
.profile-image-det{
	
    
     margin-left:120px;  
    
}
.profile-image-det .pimg{
    width:70px;
    height:70px;
    border-radius:100%;
}

.image-upload > input
{
display: none;
}

.image-upload i{
cursor:pointer;
}
.edit{
    margin-left:30px;
}
.editprofile{
    margin-left:30px;
    margin-top:-40px;
    

}

.profile-image-det a  i {
    color:white;
    border-radius:100%;
    padding:0px;
    width:25px;
    line-height:25px;
    background:black;
}
.p_name_details{
	width:292px;
    /* width: 250px; */
    text-align:center;
     
}
.profile-det a:nth-child(1) i{
    background:#007bff;
    
    }
    .profile-det a:nth-child(2) i{
    background:#28a745;
    padding-left:8px;
    padding-right:8px;
    }
    .profile-det a:nth-child(3) i{
    background:#e83e8c;
    }

.profile-det
.active-link , .active-link:hover{
	background: #0d5b94;
    /* color: #ffffff; */
}
a.hyper-link{
    text-decoration: underline;
    color: #0d5b94;
    font-size: 12px;
    float: right;
    margin: 5px;
    cursor: pointer;
    border: 1px #ccc solid;
    padding: 5px;
}
/*
.resume-template , .modal-lg{
    width:90% !important;
}
.resumetemplate{
    padding: 10px;
}
.left-details{
		width:30%;
		float: left;
	}
	.right-content{
		width:calc(70% - 15px);
		float: left;
		margin-left:15px;
	}
	.profile-pic{
		width:100%;
	}
	.resumetemplate h1{
		margin: 0px;
		font-size: 18px;
	}
	.resumetemplate h2{
		margin: 0px;
		font-size: 16px;
	}
	.resumetemplate h3{
		margin: 0px;
		font-size: 14px;
	}
	.resumetemplate p{
		margin: 5px;
		font-size: 12px;
		line-height: 21px;
	}
	.profile-pic img{
		width: 100%;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: 0  0 0 40px;
	}
	.section-details{
		margin: 10px 0;
	}
	.section-details h2{
		font-size: 14px;
		background: #ccc;
		padding: 5px;
	}
	.mail-details{
		clear: both;
	}
	.right-content .mail-details p{
		float: left;
		width: 50%;
		border-top:1px #ccc solid;
		border-bottom:1px #ccc solid;
		padding: 5px 0;
		margin: 10px 0px;
	}
	.section-part{
		margin: 5px 0;
		clear: both;
	}
	.section-part h2{
		background: #ccc;
		padding: 5px;
		margin-top: 10px;
	}
	.section-part h3{
		margin:5px 0; 
	}
*/
	.profile-template , .modal-lg{
    width:100% !important;
  
     }
.profiletemplate{
    /* padding: 10px; */
    border:10px solid skyblue;
    border: 1rem solid skyblue;
    
}
	 .leftside-details{
		width:30%;
		float: left;
        text-align: center;
         font-size: 14px;
	}
	.rightside-content{
		width:calc(70% - 25px);
		float: left;
        margin-left:5px;
        font-size: 14px;
        padding-bottom: 5px;
        overflow-wrap: break-word;
	}
    /* .left-details h5{
        background-color: grey;
    } */
    .rightside-content h6{
        margin-left:5px;
    }
.right-details h5{
	margin-left: 5px; 

}

.experience{
     margin-left:20px; 
     overflow-wrap: break-word;
}

.experience h6{
    margin-left:10px;
}


.resume-template , .modal-lg{
    width:90% !important;
}
.resumetemplate{
    padding: 10px;
}
.left-details{
        width:30%;
        float: left;
    }
  

    .right-content{
        width:calc(70% - 15px);
        float: left;
        margin-left:15px;
   
    }
    .profile-pic{
        width:100%;
    }
    .resumetemplate h1{
        margin: 0px;
        font-size: 18px;
    }
    .resumetemplate h2{
        margin: 0px;
        font-size: 16px;
    }
    .resumetemplate h3{
        margin: 0px;
        font-size: 14px;
    }
    .resumetemplate p{
        margin: 5px;
        font-size: 12px;
        line-height: 21px;
    }
    .profile-pic img{
        width: 100%;
        border-radius: 50%;
        width: 150px;
        height: 150px;
        margin: 0  0 0 40px;
    }
    .section-details{
        margin: 10px 0;
    }
    .section-details h2{
        font-size: 14px;
        background: #ccc;
        padding: 5px;
    }
    .mail-details{
        clear: both;
    }
    .right-content .mail-details p{
        float: left;
        width: 50%;
        border-top:1px #ccc solid;
        border-bottom:1px #ccc solid;
        padding: 5px 0;
        margin: 10px 0px;
    }
    .section-part h2{
        background-color: silver;
    }
    /* .section-part h2{
        background: #ccc;
        padding: 5px;
        margin-top: 10px;
    }
    .section-part h3{
        margin:5px 0; 
    }
 */
    .profile-template , .modal-lg{
    width:100% !important;
     }
.profiletemplate{
    padding: 10px;
}
.profiletemplate .leftside-details{
        width:30%;
        float: left;
        text-align: left;
    }
    .rightside-content{
        width:calc(70% - 10px);
        float: left;
      
        padding-bottom: 5px
    }

    
.profiletemplate .lcard{
padding: 10px;
height: auto;
width: 240px;
float:left;
padding-bottom: 5px
/* border: 1px solid  rgb(143, 142, 142); 
 */

}
 .profiletemplate .rcard{

height: auto;
width: 500px;
padding-bottom: 5px

/* border: 1px solid  rgb(143, 142, 142); */

} 

/* .left-details  h5{
background-color: lightgray;

} */

.text-danger{
    margin-top:30px !important;
    font-size:35px !important;
}

 .right-details h3{  
width: 25%; 
margin-left: 20px;
font-family: Georgia, serif;
}

.right-details h6{
    margin-left: 20px;
    font-size: 14px;
}
    .right-details hr{
        margin-left: 20px;
       
}
.right-details h5{
    margin-left: 10px;
    font-family: Georgia, serif;
    background-color: silver; 
    font-size: 16px;
}
.right-details h2{
    margin-left: 40px;
    font-size: 20px;
    font-family: Georgia, serif;
    
}
.aboutme p{
    text-indent: 30px;
}
.aboutme h6{
    background-color: silver;
    font-family: Georgia, serif;
    font-size: 18px;
}
.ver-line {
    border-left: 1px solid black;
    height: 1230px;
    position: absolute;
    left: 31%;
    top: 162px;
}

.left-details h6{
    font-size: 16px;
    font-family: Georgia, serif;
    background-color: silver;
}


.right-side h5{
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: silver;
}
.right-side{
    width:69%;
    float: right; 
    overflow: hidden;
    text-overflow: ellipsis;
}


/* .right-details h6{
    font-size: 18px;
    font-family: Georgia, serif;
    background-color: silver;

} */
/* .bg h5{
    background-color: silver; 
    font-size: 18px;
} */

.right{
    margin-left: 10px;
}

.profiletemplate i{

    padding-left: 5px
}
.rightinsidepadding{
    /* padding-left:0px; */
    margin-left: -9px;
}

.section-part i{
    padding-left: 3px;
    
}
.section-part span:first-child{
    margin-left: -2px;
    
}

.closeButton{
    background-color: white;
     border-radius: 15%;
     border: none;
     color: red;
     position: absolute;
     top: 0%;
     right: 0%;
 }