<div class="myjobposts">
  <h4>
    <b>My Job Posts</b>
  </h4>
</div>
<hr>



<!-- <ng4-loading-spinner> </ng4-loading-spinner> -->
<div *ngIf="jobposting?.length == 0">No Jobposts Found....</div>

<div class="job-post" *ngFor="let job of jobposting;let i=index;">

  <div class="dropdown pull-right index" dropdown placement="bottom left">
    <a id="button-alignment" dropdownToggle type="button" class="dropdown-show" aria-controls="dropdown-alignment">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </a>
    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment" style=" z-index: 9;">
      <li role="menuitem">
        <a class="dropdown-item" (click)="edit(edittemplate,job)">
          <i class="fas fa-edit"></i> &nbsp; Edit</a>
      </li>

      <li role="menuitem">
        <a class="dropdown-item" (click)="Deletejob(job.jobid,job.venuephoto,job.venuevideo,confirm)">
          <i class="fas fa-trash"></i> &nbsp; Delete</a>
      </li>



    </ul>

  </div>
  <div class="pimg rounded-circle" *ngIf="job.image!='' && job.image!=undefined && job.image!='IMAGE'">
    <img class=" rounded-circle" src="{{ApiUrl}}/profileimage/{{job.image}}" alt="" width="60px" height="60px"/>
  </div>
  <div class="pimg rounded-circle" *ngIf="job.image==''|| job.image==undefined||job.image=='IMAGE'">
    <ngx-avatar name="{{first_name}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="60" textSizeRatio="1.5" [round]="true">

    </ngx-avatar>
  </div>
  <h2>{{job.job_title}}</h2>
  <div class="p-details">
    <div class="row">
      <p class="col-3">
        <i class="fa fa-star"></i>
        <strong *ngIf="job.fresher_or_exp=='Experience'">
          <b>{{job.min_exp}}</b> yrs -
          <b>{{job.max_exp}}</b> yrs</strong>
        <strong *ngIf="job.fresher_or_exp=='Fresher'">{{job.fresher_or_exp}}</strong>

      </p>
      <p class="col-4">
        Min Sal :
        <strong>
          <b>
            {{job.minsalary}}
          </b>
          {{job.currency}}
        </strong><small>{{job.salarytype}}</small>
      </p>
      <p class="col-5">
        Max Sal :
        <strong>
          <b>
            {{job.maxsalary}}
          </b>
          {{job.currency}}
        </strong><small>{{job.salarytype}}</small>
      </p>
      <p class="col-12">
        <i class="fa fa fa-map-marker"></i>{{localityNames[i]}},{{districtNames[i]}}, {{job.state_name}},
        {{job.country}}
      </p>
    </div>




  </div>
  <div class="keyskills">
    <div class="row">
      <span>Education Details</span>

      <div *ngFor="let e of eduarraydisplay[i];let ed = index">
        {{e}}

      </div>
      <!-- <div *ngFor="let e of educational_details[i];let ed = index">
				{{e.name}}
				<b *ngIf="educational_details[i][ed + 1]">, </b>
			 
       </div> -->


    </div>
  </div>
  <div class="keyskills">
    <div class="row">
      <span>Key Skills</span>
      <div *ngFor="let s of skillsarraydisplay[i]">
        {{s}}

      </div>
    </div>
  </div>

  <div class="keyskills" *ngIf="job.optional_skills && job.optional_skills.length>0">
    <div class="row">
      <span>Optional Skills</span>
      <div *ngFor="let op of optarraydisplay[i]">
        {{op}}
      </div>
    </div>
  </div>

  <div class="keyskills ">

    <div class="row">
      <span>Date Of Inteview</span>
      <div>{{job.from_date |date}} - {{job.tilldate |date}}</div>

    </div>
  </div>

  <div class="row">
    <div *ngIf="job.venuephoto" class="col-6">
      <img height="240px" width="420px" class="img-responsive" src="{{ApiUrl}}/jobposts/images/{{job.venuephoto}}" />
    </div>
    <!-- file-1534846903803.jpg -->
    <div *ngIf="job.venuevideo" class="col-6">
      <video controls height="240px" width="420px">
        <source src="{{ApiUrl}}/jobposts/videos/{{job.venuevideo}}">

      </video>
    </div>
  </div>


  <div *ngIf="tablemore===job.jobid" [attr.id]="'undoBtn'+job.jobid">

    <div class="keyskills" *ngIf="job.gender_name">
      <div class="row">
        <span>Gender Preference:</span>
        <span *ngIf="job.gender_preference!=3">{{job.gender_name}}</span>
        <span *ngIf="job.gender_preference=='3'">Any</span>
      </div>
    </div>
    <div class="keyskills" *ngIf="job.noticeperiod">
      <div class="row">
        <span>Notice Period:</span>
        <span>{{job.noticeperiod}}</span>
      </div>
    </div>
    <div class="keyskills">
      <div class="row">
        <span>Functional Area:</span>
        <span>{{job.name}}</span>
      </div>
    </div>

    <div class="keyskills">
      <div class="row">
        <span>Nature Of Job:</span>
        <span>{{job.job_type}}</span>
      </div>
    </div>
    <div class="keyskills" *ngIf="job.physicalstatus">
      <div class="row">
        <span>Physical Status:</span>
        <span>{{job.physicalstatus}}</span>
      </div>
    </div>



    <div class="keyskills" *ngIf="job.vacancy">
      <div class="row">
        <span>Vacancy:</span>
        <span>{{job.vacancy}}</span>
      </div>
    </div>
    <!-- <div class="keyskills">
      <div class="row">
        <span>Venue Details:</span>
        <span>{{job.venue}}</span>
      </div>
    </div> -->
    <div class="description margin1" *ngIf="job.venue">
        <div class="row ">
            <span class="col-3" style="padding-left:2px">Venue Details:</span>
            <span  class="col-9" style="padding-left:45px" [innerHTML]="job.venue"></span>
               <!--{{job.venue}}  -->
        </div>
      </div>



    <div class="keyskills" *ngIf="job.fresher_or_exp">
      <div class="row">
        <span>Fresher/Experience:</span>
        <span>{{job.fresher_or_exp}}</span>
      </div>
    </div>
    <!-- <div class="keyskills">
      <div class="row">
        <span>Description:</span>
        <span>{{job.summary}}</span>
      </div>
    </div> -->

    <div class="description margin1" *ngIf="job.summary">
        <div class="row ">
          <span class="col-3" style="padding-left:2px">Description:</span>
          <span  class="col-9" style="padding-left:45px" [innerHTML]="job.summary"></span>
               <!--{{job.summary}}  -->
        </div>
      </div>

    <div class="keyskills " *ngIf="job.certification">
      <div class="row">
        <span>Certifications:</span>
        <span>{{job.certification}}</span>
      </div>
    </div>
    <!-- <p class="keyskills col-12">
      <span>Education Stream:</span>
      <span>{{job.education_stream}}</span>
    </p> -->
    <!-- <p class="keyskills col-12">
      <span>Starts From:</span>
      <span>{{job.from_date}}</span>
    </p>
    <p class="keyskills col-12">
      <span>End Date:</span>
      <span>{{job.tilldate}}</span>
    </p> -->

    <div class="keyskills">
      <div class="row">
        <span>Contact Person Name:</span>
        <span>{{job.contact_person}}</span>
      </div>
    </div>

    <div class="keyskills" *ngIf="job.contact_number">
      <div class="row">
        <span>Contact Number:</span>
        <span>{{job.contact_number}}</span>
      </div>
    </div>

    <div class="keyskills" *ngIf="job.special_mention">
      <div class="row">
        <span>Special Mention:</span>
        <span>{{job.special_mention}}</span>

      </div>
    </div>



  </div>


  <div class="card">
    <div class="">
      <span></span>
      <ul class="nav bg-light  nav-tabs">


        <li class=" nav-item ">
          <a class="nav-link " (click)=showTable(job,job.jobid,job.type)>
            <i class="fas fa-folder-open"></i> &nbsp;View Applicants</a>
        </li>
        <li class=" nav-item ">
          <a class="nav-link " (click)=showShortlist(job.jobid)>
            <i class="fas fa-clipboard-check"></i> &nbsp;View Shortlisted</a>
        </li>
        <li class=" nav-item ">
          <a class="nav-link   " (click)=showSchedule(job.jobid)>
            <i class="fas fa-clipboard-list"></i> &nbsp;View Scheduled</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " (click)=progressed(job.jobid)>
            <i class="fas fa-spinner"></i> &nbsp;Progressed</a>
        </li>
        <li class="nav-item  ">
          <a class=" showall nav-link " id="{{i}}" (click)="viewMore(job.jobid,i)">
            <i class="fas fa-info-circle"></i>&nbsp;Show More</a>
        </li>

      </ul>
      <!-- <div [style.width.%]=a style="background-color: red"><i class="fa fa-arrow-circle-right pull-right" style="font-size:48px;color:red"></i></div>
  -->
    </div>



    <div *ngIf="table===job.jobid" [attr.id]="'undoBtn'+job.jobid" class="card card-block">
      <div>
        <div>


          <h2 class="text-default text-center table-caption">
            Applicants
          </h2>



          <input type='text' class="form-control filter-input" placeholder='Search Applicants By Name' (keyup)='updateFilter($event)' />

        </div>

        <ngx-datatable style="width: 100%;padding: 10px;" class="material" [rows]="rows" [columnMode]="'force'"
          [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="10" [selected]="selected"
          [selectionType]="'checkbox'" [sorts]="[{prop: 'rows.first_name', dir: 'desc'}]" (select)='onSelect($event)'
          [scrollbarH]="true">
          <ngx-datatable-column [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
            class="datatable-header">


            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-isSelected="isSelected"
              let-onCheckboxChangeFn="onCheckboxChangeFn">
              <input type="checkbox" *ngIf="row['status']==0" [checked]="isSelected" (click)="onCheckboxChangeFn($event)" />
                <i class="fa fa-check-square-o" *ngIf="!row['status']==0" aria-hidden="true"></i>

            </ng-template>

          </ngx-datatable-column>



          <ngx-datatable-column name="Name" [sortable]="true" prop='first_name' [canAutoResize]="false">
            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <i [innerHTML]="row['first_name']"></i>&nbsp;
              <i [innerHTML]="row['last_name']"></i>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Notice Period">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <i [innerHTML]="row['noticeperiod']"></i>
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Highest Degree">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <i [innerHTML]="row['coursename']"></i>
            </ng-template>

          </ngx-datatable-column>


          <ngx-datatable-column name="Resume">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <button class="btn btn_sm btn-link" (click)="openresume(profileoverview,rows[rowIndex].user_registration_id)">
                View Profile</button>
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Answers" *ngIf="job.first_question || job.second_question || job.third_question || job.fourth_question || job.fifth_question">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <button class="btn btn_sm btn-link" (click)="viewAnswer(answers,rows[rowIndex].user_registration_id,job)">View
                Answers
              </button>
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Video Resume">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <button class="btn btn_sm btn-link" (click)="getVideoResume(videoresume,rows[rowIndex].user_registration_id)">
                Play</button>
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Rating">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>

              <p *ngIf="row['avg_rating']">
                <b [innerHTML]="row['avg_rating']"></b>
                <i class="fa fa-star" aria-hidden="true"></i>
              </p>
              <p *ngIf="!row['avg_rating']">NA</p>
            </ng-template>

          </ngx-datatable-column>
          <ngx-datatable-column name="Status">

            <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
              <b [innerHTML]="row['statusname']" *ngIf="row['statusname']" class=" text-secondary"></b>
              <b [innerHTML]="row['statusname']" *ngIf="row['statusname']==null" class=" text-default">NA</b>


            </ng-template>

          </ngx-datatable-column>

        </ngx-datatable>

      </div>

      <button class="btn btn-primary pull-right" (click)="shortlist(job.jobid,job.job_title)">
        <i class="fa fa-check-square-o"></i>
        Shortlist</button>
      <a class="btn btn-primary  pull-right " (click)="changeStatus(job,5)">
        <i class="fas fa-times-circle"></i> Irrelevant Profile
      </a>




    </div>

    <div *ngIf="tables===job.jobid" [attr.id]="'undoBtn'+job.jobid" class="card card-block">
      <div >
        
          <h2 class="text-default text-center table-caption">
            Shortlisted
          </h2>
      
       
          <input type='text' class="form-control filter-input" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
      
      </div>

      <ngx-datatable style="width: 100%;padding: 10px;" class="material" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="4" [selected]="selected" [selectionType]="'checkbox'"
        (select)='onSelect($event)' [sortType]="'single'">

        <ngx-datatable-column [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
          class="datatable-header">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <input type="checkbox" *ngIf="rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            <input type="checkbox" disabled *ngIf="!rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" [sortable]="true" prop='first_name' [canAutoResize]="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['first_name']"></i>&nbsp; &nbsp;
            <i [innerHTML]="row['last_name']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Notice Period">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['noticeperiod']"></i>
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Highest Degree">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['coursename']"></i>
          </ng-template>

        </ngx-datatable-column>

      </ngx-datatable>
      <button class="btn btn-primary pull-right" (click)="schedule(template,job)">
        <i class="fa fa-calendar-plus-o"></i> Schedule Interview
      </button>

    </div>
    <div *ngIf="scheduleshow===job.jobid" [attr.id]="'undoBtn'+job.jobid" class="card card-block">
      <div >
        
          <h2 class="text-default text-center table-caption">
            Scheduled
          </h2>
       
     
          <input type='text' class="form-control filter-input" placeholder='Type to filter the name column...' (keyup)='updateFilter($event)' />
     
      </div>


      <ngx-datatable style="width: 100%;padding: 10px;" class="material" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="4" [selected]="selected" [selectionType]="'checkbox'"
        (select)='onSelect($event)' [sortType]="'single'">

        <ngx-datatable-column [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
          class="datatable-header">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <input type="checkbox" *ngIf="rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            <input type="checkbox" disabled *ngIf="!rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" [sortable]="true" prop='first_name' [canAutoResize]="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['first_name']"></i>&nbsp; &nbsp;
            <i [innerHTML]="row['last_name']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Notice Period">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['noticeperiod']"></i>
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Highest Degree">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['coursename']"></i>
          </ng-template>

        </ngx-datatable-column>

      </ngx-datatable>

      <a class="btn btn-primary pull-right" (click)="nextRound(nextRoundTemplate,job)">
        <i class="fas fa-calendar-check"></i>
        Next Round</a>



    </div>

    <div *ngIf="showProgressed===job.jobid" [attr.id]="'undoBtn'+job.jobid" class="card card-block">
      <div>
    
          <h2 class="text-default text-center table-caption">
            Progressed Candidates For next Round
          </h2>
       
     
          <input type='text' class="form-control filter-input" placeholder='Type to filter the name column...'
            (keyup)='updateFilter($event)' />
        
      </div>


      <ngx-datatable style="width: 100%;padding: 10px;" class="material" [rows]="rows" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="4" [selected]="selected" [selectionType]="'checkbox'"
        (select)='onSelect($event)' [sortType]="'single'">

        <ngx-datatable-column [width]="30" [sortable]="true" [canAutoResize]="false" [draggable]="false" [resizeable]="false"
          class="datatable-header">
          <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn">
            <input type="checkbox" *ngIf="rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
            <input type="checkbox" disabled *ngIf="!rows.length" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)" />
          </ng-template>
          <ng-template ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
            <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)" />
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Name" [sortable]="true" prop='first_name' [canAutoResize]="false">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['first_name']"></i>&nbsp; &nbsp;
            <i [innerHTML]="row['last_name']"></i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Notice Period">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['noticeperiod']"></i>
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Highest Degree">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <i [innerHTML]="row['coursename']"></i>
          </ng-template>

        </ngx-datatable-column>
        <ngx-datatable-column name="Status">

          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template let-rowIndex='rowIndex'>
            <b [innerHTML]="row['statusname']" *ngIf="row['statusname']=='rejected'" class=" text-danger"></b>
            <b [innerHTML]="row['statusname']" *ngIf="row['statusname']=='selected'" class=" text-success"></b>
            <b [innerHTML]="row['statusname']" *ngIf="row['statusname']=='on hold'" class=" text-warning"></b>
            <b [innerHTML]="row['statusname']" *ngIf="row['statusname']=='future use'" class=" text-secondary"></b>
            <b [innerHTML]="row['statusname']" *ngIf="row['statusname']=='in progress'" class=" text-info"></b>

          </ng-template>

        </ngx-datatable-column>






      </ngx-datatable>
      <div class="row">
        <a class="btn btn-success col-2  next-round text-white" (click)="changeStatus(job,8)">Selected</a>
        <a class="btn btn-info col-2  next-round text-white" (click)="rateCandidate(rattingTemplate,job)">Rate
          Candidate</a>
        <a class="btn btn-danger col-2  next-round text-white" (click)="rejectConfirm(job,2,rejectconfirm)">Rejected</a>
        <a class="btn btn-warning col-2  next-round text-white" (click)="changeStatus(job,3)">On Hold</a>
        <a class="btn btn-secondary col-2  next-round text-white" (click)="changeStatus(job,4)">Future use</a>

      </div>

    </div>
  </div>
</div>


<!--
<ng-template #template>
  <form name="interview" (ngSubmit)="schedule.valid && schedulepost(interview)" #schedule="ngForm" novalidate>
    <div class="modal-header ">
      <h4 class="modal-title pull-left">Interview Scheduler</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group row">

        <div class="col-6 form-group" [ngClass]="{'has-error': schedule.submitted && !location.valid }">
          <label for="location">Location:</label>
          <input type="text" required name="location" [(ngModel)]="interview.location" class="form-control" id="location" #location="ngModel">
          <span *ngIf="schedule.submitted && !location.valid" class="help-block">
            Please enter location
          </span>

        </div>
        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !interviewer.valid }">
          <label for="interviewer">Interviewer:</label>
          <input type="text" required name="interviewer" [(ngModel)]="interview.interviewer" class="form-control" id="interviewer"
            #interviewer="ngModel">
          <span *ngIf="schedule.submitted && !interviewer.valid" class="help-block">
            Please enter Interviewer Name
          </span>
        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !schedule_date.valid }">
          <label>
            Date </label>
          <input name="schedule_date" (keypress)="datecheck($event)" [min]="min" id="schedule_date" [(ngModel)]="interview.schedule_date"
            class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" #schedule_date="ngModel">
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

          <span *ngIf="schedule.submitted && !schedule_date.valid" class="help-block">
            Please enter schedule_date
          </span>
        </div>




        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !schedule_time.valid }">
          <label>
            Time </label>
          <input (keypress)="datecheck($event)" class="form-control" name="schedule_time" id="schedule_time" [(ngModel)]="interview.schedule_time"
            #schedule_time="ngModel" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>

          <span *ngIf="schedule.submitted && !schedule_time.valid" class="help-block">
            Please enter schedule_time
          </span>
        </div>
        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted &&!type.valid }">
          <label for="type">Type of interview:</label>
          <input type="text" required name="type" [(ngModel)]="interview.type" class="form-control" id="type" #type="ngModel">
          <span *ngIf="schedule.submitted && !type.valid" class="help-block">
            Please enter type of interview
          </span>
        </div>
        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted &&!schedule.mode==0 }">
          <label for="mode">Mode of interview:</label>
          <select name="mode" id="mode" class="form-control" (change)='modeChange($event)' [(ngModel)]="interview.mode" style="margin-top:8px !important;">
            <option [ngValue]='undefined'>Select Interview Mode</option>
            <option  value="1">1</option>
          </select>
          <span *ngIf="schedule.submitted && !interview.mode!=0" class="help-block">
            Please enter mode of interview
          </span>

        </div>

        <div class="col-12 form-group" [ngClass]="{ 'has-error': schedule.submitted && !notify_me.valid }">
          <label for="notify_me">Notify:</label>
          <textarea rows="4" [(ngModel)]="interview.notify_me" class="form-control" id="notify_me" name="notify_me" required #notify_me="ngModel"></textarea>
          <span *ngIf="schedule.submitted && !notify_me.valid" class="help-block">
            Please enter notice message</span>

        </div>





      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Schedule</button>
    </div>
  </form>

</ng-template> -->



<!-- =========================================anu code starts==================================================================== -->


<ng-template #template class="modal-lg">
  <form (ngSubmit)="schedule.form.valid && schedulepost(interview)" #schedule="ngForm" (keydown.enter)="$event.preventDefault()" novalidate>
    <div class="modal-header ">
      <h4 class="modal-title pull-left">Interview Scheduler</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModal(template1)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>
    <!-- =========================================================================== -->
    <div class="modal-body">
      <div class="form-group row">

        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !scheduledate.valid }">
          <label>
            Schedule Date:
            <sup style="color:red;">*</sup>
          </label>
          <input name="scheduledate" (keypress)="datecheck($event)" [min]="min" [(ngModel)]="interview.scheduledate"
            class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" (focus)="dt3.open()" #scheduledate="ngModel"
            required>
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>
          <span *ngIf="schedule.submitted && !scheduledate.valid" class="help-block" style="font-size: 13px">Please
            enter
            <b>Schedule Date</b>
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !scheduletime.valid }">
          <label>
            Time:
            <sup style="color:red;">*</sup>
          </label>
          <input (keypress)="datecheck($event)" class="form-control" name="scheduletime" [(ngModel)]="interview.scheduletime"
            #scheduletime="ngModel" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4" (focus)="dt4.open()" required>
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
          <span *ngIf="schedule.submitted && !scheduletime.valid" class="help-block" style="font-size: 13px">
            Please enter
            <b>Schedule Time</b>
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted && !interviewer.valid }">
          <label>Contact Person:
            <sup style="color:red;">*</sup>
          </label>
          <input type="text" name="interviewer" [(ngModel)]="interview.interviewer" class="form-control" #interviewer="ngModel"
            (keypress)="titleCheck($event)" maxlength="20" required>
          <span *ngIf="schedule.submitted && !interviewer.valid" class="help-block" style="font-size: 13px">
            Please enter
            <b>Contact Person Name</b>
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{'has-error': schedule.submitted && !location.valid }">
          <label>Location:
            <sup style="color:red;">*</sup>
          </label>
          <input type="text" name="location" [(ngModel)]="interview.location" class="form-control" #location="ngModel"
            maxlength="20" required>
          <span *ngIf="schedule.submitted && !location.valid" class="help-block" style="font-size: 13px">
            Please enter
            <b>Location</b>
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted &&!mode.valid }">
          <label>Mode of interview:
            <sup style="color:red;">*</sup>
          </label>
          <select name="mode" class="form-control" [(ngModel)]="interview.mode" #mode="ngModel" required>
            <option [ngValue]='undefined'>Select Interview Mode</option>
            <option *ngFor='let m of interviewmode' value={{m.interview_mode_id}}>{{m.interview_mode_name}}</option>
          </select>
          <span *ngIf="schedule.submitted && !mode.valid" class="help-block" style="font-size: 13px">
            Please enter
            <b>Mode Of Interview</b>
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': schedule.submitted &&!type.valid }">
          <label>Type of interview:
            <sup style="color:red;">*</sup>
          </label>
          <select name="type" class="form-control" [(ngModel)]="interview.type" #type="ngModel" required>
            <option [ngValue]='undefined'>Select Interview Type</option>
            <option *ngFor='let t of interviewtype' value={{t.type_mode_id}}>{{t.type_mode_name}}</option>
          </select>
          <span *ngIf="schedule.submitted && !type.valid" class="help-block" style="font-size: 13px">
            Please enter
            <b>Type Of Interview</b>
          </span>
        </div>

        <div class="col-12 form-group" [ngClass]="{ 'has-error': schedule.submitted && !notifyme.valid }">
          <label>Notify Message:

          </label>
          <textarea rows="4" [(ngModel)]="interview.notifyme" class="form-control" name="notifyme" #notifyme="ngModel"
            minlength="3" maxlength="1000"></textarea>

        </div>

      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Schedule</button>
    </div>
  </form>
</ng-template>

<!-- =================================================anu code ends============================================================== -->



<ng-template #profileoverview class="modal-lg profile-template fontsize">
    <div class="profiletemplate" *ngIf="result" style="margin-top:2px;">
      <button type="button" class="pull-right1 closeButton">
        <a (click)="closeModal(charity)" class="fa fa-window-close"></a>
      </button>
  
      <div class="leftside-details">
        <div class="left-details">
          <div class=" left-details lcard">
  
  
  
            <h5>About me </h5>
            <div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
              <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px">
            </div>
  
            <div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
              <div *ngIf="result.gender==='Male'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user-tie fa-9x"></i>
                </div>
              </div>
              <div *ngIf="result.gender=='Female'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user fa-9x"></i>
                </div>
              </div>
              <div *ngIf="result.gender=='Other'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user-tie fa-9x"></i>
                </div>
              </div>
            </div>
  
  
  
  
            <h5>
              <span class="email"> {{result.firstname | titlecase }} {{result.lastname | titlecase }} </span>
            </h5>
  
            <!-- <div>
              <i class="fa fa-envelope" style="font-size:18px"></i>
              <span class="email"> {{result.email | lowercase }}</span>
            </div>
            <div>
              <i class="fa fa-phone" style="font-size:23px"></i>
              <span> {{result.phone }} </span>
            </div> -->
            <div>
              <i class="fa fa-home" style="font-size:23px"></i>
              <span> {{result.current_loc | titlecase}}</span>
            </div>
          </div>
        </div>
        <p> </p>
        <div class="left-details lcard">
          <h6>
            <i class="fas fa-user"></i> &nbsp;
            <b>Profile Info</b>
          </h6>
          <div *ngIf="result.current_designation">
            <strong>Designation</strong>: {{cur_des}}
          </div>
          <span *ngFor="let previous of previousemp">
            <h5>PREVIOUS EMPLOYMENT</h5>
            <!-- <p *ngFor="let desg of designations"> -->
            <!-- <span *ngIf="previous.designation == desg.designation_id"> -->
            <b>Designation: </b>
            <p>{{previousdesignation}}</p>
            <!-- </span> -->
            <!-- </p> -->
          </span>
          <div *ngIf="result.functional_area">
            <strong>Functional Area</strong>: {{result.functional_area}}
          </div>
          <div *ngIf="result.currentsalary">
            <b>Annual Salary:</b>{{result.currencycode}} {{result.currentsalary}}
          </div>
          <div *ngIf="result.pref_location">
            <strong>Preferred Location</strong>: {{result.pref_location | titlecase}}
          </div>
        </div>
        <p> </p>
  
  
        <div class="left-details lcard" *ngIf="result.key_skills">
          <h6>
            <i class="fas fa-laptop-code"></i>&nbsp;
            <b>Skills</b>
          </h6>
          <span *ngFor="let s of skillsarraydisplay1;let sk = index">
            {{s}}
  
          </span>
        </div>
  
        <div class="left-details lcard">
          <h6>
            <b>
              <i class="fas fa-user-circle"></i> &nbsp; Personal Details</b>
          </h6>
  
          <div>
            <div *ngIf="result.permanent_address || result.pin_code" class="address">
              <i class="fas fa-map-marker-alt"></i> {{result.permanent_address | titlecase}}, {{result.pin_code}}
              <br>
            </div>
            <div *ngIf="result.date_of_birth">
              <i class="fa fa-birthday-cake"></i>
              {{result.date_of_birth |date }}
              <br>
            </div>
            <div *ngIf="result.gender">
              <i class="fas fa-male"></i>
              {{result.gender | titlecase}}
              <br>
            </div>
          </div>
          <div *ngIf="result.language_known">
            <h6>
              <i></i>
              <b>Languages Known</b>
            </h6>
            <div *ngFor="let lang of result.language_known;let sk=index">
              <div *ngFor="let l of languagesdisplay[sk]">
                {{l.name}}
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <!---->
  
      <div class="rightside-content right">
  
  
        <div class="right-details rcard ">
          <h5>
            <i></i>
            <b>Resume Headline </b>
          </h5>
          <div class="rightinsidepadding">
            <h6> {{result.resume_headline | titlecase}}</h6>
          </div>
        </div>
  
  
  
  
        <div class="right-details rcard">
          <h5>
            <b>
              <i class="fa fa-user-secret"> </i> &nbsp; Experience
            </b>
          </h5>
          <div class="rightinsidepadding">
            <span *ngFor="let s of result.presentemp_details;let i=index">
  
              <h6>
                <b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
              </h6>
              <h6>
                <b>Designation: &nbsp; </b>
                <span> {{presentdesignation}}</span>
              </h6>
              <span>
                <h6 *ngIf="s.from_date">
                  <b>From: &nbsp;&nbsp;</b>({{s.from_date | date}} - present) </h6>
              </span>
              <span>
                <h6 *ngIf="s.description">
  
                  <b> Description :</b>
                  &nbsp;
                  <span [innerHtml]="s.description">
                    <!-- {{s.description}} -->
                  </span>
  
                </h6>
                <hr>
              </span>
            </span>
  
  
  
            <div>
              <span *ngFor="let s of result.previousemp_details;let i=index">
  
                <h6>
                  <b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
                </h6>
                <h6>
                  <b>Designation : </b>
                  <span> {{previousdesignation}}</span>
                </h6>
                <span>
                  <h6 *ngIf="s.from_date">
                    <b>Duration:&nbsp;&nbsp; </b>({{s.from_date | date}} - {{s.to_date | date}} ) </h6>
                </span>
                <span>
                  <h6 *ngIf="s.description">
                    <b> Description :</b>
  
                    &nbsp;
                    <span [innerHtml]="s.description">
                      <!-- {{s.description}} -->
                    </span>
  
                  </h6>
                  <hr>
                </span>
              </span>
            </div>
  
  
  
            <span>
              <span *ngFor="let s of result.otheremp_details;let rowIndex=index">
                <h6>
                  <b>Other Employment{{rowIndex+1}}</b>
                </h6>
  
                <h6>
                  <b>Designation :</b>{{s.other_emp | titlecase }}
  
                </h6>
  
  
  
              </span>
            </span>
          </div>
        </div>
        <div class="right-details rcard " *ngIf="result.educational_details">
          <h5>
            <i class="fa fa-mortar-board"></i>
            <b> Education</b>
          </h5>
          <span></span>
          <div style=" padding-left: 10px;">
            <div *ngFor="let s of result.ssc_details">
  
              <i class="fas fa-angle-right"></i>
              <b>SSC</b> from
              <b>{{s.coursename}}</b> completed in the year of
              <b>{{s.year}}</b> .
  
  
            </div>
            <div *ngFor="let i of result.inter_details">
              <i class="fas fa-angle-right"></i>
              <b>SECONDARY EDUCATION</b> from
              <b>{{i.coursename}}</b> completed in the year of
              <b>{{i.year}}</b>.
  
  
            </div>
            <div *ngFor="let g of result.grad_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>GRADUATION({{g.specialization}})</b>
              <span *ngIf="graduniversity[i].length>0"> from
                <b>'{{graduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{g.year}}</b>.
  
            </div>
            <div *ngFor="let pg of result.pg_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>PG({{pg.specialization}})</b>
              <span *ngIf="pguniversity[i].length>0"> from
                <b>'{{pguniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{pg.year}}</b>.
            </div>
  
            <div *ngFor="let p of result.phd_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>PHD({{p.specialization}})</b>
              <span *ngIf="phduniversity[i].length>0"> from
                <b>'{{phduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{p.year}}</b>.
            </div>
          </div>
        </div>
  
        <div class="right-details rcard " *ngIf="result.project_details">
  
          <h5>
            <i class="fas fa-tasks"></i> &nbsp;
            <b>Projects</b>
  
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let pro of result.project_details   let rowIndex=index">
  
  
              <h6 *ngIf="result.project_details.length>1">
                <b>Project{{rowIndex+1}}</b></h6>
  
  
              <h6>
                <b>Name:</b> {{pro.name}}</h6>
              <h6>
                <b> Skills:</b>
                <!-- <span *ngFor="let s of skill[rowIndex];let sk = index">
                  {{s.name}}
                  <b *ngIf="skill[rowIndex][sk + 1]">, </b>
                  <b *ngIf="sk + 1 == skill[rowIndex].length">.</b>
                </span> -->
                <span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
                  {{s}}
  
                </span>
  
              </h6>
              <h6>
                <b>Duration:</b> {{pro.duration}}</h6>
              <h6 *ngIf="pro.description">
                <b>Description:</b> <span [innerHtml]="pro.description">
                  <!-- {{pro.description}} -->
                </span>
  
              </h6>
  
              <hr>
            </div>
          </div>
  
        </div>
        <div class="right-details rcard  " *ngIf="result.certification_details">
  
  
          <h5>
            <i class="fas fa-file-alt"></i> &nbsp;
            <b>Certifications</b>
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let ce of result.certification_details   let rowIndex=index">
              <h6>
                <b><span *ngIf="result.certification_details.length>1">Certifications{{rowIndex+1}}</span></b>
              </h6>
  
              <h6>
                <b>Name:</b> {{ce.certification_name}}</h6>
  
              <h6 *ngIf="ce.certification_body">
              <span>	<b>Description:</b><span [innerHtml]="ce.certification_body"></span></span> 
              </h6>
              <h6>
                <b>Year:</b> {{ce.certification_year}}
  
  
              </h6>
  
              <hr>
  
            </div>
          </div>
        </div>
  
        <div class="right-details rcard" *ngIf="result.achievement_details">
  
  
          <h5>
            <i class="fas fa-medal"></i> &nbsp;
            <b>Achievements</b>
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let n of result.achievement_details;let i=index">
  
              <h6>
                <b>Achievement<span *ngIf="result.achievement_details.length>1">{{i+1}}</span></b>
              </h6>
  
              <h6>
                <b> Name :</b>&nbsp; {{n.name}}</h6>
  
              <h6>
                <p *ngIf="n.description">
                  <b>Description : </b>&nbsp; <span [innerHtml]="n.description">
                    <!-- {{n.description}} -->
                  </span>
                </p>
              </h6>
              <h6>
                <p *ngIf="imagesArr1[i]">
                  <ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
                </p>
              </h6>
  
              <hr>
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  



<!-- 
<ng-template #profileoverview class="modal-lg resume-template">
  <div id="content" #content>
     <div>
      <input type="button" class="btn btn-primary pull-right" value="Download" (click)="captureScreen()" />

    </div> 
  </div>
  <div id="contentToConvert">
    <div class="resumetemplate">

      <hr>
      <div>
        <h2>
          <span>
            <strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
          </span>
          <span class="pull-right">
            <strong style="font-size:14px">Email ID : </strong>
            <span style="font-size:14px">{{result.email}}</span>,&nbsp;

            <strong style="font-size:15px">Mobile : </strong>
            <span style="font-size:14px">{{result.phone}}</span>
          </span>
        </h2>
        <hr>
      </div>

      <div class="left-details">

        <div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
          <img src="{{Apiurl}}/profileimage/{{result.image}}" height="140px" width="120px" id='imgg'>
        </div>
        <div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
          <div *ngIf="result.gender==='Male'">
            <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
              <i class="fas fa-user-tie fa-9x"></i>
            </div>
          </div>
          <div *ngIf="result.gender=='Female'">
            <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
              <i class="fas fa-user fa-9x"></i>
            </div>
          </div>
          <div *ngIf="result.gender=='Other'">
            <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
              <i class="fas fa-user-tie fa-9x"></i>
            </div>
          </div>
        </div>


        <hr>

        <div class="section-part">

          <h6>
            <i class="fas fa-user-circle"></i>
            <span>Profile Info</span>
          </h6>
          <p>
            <strong>Functional Area</strong>: {{result.functional_area}}</p>

          <p>
            <strong>Address</strong>: {{result.permanent_address}}</p>
          <p>
            <strong>Current Location</strong>: {{result.current_loc}}</p>
          <p>
            <strong>Preferred Location: </strong>

            {{result.pref_location | titlecase}}</p>
        </div>
        <hr>
        <div class="section-part" *ngIf="result.current_designation">

          <h6>
            <i class="fas fa-user-tie"></i>
            <span>Profession</span>
          </h6>
          <p>
            {{cur_des}}</p>
        </div>
        <hr>
        <div class="section-part">
          <h6>
            <i class="far fa-address-card"></i>
            <span>Personal Details</span>
          </h6>
          <p>
            <i class="fa fa-user-o" style="font-size:22px"></i>

            <strong>Gender:</strong>
            <span>{{result.gender | titlecase}}</span>
          </p>
          <p>
            <i class="fa fa-birthday-cake" style="font-size:22px"></i>
            <strong>DOB:</strong> {{result.date_of_birth |date }}
          </p>
          <p>
            <strong>Marital Status:</strong> {{result.status_name}}</p>

          <p>
            <strong> Languages Known:</strong>
          </p>

          <p *ngFor="let lang of result.language_known;let sk=index">
            <span *ngFor="let l of languagesdisplay[sk]">
              &nbsp;&nbsp;{{l.name}}
            </span>
          </p>

          <p>
            <strong>Permanent Address:</strong> {{result.permanent_address}}</p>

          <p>
            <strong>ZipCode:</strong> {{result.pin_code}}</p>
        </div>
        <hr>
      </div>


      <div class="right-side">
        <div class="aboutme">

          <h6>
            <span style="margin-left: 4px;">About Me</span>
          </h6>
          <p> {{result.resume_headline}}</p>
        </div>
        <hr>
        <div class="section-part">

          <h5>
            <i class="fa fa-mortar-board"></i>
            <span style="margin-left: -3px;">Education</span>
          </h5>


          <div *ngFor="let s of result.ssc_details">
            <p style="font-size:13px">
              <i class="fas fa-angle-right"></i>
              <b>SSC</b> from
              <b>{{s.coursename}} </b> completed in the year of
              <b>{{s.year}}</b>.
            </p>

          </div>


          <div *ngFor="let i of result.inter_details">
            <p style="font-size:13px">
              <i class="fas fa-angle-right"></i>
              <b>INTER</b> from
              <b>{{i.coursename}} </b> completed in the year of
              <b>{{i.year}}</b>.
            </p>

          </div>


          <div *ngFor="let g of result.grad_details;let i=index">
            <p style="font-size:13px">
              <i class="fas fa-angle-right"></i>
              <b>GRADUATION({{g.specialization}})</b>
              <span *ngIf="graduniversity[i].length>0"> from
                <b>'{{graduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{g.year}}</b>.
            </p>

          </div>


          <div *ngFor="let pg of result.pg_details;let i=index">
            <p style="font-size:13px">
              <i class="fas fa-angle-right"></i>
              <b>PG({{pg.specialization}})</b>
              <span *ngIf="pguniversity[i].length>0"> from
                <b>'{{pguniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{pg.year}}</b>.
            </p>

          </div>

          <div *ngFor="let p of result.phd_details;let i=index">
            <p style="font-size:13px">
              <i class="fas fa-angle-right"></i>
              <b>PHD({{p.specialization}})</b>
              <span *ngIf="phduniversity[i].length>0"> from
                <b>'{{phduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{p.year}}</b>.
            </p>

          </div>
        </div>
        <hr>
        <div class="section-part" *ngIf="result.key_skills">
          <h5>
            <i class="fas fa-laptop-code"></i>
            <span>Skills</span>
          </h5>

          <span *ngFor="let s of keyskillsarraydisplay;let sk = index" style="font-size:13px">
            {{s}}

          </span>
        </div>
        <hr>

        <div class="section-part">
          <h5>
            <i class="fa fa-mortar-board" style="font-size:20px"></i>
            <span style="margin-left: -3px;">Experience</span>
          </h5>
          <span *ngFor="let s of result.presentemp_details;let i=index">
            <p>
              <b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}}
            </p>

            <p>
              <b style="font-size:13px">Designation:</b>
              <span> {{presentdesignation}}</span>
            </p>
            <span>
              <p>
                <b style="font-size:13px">From:</b> {{s.from_date | date}} </p>
            </span>
            <span>
              <p *ngIf="s.description">
                <b style="font-size:13px">Description: </b>
                {{s.description}}
              </p>
            </span>
          </span>

          <span *ngFor="let s of result.previousemp_details;let i=index">
            <hr>
            <p>
              <b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}}
            </p>
            <p>
              <b style="font-size:13px">Designation:</b>
              <span > {{previousdesignation}}</span>
            </p>
            <span>
              <p>
                <b style="font-size:13px"> Duration:</b> ({{s.from_date | date}} - {{s.to_date | date}} ) </p>
            </span>
            <span>
              <p *ngIf="s.description">
                <b style="font-size:13px"> Description:</b> {{s.description}} </p>
            </span>
          </span>
          <hr>

          <span *ngFor="let s of result.otheremp_details;let rowIndex=index">
            <p>
              <b style="font-size:13px">Other Employment{{rowIndex+1}}</b>
            </p>

            <p>
              &nbsp;&nbsp;&nbsp;&nbsp;
              <b style="font-size:13px">Designation:</b> {{s.other_emp | titlecase }}

            </p>

            <p *ngIf="s.description">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <b style="font-size:13px"> Description :</b>
              {{s.description}}
            </p>


          </span>
        </div>

        <div class="section-part" *ngIf="result.certification_details">
          <h5>

            <i class="fas fa-certificate" style="font-size:20px"></i>
            <span>Certification</span>


          </h5>


          <div *ngFor="let ce of result.certification_details   let rowIndex=index">

            <p>
              <b style="font-size:16px">Certification{{rowIndex+1}}</b>
            </p>

            <p>
              <b style="font-size:13px">Name:</b> {{ce.certification_name}}
            </p>
            <p>
              <b style="font-size:13px">Description:</b> {{ce.certification_body}}
            </p>
            <p>
              <b style="font-size:13px">Year:</b> {{ce.certification_year}}
            </p>

          </div>

        </div>
        <hr>
        <div class="section-part" *ngIf="result.achievement_details">
          <h5>
            <i class="fas fa-award" style="font-size:20px"></i>
            <span>Achievements</span>
          </h5>

          <div *ngFor="let ac of result.achievement_details   let rowIndex=index">

            <p>
              <b style="font-size:16px">Achievements{{rowIndex+1}}</b>
            </p>

            <p>
              <b style="font-size:13px">Name:</b> {{ac.name}}
            </p>
            <p *ngIf="ac.description">
              <b>Description:</b> {{ac.description}}</p>
          </div>
        </div>
        <hr>
        <div class="section-part" *ngIf="result.project_details">
          <h5>
            <i class="fas fa-file-archive" style="font-size:20px"></i>
            <span>Projects</span>
          </h5>

          <div *ngFor="let pro of result.project_details;let rowIndex=index">
            <p>
              <b style="font-size:16px">Project{{rowIndex+1}}</b>
            </p>

            <p>
              <b style="font-size:13px">Name:</b> {{pro.name}}
            </p>
            <p>
              <b style="font-size:13px"> Skills:</b>


              <span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
                {{s}}

              </span>

            </p>
            <p>
              <b style="font-size:13px">Duration:</b> {{pro.duration}}
            </p>

          </div>


        </div>
        <hr>
      </div>
    </div>
  </div>
</ng-template> -->





<ng-template #edittemplate class="modal-lg">
  <form name="jobpost" (ngSubmit)="pj.valid && editjob(jobpost)" #pj="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Your Posting</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>


    <div class="modal-body">

      <div class="form-group row">

        <div class="col-6 form-group">
          <label for="gender">Gender Preference :
            <!-- <sup class="message">*</sup> -->
          </label>
          <div class="form-control">
            <input type="radio" name="gender" value='1' [(ngModel)]="jobpost.gender" #gender="ngModel">Male
            <input type="radio" name="gender" value='2' [(ngModel)]="jobpost.gender" #gender="ngModel">Female
            <input type="radio" name="gender" value='3' [(ngModel)]="jobpost.gender" #gender="ngModel" checked>Any

          </div>
          <!-- <span *ngIf="pj.submitted && !gender.valid" class="help-block"> Please select Gender </span> -->
        </div>


        <div class="col-6 form-group">

          <label for="physicalstatus"> Physical Status (PHC):
          </label>
          <select [(ngModel)]="jobpost.physicalstatus" class="form-control" id="physicalstatus" name="physicalstatus">

            <option [ngValue]="null">
              Select Physical Status
            </option>
            <option *ngFor="let p of phystatus" value={{p.id}}>
              {{p.physical_status}}
            </option>
          </select>

        </div>


        <div class="col-6 form-group">
          <label for="noticeperiod">Notice Period:
            <!-- <sup class="message">*</sup> -->
          </label>
          <div class="form-group">
            <select [(ngModel)]="jobpost.notice_period" class="form-control" id="noticeperiod" name="noticeperiod">
              <option [ngValue]="null">
                Select Notice Period
              </option>
              <option *ngFor="let notice of notice" value={{notice.id}}>
                {{notice.notice_period}}
              </option>
            </select>
            <!-- <span *ngIf="pj.submitted && !noticeperiod.valid " class="help-block">
              Please enter notice period
            </span> -->
          </div>

        </div>
        <div class="col-6 form-group">
          <label>
            Date To Respond
            <!-- <sup class="message">*</sup> -->
          </label>
          <input name="tilldate" [min]="min" id="tilldate" [(ngModel)]="jobpost.tilldate" class="form-control"
            [owlDateTimeTrigger]="dt3" (focus)="dt3.open()" [owlDateTime]="dt3" #tilldate="ngModel">
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

          <!-- <span *ngIf="pj.submitted && !tilldate.valid" class="help-block">
            Please enter till date
          </span> -->
        </div>


        <div class="col-12 form-group ">
          <label for="">Optional skills
            <!-- <sup class="message">*</sup> -->
          </label>
          <angular2-multiselect name="optional_skills" class="form-control " [data]="dropdownList" [(ngModel)]="jobpost.optional_skills"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (keyup)="getskills2($event)" 
            #keyskills="ngModel">

          </angular2-multiselect>
          <!-- <span *ngIf="pj.submitted && !optional_skills.valid" class="help-block">
            Please enter Optional skills
          </span> -->

        </div>


        <div class="col-4 form-group" [ngClass]="{ 'has-error': pj.submitted && !minsalary.valid }">
          <label for="">Min Salary:
            <sup class="message">*</sup>

          </label>
          <div class="form-group">

            <input type="text" required name="minsalary" class="form-control" maxlength="8" [(ngModel)]="jobpost.minsalary"
              id="minsalary" #minsalary="ngModel" required (keypress)="numbercheck($event)" (keyup)="maxsalarycheck($event)">

            <span *ngIf="pj.submitted && !minsalary.valid && !jobpost.minsalary" class="help-block">
              Please select minsalary</span>
            <span *ngIf="maxsalarycheck_res == 1 && jobpost.maxsalary" class="help-block">
              Minimum salary is greater than maximum salary
            </span>
          </div>
        </div>

        <div class="col-4 form-group" [ngClass]="{ 'has-error': pj.submitted && !maxsalary.valid }">
          <label for="maxsalary">Max Salary:
            <sup class="message">*</sup>

          </label>
          <div class="form-group">

            <input type="text" required name="maxsalary" maxlength="8" [(ngModel)]="jobpost.maxsalary" class="form-control"
              id="maxsalary" #maxsalary="ngModel" required (keypress)="numbercheck($event)" (keyup)="maxsalarycheck($event)">
            <span *ngIf="pj.submitted && !maxsalary.valid && !jobpost.maxsalary" class="help-block">
              Please select maxsalary</span>
            <span *ngIf=" maxsalarycheck_res == 1 && jobpost.maxsalary" class="help-block">
              Maximum salary is less than minimum salary
            </span>
            <span *ngIf=" maxsalarycheck_res == 0 && jobpost.maxsalary" class="help-block">
							Maximum salary and  minimum salary are same
						</span>
          </div>
        </div>




        <div class="col-4 form-group" [ngClass]="{ 'has-error': pj.submitted && !contactperson.valid }">
          <label for="contactperson">Contact Person:
            <sup class="message">*</sup>
          </label>
          <input type="text" required name="contactperson" [(ngModel)]="jobpost.contactperson" minlength="3" maxlength="50"
            class="form-control" id="contactperson" #contactperson="ngModel">
          <!-- <span *ngIf="pj.submitted && !contactperson.valid" class="help-block">
            Please enter contact person
          </span> -->
          <span *ngIf="pj.submitted && contactperson.errors?.minlength || contactperson.errors?.maxlength" class="help-block">
            contact person should be min of 3 characters and maximum of 50 characters.
          </span>
        </div>

      </div>

    </div>




    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Post</button>
    </div>
  </form>
</ng-template>


<ng-template #nextRoundTemplate>
  <form name="interview" (ngSubmit)="next.valid && nextRoundPost(interview)" #next="ngForm" novalidate>
    <div class="modal-header ">
      <h4 class="modal-title pull-left">Next Round</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
      <button type="button" class="pull-right closeButton" aria-label="Close" (click)="modalRef.hide()">
        <span class="fa fa-window-close"></span>
      </button>
    </div>

    <div class="modal-body">
      <div class="form-group row">

        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted && !schedule_date.valid }">
          <label>
            Schedule Date: </label>
          <sup class="help-block">*</sup>
          <input name="schedule_date" (keypress)="datecheck($event)" [min]="min" id="schedule_date" [(ngModel)]="interview.schedule_date"
            class="form-control" [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" #schedule_date="ngModel" required>
          <owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

          <span *ngIf="next.submitted && !schedule_date.valid" class="help-block">
            Please enter schedule date
          </span>
        </div>



        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted && !schedule_time.valid }">
          <label>
            Time: </label>
          <sup class="help-block">*</sup>
          <input (keypress)="datecheck($event)" required [min]="timeMin" class="form-control" name="schedule_time" id="schedule_time"
            [(ngModel)]="interview.schedule_time" #schedule_time="ngModel" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
          <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>

          <span *ngIf="next.submitted && !schedule_time.valid" class="help-block">
            Please enter schedule_time
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted && !interviewer.valid }">
          <label for="interviewer">Contact Person:</label>
          <sup class="help-block">*</sup>
          <input type="text" required name="interviewer" [(ngModel)]="interview.interviewer" class="form-control" id="interviewer"
            #interviewer="ngModel">
          <span *ngIf="next.submitted && !interviewer.valid" class="help-block">
            Please enter contact person name
          </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{'has-error': next.submitted && !location.valid }">
          <label for="location">Location:</label>
          <sup class="help-block">*</sup>
          <input type="text" required name="location" [(ngModel)]="interview.location" class="form-control" id="location"
            #location="ngModel">
          <span *ngIf="next.submitted && !location.valid" class="help-block">
            Please enter location
          </span>
        </div>

        <!-- <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!schedule.mode==0 }">
          <label for="mode">Mode of interview:</label>
          <select name="mode" id="mode" class="form-control" (change)='modeChange($event)' [(ngModel)]="interview.mode" style="margin-top:8px !important;">
            <option [ngValue]='undefined'>Select Interview Mode</option>
            <option *ngFor='let m of interview_mode' value={{m.id}}>{{m.name}}</option>
          </select>
          <span *ngIf="next.submitted && !interview.mode!=0" class="help-block">
            Please enter mode of interview
          </span>

        </div>
 -->
        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!schedule.mode==0 }">
          <label for="mode">Mode of interview:</label>
          <sup class="help-block">*</sup>
          <select name="mode" id="mode" class="form-control" (change)='modeChange($event)' [(ngModel)]="interview.mode"
            style="margin-top:8px !important;">
            <option [ngValue]='undefined'>Select Interview Mode</option>
            <option *ngFor='let m of interviewmode' value={{m.interview_mode_id}}>{{m.interview_mode_name}}</option>
          </select>
          <span *ngIf="next.submitted && !interview.mode!=0" class="help-block">
            Please enter mode of interview
          </span>

        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!schedule.mode==0 }">
          <label for="mode">Type of interview:</label>
          <sup class="help-block">*</sup>
          <select name="type" id="type" class="form-control" (change)='typeChange($event)' [(ngModel)]="interview.type"
            style="margin-top:8px !important;">
            <option [ngValue]='undefined'>Select Interview Type</option>
            <option *ngFor='let i of interviewtype' value={{i.type_mode_name}}>{{i.type_mode_name}}</option>
          </select>
          <span *ngIf="next.submitted && !interview.type!=0" class="help-block">
            Please enter type of interview
          </span>

        </div>




        <!--    <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!schedule.mode==0 }">
          <select [(ngModel)]="interviewschedule.modeofschedule" class="form-control" id="modeofschedule" name="natureof" required #natureofjob="ngModel">
            <option value=undefined>
              Select Type of Job
            </option>
            <option *ngFor="let jobtype of jobtype" value={{jobtype.id}}>
              {{jobtype.job_type}}
            </option>
 -->
        <!-- 

      </div class="col-6 form-group" [ngClass]="{has-error': schedule.submit &&!schedule.mode==0}">
      <select [(ngModel)]="interviewschedule.modeofschedule" class="form-comtrol" id="modeofschedule" name="modeof" required #modeofschedule="ngModel">
        <option [ngValue]='undefined'>Select Interview Mode</option>
        <option *ngFor='letjobtype of jobtype" value={{jobtype.id}}>


      </select>

 -->






        <!-- 
        <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!schedule.mode==0 }">
          <label for="mode">Type of interview:</label>
          <select name="mode" id="mode" class="form-control" (change)='modeChange($event)' [(ngModel)]="interview.mode" style="margin-top:8px !important;">
            <option [ngValue]='undefined'>Select Interview Mode</option>
            <option *ngFor='let m of interview_mode' value={{m.id}}>{{m.name}}</option>
          </select>
          <span *ngIf="next.submitted && !interview.mode!=0" class="help-block">
            Please enter Type of interview
          </span>

        </div>
 -->

        <!-- <div class="col-6 form-group" [ngClass]="{ 'has-error': next.submitted &&!type.valid }">
          <label for="type">Type of interview:</label>
          <input type="text" required name="type" [(ngModel)]="interview.type" class="form-control" id="type" #type="ngModel">
          <span *ngIf="next.submitted && !type.valid" class="help-block">
            Please enter type of interview
          </span>
        </div> -->

        <div class="col-12 form-group" [ngClass]="{ 'has-error': next.submitted && !notify_me.valid }">
          <label for="notify_me">Notify:</label>
          <textarea rows="4" [(ngModel)]="interview.notify_me" class="form-control" id="notify_me" name="notify_me"
            minlength="3" maxlength="1000" #notify_me="ngModel"></textarea>
          <span *ngIf="next.submitted && !notify_me.valid" class="help-block">
            Please enter notice message between 3 to 1000 characters</span>

        </div>


      </div>

    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Schedule</button>
    </div>
  </form>

</ng-template>




<ng-template #rattingTemplate>
  <form novalidate name="frm" #frm="ngForm" (ngSubmit)="frm.valid && saverating(tech_rating.value,info_rating.value,behaviour_rating.value,etiquette_rating.value,communication_rating.value,expectations.value,overall_exp.value,rattingTemplate)">

    <div class="modal-header ">
      <h4 class="modal-title pull-left">Rating</h4>
      <!-- <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button> -->
      <button type="button" class="pull-right closeButton" aria-label="Close" (click)="modalRef.hide()">
        <span class="fa fa-window-close"></span>
      </button>
    </div>



    <div class="modal-body">
      <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !tech_rating.valid }">
        <label for="">Technical Skills
          <sup style="color:red;">*</sup>
        </label>
        <div>
          <rating [max]="5" #tech_rating name="tech_rating" [customTemplate]="tt" [(ngModel)]="ratings.tech_rating"></rating>


          <b>(
            <i>Rate:</i> {{tech_rating.value}}/5)</b>
          {{rate.value|json}}
          <ng-template #tt let-i="index" let-v="value">
            <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
              {{i
              < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" *ngIf="frm.submitted && !tech_rating.value "
                class="help-block error">
                Please rate for Technical Skills
        </div>
      </div>

    </div>





    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !info_rating.valid }">
      <label for="">Information Provided
        <sup style="color:red;">*</sup>
      </label>
      <div>

        <rating class="star" [max]="5" name="info_rating" #info_rating [(ngModel)]="ratings.info_rating" [customTemplate]="tt"></rating>
        <b>(
          <i>Rate:</i> {{info_rating.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value" class="star">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !info_rating.value "
              class="help-block error">
              Please rate for Information Provided
      </div>
    </div>
    </div>




    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !behaviour_rating.valid }">
      <label for="">Behaviour
        <sup style="color:red;">*</sup>
      </label>
      <div>

        <rating [max]="5" #behaviour_rating [customTemplate]="tt" name="behaviour_rating" [(ngModel)]="ratings.behaviour_rating"></rating>
        <b>(
          <i>Rate:</i> {{behaviour_rating.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !behaviour_rating.value "
              class="help-block error">
              Please rate for Behaviour
      </div>
    </div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !etiquette_rating.valid }">
      <label for="">Interview Etiquette
        <sup style="color:red;">*</sup>
      </label>
      <div>

        <rating [max]="5" #etiquette_rating [(ngModel)]="ratings.etiquette_rating" name="etiquette_rating" [customTemplate]="tt"></rating>
        <b>(
          <i>Rate:</i> {{etiquette_rating.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !etiquette_rating.value "
              class="help-block error">
              Please rate for Interview Etiquette
      </div>
    </div>
    </div>



    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !communication_rating.valid }">

      <label for="">Communication Skills
        <sup style="color:red;">*</sup>
      </label>
      <div>

        <rating [max]="5" #communication_rating [(ngModel)]="ratings.communication_rating" [customTemplate]="tt" name="communication_rating"></rating>
        <b>(
          <i>Rate:</i> {{communication_rating.value}}/5)</b>
        <ng-template #tt let-i="index" let-v="value">
          <b class=" ratting-star {{i < v ? 'text-success' : 'text-default'}}">
            {{i
            < v ? '&#9733;' : '&#9734;' }} </b> </ng-template> <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !communication_rating.value "
              class="help-block error">
              Please rate for Communication Skills
      </div>
    </div>
    </div>



    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !expectations.valid }">
      <!-- [ngClass]="{ 'has-error': frm.submitted && !expectations.valid }" -->
      <label for="">Organization Expectations
        <sup style="color:red;">*</sup>
      </label>
      <div>
        <textarea name="expectations" id="" cols="50" class="form-comtrol" #expectations="ngModel" [(ngModel)]="ratings.expectations"
          rows="3"></textarea>

        <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !expectations.value " class="help-block error">
          Please write Organization Expectations
        </div>
      </div>
    </div>


    <div class="form-group" [ngClass]="{ 'has-error': frm.submitted && !overall_exp.valid }">
      <!-- [ngClass]="{ 'has-error': frm.submitted && !overall_exp.valid }" -->
      <label for="">Overall Experience
        <sup style="color:red;">*</sup>
      </label>
      <div>
        <textarea name="overall_exp" id="" cols="50" class="form-comtrol" #overall_exp="ngModel" [(ngModel)]="ratings.overall_exp"
          rows="3"></textarea>

        <div style="font-size:13px" [hidden] *ngIf="frm.submitted && !overall_exp.value " class="help-block error">
          Please give your Overall Experience
        </div>
      </div>
    </div>


    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</ng-template>










<ng-template #answers class="modal-lg answers">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Answers</h4>
    <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
      <span class="fa fa-window-close"></span>
    </button>
  </div>


  <div class="modal-body">
    <table class="table table-hover table-striped ">
      <tr *ngIf="first_question">
        <td>
          <b>{{first_question}}</b>
        </td>

      </tr>
      <tr>
        <td *ngIf="first_question">
          <p *ngIf="app_answer[0].first_answer">{{app_answer[0].first_answer | titlecase}}</p>
          <p *ngIf="!app_answer[0].first_answer">N/A</p>
        </td>
      </tr>
      <tr *ngIf="second_question">
        <td>
          <b>{{second_question}}</b>
        </td>
      </tr>
      <tr>

        <td *ngIf="second_question">
          <p *ngIf="app_answer[0].second_answer">{{app_answer[0].second_answer}}</p>
          <p *ngIf="!app_answer[0].second_answer">N/A</p>
        </td>
      </tr>
      <tr *ngIf="third_question">
        <td>
          <b>{{third_question}}</b>
        </td>
      </tr>
      <tr>

        <td *ngIf="third_question">
          <p *ngIf="app_answer[0].third_answer">{{app_answer[0].third_answer}}</p>
          <p *ngIf="!app_answer[0].third_answer">N/A</p>
        </td>
      </tr>
      <tr *ngIf="fourth_question">
        <td>
          <b>{{fourth_question}}</b>
        </td>
      </tr>
      <tr>

        <td *ngIf="fourth_question">
          <p *ngIf="app_answer[0].fourth_answer">{{app_answer[0].fourth_answer}}</p>
          <p *ngIf="!app_answer[0].fourth_answer">N/A</p>
        </td>
      </tr>
      <tr>
        <td *ngIf="fifth_question">
          <b>{{fifth_question}}</b>
        </td>
      </tr>
      <tr>

        <td *ngIf="fifth_question">
          <p *ngIf="app_answer[0].fifth_answer">{{app_answer[0].fifth_answer}}</p>
          <p *ngIf="!app_answer[0].fifth_answer">N/A</p>
        </td>
      </tr>
    </table>

  </div>






  <div class="modal-footer">

  </div>

</ng-template>
<ng-template #videoresume class="modal-lg">

  <div class="modal-header">
    <h4 class="modal-title pull-left">Video Resume</h4>
    <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
      <span class="fa fa-window-close"></span>
    </button>
  </div>


  <div class="modal-body">
    <video width="400" controls controlsList="nodownload">
      <source src="{{ApiUrl}}/videoresume/{{video}}" type="video/mp4">

    </video>

  </div>

  <div class="modal-footer">

  </div>

</ng-template>
<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete this post
      <i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>
</ng-template>
<ng-template #rejectconfirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Status cannot be changed once you have rejected.
      <br> Are you sure to reject the candidate
      <i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="reject(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="reject(true)">
      <span>Yes</span>
    </button>
  </div>
</ng-template>