
.dropdown-show
{
    background-color:white;
    height: 2px;
}
.fa-ellipsis-h
{
    padding: 0px;
}
body{
	font-family: arial;

}
	.left-details{
		width:350px;
		float: left;
	}
	.right-content{
		width:400px;
		float: right;
		margin-left:15px;
	}
	.profile-pic{
		width:250px;
	}
	h1{
		margin: 0px;
		font-size: 18px;
	}
	h2{
		margin: 0px;
		font-size: 16px;
	}
	h3{
		margin: 0px;
		font-size: 18px;
	}
	.myevents{
		margin-top:15px;
	}
	p{
		margin: 5px;
		font-size: 12px;
		line-height: 21px;
	}
	.profile-pic img{
		width: 100%;
		border-radius: 50%;
		width: 150px;
		height: 150px;
		margin: 0 80px;
	}
	.section-details{
		margin: 10px 0;
	}
	.section-details h2{
		font-size: 14px;
		background: #ccc;
		padding: 5px;
	}
	.mail-details{
		clear: both;
	}
	.right-content .mail-details p{
		float: left;
		width: 50%;
		border-top:1px #ccc solid;
		border-bottom:1px #ccc solid;
		padding: 5px 0;
		margin: 10px 0px;
	}
	.section-part{
		margin: 5px 0;
		clear: both;
	}
	.section-part h2{
		background: #ccc;
		padding: 5px;
		margin-top: 10px;
	}
	.section-part h3{
		margin:5px 0; 
	}
	.next-round
	{
margin-left: 20px;
color: white;
	}
	.status
	{
	border: black 1px solid;	
	border-radius: 40%;
	padding: 4px;
	}
	.card
{
    display: block;
}
.ratting-star
	{
		font-size: 34px;
outline: none;
	}
	b:focus{
		outline: none;
	}
	star:focus{
		outline: none;
	}
	.profile-template , .modal-lg{
		width:100% !important;
		 }
	.profiletemplate{
		padding: 10px;
	}
		 .leftside-details{
			width:30%;
			float: left;
			text-align: center;
		}
		.rightside-content{
			width:calc(70% - 15px);
			float: left;
			margin-left:5px;
		}
	.left-details h5{
		background-color: grey;
	}
	
	.right-details h5{
		margin-left: 40px;
	
	}
	
	.resume-template , .modal-lg{
		width:90% !important;
	}
	.resumetemplate{
		padding: 10px;
	}
	.left-details{
			width:30%;
			float: left;
		}
		.right-content{
			width:calc(70% - 15px);
			float: left;
			margin-left:15px;
		}
		.profile-pic{
			width:100%;
		}
		.resumetemplate h1{
			margin: 0px;
			font-size: 18px;
		}
		.resumetemplate h2{
			margin: 0px;
			font-size: 16px;
		}
		.resumetemplate h3{
			margin: 0px;
			font-size: 14px;
		}
		.resumetemplate p{
			margin: 5px;
			font-size: 12px;
			line-height: 21px;
		}
		.profile-pic img{
			width: 100%;
			border-radius: 50%;
			width: 150px;
			height: 150px;
			margin: 0  0 0 40px;
		}
		.section-details{
			margin: 10px 0;
		}
		.section-details h2{
			font-size: 14px;
			background: #ccc;
			padding: 5px;
		}
		.mail-details{
			clear: both;
		}
		.right-content .mail-details p{
			float: left;
			width: 50%;
			border-top:1px #ccc solid;
			border-bottom:1px #ccc solid;
			padding: 5px 0;
			margin: 10px 0px;
		}
		.section-part{
			margin: 5px 0;
			clear: both;
		}
		.section-part h2{
			background: #ccc;
			padding: 5px;
			margin-top: 10px;
		}
		.section-part h3{
			margin:5px 0; 
		}
	
		.profile-template , .modal-lg{
		width:100% !important;
		 }
	.profiletemplate{
		padding: 10px;
	}
	.profiletemplate .leftside-details{
			width:25%;
			float: left;
			text-align: center;
		}
		.rightside-content{
			width:calc(75% - 10px);
			float: left;
			margin-left:10px;
		}
	
		
	.profiletemplate .lcard{
	padding: 10px;
	height: auto;
	width: 200px;
	border: 1px solid  rgb(143, 142, 142); 
	
	
	}
	.profiletemplate .rcard{
	padding: 20px;
	height: auto;
	width: 550px;
	border: 1px solid  rgb(143, 142, 142);
	
	}
	
	.left-details  h5{
	background-color: lightgray;
	
	}
	
	.right-details h3{  
	width: 25%; 
	margin-left: 20px;
	
	}
	
	.right-details h6{
		margin-left: 30px;
	}
	.right-details h5{
		margin-left: 20px;
		
	}
	.right-details h2{
		margin-left: 40px;
		font-size: 20px;
		
	}
	.myjobposts{
		margin-top:15px;
	}
	.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	.message{
		color:red;
	}

	.keyskills{
		font-size:12px;
		padding-left:5px;
		
	}
	.p-details p{
		margin-left: -15px !important;
		margin-bottom: -8px;
		margin-top: 0px !important;
		

	}.nav-link
	{
		padding-right: 8px;
		padding-left: 8px;
	
	}
	.nav-item
	{
		color: white
	}
	.action-buttons
	{
		background-color: #265f82;
		color: white;
		border-right: 3px solid white;
		border-radius: 5%;
	
	}
	.action-buttons:hover{
		background-color: rgba(34, 24, 173, 0.514);
	
	}
	.post-footer
	{
		font-size: 14px;
		margin-top: -18px;
		margin-left: 4px;
	}
	.showmore
	{
		margin-left: 120px;
	}
	.description span:first-child{
		width:100%;
		display: inline-block;
		margin: 0px;
		font-weight: bold;

	}

	.margin{
		margin-left: 85px;
		margin-top: -20px;
	}
	.desc {
		text-align: justify;
	}