<!-- <h3 style="text-align: center;">Charity</h3> -->
<div class="myevents">
  <h4>
    <b>Charity</b>
  </h4>
</div>
<hr>

<div class="job-post" *ngFor="let charity of allcharityposts;let i=index">

  <div class="dropdown pull-right" dropdown placement="bottom left">
    <a id="button-alignment" dropdownToggle type="button" class="dropdown-show" aria-controls="dropdown-alignment">
      <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
    </a>
    <ul id="dropdown-alignment" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-alignment">
      <li role="menuitem">
        <a class="dropdown-item" (click)="edit(edittemplate1,charity)">
          <i class="fas fa-edit"></i> &nbsp; Edit</a>
      </li>

      <!-- <li role="menuitem">
        <a class="dropdown-item" (click)="Deletecharity(charity.charity_id,confirm)"> <i class="fas fa-trash"></i> &nbsp;
          Delete</a>
      </li> -->



    </ul>

  </div>

  <!-- edit form -->
 

  <!--  -->


  <!-- <div *ngIf="loadadvance?.length==0">No Records found..... </div> -->
  <div class="pimg rounded-circle" *ngIf="charity.image!='' && charity.image!=undefined && charity.image!='IMAGE'">
    <img class="rounded-circle" src="{{Apiurl}}/profileimage/{{charity.image}}" alt="" width="60px" height="60px">
   
    
  </div>
  <div class="pimg rounded-circle" *ngIf="charity.image==''|| charity.image==null||charity.image=='IMAGE'">
    <ngx-avatar class="rounded-circle" name="{{charity.username}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="60"
      textSizeRatio="1.5" [round]="true">

    </ngx-avatar>
  </div>
  <span>
    <h6>
      <b>{{charity.charity_name}}</b>
    </h6>
  </span>
  
  <div class="p-details">
    
    <div class="row">      
      <span class="keyskills col-10">
        <p><i class="fa fa fa-map-marker"></i>        
        {{charity.charity_address}}    
      </p> 
      </span>
    </div>
 
  </div>


  <div class="keyskills">
    <div class="row">
      <div class="col-3"><b>Person name</b></div>
      <div class="col-8"> {{charity.firstname}}</div>
    </div>
  </div>


  <div class="keyskills">
    <div class="row">
      <div class="col-3"><b>Mobile Number</b></div>
      <div class="col-8"> {{charity.charity_mobile_no}}</div>
    </div>
  </div>
  <div class="description desc">
    <div class="row" style="font-size:12px">
      <div class="col-3" style="padding-left:30px"><b>Charity Description</b></div>
      <div class="col-9" style="padding-left:25px"  [innerHTML]="charity.charity_description">
         <!-- {{charity.charity_description}} -->
        </div>
    </div>
  </div>
  <!-- ================================================== -->

  <div>


    <div *ngIf="table===charity.charity_id" [attr.id]="'undoBtn'+charity.charity_id">
      <br>
      <tabset>
        <!-- <div class="row"> -->

        <tab heading="About" id="tab1">

          <div *ngFor="let ch of allcharitypostsview" style="margin-left:12px">

            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Help Start Date</b></div>
                <div class="col-4">{{charity.charity_help_start_date}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Help End Date</b></div>
                <div class="col-4">{{charity.charity_help_end_date}}</div>
              </div>
            </div>
            <div class="keyskills" *ngIf="ch.charity_funds">
              <div class="row">
                <div class="col-4"><b>Charity Funds</b></div>
                <div class="col-4"> {{ch.charity_funds}}</div>
              </div>
            </div>

            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Volunteer's Name</b></div>
                <div class="col-4"> {{ch.volunteers_name}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Volunteer's Mobile Number</b></div>
                <div class="col-4"> {{ch.volunteers_mobile}}</div>
              </div>
            </div>

            <div class="row">
              <h5 class="account">Account Details</h5>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Bank Name</b></div>
                <div class="col-4"> {{ch.bankname}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Account Number</b></div>
                <div class="col-4"> {{ch.account_number}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Account Holder Name</b></div>
                <div class="col-4"> {{ch.account_name}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>Account Type</b></div>
                <div class="col-4"> {{ch.account_type}}</div>
              </div>
            </div>
            <div class="keyskills">
              <div class="row">
                <div class="col-4"><b>IFSC Code</b></div>
                <div class="col-4"> {{ch.ifsc_code}}</div>
              </div>
            </div>

          </div>

        </tab>
        <tab heading="Documents" id="tab2">
          <br>
          <div class="row col-12">
            <div *ngIf="imagesArr1[i].length==0"> No documents found... </div>
            <div class="col-12 achv_det" >
              <!-- <div *ngIf="n.supporting_image==0"> No documents found... </div> -->
              <div class="clearfix">

                <!-- <p>
                          <b class="col-4">Achievement Name </b>{{n.name}} 
                      </p>
                  
                      <p *ngIf="n.description">
                          <b class="col-4">Description </b> {{n.description}}
                      </p>
                   -->
                   <div *ngIf="imagesArr1[i]">
                <ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
              </div>

                <br>
              </div>
            </div>
          </div>

        </tab>
        <!-- <tab heading="Comments" id="tab3">
          <div>
            <form action=""></form>
            <h5>No Comments</h5>
          </div>
        </tab>
        <tab heading="Updates" id="tab4">
          <h5>No Updates</h5>
        </tab> -->

        <!-- </div> -->
      </tabset>



      <!-- <form (ngSubmit)="d.valid && savedonaters(postdonate)" name="donate" #d="ngForm" novalidate>
          <h4 >Make a Donation Today...!</h4>
        <div class="col-12 form-group">

          <label for="amount">Amount</label>
          <input type="text" name="amount" [(ngModel)]="amount" class=" form-control" id="amount"
           >
         <span *ngIf="vw.submitted && !amount.valid" class="help-block" style="font-size: 13px">Enter
            <b> Amount</b>
          </span> 
        </div>


        <div class="col-12 form-group">
          <label for="name">Name</label>
          <input type="text" name="firstname" [(ngModel)]="firstname" class=" form-control" id="name"
           >
          <span *ngIf="vw.submitted && !name.valid" class="help-block" style="font-size: 13px">Enter
            <b>Donators Name</b>
          </span>
        </div>

        <div class="col-12 form-group">
          <label for="email">E-mail Id</label>
          <input type="text" name="emailid" [(ngModel)]="emailid" class=" form-control" id="emailid"
           >
          <span *ngIf="vw.submitted && !emailid.valid" class="help-block" style="font-size: 13px">Enter
            <b>E-mail Id</b>
          </span>
        </div>

        <div class="col-12 form-group">
          <label for="mobilenumber">Mobile Number</label>
          <input type="text" name="mobilenumber" [(ngModel)]="mobilenumber" class=" form-control"
            id="mobilenumber" >
          <span *ngIf="vw.submitted && !mobilenumber.valid" class="help-block" style="font-size: 13px">Enter
            <b>Mobile Number</b>
          </span> 
        </div>
          <button type="submit" class="btn btn-primary" style="margin-left:15px" (click)="moredetais1()">Back</button>
        <button type="submit" class="btn btn-primary">Donate</button>  



       </form>  -->


    </div>



  </div>

  <!-- ////////////////////////////////////////////////////////////////////////////// -->
  <hr>
  <br>
  <div class="post-footer">
    <span class="pull-left keyskills">Posted by
      <b>{{charity.username |titlecase}}</b> on
      <b style="font-size: 11.5px">{{charity.charity_posted_on| date}}</b></span>
    <!-- <button type="button" class="btn btn-primary pull-right" (click)="openModalDonate(template)">Donate</button> username-->
    <button type="button" id="{{i}}" name="view" class="btn btn-primary pull-right showall" (click)="moredetails(charity.charity_id,i)">
      <i class="fas fa-info-circle"></i> View More</button>
    <!-- 
    <hr>
    <div class="post-footer">
      <span>Posted Date:</span>
      <span>{{charity.charity_posted_on| date}}</span>
      <a class="btn btn-primary pull-right" (click)="openModalDonate(template)">Donate</a>
 -->

    <!-- 	=================================================================see more button change by anurag================================================== -->


  </div>

</div>


<ng-template #edittemplate1 class="modal-lg">
  <form (ngSubmit)="pc.valid && editjob(charity)" #pc="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Edit Your Posting</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>


    <div class="modal-body">

      <div class="form-group row">


        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !firstname.valid }">
          <label for="firstname">Person Name<sup class="help-block">*</sup>

          </label>
        

            <input type="text" required name="firstname" minlength="3" maxlength="50" [(ngModel)]="charity.firstname" class="form-control"
              id="firstname" #firstname="ngModel" required >
            <span *ngIf="pc.submitted && !firstname.valid" class="help-block">
                  Please specify name</span>
                  <span *ngIf="pc.submitted && firstname.errors?.minlength || firstname.errors?.maxlength" class="help-block">
                      Name should be min of 3 characters and maximum of 50 characters.
                    </span>
        
        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !charity_name.valid }">

          <label for="charityname"> Charity Name<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="charity_name" class="form-control"  [(ngModel)]="charity.charity_name"
            id="charityname" #charity_name="ngModel" maxlength="50" required >
            <span *ngIf="pc.submitted && !charity_name.valid" class="help-block">
              Please specify charity name</span>
              <span *ngIf="pc.submitted && charity_name.errors?.minlength || charity_name.errors?.maxlength" class="help-block">
                  Charity name should be min of 3 characters and maximum of 50 characters.
                </span>
    
        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !charity_mobile_no.valid }">

          <label for="charitymobileno"> Mobile<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="charity_mobile_no" class="form-control" minlength=8 maxlength=15 [(ngModel)]="charity.charity_mobile_no"
            id="charitymobileno" #charity_mobile_no="ngModel" required >
            <span *ngIf="pc.submitted && !charity_mobile_no.valid" class="help-block">Please specify charity mobile number
            </span>
        </div>
<!-- 
        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !charitytime.valid }" >
                <label>
                  Help Starts on - Ends on
                  <sup class="help-block">*</sup>
                </label>
                <input class="datetime" [(ngModel)]="charity.charitytime" name="charitytime"
                 #charitytime="ngModel" [min]="min" [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3"
                 (focus)="dtPicker3.open()" class="form-control" id="charitytime" required>
                <owl-date-time [pickerType]="'calendar'" #dtPicker3></owl-date-time>
      
                <span *ngIf="pc.submitted && !charitytime.valid" class="help-block">
                  Please select help start and end date
                </span>
              </div> -->

              <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !charity_address.valid }">

                  <label for="charityaddress"> Address<sup class="help-block">*</sup>
                  </label>
      
                  <input type="text" required name="charity_address" minlength="25" maxlength="1000" class="form-control"  [(ngModel)]="charity.charity_address"
                    id="charityaddress" #charity_address="ngModel" required >
                    <span *ngIf="pc.submitted && !charity_address.valid" class="help-block">
                      Please specify charity address
                    </span>
                    <span *ngIf="pc.submitted && charity_address.errors?.minlength || charity_address.errors?.maxlength" class="help-block">
                        Charity address should be min of 3 characters and maximum of 50 characters.
                      </span>

                </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !volunteers_name.valid }">

          <label for="volunteersname"> Volunteer's Name<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="volunteers_name" minlength="3" maxlength="50" class="form-control" [(ngModel)]="charity.volunteers_name"
            id="volunteersname" #volunteers_name="ngModel" required>
            <span *ngIf="pc.submitted && !volunteers_name.valid" class="help-block">
              Please specify volunteer's name
            </span>
            <span *ngIf="pc.submitted && volunteers_name.errors?.minlength || volunteers_name.errors?.maxlength" class="help-block">
                volunteer's name should be minimum of 3 characters and maximum of 50 characters.
              </span>

        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !volunteers_mobile.valid }">

          <label for="volunteersmobile"> Volunteer's Mobile<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="volunteers_mobile" class="form-control" minlength="8" maxlength=15 [(ngModel)]="charity.volunteers_mobile"
            id="volunteersmobile" #volunteers_mobile="ngModel" required >
            <span *ngIf="pc.submitted && !volunteers_mobile.valid" class="help-block">
              Please specify volunteer's mobile number
            </span>
        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !bankname.valid }">

          <label for="bankname"> Bank Name<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="bankname" class="form-control"  [(ngModel)]="charity.bankname"
            id="bankname" #bankname="ngModel" minlength="3" maxlength="50" required >
            <span *ngIf="pc.submitted && !bankname.valid" class="help-block">
              Please specify bank name
            </span>
            <span *ngIf="pc.submitted && bankname.errors?.minlength || bankname.errors?.maxlength" class="help-block">
                Bank name should be min of 3 characters and maximum of 50 characters.
              </span>
        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !account_name.valid }">

          <label for="accountname"> Account Name<sup class="help-block">*</sup>
          </label>

          <input type="text" required name="account_name" class="form-control"  [(ngModel)]="charity.account_name"
            id="accountname" #account_name="ngModel" minlength="3" maxlength="50" required >
            <span *ngIf="pc.submitted && !account_name.valid" class="help-block">
              Please specify account name 
            </span>
            <span *ngIf="pc.submitted && account_name.errors?.minlength || account_name.errors?.maxlength" class="help-block">
                Account name should be min of 3 characters and maximum of 50 characters.
              </span>
        </div>


        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !account_number.valid }">
          <label for="accountnumber">Account Number
            <sup class="help-block">*</sup>
          </label>
        

            <input type="text" required name="account_number" class="form-control"  [(ngModel)]="charity.account_number"
              id="accountnumber" #account_number="ngModel" minlength="9" maxlength="15" required>
            <span *ngIf="pc.submitted && !account_number.valid " class="help-block">
              Please specify account number
            </span>
         

        </div>

        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !account_type.valid }">
          <label>
            Account Type <sup class="help-block">*</sup> </label>
          <input name="account_type" id="account_type" [(ngModel)]="charity.account_type"   class="form-control"
            #account_type="ngModel">
          <span *ngIf="pc.submitted && !account_type.valid" class="help-block">
            Please specify account type
          </span>
        </div>



        <div class="col-6 form-group" [ngClass]="{ 'has-error': pc.submitted && !ifsc_code.valid }">
          <label for="ifsccode">ifsc_code
            <sup class="help-block">*</sup>
          </label>
        

            <input type="text" required name="ifsc_code" class="form-control" [(ngModel)]="charity.ifsc_code"
              id="ifsccode" #ifsc_code="ngModel" maxlength="11" required >

            <span *ngIf="pc.submitted && !ifsc_code.valid" class="help-block">
              Please specify IFSC code</span>
        
        </div>

        <div class="col-12 form-group"  [ngClass]="{ 'has-error': pc.submitted && !charity_description.valid }">

            <label for="charitydescription"> Charity Description <sup class="help-block">*</sup>
            </label>
            <app-ngx-editor [config]=editorConfig  required name="charity_description" class="form-control"  [(ngModel)]="charity.charity_description"
            id="charitydescription" #charity_description="ngModel" minlength="25" maxlength="1000" required> </app-ngx-editor>



            <!-- <textarea type="text" required name="charity_description" class="form-control"  [(ngModel)]="charity.charity_description"
              id="charitydescription" #charity_description="ngModel" minlength="25" maxlength="1000" required></textarea> -->
              <span *ngIf="pc.submitted && !charity_description.valid" class="help-block">
                Please specify charity description</span>
                <span *ngIf="pc.submitted && charity_description.errors?.minlength || charity_description.errors?.maxlength" class="help-block">
                    charity Description should be min of 25 characters and maximum of 1000 characters.
                  </span>
          </div>




      </div> 

    </div>




    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>
</ng-template>
<!-- <ng-template #template>
  <form (ngSubmit)="pd.form.valid && savedonaters(postdonate)" name="postdonate" #pd="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Donate</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-6 form-group">
          <label for="donatorsname">Name</label>
          <input type="text" name="donatorsname" [(ngModel)]="postdonate.donatorsname" class=" form-control" id="donatorsname" #donatorsname="ngModel">
        </div>
        <div class="col-6 form-group">
          <label for="donatorsmobilenumber">Mobile Number</label>
          <input type="number" name="donatorsmobilenumber" [(ngModel)]="postdonate.donatorsmobilenumber" class=" form-control" id="donatorsmobilenumber"
            #donatorsmobilenumber="ngModel">
        </div>
        <div class="col-6 form-group">
          <label for="donatoremail">Email</label>
          <input type="email" name="donatoremail" [(ngModel)]="postdonate.donatoremail" class=" form-control" id="donatoremail" #donatoremail="ngModel">
        </div>
        <div class="col-6 form-group">
          <label for="donatoraddress"> Address
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.donatoraddress" class="form-control" name="donatoraddress" id="donatoraddress"
            #donatoraddress="ngModel" required></textarea>
        </div>
        <div class="col-6 form-group">
          <label for="donationamount">Donation Amount</label>
          <input type="number" name="donationamount" [(ngModel)]="postdonate.donationamount" class=" form-control" id="donationamount"
            #donationamount="ngModel">
        </div>
        <div class="col-6 form-group">
          <label for="frequentlydonation">Frequently Donation
          </label>
          <select [(ngModel)]="postdonate.frequentlydonation" class="form-control" name="frequentlydonation" id="frequentlydonation"
            #frequentlydonation="ngModel" required>
            <option [ngValue]="disabled">Select Frequently Donation</option>
            <option value="daily">Daily</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
        <div class="col-6 form-group">
          <label for="supportingfor">Supporting For
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.supportingfor" class="form-control" name="supportingfor" id="supportingfor" #supportingfor="ngModel"
            required></textarea>
        </div>
        <div class="col-6 form-group">
          <label for="comments"> Comments
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.comments" class="form-control" name="comments" id="comments" #comments="ngModel"
            required></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary">Donate</button>
    </div>
  </form>
</ng-template> -->
<!-- 
<ng-template #template>
  <form (ngSubmit)="pd.valid" name="postdonate" #pd="ngForm" novalidate>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Donate</h4>
      <button type="button" class="pull-right closeButton" (click)="closeModal(template)">
        <span class="fa fa-window-close"></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group row">
        <div class="col-6 form-group">
          <label for="donatorsname">Name</label>
          <input type="text" name="donatorsname" [(ngModel)]="postdonate.donatorsname" class=" form-control" id="donatorsname"
            #donatorsname="ngModel">
          <span *ngIf="pd.submitted && !donatorsname.valid" class="help-block" style="font-size: 13px">Enter
            <b>Donators Name</b>
          </span>
        </div>

        <div class="col-6 form-group">
          <label for="donatorsmobilenumber">Mobile Number</label>
          <input type="number" name="donatorsmobilenumber" [(ngModel)]="postdonate.donatorsmobilenumber" class=" form-control"
            id="donatorsmobilenumber" #donatorsmobilenumber="ngModel">
          <span *ngIf="pd.submitted && !donatorsmobilenumber.valid" class="help-block" style="font-size: 13px">Enter
            <b>Mobile Number Required</b>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="donatoremail">Email</label>
          <input type="email" name="donatoremail" [(ngModel)]="postdonate.donatoremail" class=" form-control" id="donatoremail"
            #donatoremail="ngModel">
          <span *ngIf="pd.submitted && !donatoremail.valid" class="help-block" style="font-size: 13px">Enter
            <b>Donators Email</b>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="donatoraddress"> Address
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.donatoraddress" class="form-control" name="donatoraddress" id="donatoraddress"
            #donatoraddress="ngModel" required></textarea>
          <span *ngIf="pd.submitted && !donatoremail.valid" class="help-block" style="font-size: 13px">Enter
            <b>Donators Address</b>
          </span>

        </div>
        <div class="col-6 form-group">
          <label for="donationamount">Donation Amount</label>
          <input type="number" name="donationamount" [(ngModel)]="postdonate.donationamount" class=" form-control" id="donationamount"
            #donationamount="ngModel">
          <span *ngIf="pd.submitted && !donatoremail.valid" class="help-block" style="font-size: 13px">Enter
            <b>Amount</b>
          </span>
        </div>
        <div class="col-6 form-group">
          <label for="frequentlydonation">Frequently Donation
          </label>
          <select [(ngModel)]="postdonate.frequentlydonation" class="form-control" name="frequentlydonation" id="frequentlydonation"
            #frequentlydonation="ngModel" required>
            <option [ngValue]="disabled">Select Frequently Donation</option>
            <option value="daily">Daily</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
        <div class="col-6 form-group">
          <label for="supportingfor">Supporting For
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.supportingfor" class="form-control" name="supportingfor" id="supportingfor"
            #supportingfor="ngModel" required></textarea>
        </div>
        <div class="col-6 form-group">
          <label for="comments"> Comments
          </label>
          <textarea rows="3" [(ngModel)]="postdonate.comments" class="form-control" name="comments" id="comments"
            #comments="ngModel" required></textarea>
        </div>
      </div>
    </div>
    <div class="modal-footer">
       <button type="submit" class="btn btn-primary" (click)="savedonaters(postdonate)">Donate</button> 
    </div>
  </form>
</ng-template> -->