<div class="myevents">
  <h4>
    <b>My Events</b>
  </h4>
</div>
<hr>
<ng4-loading-spinner> </ng4-loading-spinner>
<div *ngIf="mysavedeventslist?.length == 0">No Events Found....</div>
<ng4-loading-spinner> </ng4-loading-spinner>

<div *ngFor="let msel of mysavedeventslist;let i=index">
  <div class="container-fluid" style="margin-bottom: -20px;">
    <div class="card mb-12">
      <div>
        <div class="pull-left:-200px">
          <h6 style="padding-left:15px;padding-top:25px">
            <b>{{msel.event_name | titlecase}}</b>
          </h6>
        </div>

      </div>

      <div class="card-body">
        <div class="media">
          <div class="media-left media-middle">

            <img class="rounded-circle" class="pull-left" alt="event_image" height="170px" width="130px" class="img-responsive" src="{{ApiUrl}}/events/images/{{msel.event_image}}"
              (click)="openmodal(imageenlarge)" />
          </div>
          <ng-template #imageenlarge class="modal-md">
          	<button type="button" class="pull-right1 closeButton">
              <a (click)="closeModal(charity)" class="fa fa-window-close"> </a>
            </button>
            <img src="{{ApiUrl}}/events/images/{{msel.event_image}}" class="imageenlarge" (click)="closeModal(charity)">

          </ng-template>
          <p style="margin-right: 20px"></p>


          <div class="media-body">


            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Type: </b>
                </span>
                <span class="newrow1 ">
                  {{event_typ[i].itemName}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Functional Area: </b>
                </span>
                <span class="newrow1 ">
                  {{msel.functional_area_name}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Location: </b>
                </span>
                <span class="newrow1">
                  <!-- {{event_loc[i].itemName}}
                  <span *ngIf="event_local[i]">{{event_local[i].itemName}}</span> -->
                {{event_local_names[i]}}
                <i *ngIf="event_local_names[i]">,</i>{{event_location_names[i]}},{{msel.state}},{{msel.country}}
                
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Starts From: </b>
                </span>
                <span class="newrow1">
                  {{msel.event_start_date}}
                </span>
              </div>
            </div>

            <div class="keyskills  ">
              <div class="row">
                <span>
                  <b>Ends on:</b>
                </span>
                <span class="newrow1">
                  {{msel.event_end_date}}
                </span>
              </div>
            </div>

          </div>
        </div>

        <p style="margin-bottom: -10px;"></p>

        <div class="card-body">

          <div class="row desc">
            <span class="newrow2">
              <b>Description:</b>
            </span>
            <span class=" col-11 newrow" style="padding-right:45px"   [innerHTML]="msel.event_description">
              <!-- {{msel.event_description}} -->
            </span>
          </div>

          <div class="row desc">
            <span class="newrow2">
              <b> Address: </b>
            </span>
            <span class=" col-11 newrow" style="padding-right:45px">
              {{msel.event_address}}
            </span>
          </div>

        </div>

        <p style="margin-bottom: 20px"></p>

        <div *ngIf="msel.event_video" align="center">
          <video width="480" controls controlsList="nodownload">
            <source src="{{ApiUrl}}/events/videos/{{msel.event_video}}" type="video/mp4">
          </video>
        </div>

        <div class="card-footer ">

          <div class="keyskills pull-left">Posted On
            <b>{{msel.created_date}}</b> 
          </div>


          <a class="btn btn-danger pull-right" title="click here to delete event" (click)="deletemyevent(msel.event_id,msel.event_image,msel.event_video,confirm)" style="color: white">

            <i class="fas fa-trash"></i> &nbsp; Delete
          </a>
          <a class="btn btn-primary pull-right" (click)="openModalEventEditing(template1, msel)">
            <i class="fas fa-edit"></i> &nbsp; Edit</a>
          <a class="btn btn-info pull-right" (click)="showApplicants(msel.event_id)" style="color: white">
            <i class="fas fa-folder-open"></i> &nbsp; Show Applicants
          </a>
        </div>





        <!-- Edit events -->
        <ng-template #template1 class="modal-lg">
          <ng4-loading-spinner> </ng4-loading-spinner>
          <form (ngSubmit)="pe.form.valid && editmyevent(postevent)" #pe="ngForm" novalidate (keydown.enter)="$event.preventDefault()" name="postevent">
            <div class="modal-header">
              <h4 class="modal-title pull-left">Update your Event</h4>
              <button type="button" class="pull-right closeButton" (click)="closeModalEventEditing(template1)">
                <span class="fa fa-window-close"></span>
              </button>
            </div>

            <div class="modal-body">
              <div class="form-group row">

                <div class="col-4 form-group" [ngClass]="{'has-error': pe.submitted && !eventname.valid }">
                  <label for="eventname">Event Name
                    <sup class="help-block">*</sup>
                  </label>
                  <input type="text" (keypress)="keyeventname($event)" name="eventname" [(ngModel)]="postevent.eventname" class="form-control"
                    id="eventname" #eventname="ngModel" minlength="3" maxlength="50" required>
                  <span *ngIf="pe.submitted && !eventname.valid || event_name" class="help-block">Please specify event name
                  </span>
                  <span *ngIf="pe.submitted && eventname.errors?.minlength || eventname.errors?.maxlength" class="help-block">
                      Event name should be min of 3 characters and maximum of 50 characters.
                    </span>

                </div>



                <div class="col-4 form-group" [ngClass]="{'has-error': pe.submitted && !eventtime.valid }">
                  <label>Event Starts From - Ends on
                    <sup class="help-block">*</sup>
                  </label>
                  <input class="datetime" [(ngModel)]="postevent.eventtime" (keypress)="keyeventdate($event)" #eventtime="ngModel" [min]="min"
                    [selectMode]="'range'" [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3" class="form-control"
                    name="eventtime" (focus)="dtPicker3.open()" required>
                  <owl-date-time [pickerType]="'calendar'" #dtPicker3></owl-date-time>
                  <span *ngIf="pe.submitted && !eventtime.valid" class="help-block">
                    Please select event start and end date
                  </span>
                </div>

                <div class="col-12 form-group" [ngClass]="{'has-error': pe.submitted && !eventdescription.valid && eventdescription.errors?.minlength }">
                  <label for="eventdescription">Description
                    <sup class="help-block">*</sup>
                  </label>
                  <!-- <textarea rows="3" [(ngModel)]="postevent.eventdescription" minlength="25" class="form-control" name="eventdescription" id="eventdescription"
                    #eventdescription="ngModel" maxlength="1000" required></textarea> -->
                    <app-ngx-editor [config]=editorConfig rows="3" [(ngModel)]="postevent.eventdescription" minlength="25" class="form-control" name="eventdescription" id="eventdescription"
                    #eventdescription="ngModel" maxlength="1000" required> </app-ngx-editor>


                  <span *ngIf="pe.submitted && !eventdescription.valid && !postevent.eventdescription || desc_name" class="help-block">
                    Please specify description
                  </span>
                  <span *ngIf="pe.submitted && eventdescription.errors?.minlength || eventdescription.errors?.maxlength" class="help-block">
                      Event description should be min of 25 characters and maximum of 1000 characters.
                    </span>
                </div>

                <div class="col-12 form-group" [ngClass]="{'has-error': pe.submitted && !eventaddress.valid }">
                  <label for="eventaddress">Address
                    <sup class="help-block">*</sup>
                  </label>
                  <textarea rows="3" id="eventaddress" [(ngModel)]="postevent.eventaddress" minlength="25" maxlength="1000" class="form-control" name="eventaddress" #eventaddress="ngModel"
                    required></textarea>
                  <span *ngIf="pe.submitted && !eventaddress.valid || addr_name" class="help-block">
                    Please specify Event Address

                  </span>
                  <span *ngIf="pe.submitted && eventaddress.errors?.minlength || eventaddress.errors?.maxlength" class="help-block">
                      Event address should be min of 25 characters and maximum of 1000 characters.
                    </span>
                </div>

              </div>
            </div>

            <div class="modal-footer">
              <ng4-loading-spinner> </ng4-loading-spinner>
              <button type="submit" class="btn btn-primary"> Update</button>
            </div>
          </form>
        </ng-template>




        <div *ngIf="datatable==msel.event_id">
          <div class="form-group row">
            <div class="col-12">
              <input type='text' placeholder='Search Applicants By Name' class="form-control" (keyup)='updateFilter($event)' />
            </div>
          </div>

          <ngx-datatable class="material" [rows]="rows" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [columnMode]="'force'"
            [limit]="10" [sortType]="'single'">
            <!-- <ngx-datatable-column name="User Name" [sortable]='true' prop=' '>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span [innerHTML]="row[' ']"></span>
              </ng-template>
            </ngx-datatable-column> -->
            <ngx-datatable-column name="Full Name" [sortable]='true' prop='first_name' prop='last_name'>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span [innerHTML]="row['first_name']"></span>
                <span [innerHTML]=" "></span>
                <span [innerHTML]="row['last_name']"></span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="E-Mail ID" [sortable]='true' prop='email_id'>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span [innerHTML]="row['email_id']"></span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Mobile No" [sortable]='true' prop='mobile_no'>
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span [innerHTML]="row['mobile_no']"></span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Resume">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <button type="button" class="btn btm-sm btn-info" (click)="openresume(profileoverview, rows[rowIndex].user_registration_id)">View Profile</button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>

      </div>

    </div>
    <br>
  </div>


  <ng-template #confirm class="modal">
    <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
    <div class="modal-body text-center">
      <span class="text-center">
        Do you want to delete this event
        <i class="fa fa-question" style="font-size:26px"></i>
      </span>
    </div>
    <div class="modal-footer confirm_modal_footer">


      <button class="btn btn-danger" (click)="confirmation(false)">
        <span>No</span>
      </button>
      <button class="btn btn-primary" (click)="confirmation(true)">
        <span>Yes</span>
      </button>
    </div>
  </ng-template>




<!-- resume template -->

<ng-template #profileoverview class="modal-lg profile-template fontsize">
    <div class="profiletemplate" *ngIf="result" style="margin-top:2px;">
      <button type="button" class="pull-right1 closeButton">
        <a (click)="closeModal(charity)" class="fa fa-window-close"></a>
      </button>
  
      <div class="leftside-details">
        <div class="left-details">
          <div class=" left-details lcard">
  
  
  
            <h5>About me </h5>
            <div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
              <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px">
            </div>
  
            <div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
              <div *ngIf="result.gender==='Male'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user-tie fa-9x"></i>
                </div>
              </div>
              <div *ngIf="result.gender=='Female'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user fa-9x"></i>
                </div>
              </div>
              <div *ngIf="result.gender=='Other'">
                <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                  <i class="fas fa-user-tie fa-9x"></i>
                </div>
              </div>
            </div>
  
  
  
  
            <h5>
              <span class="email"> {{result.firstname | titlecase }} {{result.lastname | titlecase }} </span>
            </h5>
  
            <!-- <div>
              <i class="fa fa-envelope" style="font-size:18px"></i>
              <span class="email"> {{result.email | lowercase }}</span>
            </div>
            <div>
              <i class="fa fa-phone" style="font-size:23px"></i>
              <span> {{result.phone }} </span>
            </div> -->
            <div>
              <i class="fa fa-home" style="font-size:23px"></i>
              <span> {{result.current_loc | titlecase}}</span>
            </div>
          </div>
        </div>
        <p> </p>
        <div class="left-details lcard">
          <h6>
            <i class="fas fa-user"></i> &nbsp;
            <b>Profile Info</b>
          </h6>
          <div *ngIf="result.current_designation">
            <strong>Designation</strong>: {{cur_des}}
          </div>
          <span *ngFor="let previous of previousemp">
            <h5>PREVIOUS EMPLOYMENT</h5>
            <!-- <p *ngFor="let desg of designations"> -->
            <!-- <span *ngIf="previous.designation == desg.designation_id"> -->
            <b>Designation: </b>
            <p>{{previousdesignation}}</p>
            <!-- </span> -->
            <!-- </p> -->
          </span>
          <div *ngIf="result.functional_area">
            <strong>Functional Area</strong>: {{result.functional_area}}
          </div>
          <div *ngIf="result.currentsalary">
            <b>Annual Salary:</b>{{result.currencycode}} {{result.currentsalary}}
          </div>
          <div *ngIf="result.pref_location">
            <strong>Preferred Location</strong>: {{result.pref_location | titlecase}}
          </div>
        </div>
        <p> </p>
  
  
        <div class="left-details lcard" *ngIf="result.key_skills">
          <h6>
            <i class="fas fa-laptop-code"></i>&nbsp;
            <b>Skills</b>
          </h6>
          <span *ngFor="let s of skillsarraydisplay;let sk = index">
            {{s}}
  
          </span>
        </div>
  
        <div class="left-details lcard">
          <h6>
            <b>
              <i class="fas fa-user-circle"></i> &nbsp; Personal Details</b>
          </h6>
  
          <div>
            <div *ngIf="result.permanent_address || result.pin_code" class="address">
              <i class="fas fa-map-marker-alt"></i> {{result.permanent_address | titlecase}}, {{result.pin_code}}
              <br>
            </div>
            <div *ngIf="result.date_of_birth">
              <i class="fa fa-birthday-cake"></i>
              {{result.date_of_birth |date }}
              <br>
            </div>
            <div *ngIf="result.gender">
              <i class="fas fa-male"></i>
              {{result.gender | titlecase}}
              <br>
            </div>
          </div>
          <div *ngIf="result.language_known">
            <h6>
              <i></i>
              <b>Languages Known</b>
            </h6>
            <div *ngFor="let lang of result.language_known;let sk=index">
              <div *ngFor="let l of languagesdisplay[sk]">
                {{l.name}}
              </div>
  
            </div>
          </div>
        </div>
      </div>
  
      <!---->
  
      <div class="rightside-content right">
  
  
        <div class="right-details rcard ">
          <h5>
            <i></i>
            <b>Resume Headline </b>
          </h5>
          <div class="rightinsidepadding">
            <h6> {{result.resume_headline | titlecase}}</h6>
          </div>
        </div>
  
  
  
  
        <div class="right-details rcard">
          <h5>
            <b>
              <i class="fa fa-user-secret"> </i> &nbsp; Experience
            </b>
          </h5>
          <div class="rightinsidepadding">
            <span *ngFor="let s of result.presentemp_details;let i=index">
  
              <h6>
                <b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
              </h6>
              <h6>
                <b>Designation: &nbsp; </b>
                <span> {{presentdesignation}}</span>
              </h6>
              <span>
                <h6 *ngIf="s.from_date">
                  <b>From: &nbsp;&nbsp;</b>({{s.from_date | date}} - present) </h6>
              </span>
              <span>
                <h6 *ngIf="s.description">
  
                  <b> Description :</b>
                  &nbsp;
                  <span [innerHtml]="s.description">
                    <!-- {{s.description}} -->
                  </span>
  
                </h6>
                <hr>
              </span>
            </span>
  
  
  
            <div>
              <span *ngFor="let s of result.previousemp_details;let i=index">
  
                <h6>
                  <b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
                </h6>
                <h6>
                  <b>Designation : </b>
                  <span> {{previousdesignation}}</span>
                </h6>
                <span>
                  <h6 *ngIf="s.from_date">
                    <b>Duration:&nbsp;&nbsp; </b>({{s.from_date | date}} - {{s.to_date | date}} ) </h6>
                </span>
                <span>
                  <h6 *ngIf="s.description">
                    <b> Description :</b>
  
                    &nbsp;
                    <span [innerHtml]="s.description">
                      <!-- {{s.description}} -->
                    </span>
  
                  </h6>
                  <hr>
                </span>
              </span>
            </div>
  
  
  
            <span>
              <span *ngFor="let s of result.otheremp_details;let rowIndex=index">
                <h6>
                  <b>Other Employment{{rowIndex+1}}</b>
                </h6>
  
                <h6>
                  <b>Designation :</b>{{s.other_emp | titlecase }}
  
                </h6>
  
  
  
              </span>
            </span>
          </div>
        </div>
        <div class="right-details rcard " *ngIf="result.educational_details">
          <h5>
            <i class="fa fa-mortar-board"></i>
            <b> Education</b>
          </h5>
          <span></span>
          <div style=" padding-left: 10px;">
            <div *ngFor="let s of result.ssc_details">
  
              <i class="fas fa-angle-right"></i>
              <b>SSC</b> from
              <b>{{s.coursename}}</b> completed in the year of
              <b>{{s.year}}</b> .
  
  
            </div>
            <div *ngFor="let i of result.inter_details">
              <i class="fas fa-angle-right"></i>
              <b>SECONDARY EDUCATION</b> from
              <b>{{i.coursename}}</b> completed in the year of
              <b>{{i.year}}</b>.
  
  
            </div>
            <div *ngFor="let g of result.grad_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>GRADUATION({{g.specialization}})</b>
              <span *ngIf="graduniversity[i].length>0"> from
                <b>'{{graduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{g.year}}</b>.
  
            </div>
            <div *ngFor="let pg of result.pg_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>PG({{pg.specialization}})</b>
              <span *ngIf="pguniversity[i].length>0"> from
                <b>'{{pguniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{pg.year}}</b>.
            </div>
  
            <div *ngFor="let p of result.phd_details;let i=index">
  
              <i class="fas fa-angle-right"></i>
              <b>PHD({{p.specialization}})</b>
              <span *ngIf="phduniversity[i].length>0"> from
                <b>'{{phduniversity[i]}}'</b>
              </span> completed in the year of
              <b>{{p.year}}</b>.
            </div>
          </div>
        </div>
  
        <div class="right-details rcard " *ngIf="result.project_details">
  
          <h5>
            <i class="fas fa-tasks"></i> &nbsp;
            <b>Projects</b>
  
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let pro of result.project_details   let rowIndex=index">
  
  
              <h6 *ngIf="result.project_details.length>1">
                <b>Project{{rowIndex+1}}</b></h6>
  
  
              <h6>
                <b>Name:</b> {{pro.name}}</h6>
              <h6>
                <b> Skills:</b>
                <!-- <span *ngFor="let s of skill[rowIndex];let sk = index">
                  {{s.name}}
                  <b *ngIf="skill[rowIndex][sk + 1]">, </b>
                  <b *ngIf="sk + 1 == skill[rowIndex].length">.</b>
                </span> -->
                <span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
                  {{s}}
  
                </span>
  
              </h6>
              <h6>
                <b>Duration:</b> {{pro.duration}}</h6>
              <h6 *ngIf="pro.description">
                <b>Description:</b> <span [innerHtml]="pro.description">
                  <!-- {{pro.description}} -->
                </span>
  
              </h6>
  
              <hr>
            </div>
          </div>
  
        </div>
        <div class="right-details rcard  " *ngIf="result.certification_details">
  
  
          <h5>
            <i class="fas fa-file-alt"></i> &nbsp;
            <b>Certifications</b>
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let ce of result.certification_details   let rowIndex=index">
              <h6>
                <b><span *ngIf="result.certification_details.length>1">Certifications{{rowIndex+1}}</span></b>
              </h6>
  
              <h6>
                <b>Name:</b> {{ce.certification_name}}</h6>
  
              <h6 *ngIf="ce.certification_body">
              <span>	<b>Description:</b><span [innerHtml]="ce.certification_body"></span></span> 
              </h6>
              <h6>
                <b>Year:</b> {{ce.certification_year}}
  
  
              </h6>
  
              <hr>
  
            </div>
          </div>
        </div>
  
        <div class="right-details rcard" *ngIf="result.achievement_details">
  
  
          <h5>
            <i class="fas fa-medal"></i> &nbsp;
            <b>Achievements</b>
          </h5>
          <div class="rightinsidepadding">
            <div *ngFor="let n of result.achievement_details;let i=index">
  
              <h6>
                <b>Achievement<span *ngIf="result.achievement_details.length>1">{{i+1}}</span></b>
              </h6>
  
              <h6>
                <b> Name :</b>&nbsp; {{n.name}}</h6>
  
              <h6>
                <p *ngIf="n.description">
                  <b>Description : </b>&nbsp; <span [innerHtml]="n.description">
                    <!-- {{n.description}} -->
                  </span>
                </p>
              </h6>
              <h6>
                <p *ngIf="imagesArr1[i]">
                  <ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
                </p>
              </h6>
  
              <hr>
  
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  




<ng-template #resume class="modal-lg resume-template">
    <div id="content" #content>
      <!-- <div>
        <input type="button" class="btn btn-primary pull-right" value="Download" (click)="captureScreen()" />
  
      </div> -->
    </div>
    <div id="contentToConvert">
      <div class="resumetemplate">
  
        <hr>
        <div>
          <h2>
            <span>
              <strong>{{result.firstname | titlecase }} {{result.lastname | titlecase }}</strong>
            </span>
            <span class="pull-right">
              <strong style="font-size:14px">Email ID : </strong>
              <span style="font-size:14px">{{result.email}}</span>,&nbsp;
    
              <strong style="font-size:15px">Mobile : </strong>
              <span style="font-size:14px">{{result.phone}}</span>
            </span>
          </h2>
          <hr>
        </div>
    
        <div class="left-details" *ngIf="result">
    
          <div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
            <img src="{{ApiUrl}}/profileimage/{{result.image}}" height="140px" width="120px" id='imgg'>
          </div>
          <div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
            <div *ngIf="result.gender==='Male'">
              <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                <i class="fas fa-user-tie fa-9x"></i>
              </div>
            </div>
            <div *ngIf="result.gender=='Female'">
              <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                <i class="fas fa-user fa-9x"></i>
              </div>
            </div>
            <div *ngIf="result.gender=='Other'">
              <div style="border-style: solid;border-width: 1px; height:145px; width:128px">
                <i class="fas fa-user-tie fa-9x"></i>
              </div>
            </div>
          </div>
    
    
          <hr>
    
          <div class="section-part">
    
            <h6>
              <i class="fas fa-user-circle"></i>
              <span>Profile Info</span>
            </h6>
            <p>
              <strong>Functional Area</strong>: {{result.functional_area}}</p>
    
            <p>
              <strong>Address</strong>: {{result.permanent_address}}</p>
            <p>
              <strong>Current Location</strong>: {{result.current_loc}}</p>
            <p>
              <strong>Preferred Location: </strong>
    
              {{result.pref_location | titlecase}}</p>
          </div>
          <hr>
          <div class="section-part">
    
            <h6>
              <i class="fas fa-user-tie"></i>
              <span>Profession</span>
            </h6>
            <p>
              {{cur_des}}</p>
          </div>
          <hr>
          <div class="section-part">
            <h6>
              <i class="far fa-address-card"></i>
              <span>Personal Details</span>
            </h6>
            <p>
              <i class="fa fa-user-o" style="font-size:22px"></i>
    
              <strong>Gender:</strong>
              <span>{{result.gender | titlecase}}</span>
            </p>
            <p>
              <i class="fa fa-birthday-cake" style="font-size:22px"></i>
              <strong>DOB:</strong> {{result.date_of_birth |date }}
            </p>
            <p>
              <strong>Marital Status:</strong> {{result.status_name}}</p>
    
            <p>
              <strong> Languages Known:</strong>
            </p>
    
            <p *ngFor="let lang of result.language_known;let sk=index">
              <span *ngFor="let l of languagesdisplay[sk]">
                &nbsp;&nbsp;{{l.name}}
              </span>
            </p>
    
            <p>
              <strong>Permanent Address:</strong> {{result.permanent_address}}</p>
    
            <p>
              <strong>ZipCode:</strong> {{result.pin_code}}</p>
          </div>
          <hr>
        </div>
    
    
        <div class="right-side" *ngIf="result">
          <div class="aboutme">
    
            <h6>
              <span style="margin-left: 4px;">About Me</span>
            </h6>
            <p> {{result.resume_headline}}</p>
          </div>
          <hr>
          <div class="section-part">
    
            <h5>
              <i class="fa fa-mortar-board"></i>
              <span style="margin-left: -3px;">Education</span>
            </h5>
    
    
            <div *ngFor="let s of result.ssc_details">
              <p style="font-size:13px">
                <i class="fas fa-angle-right"></i>
                <b>SSC</b> from
                <b>{{s.coursename}} </b> completed in the year of
                <b>{{s.year}}</b>.
              </p>
    
            </div>
    
    
            <div *ngFor="let i of result.inter_details">
              <p style="font-size:13px">
                <i class="fas fa-angle-right"></i>
                <b>INTER</b> from
                <b>{{i.coursename}} </b> completed in the year of
                <b>{{i.year}}</b>.
              </p>
    
            </div>
    
    
            <div *ngFor="let g of result.grad_details;let i=index">
              <p style="font-size:13px">
                <i class="fas fa-angle-right"></i>
                <b>GRADUATION({{g.specialization}})</b>
                <span *ngIf="graduniversity[i].length>0"> from
                  <b>'{{graduniversity[i]}}'</b>
                </span> completed in the year of
                <b>{{g.year}}</b>.
              </p>
    
            </div>
    
    
            <div *ngFor="let pg of result.pg_details;let i=index">
              <p style="font-size:13px">
                <i class="fas fa-angle-right"></i>
                <b>PG({{pg.specialization}})</b>
                <span *ngIf="pguniversity[i].length>0"> from
                  <b>'{{pguniversity[i]}}'</b>
                </span> completed in the year of
                <b>{{pg.year}}</b>.
              </p>
    
            </div>
    
            <div *ngFor="let p of result.phd_details;let i=index">
              <p style="font-size:13px">
                <i class="fas fa-angle-right"></i>
                <b>PHD({{p.specialization}})</b>
                <span *ngIf="phduniversity[i].length>0"> from
                  <b>'{{phduniversity[i]}}'</b>
                </span> completed in the year of
                <b>{{p.year}}</b>.
              </p>
    
            </div>
          </div>
          <hr>
          <div class="section-part" *ngIf="result.key_skills">
            <h5>
              <i class="fas fa-laptop-code"></i>
              <span>Skills</span>
            </h5>
            <span *ngFor="let s of skillsarraydisplay;let sk = index" style="font-size: 13px">
              {{s}}
    
            </span>
          </div>
          <hr>
    
          <div class="section-part">
            <h5>
              <i class="fa fa-mortar-board" style="font-size:20px"></i>
              <span style="margin-left: -3px;">Experience</span>
            </h5>
            <span *ngFor="let s of result.presentemp_details;let i=index">
              <p>
                <b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>
    
              <p>
                <b style="font-size:13px">Designation:</b>
                <span> {{presentdesignation}}</span>
              </p>
              <span>
                <p>
                  <b style="font-size:13px">From:</b> {{s.from_date | date}} </p>
              </span>
              <span>
                <p *ngIf="s.description">
                  <b style="font-size:13px">Description: </b>
                  {{s.description}}
                </p>
              </span>
            </span>
    
            <span *ngFor="let s of result.previousemp_details;let i=index">
              <hr>
              <p>
                <b style="font-size:13px">{{s.employment | titlecase }} Company:</b> {{s.organization_name | titlecase}} </p>
              <p>
                <b style="font-size:13px">Designation:</b>
                <span> {{previousdesignation}}</span>
              </p>
              <span>
                <p>
                  <b style="font-size:13px"> Duration:</b> ({{s.from_date | date}} - {{s.to_date | date}} ) </p>
              </span>
              <span>
                <p *ngIf="s.description">
                  <b style="font-size:13px"> Description:</b> {{s.description}} </p>
              </span>
            </span>
            <hr>
    
            <span *ngFor="let s of result.otheremp_details;let rowIndex=index">
              <p>
                <b style="font-size:13px">Other Employment{{rowIndex+1}}</b>
              </p>
    
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <b style="font-size:13px">Designation:</b> {{s.other_emp | titlecase }}
    
              </p>
    
              <p *ngIf="s.description">
                &nbsp;&nbsp;&nbsp;&nbsp;
                <b style="font-size:13px"> Description :</b>
                {{s.description}}
              </p>
    
    
            </span>
          </div>
    
          <div class="section-part">
            <h5>
    
              <i class="fas fa-certificate" style="font-size:20px"></i>
              <span>Certification</span>
    
    
            </h5>
    
    
            <div *ngFor="let ce of result.certification_details   let rowIndex=index">
    
              <p>
                <b style="font-size:16px">Certification{{rowIndex+1}}</b>
              </p>
    
              <p>
                <b style="font-size:13px">Name:</b> {{ce.certification_name}}
              </p>
              <p>
                <b style="font-size:13px">Description:</b> {{ce.certification_body}}
              </p>
              <p>
                <b style="font-size:13px">Year:</b> {{ce.certification_year}}
              </p>
    
            </div>
    
          </div>
          <hr>
          <div class="section-part">
            <h5>
              <i class="fas fa-award" style="font-size:20px"></i>
              <span>Achievements</span>
            </h5>
    
            <div *ngFor="let ac of result.achievement_details   let rowIndex=index">
    
              <p>
                <b style="font-size:16px">Achievements{{rowIndex+1}}</b>
              </p>
    
              <p>
                <b style="font-size:13px">Name:</b> {{ac.name}}
              </p>
              <p *ngIf="ac.description">
                <b>Description:</b> {{ac.description}}</p>
            </div>
          </div>
          <hr>
          <div class="section-part" *ngIf="result.project_details">
            <h5>
              <i class="fas fa-file-archive" style="font-size:20px"></i>
              <span>Projects</span>
            </h5>
    
            <div *ngFor="let pro of result.project_details;let rowIndex=index">
              <p>
                <b style="font-size:16px">Project{{rowIndex+1}}</b>
              </p>
    
              <p>
                <b style="font-size:13px">Name:</b> {{pro.name}}
              </p>
              <p>
                <b style="font-size:13px"> Skills:</b>
    
                <span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
                  {{s[0]}}
    
                </span>
    
              </p>
              <p>
                <b style="font-size:13px">Duration:</b> {{pro.duration}}
              </p>
            </div>
    
    
          </div>
          <hr>
       </div>
       </div>
       </div>
  </ng-template>