<div class="left-section">
	<h2 style=" text-align: center;">
		<i class="fas fa-users"></i> &nbsp; Connections you may know</h2>
	<hr>
	<div *ngIf="friendslist?.length == 0">No Connections Found....</div>
	<!-- <hr> -->
	<div *ngIf="friendslist?.length > 0">
		<div *ngFor='let friend of friendslist' class="nearby-user">
			<!-- user -->
			<div *ngIf="friend.role==3">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div *ngIf="friend.image!='' && friend.image!=undefined && friend.image!='IMAGE'" style="margin: 0 0 0 13px !important;">
							<img class="rounded-circle" src="{{Apiurl}}/profileimage/{{friend.image}}" height="38" width="38" alt="">
						</div>
						<div style="margin: 0 0 0 13px !important;" *ngIf="friend.image==''|| friend.image==undefined||friend.image=='IMAGE'">
							<ngx-avatar name="{{friend.firstname}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="38" textSizeRatio="1.5"
							 [round]="true">
							</ngx-avatar>
						</div>
					</div>
					<div class="col-md-6 col-sm-6" (click)="openresume(profileoverview,friend.user_reg_id)">
						<h5>
							<p class="profile-link hov">{{friend.firstname | titlecase}} {{friend.lastname}}</p>
						</h5>
						<p *ngIf="emppresarray[i]"> {{emppresarray[i]}}</p>
						<p style="word-wrap: break-word;">{{friend.name}}({{friend.fresher_or_exp}})</p>

						<p>{{friend.state_name}}, {{friend.city_name}}</p>

						<!-- <h2>{{friend.current_designation}}
						<small> </small>
					</h2> -->
						<!-- <p class="text-muted">{{friend.highest_degree}}</p> -->
					</div>
					<div class="col-md-3 col-sm-3">
							<ng4-loading-spinner> </ng4-loading-spinner>
						<button class="btn btn-primary pull-right" (click)="sendfriendrequest(friend.user_reg_id)">
							<i class="fas fa-user-plus"></i> Connect</button>
					</div>
				</div>
			</div>
			<!-- recuirter -->
			<div *ngIf="friend.role==5">
				<div class="row">
					<div class="col-md-3 col-sm-3">
						<div *ngIf="friend.image!='' && friend.image!=undefined && friend.image!='IMAGE'" style="margin: 0 0 0 13px !important;">
							<img class="rounded-circle" src="{{Apiurl}}/profileimage/{{friend.image}}" height="38" width="38" alt="">
						</div>
						<div style="margin: 0 0 0 13px !important;" *ngIf="friend.image==''|| friend.image==undefined||friend.image=='IMAGE'">
							<ngx-avatar name="{{friend.firstname}}" bgColor="#d0ecfd" fgColor="rgb(11,81,132)" size="38" textSizeRatio="1.5"
							 [round]="true">
							</ngx-avatar>
						</div>
					</div>
					<div class="col-md-6 col-sm-6" (click)="openresume(profileoverview,friend.user_reg_id)">
						<h5>
							<p class="profile-link hov">{{friend.firstname | titlecase}}</p>
							<small>{{friend.company_name}}</small>
						</h5>
						<p *ngIf="emppresarray[i]"> {{emppresarray[i]}}</p>
						<p style="word-wrap: break-word;">{{friend.name}}</p>
						<p>{{friend.state_name}}, {{friend.city_name}}</p>

						<!-- <h2>{{friend.current_designation}}
							<small> </small>
						</h2> -->
						<!-- <p class="text-muted">{{friend.highest_degree}}</p> -->
					</div>
					<div class="col-md-3 col-sm-2">
						<button class="btn btn-primary pull-right" (click)="sendfriendrequest(friend.user_reg_id)">
							<i class="fas fa-user-plus"></i> Connect</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 	Invitation...........! -->

<div class="left-section">
	<h2 style=" text-align: center;">
		<i class="fas fa-paper-plane"></i> &nbsp; Invite Connections</h2>
	<hr>
	<form name="invite" (ngSubmit)="fp.valid && sendemail(invite)" #fp="ngForm" novalidate>
		<div class="col-12" [ngClass]="{ 'has-error': fp.submitted && !name.valid }">
			<div class="size">
				Name
				<input [(ngModel)]="invite.name" placeholder="Enter name" type="text" class="form-control" required (keypress)="validate($event)"
				 name="name" #name="ngModel" minlength="3" maxlength="40" />
			</div>
			<span [hidden]="this.errmsg==false" *ngIf="fp.submitted && !name.valid.required &&  !invite.name" class="help-block message">
				Please specify name
			</span>
			<span class="help-block message" *ngIf="name.errors?.minlength">Name should be min of 3 characters</span>
		</div>

		<div class="col-12" [ngClass]="{ 'has-error': fp.submitted && !mail.valid }">
			<div class="size">
				E-mail
				<input type="text" class="form-control" required placeholder="xyz@example.com" name="mail" [(ngModel)]="invite.mail"
				 #mail="ngModel" maxlength="50" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{3,3}$" />
			</div>
			<span [hidden]="this.errmsg==false" *ngIf="fp.submitted && !mail.valid && !invite.mail" class="help-block message">
				Please specify email
			</span>
			<span class="help-block message" *ngIf="fp.submitted && mail.errors?.pattern">Please specify a valid email <br>like
				xyz@example.com</span>
		</div>


		<div class="col-12" [ngClass]="{ 'has-error': fp.submitted && !mobile.valid }">
			<div class="size">
				Mobile Number
				<input type="text" (keypress)="keyPress($event)" placeholder="Enter mobile number" class="form-control" name="mobile"
				 [(ngModel)]="invite.mobile" #mobile="ngModel" minlength=10 maxlength=10 />
			</div>
			<!-- <span [hidden]="this.errmsg==false" *ngIf="fp.submitted && !mobile.valid.required && !invite.mobile" class="help-block message"> Please specify mobile
				number </span> -->
			<span *ngIf="fp.submitted && mobile.errors?.minlength" class="help-block message">Invalid moblie number </span>
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-primary pull-right">Invite Connection</button>
		</div>
	</form>
</div>

<!-- ----------------------------------------------------------------------------- -->
<div class="left-section about">

	<h2> </h2>
	<hr>
	<span>
		<h2></h2>
		<a class="leftlink" [routerLink]="['/about']" routerLinkActive="active-link" >About Koneqto</a>
		<a class="leftlink" [routerLink]="['/contactus']" routerLinkActive="active-link" >Contact Us</a>
		<a class="leftlink" [routerLink]="['/advertising']" routerLinkActive="active-link" > Advertising</a>
		<h2></h2>
		<h2></h2>


		<a class="leftlink" [routerLink]="['/privacy']" routerLinkActive="active-link" >Privacy Policy</a>
		<a class="leftlink" [routerLink]="['/termsandconditions']" routerLinkActive="active-link" > Terms &
			Conditions</a>
		<h2></h2>
		<h2></h2>
		<a class="leftlink" [routerLink]="['/usermanual']" routerLinkActive="active-link" >User Manual</a>
		<a class="leftlink" [routerLink]="['/cookies']" routerLinkActive="active-link" >Cookies</a>
		<a class="leftlink" [routerLink]="['/more']" routerLinkActive="active-link" >Charity</a>
		<h2></h2>
		<h2></h2>

		<a class="leftlink" [routerLink]="['/careerwithus']" routerLinkActive="active-link" >Career With Us</a>
		<a class="leftlink" [routerLink]="['/datapolicy']" routerLinkActive="active-link" >Data Policy</a>
		<h2></h2>
		<h2></h2>

		<a class="leftlink" [routerLink]="['/accountsecurity']" routerLinkActive="active-link" >Account
			Security</a>

		<a class="leftlink" [routerLink]="['/gettheapp']" routerLinkActive="active-link" >Get the Koneqto App</a>

		<h2></h2>
		<h2></h2>
		<a class="leftlink" [routerLink]="['/howitworks']" routerLinkActive="active-link" >How It Works</a>

		<a class="leftlink" [routerLink]="['/suggestionsandfeedback']" routerLinkActive="active-link" >Suggestions
			& Feedback</a>

		<p class="left-link">
			<b>KONEQTO</b> Informatics © 2018</p>
	</span>
</div>
<!-- ----------------------------------------------------------------------------- -->
<ng-template #profileoverview class="modal-lg profile-template fontsize">
	<button type="button" class="pull-right1 closeButton">
		<a (click)="closeModal(charity)" class="fa fa-window-close"></a>
	</button>
	<div class="profiletemplate" *ngIf="result.isactive == false">
		<span class="email" style="padding-left: 220px"> <b>{{result.firstname | titlecase }} {{result.lastname | titlecase
				}}</b> </span> has hidden
		<span *ngIf="result.gender==='Male'">his</span> <span *ngIf="result.gender==='Female'">her</span> profile.
	</div>
	<div class="profiletemplate" *ngIf="result.isactive" style="margin-top:2px;">

		<div class="leftside-details">
			<div class="left-details">
				<div class=" left-details lcard">
					<h5>About me </h5>
					<div *ngIf="result.image!='' && result.image!=undefined && result.image!='IMAGE'">
						<img src="{{Apiurl}}/profileimage/{{result.image}}" height="140px" width="120px">
					</div>
					<div *ngIf="result.image=='' || result.image==undefined || result.image=='IMAGE'">
						<div *ngIf="result.gender==='Male'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user-tie fa-9x"></i>
							</div>
						</div>
						<div *ngIf="result.gender=='Female'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user fa-9x"></i>
							</div>
						</div>
						<div *ngIf="result.gender=='Other'">
							<div style="border-style: solid;border-width: 1px; height:145px; width:128px">
								<i class="fas fa-user-tie fa-9x"></i>
							</div>
						</div>
					</div>




					<h5>
						<span class="email"> {{result.firstname | titlecase }} {{result.lastname | titlecase }} </span>
					</h5>

					<!-- <div>
											  <i class="fa fa-envelope" style="font-size:18px"></i>
											  <span class="email"> {{result.email | lowercase }}</span>
										  </div>
										  <div>
											  <i class="fa fa-phone" style="font-size:23px"></i>
											  <span> {{result.phone }} </span>
										  </div> -->
					<div>
						<i class="fa fa-home" style="font-size:23px"></i>
						<span> {{result.current_loc | titlecase}}</span>
					</div>
				</div>
			</div>
			<p> </p>
			<div class="left-details lcard">
				<h6>
					<i class="fas fa-user"></i> &nbsp;
					<b>Profile Info</b>
				</h6>
				<div *ngIf="result.current_designation">
					<strong>Designation</strong>: {{cur_des}}
				</div>


				<span *ngFor="let previous of previousemp">
					<h5>PREVIOUS EMPLOYMENT</h5>
					<!-- <p *ngFor="let desg of designations"> -->
					<!-- <span *ngIf="previous.designation == desg.designation_id"> -->
					<b>Designation: </b>
					<p>{{previousdesignation}}</p>
					<!-- </span> -->
					<!-- </p> -->
				</span>
				<div *ngIf="result.functional_area">
					<strong>Functional Area</strong>: {{result.functional_area}}
				</div>
				<div *ngIf="result.currentsalary">
					<b>Annual Salary:</b>{{result.currencycode}} {{result.currentsalary}}
				</div>
				<div *ngIf="result.pref_location">
					<strong>Preferred Location</strong>: {{result.pref_location | titlecase}}
				</div>
			</div>
			<p> </p>


			<div class="left-details lcard" *ngIf="result.key_skills">
				<h6>
					<i class="fas fa-laptop-code"></i>&nbsp;
					<b>Skills</b>
				</h6>

				<span *ngFor="let s of skillsarraydisplay;let sk = index">
					{{s}}

				</span>
			</div>

			<div class="left-details lcard">
				<h6>
					<b>
						<i class="fas fa-user-circle"></i> &nbsp; Personal Details</b>
				</h6>

				<div>
					<div *ngIf="result.permanent_address || result.pin_code" class="address">
						<i class="fas fa-map-marker-alt"></i> {{result.permanent_address | titlecase}}, {{result.pin_code}}
						<br>
					</div>
					<div *ngIf="result.date_of_birth">
						<i class="fa fa-birthday-cake"></i>
						{{result.date_of_birth |date }}
						<br>
					</div>
					<div *ngIf="result.gender">
						<i class="fas fa-male"></i>
						{{result.gender | titlecase}}
						<br>
					</div>
				</div>
				<div *ngIf="result.language_known">
					<h6>
						<i></i>
						<b>Languages Known</b>
					</h6>
					<div *ngFor="let lang of result.language_known;let sk=index">
						<div *ngFor="let l of languagesdisplay[sk]">
							{{l.name}}
						</div>

					</div>
				</div>
			</div>
		</div>

		<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------------- -->

		<div class="rightside-content right">


			<div class="right-details rcard ">
				<h5>
					<i></i>
					<b>Resume Headline </b>
				</h5>
				<div class="rightinsidepadding">
					<h6> {{result.resume_headline | titlecase}}</h6>
				</div>
			</div>




			<div class="right-details rcard">
				<h5>
					<b>
						<i class="fa fa-user-secret"> </i> &nbsp; Experience
					</b>
				</h5>
				<div class="rightinsidepadding">
					<span *ngFor="let s of result.presentemp_details;let i=index">

						<h6>
							<b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
						</h6>
						<h6>
							<b>Designation: &nbsp; </b>
							<span> {{presentdesignation}}</span>
						</h6>
						<span>
							<h6>
								<b>From: &nbsp;&nbsp;</b>({{s.from_date | date}} - present) </h6>
						</span>
						<span>
							<h6 *ngIf="s.description">

								<b> Description :</b>
								&nbsp;
								<!-- <span> {{s.description}}</span> -->
								<span [innerHtml]="s.description"></span>

							</h6>
							<hr>
						</span>
					</span>



					<div>
						<span *ngFor="let s of result.previousemp_details;let i=index">

							<h6>
								<b>{{s.employment | titlecase }} Employment:</b> {{s.organization_name | titlecase}}
							</h6>
							<h6>
								<b>Designation : </b>
								<span> {{previousdesignation}}</span>
							</h6>
							<span>
								<h6>
									<b>Duration:&nbsp;&nbsp; </b>({{s.from_date | date}} - {{s.to_date | date}} ) </h6>
							</span>
							<span>
								<h6 *ngIf="s.description">
									<b> Description :</b>
									&nbsp;
									<!-- <span> {{s.description}}</span> -->
									<span [innerHtml]="s.description">
										<!-- {{s.description}} -->
									</span>

								</h6>
								<hr>
							</span>
						</span>
					</div>



					<span>
						<span *ngFor="let s of result.otheremp_details;let rowIndex=index">
							<h6>
								<b>Other Employment{{rowIndex+1}}</b>
							</h6>

							<h6>
								<b>Designation :</b>{{s.other_emp | titlecase }}

							</h6>



						</span>
					</span>
				</div>
			</div>
			<div class="right-details rcard " *ngIf="result.educational_details">
				<h5>
					<i class="fa fa-mortar-board"></i>
					<b> Education</b>
				</h5>
				<span></span>
				<div style=" padding-left: 10px;">
					<div *ngFor="let s of result.ssc_details">

						<i class="fas fa-angle-right"></i>
						<b>SSC</b> from
						<b>{{s.coursename}}</b>completed in the year of
						<b>{{s.year}}</b> .


					</div>
					<div *ngFor="let i of result.inter_details">
						<i class="fas fa-angle-right"></i>
						<b>INTER</b> from
						<b>{{i.coursename}}</b>completed in the year of
						<b>{{i.year}}</b>.


					</div>
					<div *ngFor="let g of result.grad_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>GRADUATION({{g.specialization}})</b>
						<span *ngIf="graduniversity[i].length>0"> from
							<b>'{{graduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{g.year}}</b>.

					</div>
					<div *ngFor="let pg of result.pg_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>PG({{pg.specialization}})</b>
						<span *ngIf="pguniversity[i].length>0"> from
							<b>'{{pguniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{pg.year}}</b>.
					</div>

					<div *ngFor="let p of result.phd_details;let i=index">

						<i class="fas fa-angle-right"></i>
						<b>PHD({{p.specialization}})</b>
						<span *ngIf="phduniversity[i].length>0"> from
							<b>'{{phduniversity[i]}}'</b>
						</span> completed in the year of
						<b>{{p.year}}</b>.
					</div>
				</div>
			</div>

			<div class="right-details rcard " *ngIf="result.project_details">

				<h5>
					<i class="fas fa-tasks"></i> &nbsp;
					<b>Projects</b>

				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let pro of result.project_details   let rowIndex=index">


						<h6 *ngIf="result.project_details.length>1">
							<b>Project{{rowIndex+1}}</b></h6>

						<h6>
							<b>Name:</b> {{pro.name}}</h6>
						<h6>
							<b> Skills:</b>
							<!-- <span *ngFor="let s of skill[rowIndex];let sk = index">
													  {{s.name}}
													  <b *ngIf="skill[rowIndex][sk + 1]">, </b>
													  <b *ngIf="sk + 1 == skill[rowIndex].length">.</b>
												  </span> -->
							<span *ngFor="let s of proskillsarraydisplay[rowIndex];let sk = index">
								{{s}}

							</span>

						</h6>
						<h6>
							<b>Duration:</b> {{pro.duration}}</h6>
						<h6 *ngIf="pro.description">
							<b>Description:</b> <span [innerHtml]="pro.description">
							</span>
							<!-- {{pro.description}} -->

						</h6>

						<hr>
					</div>
				</div>

			</div>
			<div class="right-details rcard  " *ngIf="result.certification_details">


				<h5>
					<i class="fas fa-file-alt"></i> &nbsp;
					<b>Certifications</b>
				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let ce of result.certification_details   let rowIndex=index">
						<h6>
							<b><span *ngIf="result.certification_details.length>1">Certifications{{rowIndex+1}}</span></b>
						</h6>

						<h6>
							<b>Name:</b> {{ce.certification_name}}</h6>

						<h6 *ngIf="ce.certification_body">
							<!-- <b>Description:</b> {{ce.certification_body}} -->
							<span> <b>Description:</b><span [innerHtml]="ce.certification_body"></span></span>
						</h6>
						<h6>
							<b>Year:</b> {{ce.certification_year}}


						</h6>

						<hr>

					</div>
				</div>
			</div>

			<div class="right-details rcard" *ngIf="result.achievement_details">


				<h5>
					<i class="fas fa-medal"></i> &nbsp;
					<b>Achievements</b>
				</h5>
				<div class="rightinsidepadding">
					<div *ngFor="let n of result.achievement_details;let i=index">

						<h6>
							<b>Achievement<span *ngIf="result.achievement_details.length>1">{{i+1}}</span></b>
						</h6>

						<h6>
							<b>Name :</b>&nbsp; {{n.name}}</h6>

						<h6>
							<p *ngIf="n.description">
								<b>Description : </b>&nbsp; <span [innerHtml]="n.description"></span>
								 <!-- {{n.description}} -->
							</p>
						</h6>
						<h6>
							<p *ngIf="imagesArr1[i]">
								<ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
							</p>
						</h6>

						<hr>

					</div>
				</div>
			</div>
		</div>
	</div>

</ng-template>