<div class="skills">
	<h4><b>Skill Details</b></h4>
	<hr>
	<form name="skills" (ngSubmit)="ps.valid" #ps="ngForm" novalidate>


		<div class="form-group row ">
			<div class="col-6 skillindex" [ngClass]="{ 'has-error': ps.submitted && !key_skills.valid }">
				<label for="usr">Skill Name<span class="help-block">*</span></label>
				<!-- <input [(ngModel)]="skill.key_skills" name="skill_name"  class="form-control" id="usr" #skill_name="ngModel"  [typeahead]="skills" typeaheadOptionField="skill_name" required> -->
				<angular2-multiselect class="form-control" [data]="dropdownList" [(ngModel)]="skill.key_skills1" name="key_skills"
				 [settings]="dropdownSettings2" (onSelect)="getskillnames($event)" (onDeSelect)="OnItemDeSelect($event)"
				 #key_skills="ngModel" (keyup)="getskillnames($event)" (click)="getskillnames($event)" required>

				</angular2-multiselect>

				<span [hidden]="errmsg==false" *ngIf="ps.submitted && !key_skills.valid " class="help-block error">
					Please specify skill name
				</span>
			</div>



			<div class="col-6">
				<label for="usr">Version</label>
				<input [(ngModel)]="skill.version" name="version" type="text" minlength="10" maxlength="50" (keypress)="keyeventname($event)"
				 class="form-control" id="usr" #version="ngModel">
				<!-- <span [hidden]="errmsg==false" *ngIf="ps.submitted && !version.valid" class="help-block error">Please Enter Version</span> 
					 <span *ngIf="skillversion"  class="star error" >Version is not valid</span> -->

			</div>

			<div class="col-6">
				<label for="usr">Last worked on</label>

				<!-- <input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" type="text" name="from_date" #from_date="ngModel" [(ngModel)]='Empdetails1.from_date'
					 class="form-control" id="From" [max]="getToday()">
					<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time> -->

				<input [owlDateTimeTrigger]="dt6" (keypress)=" keyeventdate($event)" [owlDateTime]="dt6" [(ngModel)]="skill.last_used"
				 name="last_used" class="form-control" id="usr" #last_used="ngModel" [max]="getToday()" (focus)="dt6.open()">
				<owl-date-time [pickerType]="'calendar'" #dt6></owl-date-time>
				<!-- <span [hidden]="errmsg==false" *ngIf="ps.submitted && !last_used.valid" class="help-block error">Please Enter Last Worked</span> -->
			</div>
			<div class="col-3">
				<label>Experience(In Years)</label>
				<select [(ngModel)]="skill.experienceyears" name="expyrs" type="text" class="form-control" id="usr" #expyrs="ngModel">
					<option [ngValue]="undefined">Select Year</option>
					<option *ngFor="let year of years" value={{year.id}}>{{year.year}}</option>
				</select>
				<!-- <span [hidden]="errmsg==false" *ngIf="ps.submitted && !expyrs.valid" class="help-block error">Please Select Exp in yrs</span>	 -->
			</div>
			<div class="col-3" [ngClass]="{ 'has-error': ps.submitted &&  !expmonths.valid}">
				<label>(In Months)</label>
				<select [(ngModel)]="skill.experiencemonths" name="expmonths" type="text" class="form-control" id="usr" #expmonths="ngModel">
					<option [ngValue]="undefined">Select Month</option>
					<option *ngFor="let month of months" value={{month.id}}>{{month.month}}</option>
				</select>
				<!-- <span [hidden]="errmsg==false" *ngIf="ps.submitted  && !expmonths.valid" class="help-block error">Please Select Exp in months</span>	 -->
			</div>


			<br><br><br>
			<div class="col-12">
				<button type="reset" class="btn btn-danger pull-right" style="float: right" (click)="clearForm()">Cancel</button>
				<button type="submit" class="btn btn-warning pull-right" style="float: right;width:50px" (click)="add()">Add</button>


			</div>
		</div>
	</form>

	<ng4-loading-spinner> </ng4-loading-spinner>
	<!-- <div *ngIf="skillSet?.length == 0">No Skills Found....</div> -->

	<table *ngIf="skillSet.length>0" class="table">
		<thead>
			<tr>
				<th>Skill Name</th>
				<th>Version</th>
				<th>Experience</th>

				<th>Last worked on</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>

			<tr *ngFor="let skill of skillSet;let i=index">

				<td>{{skillsarray[i]}}</td>
				<td *ngIf="skill.version" align="center">{{skill.version}}</td>
				<td *ngIf="!skill.version " align="center">-</td>
				<td *ngIf="skill.year && skill.month">{{skill.year}} years {{skill.month}} months</td>
				<td *ngIf="!skill.year && !skill.month" align="center">-</td>
				<td *ngIf="skill.year && !skill.month">{{skill.year}} years</td>
				<td *ngIf="!skill.year && skill.month">{{skill.month}} months</td>
				<td *ngIf="skill.last_used">{{skill.last_used | date}}</td>
				<td *ngIf="!skill.last_used">Not Worked Yet!</td>
				<td><button class="btn btn-primary" (click)="edit(skill)"> <i class="fas fa-edit"></i></button></td>
				<td><button class="btn btn-danger" (click)="delete(skill,confirm)"><i class="fas fa-trash"></i></button></td>
			</tr>
		</tbody>
	</table>

	<hr />
	<div class="clearfix"></div>
	<!--<div class="col-12">
				<button class="btn btn-primary" (click)="save()">Save</button>
				<button class="btn btn-danger">Cancel</button>
			</div>-->

</div>

<ng-template #confirm class="modal">
	<i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this skill details<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>