


.skills{
    margin-top:15px;
}
.confirm_modal_footer
	{
		border-top: 0px;
		padding-top: 0px;
		
	}
	
	.delete-warning
	{
		font-size: 40px;
		margin-top: 20px;
	}
	

	.help-block{
		margin-left:3px;
	}
	.skillindex{
		z-index: 9;
	}