<div class="container achievements">
  <div class="row">


    <h4>
      <b>Achievement Details</b>
    </h4>
    <hr>
  </div>


  <form name="achievements" (ngSubmit)="ae.valid" #ae="ngForm" novalidate>
    <div class="row">

      <div class="form-group col-6" [ngClass]="{ 'has-error': ae.submitted && !name1.valid }">
        <label for="name">Achievement Name
          <span class="message">*</span>
        </label>
        <input type="text" [(ngModel)]='name' placeholder="Enter Achievement Name" name="name" id="name" #name1="ngModel"
          class="form-control" minlength="3" maxlength="50" required>
        <span [hidden]="this.errmsg==false" *ngIf="ae.submitted && !name1.valid || achv_name" class="help-block">
          Please specify achievement name
        </span>
      </div>
    </div>

    <div class="row">
      <div class="col-12 " [ngClass]="{ 'has-error': ae.submitted && !description1.valid }">
        <label for="Description"> Achievement Description </label>
        <sup class="message">*</sup>
        <app-ngx-editor  height="65px" minHeight="100px" [config]="editorConfig"  rows="5" placeholder="Enter Achievement Description" [(ngModel)]="description" maxlength="260"
        name="description" #description1="ngModel" class="form-control" id="Description" required> </app-ngx-editor>


        <!-- <textarea rows="5" placeholder="Enter Achievement Description  " [(ngModel)]="description " maxlength="260"
          name="description" #description1="ngModel" class="form-control" id="Description" required></textarea> -->
        <span [hidden]="this.errmsg==false" *ngIf="ae.submitted && !description1.valid " class="help-block">
          Please specify achievement Description
        </span>
      </div>
    </div>


    <div class="row">
      <div class="form-group col-6">
        <label for="photo">Image

        </label>
        <!-- <input type="file" name="image" id="photo" [(ngModel)]="image" class="form-control" #image1="ngModel" ng2FileSelect [uploader]="uploader"
          multiple [accept]="allowedMimeType"> -->
        <br>
        <input id="files" type="file" style="width:113px" [(ngModel)]="image" name="image" #image1="ngModel" multiple
          (change)="onFileSelected ($event)" />
        <span *ngIf="achidata.length!=0">{{achidata.length}} files selected</span>
      </div>
     
    </div>
    <span    [hidden]="this.errmsg==false"  *ngIf="errImageType" class="help-block">
      Invalid image format
  </span>








    <div class="row pull-right">
        <button type="submit" class="btn btn-primary pull-right" (click)="saveachievements()">Save</button>
      <button type="reset" (click)="remove(achidata.length)" class="btn btn-danger pull-right">Cancel</button>
      

    </div>
  </form>
  <div class="container" >
    <span id="container" *ngFor="let image of achidata_preview;let i =index">

      <i id="x" class="fa fa-times" aria-hidden="true" (click)="removeimage(i)"></i>

      <img width="60px" height="60px" [src]="image" id="result" alt="">
    
    </span>
  </div>
  <br>
  <br>


</div>
<div class="row col-12 ">
  	<ng4-loading-spinner> </ng4-loading-spinner>
  <div class="col-12 achv_det" *ngFor="let n of Achievements;let i=index">
    <div class="clearfix">
      <br>
      <h5>
        <b>Achievement Details {{i+1}}</b> &nbsp;
        <!-- <button class="btn btn-primary" (click)="edit(n)"><i class="fas fa-edit"></i></button> -->
        <button class="btn btn-danger" (click)="delete(n,confirm)">
          <i class="fas fa-trash"></i>
        </button>

      </h5>
      <hr>
      <div class="achievement">
        <div class="row achieve">
          <b class="col-4">Achievement Name </b>
          <span class="col-6"> {{n.name | titlecase}} </span>
        </div>


        <div class="row description" *ngIf="n.description">
          <b class="col-4"> Description </b>
          <span class="col-6" [innerHtml]= n.description >
             <!-- {{n.description | titlecase}}  -->
            </span>

        </div>

      </div>




<div *ngIf="n.image.length>0">

      <ngx-gallery [options]="galleryOptions" [images]="imagesArr1[i]"></ngx-gallery>
    </div>
      <!-- <div *ngFor="let m of picsstring[i];let i=index"> 
            <div *ngIf="m!=''">
                                 
              <img src="{{Apiurl}}/achievements/{{m}}" height="300" width="300">
              
              </div>           
    
    </div> -->
    </div>
  </div>
</div>


<ng-template #confirm class="modal">
  <i class="fas fa-exclamation-circle text-danger text-center delete-warning"></i>
  <div class="modal-body text-center">
    <span class="text-center">
      Do you want to delete this achievements details
      <i class="fa fa-question" style="font-size:26px"></i>
    </span>
  </div>
  <div class="modal-footer confirm_modal_footer">


    <button class="btn btn-danger" (click)="confirmation(false)">
      <span>No</span>
    </button>
    <button class="btn btn-primary" (click)="confirmation(true)">
      <span>Yes</span>
    </button>
  </div>
</ng-template>