.error {
	font-size: 12px;
  
  }
  
  .error1 {
	font-size: 12px;
	margin-left: 15px;
  }
  
  .star {
	color: red;
  }
  
  
  
  .achievement {
	margin-top: 10px;
  }
  
  .confirm_modal_footer {
	border-top: 0px;
	padding-top: 0px;
  
  }
  
  .delete-warning {
	font-size: 40px;
	margin-top: 20px;
  }
  
  .message {
	color: red;
  }
  
  
  .achieve b span {
	width: 30%;
	display: block;
  }
  
  .description b span {
	width: 30%;
	display: block;
  
  }
  
  .achievement b {
	font-size: 12px;
  }
  
  .achievement span {
	font-size: 12px;
  }
  
  .achievement div {
	margin-top: 0;
	margin-bottom: 10px;
  }
  
  .description span {
	background-color: #eee;
	max-height: 100px;
	width: 300px;
	word-wrap: break-word
  }
  
  .col-4 {
	-ms-flex: 0 0 23.333333%;
	flex: 0 0 23.333333%;
	max-width: 23.333333%;
  }
  
  
  
 
  .achievements{
    margin-top:10px;
    margin-left:10px;
  }
  
  .achievement {
	margin-top: 15px;
  }
  
  .confirm_modal_footer {
	border-top: 0px;
	padding-top: 0px;
  
  }
  
  .delete-warning {
	font-size: 40px;
	margin-top: 20px;
  }
  
  .help-block{
    margin-left:3px;
  }
  
  .message{
    color: #da534d;
    font-size:12px;
  }
  .achieve b span {
	width: 30%;
	display: block;
  }
  
  .description b span {
	width: 30%;
	display: block;
  
  }
  
  .achievement b {
	font-size: 12px;
  }
  
  .achievement span {
	font-size: 12px;
  }
  
  .achievement div {
	margin-top: 0;
	margin-bottom: 10px;
  }
  
  .description span {
	background-color: #eee;
	max-height: 100px;
	width: 300px;
	word-wrap: break-word
  }
  
  .col-4 {
	-ms-flex: 0 0 23.333333%;
	flex: 0 0 23.333333%;
	max-width: 23.333333%;
  }
  
  

  /* .ngx-gallery-image
{
    z-index: 99;
} */


.closeButton{
    background-color: white;
    border-radius: 15%;
    border: none;
}
 