<div class="row" [ngSwitch]="value">
	<div class="left-main col-md-3" [ngClass]="{'fixed1': fixed === true,'fixed': fixed1 === true }">
		<app-left-menu></app-left-menu>
	</div>
	 <div class="col-md-6 mid-content" [ngClass]="{'midmain': fixed === true }">
	<router-outlet></router-outlet>

	</div>
	<div class="right-main col-md-3">
		<app-right-menu></app-right-menu>
	</div>
</div>



