<!-- Registration sucess Message -->
<div class="loginbg">
	<div class="login-container">
		<div class="logo">&nbsp;</div>
		<div class="login-main row">
			<div class="col-12">
				<b style="color:green; text-align:center;font-size:19px ">Congratulations.!!</b> <br>
				<p> You will be receiving an activation link to your registered email account, please check your mailbox and click the link to 
          activate your account.
         </p>
				<!-- <button class="btn btn-info " style="align-self: center;" (click)="login()">Go to Login</button> -->
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
</div> 



<!-- <div class="login-main row"> style="margin-left: 400px;"
    <div class="col-10"> Check your spam box if you haven't received the email in the inbox message.
      <b style="color:green; text-align: center">Check your Email !</b>
      <button class="btn btn-info " style="margin-left: 400px;" (click)="login1()">Go to Login</button>
      <div class="clearfix"></div>
    </div>
	</div> -->
	

	

  <footer>

    <!-- <li><a >About Us</a></li>
    <li><a>Contact Us</a></li> -->
  
    <a class="leftlink" [routerLink]="['/about']" routerLinkActive="active-link">About</a>
    <a class="leftlink" [routerLink]="['/helpcenter']" routerLinkActive="active-link" >Help Center</a>
    <a class="leftlink" [routerLink]="['/privacy']" routerLinkActive="active-link" >Terms & Privacy</a>
    
    <a class="leftlink" [routerLink]="['/advertising']" routerLinkActive="active-link"> Advertising</a>
    <a class="leftlink" [routerLink]="['/business']" routerLinkActive="active-link">Business & Services</a>
    
    <a class="leftlink" [routerLink]="['/gettheapp']" routerLinkActive="active-link">Get the Koneqto App</a>
    <a class="leftlink" [routerLink]="['/more']" routerLinkActive="active-link">More</a>
  
  
    <p class="left-link pull-right"><b>KONEQTO</b> Informatics © 2018</p>
  
  </footer>