<ng4-loading-spinner> </ng4-loading-spinner>

<div class="employer">
	<h4>
		<b>Employer Details</b>
	</h4>
	<hr>
	<div class="form-group row">

		<div class="col-12 row ">
			<label class="col-3 cursor">
				<input type="radio" name="employment" [value]="present" [(ngModel)]='Empdetails1.employment' (click)="present_company($event)">Present
				Employment</label>

			<label class="col-3 cursor">
				<input type="radio" name="employment" value="previous" [(ngModel)]='Empdetails2.employment' (click)="previous_company($event)">Previous
				Employment</label>

			<label class="col-3 cursor">
				<input type="radio" name="employment" value="other" [(ngModel)]='Empdetails3.employment' (click)="other_company($event)">Other
				Employment</label>
		</div>

		<div class="col-12 " [hidden]=present>
			<form class="row" name="presentemp" (ngSubmit)="pe.valid" #pe="ngForm" novalidate>
				<div class="col-6" [ngClass]="{ 'has-error': pe.submitted && !organization_name.valid }">
					<label for="OrganizationName">Organization Name
						<span class="help-block">*</span>
					</label>
					<input type="text" name="organization_name" (keypress)="keyeventname($event)" #organization_name="ngModel"
					 [(ngModel)]='Empdetails1.organization_name' class="form-control" id="OrganizationName" maxlength="50" required>
					<span [hidden]="errmsg==false" *ngIf="pe.submitted && !organization_name.valid || present_name" class="help-block">
						Please specify organization name
					</span>

				</div>


				<div class="col-6 desgindex" [ngClass]="{ 'has-error': pe.submitted && !designation.valid }">
					<label for="Designation">Designation</label>
					<sup class="help-block">*</sup>
					<angular2-multiselect class="form-control designation" [data]="desgdropdownList" [(ngModel)]='Empdetails1.designation'
					 name="designation" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
					 #designation="ngModel" required>

					</angular2-multiselect>

					<span [hidden]="errmsg==false" *ngIf="pe.submitted && !designation.valid" class="help-block">
						Please select designation
					</span>
				</div>



				<div class="col-6">
					<label>From</label>
					<input [owlDateTimeTrigger]="dt3" [owlDateTime]="dt3" (keypress)=" keyeventdate($event)" name="from_date"
					 #from_date="ngModel" [(ngModel)]='Empdetails1.from_date' class="form-control" id="From" [max]="getToday()"
					 (focus)="dt3.open()">
					<owl-date-time [pickerType]="'calendar'" #dt3></owl-date-time>

				</div>

				<div class="col-6">
					<label for="NoticePeriod">Notice Period
						<span class="help-block">*</span>
					</label>
					<select type="text" name="notice_period" #notice_period="ngModel" [(ngModel)]='Empdetails1.notice_period' class="form-control"
					 id="NoticePeriod" required>
						<option [ngValue]="null">Select Notice Period</option>
						<option *ngFor="let np of notice" value={{np.id}}>{{np.notice_period}}</option>
					</select>
					<span [hidden]="errmsg==false" *ngIf="pe.submitted && !notice_period.valid" class="help-block">
						Please select notice period
					</span>
				</div>

				<div class="col-6">
					<label for="emptype">Employment Type</label>
					<select type="text" name="employment_type" #employment_type="ngModel" [(ngModel)]='Empdetails1.employment_type'
					 class="form-control" id="emptype">
						<option [ngValue]="null">Select Employment Type</option>
						<option *ngFor="let e of emptype" value={{e.id}}>{{e.type}}</option>
					</select>
				</div>
				<div class="col-12">
					<label for="Description">Description of Job Profile</label>
					<!-- <textarea [(ngModel)]='Empdetails1.description' name="description" #description="ngModel" maxlength="240" class="form-control"
						 id="Description"></textarea> -->
					<app-ngx-editor height="65px" minHeight="50px" [config]="editorConfig" [(ngModel)]='Empdetails1.description' name="description"
					 #description="ngModel" maxlength="240" class="form-control" id="Description"> </app-ngx-editor>

				</div>
				<div class="col-12">
					<button type="reset" class="btn btn-danger pull-right" (click)="clearForm1()">Cancel</button>
					<button type="submit" class="btn btn-primary pull-right" (click)=" saveempdetails1()">Save</button>

				</div>
			</form>
			<br>
			<br>

		

		</div>

		<div [hidden]=present class="row col-12">
			<ng4-loading-spinner> </ng4-loading-spinner>

			<div class="col-12 pre_emp" *ngFor="let present of presentemp;let i=index">

				<h5>
					<b>Present Employment</b>
					<button class="btn btn-primary" (click)="editpresent(present)">
						<i class="fas fa-edit"></i>
					</button>
					<button class="btn btn-danger" (click)="deletepresent(present,delpresentconfirm)">
						<i class="fas fa-trash"></i>
					</button>
				</h5>
				<hr />
				<div class=" clearfix">
					<div class="education">
						<div class="size row">
							<b class="col-2">Organization Name </b>
							<span class="col-3">{{present.organization_name}}</span>
						</div>
					</div>
					<div class="education">
						<div class="size row">
							<b class="col-2">Designation </b>
							<span class="col-3">{{emparray[i]}}</span>

						</div>
					</div>
					<div class="education">
						<div class="size row" *ngIf="present.from_date">
							<b class="col-2">From_date </b>
							<span class="col-3">{{present.from_date}}</span>
						</div>
					</div>


					<div class="education">
						<div class="size row" *ngIf="present.description">
							<b class="col-2">Description </b>
							<span class="col-6" [innerHtml]="present.description">
								<!-- {{present.description}} -->
							</span>
						</div>
					</div>
					<div class="education">
						<div class="size row">
							<b class="col-2">Notice_period </b>
							<span class="col-3">{{present.notice_period_time}}</span>
						</div>
					</div>
					<div class="education">
						<div class="size row" *ngIf="present.type">
							<b class="col-2">Employment Type </b>
							<span class="col-3">{{present.type}}</span>
						</div>
					</div>


				</div>
			</div>
		</div>



		<div class="col-12 " [hidden]=previous *ngIf='a==true'>
			<form class="row" name="previousemp" (ngSubmit)="prev.valid" #prev="ngForm" novalidate>

				<div class="col-6" [ngClass]="{ 'has-error': prev.submitted && !organization_name.valid }">
					<label for="OrganizationName">Organization Name
						<span class="help-block">*</span>
					</label>
					<input type="text" name="organization_name" (keypress)="keyeventname($event)" #organization_name="ngModel"
					 [(ngModel)]='Empdetails2.organization_name' class="form-control" id="OrganizationName" maxlength="50" required>
					<span [hidden]="errmsg==false" *ngIf="prev.submitted && !organization_name.valid || previous_name" class="help-block">
						Please specify organization name
					</span>
				</div>


				<div class="col-6 desgindex" [ngClass]="{ 'has-error': prev.submitted && !designation.valid }">
					<label for="Designation">Designation</label>
					<sup class="help-block">*</sup>
					<angular2-multiselect class="form-control previousempdesg  " id="designation2" [data]="desgdropdownList"
					 [(ngModel)]='Empdetails2.designation' name="designation" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
					 (onDeSelect)="OnItemDeSelect($event)" #designation="ngModel" required>

					</angular2-multiselect>

					<span [hidden]="errmsg==false" *ngIf="prev.submitted && !designation.valid" class="help-block">
						Please select designation
					</span>
				</div>

				<div class="col-6">
					<label>Job Started on - Ended on

					</label>
					<input class="datetime" [(ngModel)]="Empdetails2.date" (keypress)="keyeventdate($event)" [min]="min" [selectMode]="'range'"
					 [owlDateTimeTrigger]="dtPicker3" [owlDateTime]="dtPicker3" class="form-control" name="date" [max]="getToday()"
					 (focus)="dtPicker3.open()">
					<owl-date-time [pickerType]="'calendar'" #dtPicker3></owl-date-time>

				</div>
				<div class="col-6">
					<label for="emptype">Employment Type</label>
					<select type="text" name="employment_type" #employment_type="ngModel" [(ngModel)]='Empdetails2.employment_type'
					 class="form-control" id="emptype">
						<option [ngValue]="null">Select Employment Type</option>
						<option *ngFor="let e of emptype" value={{e.id}}>{{e.type}}</option>
					</select>



				</div>
				<div class="col-12">
					<label for="Description">Description of Job Profile</label>
					<app-ngx-editor height="65px" minHeight="50px" [config]="editorConfig" [(ngModel)]='Empdetails2.description' name="description"
					 #description="ngModel" maxlength="240" class="form-control" id="Description"> </app-ngx-editor>
					<!-- <textarea [(ngModel)]='Empdetails2.description' name="description" #description="ngModel" maxlength="240" class="form-control"
					 id="Description"></textarea> -->
				</div>



				<div class="col-12">
					<button type="reset" class="btn btn-danger pull-right" (click)="clearForm2()">Cancel</button>
					<button type="submit" class="btn btn-primary pull-right" (click)="saveempdetails2()">Save</button>

				</div>
			</form>
			<br>
			<br>



			<div class="row">

					<ng4-loading-spinner> </ng4-loading-spinner>

				<div class="col-12 pre_emp" *ngFor="let previous of previousemp;let rowIndex=index">
					<div class="clearfix">
						<h5>
							<b>Previous Employment {{rowIndex+1}}</b>
							<button class="btn btn-primary" (click)="editprevious(previous)">
								<i class="fas fa-edit"></i>
							</button>
							<button class="btn btn-danger" (click)="deleteprevious(previous,delpreviousconfirm)">
								<i class="fas fa-trash"></i>
							</button>
						</h5>
						<hr>
						<div class="education">
							<div class="size row">
								<b class="col-2">Organization Name </b>
								<span class="col-3">{{previous.organization_name}}</span>
							</div>
						</div>
						<div class="education">
							<div class="size row">
								<b class="col-2">Designation </b>

								<span class="col-3">{{empprevarray[rowIndex]}}</span>

							</div>
						</div>


						<div class="education">
							<div class="size row" *ngIf="previous.from_date">
								<b class="col-2">From_date </b>
								<span class="col-3">{{previous.from_date}}</span>
							</div>
						</div>
						<div class="education">
							<div class="size row" *ngIf="previous.to_date">
								<b class="col-2">To_date </b>
								<span class="col-3">{{previous.to_date}}</span>
							</div>
						</div>
						<div class="education">
							<div class="size row" *ngIf="previous.description">
								<b class="col-2">Description</b>
								<span class="col-6" [innerHtml]="previous.description">
									<!-- {{previous.description}} -->
								</span>
							</div>
						</div>
						<div class="education">
							<div class="size row" *ngIf="previous.type">
								<b class="col-2">Employment Type </b>
								<span class="col-3">{{previous.type}}</span>
							</div>
						</div>



					</div>


				</div>
			</div>

		</div>

		<div class="col-12 " [hidden]=other *ngIf='a==true'>
			<form class="row" name="otheremp" (ngSubmit)="oth.valid && saveempdetails3()" #oth="ngForm" novalidate>
				<div class="col-6" [ngClass]="{ 'has-error': oth.submitted && !other_emp.valid }">
					<label for="otheremp">Other Employment
						<span class="help-block">*</span>
					</label>
					<input type="text" [(ngModel)]='Empdetails3.other_emp' (keypress)="keyeventname($event)" name="other_emp"
					 #other_emp="ngModel" class="form-control" id="otheremp" required>
					<span [hidden]="errmsg==false" *ngIf="oth.submitted && !other_emp.valid || other_name" class="help-block error">
						Please specify other employment
					</span>
				</div>
				<div class="col-6">
					<label for="emptype">Employment Type</label>
					<select type="text" name="employment_type" #employment_type="ngModel" [(ngModel)]='Empdetails3.employment_type'
					 class="form-control" id="emptype">
						<option [ngValue]="null">Select Employment Type</option>
						<option *ngFor="let e of emptype" value={{e.id}}>{{e.type}}</option>
					</select>


				</div>
				<div class="col-12">
					<button type="reset" class="btn btn-danger pull-right" (click)="clearForm3()">Cancel</button>
					<button type="submit" class="btn btn-primary pull-right">Save</button>

				</div>
			</form>
			<div class="row clearfix">
				<div class="col-12">

				</div>

				<ng4-loading-spinner> </ng4-loading-spinner>
				<div *ngFor="let other of otheremp; let rowIndex=index" class="col-12 pre_emp">
					<h5>
						<b>Other Employment {{rowIndex+1}} </b>
						<button class="btn btn-primary" (click)="editother(other)">
							<i class="fas fa-edit"></i>
						</button>
						<button class="btn btn-danger" (click)="deleteother(other,delotherconfirm)">
							<i class="fas fa-trash"></i>
						</button>
					</h5>
					<hr />

					<div class="education">
						<div class="size row">
							<b class="col-2">Other Employment </b>
							<span class="col-3">{{other.other_emp}}</span>
						</div>
					</div>
					<div class="education">
						<div class="size row" *ngIf="other.type">
							<b class="col-2">Employment Type </b>
							<span class="col-3">{{other.type}}</span>
						</div>
					</div>





				</div>
			</div>


		</div>




		<hr />
		<div class="clearfix"></div>


	</div>
</div>

<ng-template #delpresentconfirm class="modal">
	<i class="fas fa-exclamation-circle prev text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this present employment details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmation(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmation(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>

<ng-template #delpreviousconfirm class="modal">
	<i class="fas fa-exclamation-circle prev text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this previous employment details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirmations(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirmations(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>


<ng-template #delotherconfirm class="modal">
	<i class="fas fa-exclamation-circle  prev text-center delete-warning"></i>
	<div class="modal-body text-center">
		<span class="text-center">
			Do you want to delete this other employment details
			<i class="fa fa-question" style="font-size:26px"></i>
		</span>
	</div>
	<div class="modal-footer confirm_modal_footer">


		<button class="btn btn-danger" (click)="confirm(false)">
			<span>No</span>
		</button>
		<button class="btn btn-primary" (click)="confirm(true)">
			<span>Yes</span>
		</button>
	</div>
</ng-template>