

.p1{
    margin-left:20px;
}

.pre_emp p b{
    width: 100%;
    display: inline-block;
}
.p font{
    font-size: 12px;
}

.employer{
    margin-top:15px;
}
.help-block{
    margin-left:3px;
}
.designation{
    padding:0px;
    margin:0px;
    height:10px;
    z-index: 9;
    
}
 /* .text-danger span {
    margin-top:30px !important;
   font-size:35px !important;  
} */
.prev{
    margin-top:30px !important;
    font-size:35px !important; 
    color: red;
}
.desgindex{
    z-index: 9;
}

.previousempdesg{
    z-index: 9;
}
.education{
    margin-top:5px;
}
.education span{ 
	font-size: 12px;
	margin-bottom: 8px;
    }
    .size{
        font-size: 12px !important;
    }
    .cursor{
        cursor: pointer;
    }